{% extends "inventory/inventory.html" %}
{% load staticfiles %}

{% block css %}
	<!-- JQUERY UI-->
    <link rel="stylesheet" type="text/css" href={% static "js/jquery-ui-1.10.3.custom/css/custom-theme/jquery-ui-1.10.3.custom.min.css" %} />
{% endblock %}
{% block content_title %}Edit Live Polling Settings{% endblock %}
{% block content_description %}Edit live polling settings{% endblock %}
{% block content %}
    <div class="row formContainer">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="box border lite">
                        <div class="box-title">
                            <h4><i class="fa fa-bars"></i>LIVE POLLING SETTINGS : {{ object.name }}</h4>
                        </div>
                            <div class="box-body">
                                <div class="col-md-8"><br />
                                    <form action="" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">{% csrf_token %}
                                        <div class="form-group">
                                            {% for field in form %}
                                                <div class="form-group">
                                                    <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{% if field.field.required %}<span class="mandatory">* </span>{% endif %}{{ field.label|title }}</label>
                                                    <div class="col-sm-9">
                                                        <div class="col-md-8">
                                                            {{ field }} {{ field.errors }}
                                                        </div>
                                                        <div class="col-md-4 help_text">
                                                            {{ field.help_text }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-info"><i class="fa fa-edit"></i> Update</button>
                                                &nbsp;
                                                <button type="reset" class="btn btn-danger" onclick="window.location.replace('/live_polling_settings/')"><i class="fa fa-times"></i> Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content_js %}
        <script type="text/javascript" src={% static "js/nocout/nocout_forms.js" %}></script>
    {% endblock %}
    <script>
        var id_technology = "#id_technology";
        var id_data_source = "#id_data_source";
        var id_service = "#id_service";
        $(document).ready(function(){
            // Initialize the select2 selectbox.
            $(".select2select").select2();

            // reset data sources and service if technology is not selected, else if it has value
            // then update service and reset data sources
            if ($(id_technology).val()){
                Dajaxice.inventory.after_update_services_as_per_technology(Dajax.process, {'tech_id': $(id_technology).val(),
                                                                                     'selected': $(id_service).val()});
            }

            // reset data sources if service is not selected, else if it has value
            // then update data sources
            if (!$(id_service).val()){
                $(id_service).empty();
                $(id_data_source).empty();
            }
            else{
                Dajaxice.inventory.after_update_data_sources_as_per_service(Dajax.process, {'svc_id': $(id_service).val(),
                                                                                            'selected':$(id_data_source).val() });
            }
            if (!$(id_data_source).val()){
                $(id_data_source).empty();
            }
        });
        // update 'device vendor' on selecting 'device technology'
        $(id_technology).change(function () {
            if ($(id_technology).val()) {
                $(id_data_source).empty();
                Dajaxice.inventory.update_services_as_per_technology(Dajax.process, {'tech_id': $(id_technology).val()});
            }
            else{
                $(id_service).empty();
                $(id_data_source).empty();
            }
        });
        // update 'data sources' on selecting 'service'
        $(id_service).change(function () {
            if ($(id_service).val()) {
                Dajaxice.inventory.update_data_sources_as_per_service(Dajax.process, {'svc_id': $(id_service).val()});
            }
            else{
                $(id_data_source).select2("val","");
                $(id_data_source).empty();
            }
        });
    </script>
{% endblock %}
