{% extends "nocout/base.html" %}
{% block breadcrumb_title %}
    <li>Performance Reports</li>
    <li>{{ page_type|title }} Live</li>
{% endblock %}
{% block content_title %}{{ page_type }} Live{% endblock %}
{% block content_description %} {% endblock %}
{% load staticfiles %}

{% block content %}

    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-table"></i> {{ page_type|upper }} LISTING</h4>
        </div>

        {% ifequal page_type 'network' %}

            <div id="tableContainer" class="box-body">
                <table cellpadding="0" cellspacing="0" border="0"
                       class="datatable table table-striped table-bordered table-hover" id="PerformanceLiveTable">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>

        {% else %}
            <div id="tableContainer" class="box-body">
                <div class="tabbable header-tabs">
                    <ul class="nav nav-tabs">
                        <li><a href="#customer_wifi_block" id="customer_wifi_tab" data-toggle="tab"><span class="hidden-inline-mobile">WiMAX</span></a></li>
                        <li><a href="#customer_pmp_block" id="customer_pmp_tab" data-toggle="tab"><span class="hidden-inline-mobile">PMP</span></a></li>
                        <li class="active"><a href="#customer_p2p_block" id="customer_ptp_tab" data-toggle="tab"><span class="hidden-inline-mobile">P2P</span></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="customer_wifi_block">
                            <table id="customer_wifi_performancelistingtable" cellpadding="0" cellspacing="0" border="0"
                                   class="datatable table table-striped table-bordered table-hover">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="customer_pmp_block">
                            <table id="customer_pmp_performancelistingtable" cellpadding="0" cellspacing="0" border="0"
                                   class="datatable table table-striped table-bordered table-hover">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="tab-pane active" id="customer_p2p_block">
                            <table id="customer_p2p_performancelistingtable" cellpadding="0" cellspacing="0" border="0"
                                   class="datatable table table-striped table-bordered table-hover">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endifequal %}
    </div>
    <div class="clearfix"></div>

{% endblock %}

{% block jquery %}
    <!-- Custom script for data table-->
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <!-- Library to load tab content on tab click-->
    <script type="text/javascript" src={% static "js/nocout/openTabContentLib.js" %}></script>
    <!-- Custom Script for soft delete-->
    <script type="text/javascript" src={% static "js/nocout/softDeleteLib.js" %}></script>
    <script type="text/javascript">
        
        var dataTableInstance = "";

        $(document).ready(function (e) {
            /*Make a instance of ourDataTableWidget class */
            dataTableInstance = new ourDataTableWidget();
            /*Grid headers object*/
            var gridHeadersObj = $.parseJSON('{{ datatable_headers|safe }}');

            ajax_url_get_parameter = 0
            if (/customer/i.test(window.location.pathname)) {
                ajax_url_get_parameter = 'customer'
            }
            else if (/network/i.test(window.location.pathname)) {
                ajax_url_get_parameter = 'network'
            }


            /*Ajax url to get grid data*/
            var destroy = false;
            {% ifequal page_type 'network' %}
                var ajax_url = '{% url "LivePerformanceListing" %}' + '?page_type=' + ajax_url_get_parameter;
                dataTableInstance.createDataTable("PerformanceLiveTable", gridHeadersObj, ajax_url, destroy);
            {% else %}
                var ajax_url_wifi = '{% url "LivePerformanceListing" %}' + '?page_type=' + ajax_url_get_parameter + '&data_tab=' + 'WiMAX';
                var ajax_url_pmp = '{% url "LivePerformanceListing" %}' + '?page_type=' + ajax_url_get_parameter + '&data_tab=' + 'PMP';
                var ajax_url_p2p = '{% url "LivePerformanceListing" %}' + '?page_type=' + ajax_url_get_parameter + '&data_tab=' + 'P2P';
    
                /*Add custom attributes for ajax_url & grid header to the tab i.e 'a' tag.*/

                $("#customer_wifi_tab").attr("data_url",ajax_url_wifi);
                $("#customer_wifi_tab").attr("data_header",'{{ datatable_headers|safe }}');

                $("#customer_pmp_tab").attr("data_url",ajax_url_pmp);
                $("#customer_pmp_tab").attr("data_header",'{{ datatable_headers|safe }}');

                $("#customer_ptp_tab").attr("data_url",ajax_url_p2p);
                $("#customer_ptp_tab").attr("data_header",'{{ datatable_headers|safe }}');

                var location_array = window.location.href.split("#");

                if(location_array.length == 1) {

                    /*Trigger click event on active tab to load its data*/
                    $("#customer_ptp_tab").trigger('click',true);
                }

                // dataTableInstance.createDataTable("customer_wifi_performancelistingtable", gridHeadersObj, ajax_url_wifi, destroy);
                // dataTableInstance.createDataTable("customer_pmp_performancelistingtable", gridHeadersObj, ajax_url_pmp, destroy);
                // dataTableInstance.createDataTable("customer_p2p_performancelistingtable", gridHeadersObj, ajax_url_p2p, destroy);


            {% endifequal %}
            /*Call createDataTable function of ourDataTableWidget class*/

        });
    </script>
{% endblock %}

{% block load_js %}
    <!-- /JAVASCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            App.setPage("");  //Set current page
            App.init(); //Initialise plugins and elements
        });
    </script>
{% endblock %}