{% extends "nocout/base.html" %}
{% block breadcrumb_title %}
	<li>Performance Reports</li>
	<li>{{ page_title }} Live</li>
{% endblock %}
{% block content_title %} {{ page_title }} Live{% endblock %}
{% block content_description %} {% endblock %}
{% load staticfiles %}
{% block css %}
	<!-- JQUERY UI-->
    <link rel="stylesheet" type="text/css" href={% static "js/jquery-ui-1.10.3.custom/css/custom-theme/jquery-ui-1.10.3.custom.min.css" %} />
{% endblock %}

{% block content %}
	<style>
		.perfContainerBlock .box-title .pull-right .list-inline > li {
			max-width: 200px !important;
		}
	</style>
	<!--Single Device Live Perf Start-->
	<div class='box border lite perfContainerBlock'>
	    <div class='box-title'>
	        <h4><i class='fa fa-file-text'></i> {{ page_title }} Live - {{ device_id }}</h4>
	        <!--Filters Block Start-->
	        <div class="pull-right">
	            <ul class="list-unstyled list-inline">
	                <li>
	                    <!--device_name Filter-->
	                    <select name="device_name" id="device_name" class="form-control col-xs-1 input-sm">
	                        <option value="">Select Device</option>
	                    </select>
	                </li>
	                <li>
	                    <!--start_date Filter-->
	                    <input class="form-control col-xs-1 input-sm datepicker" type="text" name="start_date" size="10" id="start_date" placeholder="Start Date">
	                </li>
	                <li>
	                	<span class="col-xs-1 input-sm">To</span>
	                </li>
	                <li>
	                    <!--end_date Filter-->
	                    <input class="form-control col-xs-1 input-sm datepicker" type="text" name="end_date" size="10" id="end_date" placeholder="End Date">
	                </li>
	                <li>
	                	<!--CSV or Excel download action. -->
	                    <div class="btn-group dropdown col-xs-1">
							<button class="btn  btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
								Download Report
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu context">
								<li>
									<a href="javascript:;">Excel</a>
								</li>
								<li>
									<a href="javascript:;">CSV</a>
								</li>
							</ul>
						</div>
	                </li>
	            </ul>
	        </div>
	        <!--Filters Block End-->
	        <div class="clearfix"></div>
	    </div>
	    <div class='box-body'>
	    	<!--Device Staus Block Start-->
	    	<button class="btn btn-info btn-xs" title="Hide Status" id="show_status_btn">Hide Status</button>
	    	<div class="clearfix"></div>
	        <div class="well well-sm" id="status_container" style="margin:10px;">
	        	<table id="status_table" class="table table-bordered">
					<thead></thead>
					<tbody></tbody>
				</table>
        	</div>        	
        	<!--Device Staus Block End-->
        	<div class="clearfix"></div>
        	<div class="divide-20"></div>
        	<div class="panel panel-default">
	        	<div class="panel-body">
	        		<!--Services Tabs & their content Start-->
	        		<div class="tabbable row" id="services_tab_container">
						
					</div>
					<!--Services Tabs & their content End-->
	        	</div>
        	</div>
        	<div class="clearfix"></div>
	    </div>
	</div>
	<!--Single Device Live Perf End-->

	<!--Highcharts Library-->
	<script src={% static "js/highcharts.js" %}></script>
    <script src={% static "js/highcharttheme.js" %}></script>
    <script src={% static "js/highchartstable.js" %}></script>
    <!-- PURL Liberary for parsing URLS -->
    <script src={% static "js/purl.js" %}></script>
	<!--Our Custom Script-->
	<script src={% static "js/nocout/nocoutPerfLib.js" %}></script>

	<script type="text/javascript">
		/*Global Variables*/
		var perfInstance = "",
			current_device = "";

        var desired_url_string = "https";
        if (window.location.protocol == "https:"){
            desired_url_string = "https://";
        }

 if (window.location.protocol == "https:") {
            //window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
            window.location.origin = "https:" + window.location.origin.substring(window.location.protocol.length);
        }


		$(document).ready(function(e) {
            //on change of selection element in device_name
            // we should redirect user to the new page for the device
            $("#device_name").on('change', function(){
                var new_device = $(this).val();
                var uri = $.url();
                var path = uri.attr('path').split('/');
                path[path.length-2] = new_device;
                var new_url = uri.attr('protocol') + "://" + uri.attr('host') + ":" + uri.attr('port') + path.join("/");
                window.location.href = new_url;
            });

            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });
			
			/*Initialize Datepicker*/
			$(".datepicker").datepicker();
			
			/*Hide Status Container*/
			//$("#status_container").hide();

			var devicesUrl = window.location.origin + "/" + "{{ get_devices_url }}";
			var statusUrl = window.location.origin + "/" + "{{ get_status_url }}" + "/";
			var serviceUrl = window.location.origin + "/" + "{{ get_services_url }}" + "/";

			current_device = "{{ device_id }}";
			perfInstance = new nocoutPerfLib();

			/*To Populate the device dropdown*/
			perfInstance.getAllDevices(devicesUrl,current_device);

			/*To populate the status table*/
			perfInstance.getStatus(statusUrl,current_device);

			/*To populate the services tabs*/
			perfInstance.getServices(serviceUrl,current_device);


		});

		$("#show_status_btn").click(function(e) {

			$("#status_container").slideToggle();
            if ( $("#show_status_btn").text() == "Hide Status") {
                $("#show_status_btn").text("Show Status");
            }
            else{
                $("#show_status_btn").text("Hide Status");
            }
		})

	</script>

{% endblock %}


{% block load_js %}
	<script>
	    jQuery(document).ready(function () {
	        App.setPage("");  //Set current page
	        App.init(); //Initialise plugins and elements
	    });
	</script>
{% endblock %}