{% extends "inventory/inventory.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-server'></i> Inventory" "javascript:;" %}
    {% breadcrumb_safe "Performance" "javascript:;" %}
    {% breadcrumb_safe "Ping Stability Test" "ping_stability_test" %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% load staticfiles %}

{% block content %}
    <style type="text/css">
        .ping_test_form_container .form-group {
            margin-right: 10px;
            vertical-align: bottom;
        }
        .ping_test_form_container .form-group select {
            min-width: 170px;
        }
        .ping_test_form_container .select2-container-multi .select2-choices {
            min-height: 30px;
            border-radius: 2px;
            padding: 0px;
        }
        .ping_test_form_container .select2-container-multi .select2-choices .select2-search-field input {
            margin: 0px;
        }
        .ping_test_form_container #add_mail_id_btn {
            margin-left: -3px;
            vertical-align: bottom;
        }
    </style>
    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-table"></i>PING STABILITY TEST</h4>
        </div>
        <div id="tableContainer" class="box-body" style="overflow: auto;">
            <div class="form-inline ping_test_form_container" role="form" align="center">
                <div class="form-group">
                    <input type="text" class="form-control input-sm" id="ip_address" placeholder="Enter IP Address">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control input-sm" id="circuit_id" placeholder="Enter Circuit ID">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control input-sm" id="customer_name" placeholder="Enter Customer Name">
                </div>

                <div class="form-group">
                    <select class="form-control input-sm" id="technology">
                        <option value="">Technology</option>
                        {% for tech in tech_list %}
                            <option value="{{ tech.id }}" techname="{{ tech.name }}">{{ tech.alias }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="clearfix"></div>
                <div class="divide-10"></div>

                <div class="form-group">
                    <select class="form-control input-sm" id="time_duration">
                        <option value="">Time Duration (In Hrs)</option>
                        {% for i in 'XXXXXXXXXXXXXXXXXXXXXXXX' %}
                            <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <input type="hidden" id="email_ids" style="width: 250px;">
                    <button class="btn btn-default btn-sm" title="Click here to add new email id" id="add_mail_id_btn">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control input-sm" id="remark" placeholder="Enter Remark">
                </div>
                <button type="button" id="test_submit_btn" name="test_submit_btn" class="btn btn-default btn-sm">Submit</button>
                <div class="clearfix"></div>
            </div>
            <div align="center" class="text-danger form_status_msg hide">(*)Please fill mandatory fields to proceed.</div>
            <div align="center" class="text-danger ip_error_msg hide">Please enter valid ip address.</div>
            <hr/>
            <table class="datatable table table-striped table-bordered table-hover" id="ping_stability_test_listing">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <script type="text/javascript">
        var dataTableInstance = '',
            gridHeadersObj = [],
            mail_ids_list = [],
            ajax_url = '',
            ping_test_url = '';

        $(document).ready(function (e) {

            /*Make a instance of ourDataTableWidget class */
            dataTableInstance = new ourDataTableWidget();
            
            /*Grid headers object*/
            gridHeadersObj = $.parseJSON('{{ datatable_headers|safe }}');

            mail_ids_list = $.parseJSON('{{ mail_ids_list|safe }}');
            
            /*Ajax url to get grid data*/
            ajax_url = '{% url "ping_test_listing" %}';

            ping_test_url = '{% url "start_ping_stability_test" %}';
            
            // Initialize select2 multi select on 'email_ids' dom
            $('#email_ids').select2({
                multiple: true,
                minimumInputLength: 2,
                query: function (query) {
                    var searchPattern = new RegExp('^' + query.term, 'i'),
                        selected_data = $('#email_ids').select2('val'),
                        data = {
                            results: []
                        };

                    for (var i = 0; i < mail_ids_list.length; i++) {
                        if(searchPattern.test(mail_ids_list[i]) && selected_data.indexOf(mail_ids_list[i]) == -1) {
                            data.results.push({
                                id: mail_ids_list[i],
                                text: mail_ids_list[i],
                                value : mail_ids_list[i]
                            });
                        }
                    }

                    query.callback(data);
                }
            });

            // Initialize datatable
            dataTableInstance.createDataTable(
                "ping_stability_test_listing",
                gridHeadersObj,
                ajax_url,
                false
            );
        });

        /**
         * This event trigger when 'Submit' button clicked 
         * @event click
         */
        $('#test_submit_btn').click(function(e) {
            var ip_address = $.trim($('#ip_address').val()),
                circuit_id = $('#circuit_id').length > 0 ? $.trim($('#circuit_id').val()) : true,
                customer_name = $('#customer_name').length > 0 ? $.trim($('#customer_name').val()) : true,
                tech_id = $.trim($('#technology').val()),
                duration = $.trim($('#time_duration').val()),
                email_ids = $.trim($('#email_ids').val()),
                remark = $('#remark').length > 0 ? $.trim($('#remark').val()) : '';

            if (ip_address && circuit_id && customer_name && tech_id && duration) {
                if (!validateIPaddress(ip_address)) {
                    $('.ip_error_msg').removeClass('hide');
                } else {
                    $('#ip_address').closest('.form-group').removeClass('has-error');
                    
                    if($('#circuit_id').length > 0) {
                        $('#circuit_id').closest('.form-group').removeClass('has-error');
                    }

                    if($('#customer_name').length > 0) {
                        $('#customer_name').closest('.form-group').removeClass('has-error');
                    }

                    $('#technology').closest('.form-group').removeClass('has-error');
                    $('#time_duration').closest('.form-group').removeClass('has-error');
                    $('.form_status_msg').addClass('hide');
                    $('.ip_error_msg').addClass('hide');

                    // show loading spinner
                    showSpinner();

                    var tech_name = $('#technology option:selected').attr('techname');

                    // Make POST call to start ping stability test as per selected values
                    $.ajax({
                        url: ping_test_url,
                        type: 'POST',
                        data: {
                            'ip_address': ip_address,
                            'circuit_id': circuit_id,
                            'customer_name': customer_name,
                            'tech_id': tech_id,
                            'tech_name': tech_name,
                            'duration': duration,
                            'email_ids': email_ids,
                            'remark': remark
                        },
                        success: function(response) {

                            if (typeof response == 'string') {
                                try {
                                    response = JSON.parse(response);
                                } catch(e) {
                                    // console.error(e);
                                }
                            }

                            if(response['success']) {
                                // Reset Values
                                $('#ip_address').val('');
                                $('#circuit_id').val('');
                                $('#customer_name').val('');
                                $('#technology').val('');
                                $('#time_duration').val('');
                                $('#email_ids').select2('data', []);
                                $('#remark').val('');

                                // Refresh datatable
                                dataTableInstance.createDataTable(
                                    "ping_stability_test_listing",
                                    gridHeadersObj,
                                    ajax_url,
                                    false
                                );
                            } else {
                                $.gritter.add({
                                    // (string | mandatory) the heading of the notification
                                    title: 'Ping Stability Test',
                                    // (string | mandatory) the text inside the notification
                                    text: response.message,
                                    // (bool | optional) if you want it to fade out on its own or just sit there
                                    sticky: false
                                });
                            }
                        },
                        error: function(err) {
                            $.gritter.add({
                                // (string | mandatory) the heading of the notification
                                title: 'Ping Stability Test',
                                // (string | mandatory) the text inside the notification
                                text: err.statusText,
                                // (bool | optional) if you want it to fade out on its own or just sit there
                                sticky: false
                            });
                        },
                        complete: function() {
                            // hide loading spinner
                            hideSpinner();
                        }
                    });
                }
            } else {
                if (!ip_address) {
                    $('#ip_address').closest('.form-group').addClass('has-error');
                } else {
                    if (!validateIPaddress(ip_address)) {
                        $('.ip_error_msg').removeClass('hide');
                        $('#ip_address').closest('.form-group').addClass('has-error');
                    } else {
                        $('.ip_error_msg').addClass('hide');
                        $('#ip_address').closest('.form-group').removeClass('has-error');
                    }
                }

                if (!tech_id) {
                    $('#technology').closest('.form-group').addClass('has-error');
                } else {
                    $('#technology').closest('.form-group').removeClass('has-error');
                }

                if (!duration) {
                    $('#time_duration').closest('.form-group').addClass('has-error');
                } else {
                    $('#time_duration').closest('.form-group').removeClass('has-error');
                }

                if (!circuit_id) {
                    $('#circuit_id').closest('.form-group').addClass('has-error');
                } else {
                    $('#circuit_id').closest('.form-group').removeClass('has-error');
                }

                if (!customer_name) {
                    $('#customer_name').closest('.form-group').addClass('has-error');
                } else {
                    $('#customer_name').closest('.form-group').removeClass('has-error');
                }

                $('.form_status_msg').removeClass('hide');
            }
        });
    
        /**
         * This event trigger when 'Add Email ID' button clicked 
         * @event click
         */
        $('#add_mail_id_btn').click(function(e) {
            var html_str = '';
            html_str += '<div class="form-group">';
            html_str += '<input name="new_email_id" id="new_email_id" class="form-control input-sm" type="text" placeholder="Enter Email ID"/>';
            html_str += '<span class="text-danger text-center hide email_error_msg">* Please enter valid email id</span>';
            html_str += '</div>';
            html_str += '<div class="form-group">';
            html_str += '<button class="btn btn-default pull-right save_email_id_btn">Add</button>';
            html_str += '<div class="clearfix"></div>';
            html_str += '</div>';

            bootbox.dialog({
                message: html_str,
                title: '<i class="fa fa-envelope-o">&nbsp;</i> Add Email ID'
            });
        });

        /**
         * This event trigger when 'Save' button on add email id popup clicked 
         * @event click
         */
        $('body').delegate('.save_email_id_btn', 'click', function(e) {
            var email_id = $.trim($('#new_email_id').val()),
                is_valid_email = validate_email(email_id);

            if (email_id && is_valid_email) {
                $('.email_error_msg').addClass('hide');
                $('#new_email_id').closest('.form-group').removeClass('has-error');

                var selected_items = $('#email_ids').select2('data');

                selected_items.push({
                    'id': email_id,
                    'value': email_id,
                    'text': email_id
                });

                if(mail_ids_list.indexOf(email_id) == -1) {
                    mail_ids_list.push(email_id)
                }

                // Show data in selected items of select2 widget
                $('#email_ids').select2('data', selected_items, true);

                // Hide Bootbox
                bootbox.hideAll()
            } else {
                $('#new_email_id').focus();
                $('#new_email_id').closest('.form-group').addClass('has-error');
                $('.email_error_msg').removeClass('hide');
            }
        });

        /**
         * This function validates given param for valid ip address.
         * @method validateIPaddress
         * @param ip_address {String}, It contains the ip address string which has to be validated. 
         */
        function validateIPaddress(ip_address) {
            var ip_validation_regex = /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/,
                is_valid = false;

            if (ip_validation_regex.test(ip_address)) {
                is_valid = true;
            }

            return is_valid;
        }

        /**
         * This function validates given email id
         * @method validate_email
         */
        function validate_email(email) {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            
            return re.test(email);
        }
    </script>
{% endblock %}
