{% extends "inventory/inventory.html" %}
{% load staticfiles %}

{% block content_title %}Edit Device Type Service{% endblock %}
{% block content_description %}Edit device type service{% endblock %}
{% block content %}
    <div class="row formContainer">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="box border lite">
                        <div class="box-title">
                            <h4><i class="fa fa-bars"></i> GIS WIZARD: DEVICE TYPE SERVICE</h4>
                        </div>
                            <div class="box-body">
                                <div class="col-md-8"><br />

                {% if form %}
                    <form id="id_device_type_service_form" action="" method="post" class="form-horizontal" role="form"  enctype="multipart/form-data">{% csrf_token %}
                        {% include "wizard/form.html" with form=form only %}

                        {{ dts_data_source_form.management_form }}
                        {% for form in dts_data_source_form %}
                        <div class="row inline {{ dts_data_source_form.prefix }}">
                            {{form.id}}
                            <div class="form-group">
                                <label for="{{ form.id_for_label }}" class="col-sm-3 control-label"><span class="mandatory">*</span> Service Data Sources</label>
                                <div id="id_service_data_source" class="col-sm-9">
                                    <div class="col-md-7">
                                        {{form.service_data_sources}} {{ dts_data_source_form.non_form_errors }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.id_for_label }}" class="col-sm-3 control-label">Warning</label>
                                <div class="col-sm-9">
                                    <div class="col-md-7">
                                        {{form.warning}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.id_for_label }}" class="col-sm-3 control-label">Critical</label>
                                <div class="col-sm-9">
                                    <div class="col-md-7">
                                        {{form.critical}}
                                    </div>
                                </div>
                            </div>
                            {{ form.DELETE }}
                        </div>
                        {% endfor %}


                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-success"><i class="fa fa-pencil"></i>{{ save_text }} &amp; Next</button>
                                &nbsp;
                                <button type="submit" id="id_update_and_show" class="btn btn-success"><i class="fa fa-pencil"></i>{{ save_text }} &amp; Show</button>
                                {% if skip_url %}
                                &nbsp;
                                <button type="reset" class="btn btn-warning" onclick="window.location.replace('{{ skip_url }}')"><i class="fa fa-times"></i>Skip</button>
                                {% endif %}
                                &nbsp;
                                {% url 'device_type_list' as cancel_url %}
                                <button type="reset" class="btn btn-danger" onclick="window.location.replace('{{ cancel_url }}')"><i class="fa fa-times"></i>Cancel</button>
                            </div>
                        </div>
                    </form>
                {% endif %}
                                </div>
                                <div class="clearfix"></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content_js %}
        <script type="text/javascript" src={% static "js/nocout/nocout_forms.js" %}></script>
        <script type="text/javascript" src={% static "js/bootstrap-file-input/bootstrap-file-input.js" %}></script>
        <script type="text/javascript" src={% static "js/jquery.formset.js" %}></script>
        <script type="text/javascript" src={% static "js/jquery-validate/jquery.validate.min.js" %}></script>
    {% endblock %}
    <script>
        $(document).ready(function(){
            $("#id_update_and_show").on("click", function(e) {

                e.preventDefault();
                if ($("#id_device_type_service_form").valid()) {
                    $('#id_device_type_service_form').attr('action', "?show=True").submit();
                } else {
                    alert('Please fill both warning and critical fields. Or leave both empty.');
                }
            });

            // Initialize the select2 selectbox.
            $(".select2select").select2();
        })

        // if service is changed by the user
        $("#id_service").change(function(){
            if($(this).val() == '' ){
                console.log('Select the service')
            }
            else{
                $.ajax({
                    url : "/service/select/",
                    type : "GET",
                    dataType: "json",
                    data: {
                        service_id : $(this).val(),
                    },
                    success : function(service) {
                        $("#id_parameter option:selected").val(service.parameters_id)
                        $("#id_parameter option:selected").html(service.parameters_name).change()
                    },
                    error : function(xhr,errmsg,err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                });

                return false;
            }
        });

        // if service data source is already selected.
        var sds = $("form").find(".row").find("#id_service_data_source")
        if (sds.length){
            sds.each(function() {
            var sds_id = $(this).find("option:selected").val()
            var sds_location = $(this).parents(".row .inline")
            get_sds_value(sds_id, sds_location)
            })
        }

        // if the service data source is changed by the user.
        sds.change(function(){
            var sds_id = $(this).find("option:selected").val()
            var sds_location = $(this).parents(".row .inline")
            get_sds_value(sds_id, sds_location)
        })

        //  Get the value of the data source selected by the user.
        //  An display the warning & critical values selected of service data source in brackets.
        function get_sds_value(sds_id, sds_location){
            var sds_id = sds_id
            if (!sds_id.length){
                console.log("No service data source is selected")
            }
            else{
                $.ajax({
                    url : "/service/select/value/data_source/",
                    type : "GET",
                    dataType: "json",
                    data: {
                        sds_id : sds_id,
                    },
                    success : function(sds) {
                        var p = sds_location.children().slice(2)
                        var w = sds.sds_values_list[0]['warning']
                        var c = sds.sds_values_list[0]['critical']
                        // if the data source is empty
                        if (!w.length){ w = null }
                        if (!c.length){ c = null }
                        p.find('[id|="id_dtsds"][id$="value"]').remove()
                        p.first().find('input').parent().append('<label id="id_dtsds-value">( '+w+' )</label>')

                        p.first().next().find('input').parent().append('<label id="id_dtsds-value">( '+c+' )</label>')
                    },
                    error : function(xhr,errmsg,err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                });

                return false;
            }
        }


        // get all the input field of the service data source to implement the validation
        // warning and critical: both should contain value or both should be null.
        sds_fields = $("form input[class='form-control'][id|='id_dtsds'][name|='dtsds'][type='text']")
        sds_fields.change(function(){
            var ele = $(this).attr('name')  // input field warning/critical
            var ele_val = $(this).val()     // get the value of input field
            if (ele.indexOf('warning')>0){
                var c = $(this).parent().parent().parent().next().find('input[name$="critical"]')
                if (ele_val.length || c.val() ){
                    $(this).prop('required', true)
                    c.prop('required', true);
                }
                else{
                    $(this).prop('required', false)
                    c.prop('required', false);
                }
            }
            else{
                var w = $(this).parent().parent().parent().prev().find('input[name$="warning"]')
                if (ele_val.length || w.val() ){
                    $(this).prop('required', true)
                    w.prop('required', true);
                }
                else{
                    $(this).prop('required', false)
                    w.prop('required', false);
                }
            }
        });

    </script>
    <script type="text/javascript">
       $(function() {
           $(".inline.{{ dts_data_source_form.prefix }}").formset({
               prefix: "{{ dts_data_source_form.prefix }}",
           })
       })
    </script>
{% endblock %}

