{% extends "inventory/inventory.html" %}
{% load staticfiles %}
{% block breadcrumb_title %}
    <li>Inventory</li>
    <li>Backhaul</li>
    <li>Edit</li>
{% endblock %}
{% block content_title %}Edit Backhaul{% endblock %}
{% block content_description %}Edit backhaul{% endblock %}
{% block content %}
    <div class="row formContainer">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="box border lite">
                        <div class="box-title">
                            <h4><i class="fa fa-bars"></i> BACKHAUL : {{ object.name }}</h4>
                        </div>
                            <div class="box-body">
                                <div class="col-md-8"><br />
                                    <form action="" method="post" class="form-horizontal" role="form">{% csrf_token %}
                                        <div class="form-group">
                                            {% for field in form %}
                                                <div class="form-group">
                                                    <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{% if field.field.required %}<span class="mandatory">* </span>{% endif %}{{ field.label|title }}</label>
                                                    <div class="col-sm-9">
                                                        <div class="col-md-8">
                                                            {{ field }} {{ field.errors }}
                                                        </div>
                                                        <div class="col-md-4 help_text">
                                                            {# field.help_text #}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-info"><i class="fa fa-edit"></i> Update</button>
                                                &nbsp;
                                                <button type="reset" class="btn btn-danger" onclick="window.location.replace('/backhaul/')"><i class="fa fa-times"></i> Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content_js %}
        <script type="text/javascript" src={% static "js/nocout/nocout_forms.js" %}></script>
    {% endblock %}
    <script>
        $(document).ready(function() {
            // Changing labels of form fields
            $("label[for=id_bh_configured_on]").html('<span class="mandatory">* </span>BH Configured On');
            $("label[for=id_bh_port_name]").text('BH Port Name');
            $("label[for=id_bh_port]").text('BH Port');
            $("label[for=id_bh_type]").text('BH Type');
            $("label[for=id_bh_switch]").text('BS Switch/Converter');
            $("label[for=id_switch_port_name]").text('BS Device Port Name');
            $("label[for=id_switch_port]").text('BS Device Port');
            $("label[for=id_pop]").text('POP Switch/Converter');
            $("label[for=id_pop_port_name]").text('POP Device Port Name');
            $("label[for=id_pop_port]").text('POP Device Port');
            $("label[for=id_aggregator]").text('Aggregations Switch/Converter');
            $("label[for=id_aggregator_port_name]").text('Aggregations Device Port Name');
            $("label[for=id_aggregator_port]").text('Aggregations Device Port');
            $("label[for=id_pe_hostname]").text('PE Hostname');
            $("label[for=id_pe_ip]").text('PE IP Address');
            $("label[for=id_bh_connectivity]").text('BH Connectivity');
            $("label[for=id_bh_circuit_id]").text('BH Circuit ID');
            $("label[for=id_bh_capacity]").text('BH Capacity');
            $("label[for=id_ttsl_circuit_id]").text('TTSL Circuit ID');
            $("label[for=id_dr_site]").text('DR Site');

            // Initialize the select2 selectbox.
            $(".select2select").select2();
            $('.tip-focus').tooltip({
                placement: 'right',
                trigger: 'focus'
            });

            $("#id_organization").change(function () {

            Dajaxice.inventory.update_bh_configured_on(Dajax.process, {'option': $('#id_organization').val()});
            $("#id_bh_configured_on").val("");
            $("#id_bh_configured_on").parent().children().find('a span')[0].innerHTML = "Select";
        });

        $("#id_organization").change(function () {

            Dajaxice.inventory.update_bh_switch(Dajax.process, {'option': $('#id_organization').val()});
            $("#id_bh_switch").val("");
            $("#id_bh_switch").parent().children().find('a span')[0].innerHTML = "Select";
        });

        $("#id_organization").change(function () {

            Dajaxice.inventory.update_pop(Dajax.process, {'option': $('#id_organization').val()});
            $("#id_pop").val("");
            $("#id_pop").parent().children().find('a span')[0].innerHTML = "Select";
        });

        $("#id_organization").change(function () {

            Dajaxice.inventory.update_aggregator(Dajax.process, {'option': $('#id_organization').val()});
            $("#id_aggregator").val("");
            $("#id_aggregator").parent().children().find('a span')[0].innerHTML = "Select";
        });

        })
    </script>
{% endblock %}