{% extends "nocout/base.html" %}


{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-area-chart'></i> Capacity Management" "javascript:;" %}
    {% breadcrumb_safe "Utilization Status" "javascript:;" %}
    {% breadcrumb_safe "Sector Status" "SectorStatusHeaders" %}
    {% breadcrumb_safe "All" "SectorStatusHeaders" %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% block content_title %}Sector Status{% endblock %}
{% block content_description %}Sector Status List {% endblock %}
{% load staticfiles %}


{% block content %}

    <div class="box border lite">
        <div class="box-title">
            <h4><i class="fa fa-area-chart"></i>SECTOR STATUS</h4>
        </div>

        <div class="box-body">

            <div class="tabbable header-tabs">
                
                <ul class="nav nav-tabs">
                    <li>
                        <a href="#wimax_status_block" id="wimax_status_tab" data-toggle="tab">
                            <span class="hidden-inline-mobile">WiMAX</span>
                        </a>
                    </li>
                    <li>
                        <a href="#pmp_status_block" id="pmp_status_tab" data-toggle="tab">
                            <span class="hidden-inline-mobile">Cambium</span>
                        </a>
                    </li>
                    <li>
                        <a href="#rad5k_status_block" id="rad5k_status_tab" data-toggle="tab">
                            <span class="hidden-inline-mobile">Radwin5K</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#all_status_block" id="all_status_tab" data-toggle="tab">
                            <span class="hidden-inline-mobile">All</span>
                        </a>
                    </li>
                </ul>

                <div class="tab-content" style="overflow-y:auto;">
                    
                    <div class="tab-pane" id="wimax_status_block">
                        <table class="datatable table table-striped table-bordered table-hover" id="wimax_sector_status_table">
                            <thead>
                                <tr>
                                    <th colspan="4" class="hide" style="width:auto;" aria-label=""></th>
                                    <th colspan="8" style="text-align: center;">SECTOR</th>
                                    <th colspan="2" style="text-align: center;" aria-label="">Current DL</th>
                                    <th colspan="6" style="text-align: center;">DL (Last Day)</th>
                                    <th colspan="2" style="text-align: center;" aria-label="">Current UL</th>
                                    <th colspan="6" style="text-align: center;">UL (Last Day)</th>
                                    <th style="width:auto;" aria-label=""></th>
                                </tr>
                                <tr>
                                    <th class="hide" style="width:auto;" aria-label="Device ID">Device ID</th>
                                    <th class="hide" style="width:auto;" aria-label="Sector">Sector</th>
                                    <th class="hide" style="width:auto;" aria-label="severity">severity</th>
                                    <th class="hide" style="width:auto;" aria-label="age">age</th>

                                    <th style="width:auto;" aria-label="Sector ID">Sector ID</th>
                                    <th style="width:auto;" aria-label="BS Name">BS Name</th>
                                    <th style="width:auto;" aria-label="City">City</th>
                                    <th style="width:auto;" aria-label="State">State</th>
                                    <th style="width:auto;" aria-label="Region">Region</th>
                                    <th style="width:auto;" aria-label="IP">IP</th>
                                    <th style="width:auto;" aria-label="Technology">Technology</th>
                                    <th style="width:auto;" aria-label="Capacity">Cbw (MHz)</th>

                                    <th style="width:auto;" aria-label="DL (%)">DL (%)</th>
                                    <th style="width:auto;" aria-label="DL (mbps)">DL (mbps)</th>
                                    <th style="width:auto;" aria-label="Capacity DL">Capacity DL (mbps)</th>
                                    <th style="width:auto;" aria-label="AVG DL (%)">AVG DL (%)</th>
                                    <th style="width:auto;" aria-label="AVG DL (mbps)">AVG DL (mbps)</th>
                                    <th style="width:auto;" aria-label="PEAK DL (%)">PEAK DL (%)</th>
                                    <th style="width:auto;" aria-label="PEAK DL (mbps)">PEAK DL (mbps)</th>
                                    <th style="width:auto;" aria-label="PEAK Time">PEAK Time</th>

                                    <th style="width:auto;" aria-label="UL (%)">UL (%)</th>
                                    <th style="width:auto;" aria-label="UL (mbps)">UL (mbps)</th>
                                    <th style="width:auto;" aria-label="Capacity UL">Capacity UL (mbps)</th>
                                    <th style="width:auto;" aria-label="AVG UL (%)">AVG UL (%)</th>
                                    <th style="width:auto;" aria-label="AVG UL (mbps)">AVG UL (mbps)</th>
                                    <th style="width:auto;" aria-label="PEAK UL (%)">PEAK UL (%)</th>
                                    <th style="width:auto;" aria-label="PEAK UL (mbps)">PEAK UL (mbps)</th>
                                    <th style="width:auto;" aria-label="PEAK Time">PEAK Time</th>
                                    <th style="width:auto;" aria-label="Actions">Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    
                    <div class="tab-pane" id="pmp_status_block">
                        <table class="datatable table table-striped table-bordered table-hover" id="pmp_sector_status_table">
                            <thead>
                                <tr>
                                    <th colspan="4" class="hide" style="width:auto;" aria-label=""></th>
                                    <th colspan="8" style="text-align: center;">SECTOR</th>
                                    <th colspan="2" style="text-align: center;" aria-label="">Current DL</th>
                                    <th colspan="6" style="text-align: center;">DL (Last Day)</th>
                                    <th colspan="2" style="text-align: center;" aria-label="">Current UL</th>
                                    <th colspan="6" style="text-align: center;">UL (Last Day)</th>
                                    <th style="width:auto;" aria-label=""></th>
                                </tr>
                                <tr>
                                    <th class="hide" style="width:auto;" aria-label="Device ID">Device ID</th>
                                    <th class="hide" style="width:auto;" aria-label="Sector">Sector</th>
                                    <th class="hide" style="width:auto;" aria-label="severity">severity</th>
                                    <th class="hide" style="width:auto;" aria-label="age">age</th>

                                    <th style="width:auto;" aria-label="Sector ID">Sector ID</th>
                                    <th style="width:auto;" aria-label="BS Name">BS Name</th>
                                    <th style="width:auto;" aria-label="City">City</th>
                                    <th style="width:auto;" aria-label="State">State</th>
                                    <th style="width:auto;" aria-label="Region">Region</th>
                                    <th style="width:auto;" aria-label="IP">IP</th>
                                    <th style="width:auto;" aria-label="Technology">Technology</th>
                                    <th style="width:auto;" aria-label="Capacity">Cbw (MHz)</th>

                                    <th style="width:auto;" aria-label="DL (%)">DL (%)</th>
                                    <th style="width:auto;" aria-label="DL (mbps)">DL (mbps)</th>
                                    <th style="width:auto;" aria-label="Capacity DL">Capacity DL (mbps)</th>
                                    <th style="width:auto;" aria-label="AVG DL (%)">AVG DL (%)</th>
                                    <th style="width:auto;" aria-label="AVG DL (mbps)">AVG DL (mbps)</th>
                                    <th style="width:auto;" aria-label="PEAK DL (%)">PEAK DL (%)</th>
                                    <th style="width:auto;" aria-label="PEAK DL (mbps)">PEAK DL (mbps)</th>
                                    <th style="width:auto;" aria-label="PEAK Time">PEAK Time</th>

                                    <th style="width:auto;" aria-label="UL (%)">UL (%)</th>
                                    <th style="width:auto;" aria-label="UL (mbps)">UL (mbps)</th>
                                    <th style="width:auto;" aria-label="Capacity UL">Capacity UL (mbps)</th>
                                    <th style="width:auto;" aria-label="AVG UL (%)">AVG UL (%)</th>
                                    <th style="width:auto;" aria-label="AVG UL (mbps)">AVG UL (mbps)</th>
                                    <th style="width:auto;" aria-label="PEAK UL (%)">PEAK UL (%)</th>
                                    <th style="width:auto;" aria-label="PEAK UL (mbps)">PEAK UL (mbps)</th>
                                    <th style="width:auto;" aria-label="PEAK Time">PEAK Time</th>
                                    <th style="width:auto;" aria-label="Actions">Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                    <div class="tab-pane" id="rad5k_status_block">
                        <table class="datatable table table-striped table-bordered table-hover" id="rad5k_sector_status_table">
                            <thead>
                                <tr>
                                    <th colspan="4" class="hide" style="width:auto;" aria-label=""></th>
                                    <th colspan="8" style="text-align: center;">SECTOR</th>
                                    <th colspan="2" style="text-align: center;" aria-label="">Current DL</th>
                                    <th colspan="5" style="text-align: center;">DL (Last Day)</th>
                                    <th colspan="2" style="text-align: center;" aria-label="">Current UL</th>
                                    <th colspan="5" style="text-align: center;">UL (Last Day)</th>
                                    <th style="width:auto;" aria-label=""></th>
                                </tr>
                                <tr>
                                    <th class="hide" style="width:auto;" aria-label="Device ID">Device ID</th>
                                    <th class="hide" style="width:auto;" aria-label="Sector">Sector</th>
                                    <th class="hide" style="width:auto;" aria-label="severity">severity</th>
                                    <th class="hide" style="width:auto;" aria-label="age">age</th>

                                    <th style="width:auto;" aria-label="Sector ID">Sector ID</th>
                                    <th style="width:auto;" aria-label="BS Name">BS Name</th>
                                    <th style="width:auto;" aria-label="City">City</th>
                                    <th style="width:auto;" aria-label="State">State</th>
                                    <th style="width:auto;" aria-label="Region">Region</th>
                                    <th style="width:auto;" aria-label="IP">IP</th>
                                    <th style="width:auto;" aria-label="Technology">Technology</th>
                                    <th style="width:auto;" aria-label="Capacity">Cbw (MHz)</th>

                                    <th style="width:auto;" aria-label="DL (%)">DL (%)</th>
                                    <th style="width:auto;" aria-label="DL (mbps)">DL (mbps)</th>

                                    <th style="width:auto;" aria-label="Capacity DL">Capacity DL (mbps)</th>
                                    <th style="width:auto;" aria-label="PEAK DL (%)">PEAK DL (%)</th>
                                    <th style="width:auto;" aria-label="PEAK DL (mbps)">PEAK DL (mbps)</th>
                                    <th style="width:auto;" aria-label="PEAK Time">PEAK Time</th>
                                    <th style="width:auto;" aria-label="Duration">Duration</th>

                                    <th style="width:auto;" aria-label="UL (%)">UL (%)</th>
                                    <th style="width:auto;" aria-label="UL (mbps)">UL (mbps)</th>

                                    <th style="width:auto;" aria-label="Capacity UL">Capacity UL (mbps)</th>
                                    <th style="width:auto;" aria-label="PEAK UL (%)">PEAK UL (%)</th>
                                    <th style="width:auto;" aria-label="PEAK UL (mbps)">PEAK UL (mbps)</th>
                                    <th style="width:auto;" aria-label="PEAK Time">PEAK Time</th>
                                    <th style="width:auto;" aria-label="Duration">Duration</th>
                                    
                                    <th style="width:auto;" aria-label="Actions">Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                    <div class="tab-pane active" id="all_status_block">
                        <table class="datatable table table-striped table-bordered table-hover" id="all_sector_status_table">
                            <thead>
                                <tr>
                                    <th colspan="4" class="hide" style="width:auto;" aria-label=""></th>
                                    <th colspan="8" style="text-align: center;">SECTOR</th>
                                    <th colspan="2" style="text-align: center;" aria-label="">Current DL</th>
                                    <th colspan="6" style="text-align: center;">DL (Last Day)</th>
                                    <th colspan="2" style="text-align: center;" aria-label="">Current UL</th>
                                    <th colspan="6" style="text-align: center;">UL (Last Day)</th>
                                    <th style="width:auto;" aria-label=""></th>
                                </tr>
                                <tr>
                                    <th class="hide" style="width:auto;" aria-label="Device ID">Device ID</th>
                                    <th class="hide" style="width:auto;" aria-label="Sector">Sector</th>
                                    <th class="hide" style="width:auto;" aria-label="severity">severity</th>
                                    <th class="hide" style="width:auto;" aria-label="age">age</th>

                                    <th style="width:auto;" aria-label="Sector ID">Sector ID</th>
                                    <th style="width:auto;" aria-label="BS Name">BS Name</th>
                                    <th style="width:auto;" aria-label="City">City</th>
                                    <th style="width:auto;" aria-label="State">State</th>
                                    <th style="width:auto;" aria-label="Region">Region</th>
                                    <th style="width:auto;" aria-label="IP">IP</th>
                                    <th style="width:auto;" aria-label="Technology">Technology</th>
                                    <th style="width:auto;" aria-label="Capacity">Cbw (MHz)</th>

                                    <th style="width:auto;" aria-label="DL (%)">DL (%)</th>
                                    <th style="width:auto;" aria-label="DL (mbps)">DL (mbps)</th>
                                    <th style="width:auto;" aria-label="Capacity DL">Capacity DL (mbps)</th>
                                    <th style="width:auto;" aria-label="AVG DL (%)">AVG DL (%)</th>
                                    <th style="width:auto;" aria-label="AVG DL (mbps)">AVG DL (mbps)</th>
                                    <th style="width:auto;" aria-label="PEAK DL (%)">PEAK DL (%)</th>
                                    <th style="width:auto;" aria-label="PEAK DL (mbps)">PEAK DL (mbps)</th>
                                    <th style="width:auto;" aria-label="PEAK Time">PEAK Time</th>

                                    <th style="width:auto;" aria-label="UL (%)">UL (%)</th>
                                    <th style="width:auto;" aria-label="UL (mbps)">UL (mbps)</th>
                                    <th style="width:auto;" aria-label="Capacity UL">Capacity UL (mbps)</th>
                                    <th style="width:auto;" aria-label="AVG UL (%)">AVG UL (%)</th>
                                    <th style="width:auto;" aria-label="AVG UL (mbps)">AVG UL (mbps)</th>
                                    <th style="width:auto;" aria-label="PEAK UL (%)">PEAK UL (%)</th>
                                    <th style="width:auto;" aria-label="PEAK UL (mbps)">PEAK UL (mbps)</th>
                                    <th style="width:auto;" aria-label="PEAK Time">PEAK Time</th>
                                    <th style="width:auto;" aria-label="Actions">Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- sector_capacity_status_container End-->
        <div class="clearfix"></div>
    </div>
{% endblock %}


{% block jquery %}
<!-- Custom script for data table-->
<script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
<!-- Library to load tab content on tab click-->
<script type="text/javascript" src={% static "js/nocout/openTabContentLib.js" %}></script>
<script type="text/javascript">

    var dataTableInstance = "";
    $(document).ready(function(e) {
        /*Make a instance of ourDataTableWidget class */
        dataTableInstance = new ourDataTableWidget();

        var location_array = window.location.href.split("#");

        /*Show the spinner*/
        showSpinner();

        /*Grid headers object & ajax url*/
        var all_ajax_url = '{% url "SectorStatusListingClass" %}',
            pmp_ajax_url = '{% url "SectorStatusListingClass" %}'+'?technology=PMP',
            rad5k_ajax_url = '{% url "SectorStatusListingClass" %}'+'?technology=Radwin5KBS&is_type=1',
            wimax_ajax_url = '{% url "SectorStatusListingClass" %}'+'?technology=WiMAX',
            common_param = "'download_excel': 'yes'",
            all_title = "Sector Utilization Status - All",
            pmp_title = "Sector Utilization Status - Cambium",
            rad5k_title = "Sector Utilization Status - Radwin5KBS",
            wimax_title = "Sector Utilization Status - WiMAX";


        tables_info = {
            "all_status_tab" : {
                "app_name" : "capacity_management",
                "table_title" : all_title,
                "header_class_name" : "SectorStatusHeaders",
                "data_class_name" : "SectorStatusListing",
                "header_extra_param" : "{"+common_param+"}",
                "data_extra_param" : "{'report_title' : '"+all_title+"', "+common_param+"}"
            },
            "pmp_status_tab" : {
                "app_name" : "capacity_management",
                "table_title" : pmp_title,
                "header_class_name" : "SectorStatusHeaders",
                "data_class_name" : "SectorStatusListing",
                "header_extra_param" : "{"+common_param+"}",
                "data_extra_param" : "{'technology': 'PMP', 'report_title' : '"+pmp_title+"', "+common_param+"}"
            },
            "rad5k_status_tab": {
                "app_name" : "capacity_management",
                "table_title" : rad5k_title,
                "header_class_name" : "SectorStatusHeaders",
                "data_class_name" : "SectorStatusListing",
                "header_extra_param" : "{'headers_data_key': 'rad5k_datatable_headers', "+common_param+"}",
                "data_extra_param" : "{'technology': 'Radwin5KBS', 'is_type': 1, 'report_title' : '"+rad5k_title+"', "+common_param+"}"
            },
            "wimax_status_tab" : {
                "app_name" : "capacity_management",
                "table_title" : wimax_title,
                "header_class_name" : "SectorStatusHeaders",
                "data_class_name" : "SectorStatusListing",
                "header_extra_param" : "{"+common_param+"}",
                "data_extra_param" : "{'technology': 'WiMAX', 'report_title' : '"+wimax_title+"', "+common_param+"}"
            }
        };

        $("#all_status_tab").attr("data_url", all_ajax_url);
        $("#all_status_tab").attr("data_header", '{{ datatable_headers|safe }}');

        $("#pmp_status_tab").attr("data_url", pmp_ajax_url);
        $("#pmp_status_tab").attr("data_header", '{{ datatable_headers|safe }}');

        $("#rad5k_status_tab").attr("data_url", rad5k_ajax_url);
        $("#rad5k_status_tab").attr("data_header", '{{ rad5k_datatable_headers|safe }}');

        $("#wimax_status_tab").attr("data_url", wimax_ajax_url);
        $("#wimax_status_tab").attr("data_header", '{{ datatable_headers|safe }}');

        if((location_array.length > 1 && location_array[1] == "") || (location_array.length == 1)) {
            /*Trigger click event on active tab to load its data*/
            $("#all_status_tab").trigger('click', true);
        }
    });

</script>
{% endblock %}

{% block load_js %}
<!-- /JAVASCRIPTS -->

<script>
    jQuery(document).ready(function () {
        App.setPage("");  //Set current page
        App.init(); //Initialise plugins and elements
    });
</script>
{% endblock %}