{% extends "nocout/base.html" %}
{% block breadcrumb_title %}
    <a href="/home">Home</a> >
    <li><a href="#">Capacity Management</a></li>
    <li><a href="#">Daily Alerts</a></li>
    <li><b>Sector Status</b></li>
{% endblock %}
{% block content_title %}Sector Status{% endblock %}
{% block content_description %}Sector Status List {% endblock %}
{% load staticfiles %}


{% block content %}

    <div class="box border lite">
        <div class="box-title">
            <h4><i class="fa fa-flask"></i>SECTOR STATUS</h4>

{#            <div class="tools hidden-xs">#}
{#                <a href="#box-config" data-toggle="modal" class="config">#}
{#                    <i class="fa fa-cog"></i>#}
{#                </a>#}
{#                <a href="javascript:;" class="reload">#}
{#                    <i class="fa fa-refresh"></i>#}
{#                </a>#}
{#            </div>#}
        </div>

        <div class="box-body">
            <!-- sector_capacity_status_container Start-->
            <div id="sector_capacity_status_container" class="" style="overflow:auto;">
                
                <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="sectorStatusTable">
                    <thead>
                        <tr>
                            <th colspan="5" class="hide" style="width:auto;" aria-label=""></th>

                            <th colspan="7" style="text-align: center;">SECTOR</th>

                            <th colspan="2" style="text-align: center;" aria-label="">Current DL</th>
                            
                            <th colspan="5" style="text-align: center;">DL (Last Day)</th>

                            <th colspan="2" style="text-align: center;" aria-label="">Current UL</th>

                            <th colspan="5" style="text-align: center;">UL (Last Day)</th>
                        </tr>
                        <tr>
                            <th class="hide" style="width:auto;" aria-label="Device ID">Device ID</th>
                            <th class="hide" style="width:auto;" aria-label="Sector">Sector</th>
                            <th class="hide" style="width:auto;" aria-label="severity">severity</th>
                            <th class="hide" style="width:auto;" aria-label="age">age</th>
                            <th class="hide" style="width:auto;" aria-label="organization">organization</th>

                            <th style="width:auto;" aria-label="Sector ID">Sector ID</th>
                            <th style="width:auto;" aria-label="BS Name">BS Name</th>
                            <th style="width:auto;" aria-label="City">City</th>
                            <th style="width:auto;" aria-label="State">State</th>
                            <th style="width:auto;" aria-label="IP">IP</th>
                            <th style="width:auto;" aria-label="Technology">Technology</th>
                            <th style="width:auto;" aria-label="Capacity">Capacity (mbps)</th>

                            <th style="width:auto;" aria-label="DL (%)">DL (%)</th>
                            <th style="width:auto;" aria-label="DL (mbps)">DL (mbps)</th>
                            <th style="width:auto;" aria-label="AVG DL (%)">AVG DL (%)</th>
                            <th style="width:auto;" aria-label="AVG DL (mbps)">AVG DL (mbps)</th>
                            <th style="width:auto;" aria-label="PEAK DL (%)">PEAK DL (%)</th>
                            <th style="width:auto;" aria-label="PEAK DL (mbps)">PEAK DL (mbps)</th>
                            <th style="width:auto;" aria-label="PEAK Time">PEAK Time</th>
                            
                            <th style="width:auto;" aria-label="UL (%)">UL (%)</th>
                            <th style="width:auto;" aria-label="UL (mbps)">UL (mbps)</th>
                            <th style="width:auto;" aria-label="AVG UL (%)">AVG UL (%)</th>
                            <th style="width:auto;" aria-label="AVG UL (mbps)">AVG UL (mbps)</th>
                            <th style="width:auto;" aria-label="PEAK UL (%)">PEAK UL (%)</th>
                            <th style="width:auto;" aria-label="PEAK UL (mbps)">PEAK UL (mbps)</th>
                            <th style="width:auto;" aria-label="PEAK Time">PEAK Time</th>
                        </tr>

                    </thead>
                    <tbody></tbody>
                </table>

            </div>
            <!-- sector_capacity_status_container End-->
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}


{% block jquery %}
<script type="text/javascript">
    var dataTableInstance = "";
    $(document).ready(function(e) {
        /*Show the spinner*/
        showSpinner();
        var headers_list = [
            {'mData': 'id', 'sClass' : 'hide'},
            {'mData': 'sector__sector_id', 'sClass' : 'hide'},
            {'mData': 'severity', 'sClass' : 'hide'},
            {'mData': 'age', 'sClass' : 'hide'},
            {'mData': 'organization__alias', 'sClass' : 'hide'},
            {'mData': 'sector_sector_id'},
            {'mData': 'sector__base_station__alias'},
            {'mData': 'sector__base_station__city__city_name'},
            {'mData': 'sector__base_station__state__state_name'},
            {'mData': 'sector__sector_configured_on__ip_address'},
            {'mData': 'sector__sector_configured_on__device_technology'},
            {'mData': 'sector_capacity'},
            {'mData': 'current_in_per'},
            {'mData': 'current_in_val'},
            {'mData': 'avg_in_per'},
            {'mData': 'avg_in_val'},
            {'mData': 'peak_in_per'},
            {'mData': 'peak_in_val'},
            {'mData': 'peak_in_timestamp'},
            {'mData': 'current_out_per'},
            {'mData': 'current_out_val'},
            {'mData': 'avg_out_per'},
            {'mData': 'avg_out_val'},
            {'mData': 'peak_out_per'},
            {'mData': 'peak_out_val'},
            {'mData': 'peak_out_timestamp'}
        ];
        /*Grid headers object*/
        // var gridHeadersObj = $.parseJSON('{{ datatable_headers|safe }}');
        var ajax_url = '{% url "SectorStatusListingClass" %}';
        // ******************************* TEMPORARY CODE START *******************************//
        // By Default remove sorting from all datatables
        // for(var i=0;i<headers_list.length;i++) {
        //     var header = headers_list[i];
        //     header['bSortable'] = false;
        // }
        // ******************************* TEMPORARY CODE END *******************************//
        $("#sectorStatusTable").DataTable({
            bAutoWidth: false,
            bDestroy : true,
            bPaginate: true,
            bProcessing : true,
            bServerSide: true,
            sAjaxSource: ajax_url,
            aoColumns : headers_list,
            /*This is the callback funtion for data ajax call*/
            fnInitComplete: function(oSettings) {
                /*Hide the spinner*/
                hideSpinner();
            },
            sPaginationType: "full_numbers",
            aaSorting:[],
            bStateSave:false
        });
        // dataTableInstance.createDataTable("sectorStatusTable", [], ajax_url);
    })

    function nw_alert_showFilters() {

        if($("#removeNwDetailFilterBtn").hasClass("hide")) {

            $("#removeNwDetailFilterBtn").removeClass("hide");
        }

        bootbox.dialog({
            message: "Advance Filters Block",
            title: '<i class="fa fa-filter">&nbsp;</i> Advance Filters',
            buttons: {
                success: {
                    label: "Search",
                    className: "btn-success",
                    callback: function() {

                    }
                },
                danger: {
                    label: "Cancel",
                    className: "btn-danger",
                    callback: function() {

                    }
                }
            }
        });

    }

    function nw_alert_removeFilters() {

        if($("#removeNwDetailFilterBtn").hasClass("hide")) {

            $("#removeNwDetailFilterBtn").removeClass("hide");
        } else {

            $("#removeNwDetailFilterBtn").addClass("hide");
        }
    }

</script>
{% endblock %}

{% block load_js %}
<!-- /JAVASCRIPTS -->

<script>
    jQuery(document).ready(function () {
        App.setPage("");  //Set current page
        App.init(); //Initialise plugins and elements
    });
</script>
{% endblock %}