{% extends "inventory/inventory.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href={% static "css/device.css" %}>
{% endblock %}
{% block content %}
    <h3>Create Device Model</h3>
    <form action="/model/new/" method="post">{% csrf_token %}
        <div id="new_device">
            <table>
                <tr>
                    <td>
                        {{ form.errors }}
                        {{ form.non_field_errors }}
                    </td>
                </tr>
                <tr>
                    <th><label for="id_name"> Model Name:</label></th>
                    <td>{{ form.name }}</td>
                </tr>
                <tr>
                    <th><label for="id_alias">Model Alias:</label></th>
                    <td>{{ form.alias }}</td>
                </tr>
                <tr>
                    <th><label for="id_device_types">Device Types:</label></th>
                    <td>{{ form.device_types }}</td>
                </tr>
                <tr>
                    <th></th>
                    <td><input type="submit" value="Create"/></td>
                </tr>
            </table>
        </div>
    </form>
{% endblock %}
