*.log
*.pot
*.pyc
local_settings.py
nout/
nout/*
*~
nocout/.pydevproject
nocout/.project
nocout/nocs
nocout/build
nocout/django-audit-log-master
nocout/django-preventconcurrentlogins-master
nocout/.metadata
