{% extends "inventory/inventory.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href={% static "css/device.css" %}>
{% endblock %}
{% block breadcrumb_page_title %} > Device Technology {% endblock %}
{% block content_title %}Device Technologies Management{% endblock %}
{% block content_description %}List of device technologies ....{% endblock %}
{% block content %}
    <p><a href="/technology/new"><i class="fa fa-plus">&nbsp;</i> Create Device Technology</a></p>
    
    <div class="box">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-table"></i>DEVICE TECHNOLOGY</h4>
            <div class="tools hidden-xs">
                <a href="#box-config" data-toggle="modal" class="config">
                    <i class="fa fa-cog"></i>
                </a>
                <a href="javascript:;" class="reload">
                    <i class="fa fa-refresh"></i>
                </a>
                <a href="javascript:;" class="collapse">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a href="javascript:;" class="remove">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>

        <div id="tableContainer" class="box-body">
            <div id="device">
                <table>
                    <tr>
                        <td><strong>Technology</strong></td>
                        <td><strong>Edit</strong></td>
                        <td><strong>Delete</strong></td>
                    </tr>
                    {% for technology in object_list %}
                        <tr>
                            <td><a href="/technology/{{ technology.id }}">{{ technology.name }}</a></td>
                            <td><a href="/technology/edit/{{ technology.id }}">Edit</a></td>
                            <td><a href="/technology/delete/{{ technology.id }}">Delete</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}