<html>
    <head>
    </head>
    <body>
        <p> Hi this is alarm message for:-
         Technology is {{ alarm.technology.alias }}<br>
         Device Type is {{ level.device_type.alias }}<br>
         Region is {{ level.organization.alias }}<br>
         City is {{ level.organization.city }}<br>
         BS Name is {{ alarm.base_station.alias }}<br>
         IP is {{ alarm.ip }}<br>
         Alert Description is {{ alarm.alert_description }}
         Now Device is working well.
        </p>
    </body>
</html>
