.navbar .nav.navbar-nav.pull-right {
  min-width: 0;
}
/*.topUserInfo li:first-child span
{
 color: #FFF;
}*/
.topUserInfo > li > a
{
  padding: 8px;
  text-align: right;
  line-height: 16px;
}
.topUserInfo > li > a > span
{
  margin-right: 5px;
}
.topUserInfo > li > a > span.username
{
  margin-right: 20px;
}
.topUserInfo > li > a > i
{
  position: relative;
  top: -10px;
}
.orgTitleBlock
{
  z-index: 9999;
}
.orgTitleBlock li span.username
{
  vertical-align: text-bottom;
  font-weight: 600;
}
.orgTitleBlock, .topUserInfo li
{
    float:  none; 
    color:  #FFF;
}
.topUserInfo li ul.dropdown-menu
{
  width:100% !important;
  border: 1px solid #ca1e25 !important;
  border-top: 0px none !important;
  top: 102%
}

/* forms style */

.errorlist {
    padding: 0px;
    margin-top: 5px;
    list-style: none;
}

.errorlist li {
    color: #b94a48;
}

li.org, span.dept {
  font-weight: 300; 
}

li.org {
  font-size: 24px;
  margin: 8px;
}

span.dept {
  font-size: 18px;
  margin: 14px 0 0 10px;
}

/*CSS for Tabs on the widget header (To show the widget setting menu icons)*/
.box .header-tabs .nav-tabs {
  /*margin-right: 35px;*/
}

/*CSS for side menu*/
#sidebar ul.sub li.has-sub-sub ul.sub-sub li.current {
  background: #f4f4f4 !important;
}
#sidebar {
  background: none repeat scroll 0 0 #F5F5F5;
}

/*Side menu arrow*/
.sidebar-menu ul li a .arrow:before {
  float: right;
  margin-top: 1px;
  margin-right: 5px;
  display: inline;
  font-size: 16px;
  font-family: FontAwesome;
  height: auto;
  content: "\f0d9";
  font-weight: 300;
  text-shadow: none;
}
.sidebar-menu ul li a .arrow.open:before {
  float: right;
  margin-top: 1px;
  margin-right: 5px;
  display: inline;
  font-family: FontAwesome;
  height: auto;
  font-size: 16px;
  content: "\f0d7";
  font-weight: 300;
  text-shadow: none;
}

#svc_template_error_msg {
    padding-bottom: 5px;
}
.logo img {
  max-height: 50px;
  max-width: 25px;
}

/*ERROR ICONS*/

.alert_critical {
    height: 20px;
    width: 20px;
    background: url("../img/nms_icons/big/circle_red.png");
    background-size: 20px 20px;

}

.alert_major {
    height: 20px;
    width: 20px;
    background: url("../img/nms_icons/big/circle_orange.png");
    background-size: 20px 20px;
}

.alert_minor {
    height: 20px;
    width: 20px;
    background: url("../img/nms_icons/big/circle_yellow.png");
    background-size: 20px 20px;
}

.alert_normal {
    height: 20px;
    width: 20px;
    background: url("../img/nms_icons/big/circle_green.png");
    background-size: 20px 20px;
}

.alert_informational {
    height: 20px;
    width: 20px;
    background: url("../img/nms_icons/big/circle_grey.png");
    background-size: 20px 20px;
}

/* color for fa-circle */
.red-dot {
    color: #FF0000;
}

.green-dot {
    color: #009933;
}

.orange-dot {
    color: #FFA319;
}

.grey-dot {
    color: #A8B0B0;
}

.blue-dot {
    color: #0066FF;
}

.purple-dot {
    color: #df05fc;
}

.light-green-dot {
    color: #7DCA97;
}

@media only screen and (max-width: 1100px) {
  #scheduling_calendar {overflow: auto;}
}


#content .page-header {
  margin: 0 -15px 0px;
}


/*Block Full Screen CSS*/
:-webkit-full-screen {
    background-color: rgba(255,255,255,1);
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
:-moz-full-screen {
    background-color: rgba(255,255,255,1);
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
:-ms-full-screen{
    background-color: rgba(255,255,255,1);
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
:fullscreen {
    background-color: rgba(255,255,255,1);
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

/*Box Tools*/
.status_box .box-title .tools_status {
  display: inline-block;
  padding: 0;
  margin-bottom: 7px;
  float: right;
  clear: both;
  min-height: 30px;
}
.status_box .box-title .tools_status > a {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: #ababab;
  margin-right: 5px;
}
.status_box .box-title .tools_status > a :hover {
  color: #919191;
}

.zero_padding_margin {
  padding: 0px !important;
  margin: 0px !important;
}

/*Side menu items overflow issue*/
.sidebar-menu > ul > li > ul.sub .has-sub-sub ul.sub-sub > li > a,
.sidebar-menu > ul > li > ul.sub .has-sub-sub ul.sub-sub .has-sub-sub-sub .sub-sub-sub {
  padding-left: 20px !important;
}

/*by navi 011114*/
.Tbl_FixHeight {
  height:588px;
}

/*for laptop screen*/
@media screen and (max-width:1366px), screen and (max-height: 768px) { 
  .Tbl_FixHeight {
    height:458px;
  }
}
/*for 1024*768 resolution*/
@media screen and (width:1024px), screen and (height: 768px) { 
  .Tbl_FixHeight {
    height:540px;
  }
}

.toUpper {
  text-transform: uppercase;
}
.toLower {
  text-transform: lowercase;
}

iframe {
  position:absolute; 
  top:10px; 
  right:10px; 
  overflow: auto; 
  padding:0px; 
  height:100%; 
  max-height: 850px; 
  overflow:auto; 
  z-index:100;
  border: 0px none;
}

.global_search_container {
  position: absolute;
  top: -40px;
  left: 20%;
}
.global_search_container .select2-container .select2-choice {
  height: 30px !important;
  line-height: 25px !important;
}
.global_search_container ul li #redirect_link_container {
  /*margin-left: 25px;*/
}
.global_search_container ul li #redirect_link_container a {
   margin-right: 5px;
}
.date_range_filter_container {
  float:left;
  max-width: 355px !important;
  margin-bottom:5px;
}
.date_range_filter_container .form-control {
  height: 30px !important;
}
#main_dashboard_container .box-body h5, #main_dashboard_container .box-body h4 {
  margin-top: 0px !important;
}
#main_dashboard_container .box-body h5 strong i, #main_dashboard_container .box-body h4 strong i {
  /*margin-left: 10px;*/
  cursor: pointer;
}

.polling_chart_container {
  max-width:25%;
  overflow: auto;
  vertical-align: middle;
}

#per_live_poll_chart {
  overflow:auto;
  width:100%;
}

#last_polled_val {
  font-size:15px;
  font-weight:bold;
  vertical-align:middle;
}

.vAlign_middle {
  vertical-align: middle !important;
}
th.vAlign_middle, .vAlign_middle b {
  font-weight: 600 !important;
}
.one_fourth_column {
  width: 25%;
}
.severity_block {
  color:#FFFFFF;
  width:6.25%;
  max-width: 60px;
  min-width: 40px;
  text-align:center;
  font-weight:bold;
  /*text-shadow: 1px 1px 1px #F5F5F5, 1px 1px 1px #000000;*/
  /*box-shadow: inset 0 2px 3px rgba(255,255,255,0.3),inset 0 -2px 3px rgba(0,0,0,0.3),0 1px 1px rgba(255,255,255,0.9);*/
}
.device_status_tbl {
  margin-bottom: 0px !important;
}
#latestStatusContainer {
  margin: 10px 0px;
}
.sidebar-menu > ul {
  margin-top: 0px;
  border-top: 0px none !important;
}
/*#status_container {
  margin-bottom: 12px !important;
}*/
.control_btn_countainer {
  margin-bottom: 0px;
  /*position: absolute;*/
  right: 15px;
}
/*Reduce padding for .btn class used in page control of maps*/
.date-range .btn-group .btn {
  padding: 5px;
  margin-top: 0px;
}
/*CSS To reduce size of search box*/
#dfr_reports_table_length select {
  max-width: 65px !important;
}
#dfr_reports_table_filter input {
  max-width: 75px !important;
}
.text-bold {
  font-weight: bold;
}
#ajax_backdrop {
  background: #FFFFFF !important;
  position:absolute !important;
}
#page_content_div {
  position: relative;
}
/******************************* SPACING CSS *******************************/
#content {
  padding-left: 10px;
  min-height: 700px;
}
#page_header_container {
  /*margin-left: -10px;*/
  margin-bottom: 10px;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
#content .page-header {
  min-height: 10px;
  margin: 0px;
}
#content .breadcrumb {
  padding-top: 8px !important;
  padding-bottom: 10px !important;
}
#page_header_container .date-range,
#content .breadcrumb {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
}
.controls_container {
  position: absolute;
  top: 18px;
  right: 20px;
}
#reservationtime, #bsoutage_daterange {
  cursor: text;
  background: #FFFFFF;
}
.filters_remove_container {
  position: relative;
}
.filters_remove_container h4 {
  position: absolute;
  right: 0px;
  z-index: 9999;
  top: 0px;
  cursor: pointer;
}
.filters_form_container {
  border-right: 1px solid #CCCCCC;
}
.applied_filter_container h4 {
  margin-top: 0px;
}
.filter_cancel_btn {
  margin-left:10px;
}
.remove_filter_block_link {
  position: absolute;
  right:20px;
}
/*.add_filter_btn_container {
  margin-right: 5px !important;
}*/
.selected_filters_list li {
  font-style: italic;
}
.single_filter_remove_btn {
  cursor: pointer;
}
.add_filter_btn_container {
  position: absolute;
  right: 3.5%;
  top: 30%;
  font-size: 30px;
}
.applied_filter_container {
  height: 140px;
  overflow: auto;
}
.selected_filters_list > thead > tr > th, 
.selected_filters_list > tbody > tr > td {
  padding: 4px !important;
}
.page_settings_container .date-range ul.list-unstyled {
  margin-bottom: 0px;
}
.remove_advance_filters_btn {
  margin-left: 10px !important;
}
.reset_filter_li {
  /*margin-right: 5.5%;*/
}
.unified_item_type {
  /*border-left: 1px solid #CCC;*/
  /*border-right: 1px solid #CCC;*/
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  /*margin-right: 5px;*/

}
.perfContainerBlock .checkbox-inline {
  padding-left: 0px;
}
.perfContainerBlock input[type="radio"] {
  vertical-align: text-top;
}
.perfContainerBlock .box-title {
  padding: 8px 10px 4px !important;
}
.perfContainerBlock .box-title ul li.date_range_filter_container,
.perfContainerBlock .box-title ul li.pull-right {
  margin-top: 2px;
}
#item_type_btn {
  padding: 5px 10px;
}
.left_tabs_container li {
  width: 200px;
}
.custom_legends_container {
  padding-bottom: 15px;
  padding-top: 2px;
}
.custom_legends_block {
  max-width: 90%;
  margin: 0px auto;
  border: 1px solid #FFF;
  border-radius: 8px;
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  /*cursor: pointer;*/
  text-align: center;
}
.custom_legends_block ul {
  padding: 5px;
  margin-bottom: 0px;
}
.custom_legends_block ul li {
  text-align: left;
  color: #FFF;
  vertical-align: middle;
}
.custom_legends_block ul li span {
  width: 16px;
  height: 12px;
  float: left;
  margin-right: 5px;
  margin-top: 2.5px;
}
.zero_top_margin {
  margin-top: 0px;
}
.birdeye_view_charts {
  min-height: 220px;
  max-height: 350px;
  overflow-y: auto;
  margin: 0px auto;
}
.charts_block tspan {
  font-size: 10px !important;
}


/*New theme changes*/

.no_border_right {
  border-right: 0px none !important;
}

.custom_seperator {

  position: absolute;
  right: -10px;
  top: 30%;
  height: 100px;
  width: 1px;
  z-index: 999;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,d3d3d3+43,cecece+61,f7f7f7+99&0.65+1,0.65+99,0+100 */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjZjZmNmY2IiBzdG9wLW9wYWNpdHk9IjAuNjUiLz4KICAgIDxzdG9wIG9mZnNldD0iNDMlIiBzdG9wLWNvbG9yPSIjZDNkM2QzIiBzdG9wLW9wYWNpdHk9IjAuNjUiLz4KICAgIDxzdG9wIG9mZnNldD0iNjElIiBzdG9wLWNvbG9yPSIjY2VjZWNlIiBzdG9wLW9wYWNpdHk9IjAuNjUiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjZjdmN2Y3IiBzdG9wLW9wYWNpdHk9IjAuNjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, rgba(247,247,247,0.65) 0%, rgba(246,246,246,0.65) 1%, rgba(211,211,211,0.65) 43%, rgba(206,206,206,0.65) 61%, rgba(247,247,247,0.65) 99%, rgba(247,247,247,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,0.65)), color-stop(1%,rgba(246,246,246,0.65)), color-stop(43%,rgba(211,211,211,0.65)), color-stop(61%,rgba(206,206,206,0.65)), color-stop(99%,rgba(247,247,247,0.65)), color-stop(100%,rgba(247,247,247,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(247,247,247,0.65) 0%,rgba(246,246,246,0.65) 1%,rgba(211,211,211,0.65) 43%,rgba(206,206,206,0.65) 61%,rgba(247,247,247,0.65) 99%,rgba(247,247,247,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(247,247,247,0.65) 0%,rgba(246,246,246,0.65) 1%,rgba(211,211,211,0.65) 43%,rgba(206,206,206,0.65) 61%,rgba(247,247,247,0.65) 99%,rgba(247,247,247,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(247,247,247,0.65) 0%,rgba(246,246,246,0.65) 1%,rgba(211,211,211,0.65) 43%,rgba(206,206,206,0.65) 61%,rgba(247,247,247,0.65) 99%,rgba(247,247,247,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(247,247,247,0.65) 0%,rgba(246,246,246,0.65) 1%,rgba(211,211,211,0.65) 43%,rgba(206,206,206,0.65) 61%,rgba(247,247,247,0.65) 99%,rgba(247,247,247,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6f7f7f7', endColorstr='#00f7f7f7',GradientType=0 ); /* IE6-8 */
}

.border_right {
  border-right: 1px inset #d4d4d4;
  top:25%;
 /* height:250px;*/
}

h5.bigger, .h5 {
  font-size: 15px !important;
  font-weight: normal !important;
  color:#333;
}
h4.bigger
{
  font-size: 18px !important;
  font-weight: normal !important;
  color:#333;
}
.dataTables_length > label
{
  font-weight: normal !important;
}
table.dataTable thead th, table.dataTable tfoot th{
  font-weight: 600 !important;
  font-size: 12px !important;
}
.form-group label
{
  font-weight: normal !important;
}

.sidebar-collapse,
.switcher {
  padding: 10px 10px 0 0 !important;
  position: absolute !important;;
  top: 8.5px !important;;
  left: 10px !important;;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #FFFFFF;
  padding: 3px 2px !important;;
  }
 .sidebar-collapse > [class*="fa-"],
.switcher > [class*="fa-"] {  
  cursor: pointer;
  display: inline-block;
  padding: 0 5px;
  position: relative;
  float: right;
}
.trends_icon {
  cursor: pointer;
}
/*Full Screen Button*/
.controls_container ul li a.btn-sm,
.btn-default {
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  /*border-bottom-width: 2px !important;*/
  transition-property: border-bottom-color;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}
.controls_container ul.list-inline > li:first-child {
  padding-left: 5px;
}
.controls_container ul li .btn-sm:hover,
.btn-default:hover , .btn-primary:hover{
  /*border-radius: 50% !important;*/
  border-bottom-color: rgba(0, 0, 0, 0.40) !important;
  color: #333333 !important;
}

.btn-primary {
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  background-color: #ffffff;
  border-color: #cccccc;
  /*border-bottom-width: 2px !important;*/
  transition-property: border-bottom-color;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  /*color: #555555;
  background-color: transparent;
  border-color: transparent;*/
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #333333;
  background-color: transparent;
  border-color: #3c5c7b;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  /*background-color: #5e87b0;
  border-color: #507aa4;*/
  background-color: #ffffff;
  border-color: #cccccc;
}
.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
    background-color: #f5f5f5 !important;
    border: 1px solid transparent !important;
  }

.box .header-tabs .nav-tabs > li {
  border-right: 1px solid #dddddd !important;
  border-left: 0px none!important;
  margin-bottom: 0px;
}
table.dataTable {
  border-collapse: collapse !important;
}
.controls_container button.btn-sm, .controls_container a.btn-sm {
  padding: 3px 8px !important;
}
.birdeye_title_block {
  margin-bottom: 10px;
}
.birdeye_title_block table tbody tr td {
  padding: 5px 8px;
}
.left_tabs_container > li > a,
ul.nav-tabs:not(.inner_inner_tab) > li > a {
  border: 0px none;
  border-bottom: 3px solid transparent;
}
#goFullScreen {
  margin-left: -3px;
  border:1px solid rgba(0, 0, 0, 0.1);
  margin-left: -3px;
}

.box.border {
  border-color: #dddddd;
}
.box.border.lite .box-title {
  background-color: #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
}
.severity_block {
  cursor: pointer;
}
.datatable tbody tr td a {
  padding: 0px;
  margin: 0px;
}
.datatable tbody tr td a i {
  padding-left: 2.5px;
  padding-right: 2.5px;
}
.datatable tbody tr td a:hover {
  text-decoration: none;
}
.settings_content_container {
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #d4d4d4;
  margin-bottom: 10px;
}
#toolsContainerBlock ul {
  margin-bottom: 0px;
}
#toolsContainerBlock ul li {
  padding-right: 5px;
  padding-left: 0px;
}
#toolsContainerBlock ul li:nth-child(5) {
  padding-right: 15px;
}
.add_custom_container {
  height: 320px;
  overflow: auto;
}
#power_content .btn {
  border-color: #C7C7CE !important;
  margin-right: 10px;
}
#powerStatusContainer {
  border-color: #C7C7CE !important;
  margin-right: 10px;
}
#topo_network {
  height: 500px;
}
.both_view_seperator {
  height: 1px;
  margin-bottom: 10px;
  width: 100%;
  background: #DDD;
}
.capacity_alerts_container .box-body .list-unstyled {
  margin-bottom:5px;
  margin-right: -4px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd;
}
#manual_refresh {
  padding: 2.5px 7.5px;
}