.navbar .nav.navbar-nav.pull-right {
  min-width: 0;
}
.topUserInfo li:first-child span
{
  color: #FFF;
}
.topUserInfo > li > a
{
  padding: 8px;
  text-align: right;
  line-height: 16px;
}
.topUserInfo > li > a > span
{
  margin-right: 5px;
}
.topUserInfo > li > a > span.username
{
  margin-right: 20px;
}
.topUserInfo > li > a > i
{
  position: relative;
  top: -10px;
}
.orgTitleBlock
{
  z-index: 9999;
}
.orgTitleBlock li span.username
{
  vertical-align: text-bottom;
  font-weight: 600;
}
.orgTitleBlock, .topUserInfo li
{
    float:  none; 
    color:  #FFF;
}
.topUserInfo li ul.dropdown-menu
{
  width:100% !important;
}

/* forms style */

.errorlist {
    padding: 0px;
    margin-top: 5px;
    list-style: none;
}

.errorlist li {
    color: #b94a48;
}

li.org, span.dept {
  font-weight: 300; 
}

li.org {
  font-size: 24px;
  margin: 8px;
}

span.dept {
  font-size: 18px;
  margin: 14px 0 0 10px;
}

/*CSS for Tabs on the widget header (To show the widget setting menu icons)*/
.box .header-tabs .nav-tabs {
  margin-right: 35px;
}

/*CSS for side menu*/
#sidebar ul.sub li.has-sub-sub ul.sub-sub li.current {
  background: #f4f4f4 !important;
}

/*Side menu arrow*/
.sidebar-menu ul li ul li a .arrow:before {
  float: right;
  margin-top: 1px;
  margin-right: 5px;
  display: inline;
  font-size: 16px;
  font-family: FontAwesome;
  height: auto;
  content: "\f0d9";
  font-weight: 300;
  text-shadow: none;
}
.sidebar-menu ul li ul li a .arrow.open:before {
  float: right;
  margin-top: 1px;
  margin-right: 5px;
  display: inline;
  font-family: FontAwesome;
  height: auto;
  font-size: 16px;
  content: "\f0d7";
  font-weight: 300;
  text-shadow: none;
}

#svc_template_error_msg {
    padding-bottom: 5px;
}

/*ERROR ICONS*/

.alert_critical {
    height: 60px;
    width: 60px;
    background: url("../img/severity/severity-icons-set-a-05.png");
    background-size: 60px 60px;
}

.alert_major {
    height: 60px;
    width: 60px;
    background: url("../img/severity/severity-icons-set-a-04.png");
    background-size: 60px 60px;
}

.alert_minor {
    height: 60px;
    width: 60px;
    background: url("../img/severity/severity-icons-set-a-03.png");
    background-size: 60px 60px;
}

.alert_normal {
    height: 60px;
    width: 60px;
    background: url("../img/severity/severity-icons-set-a-02.png");
    background-size: 60px 60px;
}

.alert_informational {
    height: 60px;
    width: 60px;
    background: url("../img/severity/severity-icons-set-a-01.png");
    background-size: 60px 60px;
}

