{% extends "inventory/inventory.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-paper-plane-o'></i> Escalation" "javascript:;" %}
    {% breadcrumb_safe "Escalation Level" level_create %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% load staticfiles %}

{% block content_title %}Level Management{% endblock %}
{% block content_description %}List of level{% endblock %}
{% block content %}
    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-table"></i>LEVEL LISTING</h4>
        </div>
        <div id="tableContainer" class="box-body" style="overflow:auto;">
            <table class="datatable table table-striped table-bordered table-hover" id="LevelListingTable">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <script type="text/javascript">
        var dataTableInstance = '';
        $(document).ready(function (e) {
            // Add 'Create Item' link on top header bar.
            {% if perms.alarm_escalation.add_escalationlevel %}
                var create_link_html = '<a href="/escalation/level/new/" title="Create Level" \
                                        class="btn btn-default btn-sm"><i class="fa fa-plus"></i></a>';

                $('.controls_container ul').prepend('<li>' + create_link_html + '</li>');
            {% endif %}

            /*Make a instance of ourDataTableWidget class */
            dataTableInstance = new ourDataTableWidget();
            /*Grid headers object*/
            var gridHeadersObj = $.parseJSON('{{ datatable_headers|safe }}');
            /*Ajax url to get grid data*/
            var ajax_url = '{% url "LevelListingTable" %}';
            /*Call createDataTable function of ourDataTableWidget class*/
            var destroy=false;
            dataTableInstance.createDataTable("LevelListingTable", gridHeadersObj, ajax_url, destroy);
        });
    </script>
{% endblock %}
