{% extends "inventory/inventory.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-paper-plane-o'></i> Escalation" "javascript:;" %}
    {% breadcrumb_safe "Escalation Level" "level_list" %}
    {% breadcrumb_safe "Add Escalation Level" "level_create" %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% load staticfiles %}

{% block content_title %}Add Level{% endblock %}
{% block content_description %}Add Level{% endblock %}
{% block content %}
    <div class="row formContainer">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="box border lite">
                        <div class="box-title">
                            <h4><i class="fa fa-bars"></i> ADD LEVEL</h4>
                        </div>
                            <div class="box-body">
                                <div class="col-md-8"><br />
                                    <form action="/escalation/level/new/" method="post" class="form-horizontal" role="form">{% csrf_token %}
                                        <div class="form-group">
                                            {% for field in form %}
                                                <div class="form-group">
                                                    <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{% if field.field.required %}<span class="mandatory">* </span>{% endif %}{{ field.label|title }}</label>
                                                    <div class="col-sm-9">
                                                        <div class="col-md-8">
                                                            {{ field }} {{ field.errors }}
                                                        </div>
                                                        <div class="col-md-4 help_text">
                                                            {{ field.help_text }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-default">
                                                    <i class="fa fa-pencil text-success"></i> Create
                                                </button>
                                                &nbsp;
                                                <button type="reset" class="btn btn-default" onclick="resetForm();">
                                                    <i class="fa fa-refresh text-warning"></i> Reset
                                                </button>
                                                &nbsp;
                                                <button type="reset" class="btn btn-default" onclick="window.location.replace('/escalation/level/')">
                                                    <i class="fa fa-times text-danger"></i> Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content_js %}
        <script type="text/javascript" src={% static "js/nocout/nocout_forms.js" %}></script>
    {% endblock %}
    <script type="text/javascript">
        var parent_class = 'formContainer',
            change_event_dom_ids = [
                '#id_device_type',
                '#id_service'
            ],
            element_relation_dict = {
                '#id_device_type' : {
                    "old_value" : $('#id_device_type').val(),
                    "update" : [
                        {
                            "id" : '#id_service',
                            "url_name" : '{% url "get_device_type_services" 123 %}',
                            "existing_value" : $('#id_service').val()
                        }
                    ],
                    "reset" : ['#id_service', '#id_data_source']
                },
                '#id_service' : {
                    "old_value" : $('#id_service').val(),
                    "update" : [
                        {
                            "id" : '#id_data_source',
                            "url_name" : '{% url "get_service_data_sources" 123 %}',
                            "existing_value" : $('#id_data_source').val()
                        }
                    ],
                    "reset" : ['#id_data_source']
                }
            };

        $(document).ready(function() {
            // Initialize the select2 selectbox.
            $(".select2select").select2();

            // Loop to trigger change event on select boxes
            for (var i=0;i<change_event_dom_ids.length;i++) {
                var elem = element_relation_dict[change_event_dom_ids[i]];
                if (elem && elem['old_value']) {
                    // trigger change event
                    $(change_event_dom_ids[i]).trigger('change', true);
                }
            }

            // Initialize tooltip
            $('.tip-focus').tooltip({
                placement: 'right',
                trigger: 'focus'
            });
        });

        /**
         * This function validates given email id
         * @method validate_email
         */
        function validate_email(email) {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            
            return re.test(email);
        }

        /**
         * This function validates given mobile number
         * @method validate_mobile_number
         */
        function validate_mobile_number(mobile_number) {
            var re = /^([0|\+[0-9]{1,5})?([7-9][0-9]{9})$/;
            return re.test(mobile_number);
        }

        /**
         * This event trigger when form submit button clicked. It validates email ids & phone numbers & proceed accordingly.
         * @event click
         */
        $('button[type="submit"]').click(function(e) {
            var emails = $('#id_emails').val(),
                phone_numbers = $('#id_phones').val();

            if (emails || phone_numbers) {
                var is_valid_mails = true
                    is_valid_phones = true;
                if (emails) {
                    emails = emails.split(',');

                    for (var i=0;i<emails.length;i++) {
                        if (is_valid_mails) {
                            is_valid_mails = validate_email(emails[i]);
                        } else {
                            break;
                        }
                    }
                }

                if (phone_numbers) {
                    phone_numbers = phone_numbers.split(',');

                    for (var i=0;i<phone_numbers.length;i++) {
                        if (is_valid_phones) {
                            is_valid_phones = validate_mobile_number(phone_numbers[i]);
                        } else {
                            break;
                        }
                    }
                }

                if (is_valid_mails && is_valid_phones) {
                    return true;
                } else {
                    var error_msg = '<ul class="list-unstyled">',
                        highlight_txtbox = '';

                    if (is_valid_mails && !is_valid_phones) {
                        error_msg += '<li><i class="fa fa-bug text-danger"></i> <a href="#id_phones">Phones: Please enter valid mobile numbers.</a></li>';

                        highlight_txtbox += "$('#id_phones').closest('.col-sm-9').addClass('has-error');";
                        highlight_txtbox += "$('#id_emails').closest('.col-sm-9').removeClass('has-error');";
                    } else if (!is_valid_mails && is_valid_phones) {
                        error_msg += '<li><i class="fa fa-bug text-danger"></i> <a href="#id_emails">Emails: Please enter valid email ids.</a></li>';

                        highlight_txtbox += "$('#id_emails').closest('.col-sm-9').addClass('has-error');";
                        highlight_txtbox += "$('#id_phones').closest('.col-sm-9').removeClass('has-error');";
                    } else {
                        error_msg += '<li><i class="fa fa-bug text-danger"></i> <a href="#id_phones">Phones: Please enter valid mobile numbers.</a></li>';

                        error_msg += '<li><i class="fa fa-bug text-danger"></i> <a href="#id_emails">Emails: Please enter valid email ids.</a></li>';

                        highlight_txtbox += "$('#id_emails').closest('.col-sm-9').addClass('has-error');";
                        highlight_txtbox += "$('#id_phones').closest('.col-sm-9').addClass('has-error');";
                    }

                    error_msg +=  '</ul>';

                    $.gritter.add({
                        // (string | mandatory) the heading of the notification
                        title: 'Validation Error',
                        // (string | mandatory) the text inside the notification
                        text: error_msg,
                        // (bool | optional) if you want it to fade out on its own or just sit there
                        sticky: true
                    });

                    try {
                        eval(highlight_txtbox);
                    } catch(e) {
                        // console.error(e);
                    }

                    return false;
                }

            } else {
                return true;
            }
        });
    </script>
{% endblock %}
