{% extends "inventory/inventory.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-cubes'></i> Escalation" "javascript:;" %}
    {% breadcrumb_safe "Escalation Level" "level_list" %}
    {% breadcrumb_safe "Add Escalation Level" "level_update" %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% load staticfiles %}

{% block content_title %}Edit Level{% endblock %}
{% block content_description %}Edit Level{% endblock %}
{% block content %}
    <div class="row formContainer">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="box border lite">
                        <div class="box-title">
                            <h4><i class="fa fa-bars"></i> ESCALATION LEVEL : {{ object.get_name_display }}</h4>
                        </div>
                            <div class="box-body">
                                <div class="col-md-8"><br />
                                    <form action="/escalation/level/{{ object.id }}/edit/" method="post" class="form-horizontal" role="form">{% csrf_token %}
                                        <div class="form-group">
                                            {% for field in form %}
                                                <div class="form-group">
                                                    <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{% if field.field.required %}<span class="mandatory">* </span>{% endif %}{{ field.label|title }}</label>
                                                    <div class="col-sm-9">
                                                        <div class="col-md-8">
                                                            {{ field }} {{ field.errors }} {{ field.non_field_errors}}
                                                        </div>
                                                        <div class="col-md-4 help_text">
                                                            {# field.help_text #}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-success"><i class="fa fa-pencil"></i>Update</button>
                                                &nbsp;
                                                <button type="reset" class="btn btn-danger" onclick="window.location.replace('/escalation/level/')"><i class="fa fa-times"></i>Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content_js %}
        <script type="text/javascript" src={% static "js/nocout/nocout_forms.js" %}></script>
    {% endblock %}
    <script type="text/javascript">
        var parent_class = 'formContainer',
            change_event_dom_ids = [
                '#id_device_type',
                '#id_service'
            ],
            element_relation_dict = {
                '#id_device_type' : {
                    "old_value" : $('#id_device_type').val(),
                    "update" : [
                        {
                            "id" : '#id_service',
                            "url_name" : '{% url "get_device_type_services" 123 %}',
                            "existing_value" : $('#id_service').val()
                        }
                    ],
                    "reset" : ['#id_service', '#id_data_source']
                },
                '#id_service' : {
                    "old_value" : $('#id_service').val(),
                    "update" : [
                        {
                            "id" : '#id_data_source',
                            "url_name" : '{% url "get_service_data_sources" 123 %}',
                            "existing_value" : $('#id_data_source').val()
                        }
                    ],
                    "reset" : ['#id_data_source']
                }
            };

        $(document).ready(function() {

            // Initialize the select2 selectbox.
            $(".select2select").select2();

            // Loop to trigger change event on select boxes
            for (var i=0;i<change_event_dom_ids.length;i++) {
                var elem = element_relation_dict[change_event_dom_ids[i]];
                if (elem && elem['old_value']) {
                    // trigger change event
                    $(change_event_dom_ids[i]).trigger('change', true);
                }
            }

            // Initialize tooltip
            $('.tip-focus').tooltip({
                placement: 'right',
                trigger: 'focus'
            });
        });

    </script>
{% endblock %}
