{% extends "inventory/inventory.html" %}
{% load staticfiles %}
{% block breadcrumb_title %}
    <li>Settings</li>
    <li>Thematic Settings</li>
    <li>New</li>
{% endblock %}
{% block css %}
	<!-- JQUERY UI-->
    <link rel="stylesheet" type="text/css" href={% static "js/jquery-ui-1.10.3.custom/css/custom-theme/jquery-ui-1.10.3.custom.min.css" %} />
{% endblock %}
{% block content_title %}Add Thematic Settings{% endblock %}
{% block content_description %}Add thematic settings{% endblock %}
{% block content %}
    <div class="row formContainer">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="box border lite">
                        <div class="box-title">
                            <h4><i class="fa fa-bars"></i>THEMATIC SETTINGS</h4>
                        </div>
                            <div class="box-body">
                                <div class="col-md-8"><br />
                                    <form action="/thematic_settings/new/" method="post" class="form-horizontal" role="form">{% csrf_token %}
                                        <div class="form-group">
                                            {% for field in form %}
                                                <div class="form-group">
                                                    <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{% if field.field.required %}<span class="mandatory">* </span>{% endif %}{{ field.label|title }}</label>
                                                    <div class="col-sm-9">
                                                        <div class="col-md-8">
                                                            {{ field }} {{ field.errors }}
                                                        </div>
                                                        <div class="col-md-4 help_text">
                                                            {{ field.help_text }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-success"><i class="fa fa-pencil"></i>Create</button>
                                                &nbsp;
                                                <button type="reset" class="btn btn-warning" onclick="resetForm();"><i class="fa fa-refresh"></i>Reset</button>
                                                &nbsp;
                                                <button type="reset" class="btn btn-danger" onclick="window.location.replace('/thematic_settings/')"><i class="fa fa-times"></i>Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content_js %}
        <script type="text/javascript" src={% static "js/nocout/nocout_forms.js" %}></script>
    {% endblock %}
    <script>
        $(document).ready(function(){

        function toTitleCase(str) {
            return str.replace(/(?:^|\s)\w/g, function(match) {
            return match.toUpperCase();
        });
}

        var response=0;
        $('#id_threshold_template').on('change', function(){
        var threshold_template_id= $('#id_threshold_template').val();
        $.ajax({
            url:'{% url "get_range_and_icon_for_thematic_setting" %}',
            data:{ 'threshold_template_id': threshold_template_id },
            dataType:"json",
            success:function(result){
                response= result;
                if (result.data.objects.range_list != undefined && result.data.objects.range_list.length !=0  ){
                        // Remove any element present before appending any other element to it.
                        $('#id_threshold_template').parent().parent().parent().nextAll('div').remove();

                        //select box
                        var select_box='<div class="col-sm-9">' +
                                   '<div class="col-md-8">' +
                                   '<select class="col-md-12 (1)" id="id_icon_settings_(0)" name="icon_settings(0)">'+
                                   '<option value="" selected="selected">Select</option>'

                        for(var j=0;j<result.data.objects.icon_details.length;j++){
                                select_box+='<option value='+ result.data.objects.icon_details[j].upload_image +'>'+
                                      result.data.objects.icon_details[j].name + '</option>'
                            }
                        select_box+='</select></div></div>'

                        //range label
                        for(var i=0;i<result.data.objects.range_list.length;i++){
                            html=''
                            var select= select_box;
                            select= select.replace('(1)', 'update'+ result.data.objects.range_list[i].split(' ')[1].toString());
                            select= select.split('(0)').join(result.data.objects.range_list[i].split(' ')[1].toString());
                            html+='<div class="form-group"><label for="id_range"' +
                                  'class="col-sm-3 control-label">' +
                                  '<span class="mandatory">*</span>'+ toTitleCase(result.data.objects.range_list[i].toString()) +
                                  '</label>'+ select + '</div>'

                        $('#id_threshold_template').parent().parent().parent().after(html)
                        }

                        //Loop through all select div
                        var divForm= $("#id_threshold_template").parent().parent().parent();
                        $(divForm.nextAll()).each(function(i, el) {
                            var selectEl= $(el).find('select');

                            function formatResult(item) {
                                if(item.id) {
                                        if (item.id.indexOf('uploaded') !=-1){
                                            image_path="/media/"+item.id
                                        }else{
                                            image_path="/static/img/"+item.id
                                        }
                                        return '<img style="width:20px; margin-right:10px;" src='+image_path+' />'+item.text;
                                    } else {
                                        return item.text;
                                    }
                            }

                            function formatSelection(item) {
                                if(item.id) {
                                        if (item.id.indexOf('uploaded') !=-1){
                                            image_path="/media/"+item.id
                                        }else{
                                            image_path="/static/img/"+item.id
                                        }
                                        return '<img style="width:20px; margin-right:10px;" src='+image_path+' />'+item.text;
                                    } else {
                                        return item.text;
                                    }
                            }

                            // $(selectEl).select2("destroy");
                            $(selectEl).select2({
                                formatResult: formatResult,
                                formatSelection: formatSelection
                            });
                        });


                }else if (result.data.objects.range_list ==undefined || result.data.objects.range_list.length == 0 ){

                    $('#id_threshold_template').parent().parent().parent().nextAll('div').remove()
                }

            }//Success ends
        }); //ajax ends
    });

{#    $('.btn-success').on('click', function(){#}
{#        var total_ids_and_values=[];#}
{#        if (response.data.objects.range_list.length !=0){#}
{#            select_option= $('#id_threshold_template').parent().parent().parent().nextAll('div').find('div').find('div').find('select');#}
{#            element= $('#id_threshold_template').parent().parent().parent().nextAll('div');#}
{##}
{#             $(element).each(function(i, el) {#}
{#                     var selectEl = $(el).find('select');#}
{#                     var optionwEl= $(el).find('option:selected');#}
{#                     total_ids_and_values.push({'i': selectEl.attr('id').split('_')[selectEl.attr('id').split('_').length-1] ,#}
{#                                     'value':optionwEl.val() })#}
{#            });#}
{##}
{#            #}
{##}
{##}
{##}
{#        }#}
{#    });#}
});
</script>
{% endblock %}


