{% extends "inventory/inventory.html" %}
{% load staticfiles %}
{% block breadcrumb_title %}
    <li>Inventory</li>
    <li>Antenna</li>
{% endblock %}
{% block content_title %}Antenna Management{% endblock %}
{% block content_description %}List of antenna{% endblock %}
{% block content %}
    <p><a href="/antenna/new"><i class="fa fa-plus">&nbsp;</i> Create Antenna</a></p>
    
    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-table"></i>ANTENNA LISTING</h4>
            <div class="tools hidden-xs">
                <a href="#box-config" data-toggle="modal" class="config">
                    <i class="fa fa-cog"></i>
                </a>
                <a href="javascript:;" class="reload">
                    <i class="fa fa-refresh"></i>
                </a>
            </div>
        </div>
        <div id="tableContainer" class="box-body">
            <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="AntennaListingTable">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            /*Make a instance of ourDataTableWidget class */
            var dataTableInstance = new ourDataTableWidget();
            /*Grid headers object*/
            var gridHeadersObj = $.parseJSON('{{ datatable_headers|safe }}');
            /*Ajax url to get grid data*/
            var ajax_url = '{% url "AntennaListingTable" %}';
            /*Call createDataTable function of ourDataTableWidget class*/
            dataTableInstance.createDataTable("AntennaListingTable", gridHeadersObj, ajax_url);
        });
    </script>
{% endblock %}