{% extends "inventory/inventory.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-dropbox'></i> Inventory" "javascript:;" %}
    {% breadcrumb_safe "GIS Inventory" "javascript:;" %}
    {% breadcrumb_safe "Antenna" "antennas_list" %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% load staticfiles %}

{% block content_title %}Antenna Management{% endblock %}
{% block content_description %}List of antenna{% endblock %}
{% block content %}
            {% if perms.inventory.add_antenna %}
            <p><a href="/antenna/new"><i class="fa fa-plus">&nbsp;</i> Create Antenna</a></p>
            {% endif %}
    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-table"></i>ANTENNA LISTING</h4>
        </div>
        <div id="tableContainer" class="box-body">
            <table class="datatable table table-striped table-bordered table-hover" id="AntennaListingTable">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            /*Make a instance of ourDataTableWidget class */
            var dataTableInstance = new ourDataTableWidget();
            /*Grid headers object*/
            var gridHeadersObj = $.parseJSON('{{ datatable_headers|safe }}');
            /*Ajax url to get grid data*/
            var ajax_url = '{% url "AntennaListingTable" %}';
            
            var common_extra_param = "'download_excel': 'yes'",
                table_title = "Antenna Listing",
                app_name = "inventory",
                header_class_name = "AntennaList",
                data_class_name = "AntennaListingTable",
                extra_param = "{'report_title' : '"+table_title+"', "+common_extra_param+"}";

            /*Call createDataTable function of ourDataTableWidget class*/
            var destroy = false;


            dataTableInstance.createDataTable(
                "AntennaListingTable",
                gridHeadersObj,
                ajax_url,
                destroy,
                table_title,
                app_name,
                header_class_name,
                data_class_name,
                extra_param,
                extra_param
            );
        });
    </script>
{% endblock %}
