{% extends "nocout/base.html" %}
{% load staticfiles %}
{% block page_setting_block %} {% endblock %}
{% block content_title %} Dashboard {% endblock %}
{% block content_description %} Dashboard... {% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href={% static "css/nocout_dashboard.css" %}>
{% endblock %}

{% block content %}
    <!--Dashboard Template Start-->
    <div id="dashboardContainer">
        <div class="networkPerfContainer">
            <div class="box">
                <div class="box-title">
                    <h4><i class="fa fa-random"></i> Network Performance</h4>
                </div>
                <div class="box-body" style="background:transparent;">
                    <div class="col-md-3">
                        <div class="tech_block panel panel-default">
                            <h5 class="alert alert-block"><i class="fa fa-external-link-square"></i> PTP</h5>
                            <div class="col-md-12">
                                <div class="col-md-7">
                                    <div id="ptp_pie_chart" class="dashboard_pie_chart"></div>
                                </div>
                                <div class="col-md-5">
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Latency</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#70AFC4">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Packet Drop</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#F0AD4E">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> RSSI</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#5E87B0">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block last">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Events</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#5EB096">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="tech_block panel panel-default">
                            <h5 class="alert alert-block"><i class="fa fa-external-link-square"></i> PMP</h5>
                            <div class="col-md-12">
                                <div class="col-md-7">
                                    <div id="pmp_pie_chart" class="dashboard_pie_chart"></div>
                                </div>
                                <div class="col-md-5">
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Latency</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#70AFC4">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Packet Drop</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#F0AD4E">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> RSSI</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#5E87B0">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block last">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Events</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#5EB096">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="tech_block panel panel-default">
                            <h5 class="alert alert-block"><i class="fa fa-external-link-square"></i> WIMAX</h5>
                            <div class="col-md-12">
                                <div class="col-md-7">
                                    <div id="wimax_pie_chart" class="dashboard_pie_chart"></div>
                                </div>
                                <div class="col-md-5">
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Latency</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#70AFC4">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Packet Drop</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#F0AD4E">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> RSSI</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#5E87B0">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block last">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Events</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#5EB096">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="tech_block panel panel-default">
                            <h5 class="alert alert-block"><i class="fa fa-external-link-square"></i> OTHERS</h5>
                            <div class="col-md-12">
                                <div class="col-md-7">
                                    <div id="other_pie_chart" class="dashboard_pie_chart"></div>
                                </div>
                                <div class="col-md-5">
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Latency</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#70AFC4">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Packet Drop</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#F0AD4E">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> RSSI</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#5E87B0">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block last">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Events</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#5EB096">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--Network Performance End-->

        <div class="uptimeChartContainer">
            <div class="box">
                <div class="box-title">
                    <h4><i class="fa fa-unsorted"></i> Uptime</h4>
                </div>
                <div class="box-body">
                    <div id="uptime_line_chart" style="height: 280px;width:100%;"></div>
                    <!-- <div class="divide-20"></div>
                    <div class="clearfix"></div> -->
                </div>
            </div>
        </div>
        <!--Uptime End-->

        <div class="customerMonitorContainer">
            <div class="box">
                <div class="box-title">
                    <h4><i class="fa fa-user"></i> Customer Experience Monitoring</h4>
                </div>
                <div class="box-body">
                    <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="cem_table">
                        <thead>
                            <th>City</th>
                            <th>Latency</th>
                            <th>Packet Drop</th>
                            <th>Rogue SS</th>
                            <th>UL Impact</th>
                            <th>LOS/Align</th>
                            <th>Jitter</th>
                            <th>ReReg</th>
                            <th>UAS</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Gurgaon</td>
                                <td>60</td>
                                <td>70</td>
                                <td>20</td>
                                <td>200</td>
                                <td>90</td>
                                <td>88</td>
                                <td>65</td>
                                <td>45</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--CEM End-->

        <div class="box">
            <div class="box-title">
                <h4><i class="fa fa-external-link-square"></i> PTP Performance</h4>
            </div>
            <div class="box-body">
                <div class="col-md-3">
                    <div class="tech_block panel panel-default">
                        <h5 class="alert alert-block"><i class="fa fa-external-link-square"></i> PTP</h5>
                        <div class="col-md-12">
                            <div class="col-md-7">
                                <div id="ptp_pie_chart2" class="dashboard_pie_chart"></div>
                            </div>
                            <div class="col-md-5">
                                <div class="side_info_block">
                                    <div class="chart_title"><h6><i class="fa fa-exchange"></i> Latency</h6></div>
                                    <div style="width:100%;">
                                        <span class="sparkline" data-color="#70AFC4">
                                            16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                        </span>
                                    </div>
                                </div>
                                <div class="side_info_block">
                                    <div class="chart_title"><h6><i class="fa fa-exchange"></i> Packet Drop</h6></div>
                                    <div style="width:100%;">
                                        <span class="sparkline" data-color="#F0AD4E">
                                            16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                        </span>
                                    </div>
                                </div>
                                <div class="side_info_block">
                                    <div class="chart_title"><h6><i class="fa fa-exchange"></i> RSSI</h6></div>
                                    <div style="width:100%;">
                                        <span class="sparkline" data-color="#5E87B0">
                                            16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                        </span>
                                    </div>
                                </div>
                                <div class="side_info_block last">
                                    <div class="chart_title"><h6><i class="fa fa-exchange"></i> Events</h6></div>
                                    <div style="width:100%;">
                                        <span class="sparkline" data-color="#5EB096">
                                            16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 panel">
                    <div class="divide-20"></div>
                    <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="events_table">
                        <thead>
                            <th>Severity</th>
                            <th>Description</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="center"><span class="badge badge-red">95</span></td>
                                <td>CRITICAL - 192.168.0.111; Host unreachable @ 192.168.0.158 rta nan, lost 100%</td>
                            </tr>
                            <tr>
                                <td class="center"><span class="badge badge-green">70</span></td>
                                <td>CRITICAL - 192.168.0.111; Host unreachable @ 192.168.0.158 rta nan, lost 100%</td>
                            </tr>
                            <tr>
                                <td class="center"><span class="badge badge-orange">90</span></td>
                                <td>CRITICAL - 192.168.0.111; Host unreachable @ 192.168.0.158 rta nan, lost 100%</td>
                            </tr>
                            <tr>
                                <td class="center"><span class="badge badge-green">70</span></td>
                                <td>CRITICAL - 192.168.0.111; Host unreachable @ 192.168.0.158 rta nan, lost 100%</td>
                            </tr>
                            <tr>
                                <td class="center"><span class="badge badge-green">70</span></td>
                                <td>CRITICAL - 192.168.0.111; Host unreachable @ 192.168.0.158 rta nan, lost 100%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--PTP Performance End-->

        <div class="pmpPerfContainer">
            <div class="box">
                <div class="box-title">
                    <h4><i class="fa fa-external-link-square"></i> PMP Performance</h4>
                </div>
                <div class="box-body" style="background:transparent;">
                    <div class="col-md-3">
                        <div class="tech_block panel panel-default">
                            <h5 class="alert alert-block"><i class="fa fa-external-link-square"></i> SECTOR</h5>
                            <div class="col-md-12">
                                <div class="col-md-7">
                                    <div id="ptp_pie_chart3" class="dashboard_pie_chart"></div>
                                </div>
                                <div class="col-md-5">
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Latency</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#70AFC4">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Packet Drop</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#F0AD4E">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> RSSI</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#5E87B0">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block last">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Events</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#5EB096">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="tech_block panel panel-default">
                            <h5 class="alert alert-block"><i class="fa fa-external-link-square"></i> BACKHUAL</h5>
                            <div class="col-md-12">
                                <div class="col-md-7">
                                    <div id="pmp_pie_chart3" class="dashboard_pie_chart"></div>
                                </div>
                                <div class="col-md-5">
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Latency</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#70AFC4">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Packet Drop</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#F0AD4E">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> RSSI</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#5E87B0">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block last">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Events</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#5EB096">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="tech_block panel panel-default">
                            <h5 class="alert alert-block"><i class="fa fa-external-link-square"></i> SALES</h5>
                            <div class="col-md-12">
                                <div class="col-md-7">
                                    <div id="wimax_pie_chart3" class="dashboard_pie_chart"></div>
                                </div>
                                <div class="col-md-5">
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Latency</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#70AFC4">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Packet Drop</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#F0AD4E">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> RSSI</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#5E87B0">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block last">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Events</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#5EB096">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="tech_block panel panel-default">
                            <h5 class="alert alert-block"><i class="fa fa-external-link-square"></i> Sub-Station</h5>
                            <div class="col-md-12">
                                <div class="col-md-7">
                                    <div id="other_pie_chart3" class="dashboard_pie_chart"></div>
                                </div>
                                <div class="col-md-5">
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Latency</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#70AFC4">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Packet Drop</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#F0AD4E">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> RSSI</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#5E87B0">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block last">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Events</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#5EB096">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--PMP Performance End-->

        <div class="pmpEventsContainer">
            <div class="box">
                <div class="box-title">
                    <h4><i class="fa fa-calendar"></i> PMP Events</h4>
                </div>
                <div class="box-body">
                    <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="pmp_events_table">
                        <thead>
                            <th>Severity</th>
                            <th>Description</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="center"><span class="badge badge-red">95</span></td>
                                <td>CRITICAL - 192.168.0.111; Host unreachable @ 192.168.0.158 rta nan, lost 100%</td>
                            </tr>
                            <tr>
                                <td class="center"><span class="badge badge-green">70</span></td>
                                <td>CRITICAL - 192.168.0.111; Host unreachable @ 192.168.0.158 rta nan, lost 100%</td>
                            </tr>
                            <tr>
                                <td class="center"><span class="badge badge-orange">90</span></td>
                                <td>CRITICAL - 192.168.0.111; Host unreachable @ 192.168.0.158 rta nan, lost 100%</td>
                            </tr>
                            <tr>
                                <td class="center"><span class="badge badge-green">70</span></td>
                                <td>CRITICAL - 192.168.0.111; Host unreachable @ 192.168.0.158 rta nan, lost 100%</td>
                            </tr>
                            <tr>
                                <td class="center"><span class="badge badge-green">70</span></td>
                                <td>CRITICAL - 192.168.0.111; Host unreachable @ 192.168.0.158 rta nan, lost 100%</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--PMP Events End-->

        <div class="wimaxPerfContainer">
            <div class="box">
                <div class="box-title">
                    <h4><i class="fa fa-external-link-square"></i> WIMAX Performance</h4>
                </div>
                <div class="box-body" style="background:transparent;">
                    <div class="col-md-3">
                        <div class="tech_block panel panel-default">
                            <h5 class="alert alert-block"><i class="fa fa-external-link-square"></i> SECTOR</h5>
                            <div class="col-md-12">
                                <div class="col-md-7">
                                    <div id="ptp_pie_chart4" class="dashboard_pie_chart"></div>
                                </div>
                                <div class="col-md-5">
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Latency</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#70AFC4">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Packet Drop</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#F0AD4E">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> RSSI</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#5E87B0">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block last">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Events</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#5EB096">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="tech_block panel panel-default">
                            <h5 class="alert alert-block"><i class="fa fa-external-link-square"></i> BACKHUAL</h5>
                            <div class="col-md-12">
                                <div class="col-md-7">
                                    <div id="pmp_pie_chart4" class="dashboard_pie_chart"></div>
                                </div>
                                <div class="col-md-5">
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Latency</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#70AFC4">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Packet Drop</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#F0AD4E">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> RSSI</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#5E87B0">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block last">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Events</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#5EB096">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="tech_block panel panel-default">
                            <h5 class="alert alert-block"><i class="fa fa-external-link-square"></i> SALES</h5>
                            <div class="col-md-12">
                                <div class="col-md-7">
                                    <div id="wimax_pie_chart4" class="dashboard_pie_chart"></div>
                                </div>
                                <div class="col-md-5">
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Latency</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#70AFC4">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Packet Drop</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#F0AD4E">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> RSSI</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#5E87B0">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block last">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Events</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#5EB096">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="tech_block panel panel-default">
                            <h5 class="alert alert-block"><i class="fa fa-external-link-square"></i> Sub-Station</h5>
                            <div class="col-md-12">
                                <div class="col-md-7">
                                    <div id="other_pie_chart4" class="dashboard_pie_chart"></div>
                                </div>
                                <div class="col-md-5">
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Latency</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#70AFC4">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Packet Drop</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#F0AD4E">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> RSSI</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#5E87B0">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                    <div class="side_info_block last">
                                        <div class="chart_title"><h6><i class="fa fa-exchange"></i> Events</h6></div>
                                        <div style="width:100%;">
                                            <span class="sparkline" data-color="#5EB096">
                                                16,7,23,13,12,11,15,4,19,18,4,24,16,7,23,13,12,11,15,4,19,18,4,24
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--Wimax Performance End-->

        <div class="wimaxEventsContainer">
            <div class="box">
                <div class="box-title">
                    <h4><i class="fa fa-calendar"></i> WIMAX Events</h4>
                </div>
                <div class="box-body">
                    <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="wimax_events_table">
                        <thead>
                            <th>Severity</th>
                            <th>Description</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="center"><span class="badge badge-red">95</span></td>
                                <td>CRITICAL - 192.168.0.111; Host unreachable @ 192.168.0.158 rta nan, lost 100%</td>
                            </tr>
                            <tr>
                                <td class="center"><span class="badge badge-green">70</span></td>
                                <td>CRITICAL - 192.168.0.111; Host unreachable @ 192.168.0.158 rta nan, lost 100%</td>
                            </tr>
                            <tr>
                                <td class="center"><span class="badge badge-orange">90</span></td>
                                <td>CRITICAL - 192.168.0.111; Host unreachable @ 192.168.0.158 rta nan, lost 100%</td>
                            </tr>
                            <tr>
                                <td class="center"><span class="badge badge-green">70</span></td>
                                <td>CRITICAL - 192.168.0.111; Host unreachable @ 192.168.0.158 rta nan, lost 100%</td>
                            </tr>
                            <tr>
                                <td class="center"><span class="badge badge-green">70</span></td>
                                <td>CRITICAL - 192.168.0.111; Host unreachable @ 192.168.0.158 rta nan, lost 100%</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--WIMAX Events End-->

        <div class="clearfix"></div>
    </div>
    <!--Dashboard Template End-->
{% endblock %}
{% block load_js %}
<!-- SPARKLINES -->
<script type="text/javascript" src={% static "js/sparklines/jquery.sparkline.min.js" %}></script>
<!-- FLOT CHARTS -->
<script src={% static "js/flot/jquery.flot.min.js" %}></script>
<script src={% static "js/flot/jquery.flot.time.min.js" %}></script>
<script src={% static "js/flot/jquery.flot.selection.min.js" %}></script>
<script src={% static "js/flot/jquery.flot.resize.min.js" %}></script>
<script src={% static "js/flot/jquery.flot.pie.min.js" %}></script>
<script src={% static "js/flot/jquery.flot.stack.min.js" %}></script>
<script src={% static "js/flot/jquery.flot.crosshair.min.js" %}></script>
<!-- Dashboard Custom CSS-->
<script src={% static "js/nocout_dashboard.js" %}></script>
<script>
    jQuery(document).ready(function () {
        App.setPage("");  //Set current page
        App.init(); //Initialise plugins and elements
    });
</script>
{% endblock %}
