{% extends "nocout/base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-bell-o'></i> Alert Center" "javascript:;" %}
    {% breadcrumb_safe page_type|title|add:" Alert Center" "javascript:;" %}
    {% breadcrumb_safe data_source|title  alert_list_with_tabname  page_type url_data_source data_tab %}
    {% breadcrumb_safe "PTP BH"  alert_list_with_tabname  page_type url_data_source data_tab %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% block content_title %} {{ page_type|title }} Alerts {% endblock %}
{% block content_description %}{{ page_type|title }} Alerts List{% endblock %}
{% load staticfiles %}

{% block content %}

    <div class="box border lite" style="background: #fff;">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-bell-o"></i>{{ page_type|upper }} ALERT - {{ data_source|upper }}</h4>
        </div>

        <div class="box-body">
            <div class="tabbable header-tabs">
                <ul class="nav nav-tabs">
                    {% if page_type|lower == 'network' %}
                    <li>
                        <a href="#network_bh_block" id="network_bh_tab" data-toggle="tab">
                            <span class="hidden-inline-mobile">Backhaul</span>
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="#network_wimax_block" id="network_wifi_tab" data-toggle="tab">
                            <span class="hidden-inline-mobile">WiMAX</span>
                        </a>
                    </li>
                    <li>
                        <a href="#network_rad5_block" id="network_rad5_tab" data-toggle="tab">
                            <span class="hidden-inline-mobile">Radwin5k</span>
                        </a>
                    </li>
                    <li>
                        <a href="#network_pmp_block" id="network_pmp_tab" data-toggle="tab">
                            <span class="hidden-inline-mobile">Cambium</span>
                        </a>
                    </li>
                    {% if settings.SHOW_ALL_TAB_IN_ALERTS %}
                        <li>
                    {% else %}
                        <li class="active">
                    {% endif %}
                        <a href="#network_ptp_block" id="network_ptp_tab" data-toggle="tab">
                            <span class="hidden-inline-mobile">
                                {% if page_type == 'customer' %}
                                    PTP
                                {% else %}
                                    PTP BH
                                {% endif %}
                            </span>
                        </a>
                    </li>
                    {% if settings.SHOW_ALL_TAB_IN_ALERTS %}
                    <li class="active">
                        <a href="#network_all_block" id="network_all_tab" data-toggle="tab">
                            <span class="hidden-inline-mobile">All (PMP/WiMAX)</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <div class="tab-content" style="overflow:auto;">
                    
                    <!-- network_ptp_block Start -->
                    <div class="tab-pane active" id="network_ptp_block">
                        <table class="datatable table table-striped table-bordered table-hover" id="network_ptp_block_table">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <!-- network_ptp_block End -->

                    <div class="tab-pane" id="network_pmp_block">
                        <table id="network_pmp_alertlistingtable" class="datatable table table-striped table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="network_rad5_block">
                        <table id="network_rad5_alertlistingtable" class="datatable table table-striped table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="network_wimax_block">
                        <table id="network_wimax_alertlistingtable" class="datatable table table-striped table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    {% if page_type|lower == 'network' %}
                    <div class="tab-pane" id="network_bh_block">
                        <table id="network_bh_alertlistingtable" class="datatable table table-striped table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    {% endif %}

                    {% if settings.SHOW_ALL_TAB_IN_ALERTS %}
                    <div class="tab-pane active in " id="network_all_block">
                        <table id="network_all_alertlistingtable" class="datatable table table-striped table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jquery %}
    <!-- Custom script for data table-->
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <!-- Library to load tab content on tab click for Alert Center Listing-->
    <script type="text/javascript" src={% static "js/nocout/alertOpenTab.js" %}></script>

    <script type="text/javascript">

        var dataTableInstance = "",
            base_url = "",
            excel_columns = [];

        /*This is a temporary code which is replace when data for data table is provided*/
        $(document).ready(function (e) {
            var sort_index = 9;

            /*Set the base url of application for ajax calls*/
            if (window.location.origin) {
                base_url = window.location.origin;
            } else {
                base_url = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port : '');
            }

            /*Ajax url to get grid data*/
            var ajax_url_get_parameter = "{{ url_data_source }}";

            if(ajax_url_get_parameter == 'latency' || ajax_url_get_parameter == 'service') {
                sort_index = 10;
            }

            var page_type = "{{ page_type|title }}",
                ds_name = "{{ data_source|title }}",
                ptp_tech_txt = "PTP",
                ptp_excluded_columns = "'sector_id'";

            // In case of netwok alert ptp will be treated as PTP BH
            if(page_type.toLowerCase() == 'network') {
                ptp_tech_txt = "PTP BH";

                // NETWORK EXCLUDED COLUMNS
                pmp_wimax_excluded_network = "'circuit_id'";

            } else {
                // CUSTOMER EXCLUDED COLUMNS
                pmp_wimax_excluded_network = "";
            }

            var report_title_base = page_type+" Alert ["+ds_name+"]",
                ptp_report_title = report_title_base+" - "+ptp_tech_txt,
                pmp_report_title = report_title_base+" - Cambium",
                rad5_report_title = report_title_base+" - Radwin5k",
                wimax_report_title = report_title_base+" - WiMAX",
                all_report_title = report_title_base+" - All (PMP/WiMAX)",
                converter_report_title = report_title_base+" - Backhaul",
                common_hidden_columns = "'circuit_id', 'customer_name'";

            /*Make a instance of ourDataTableWidget class */
            dataTableInstance = new ourDataTableWidget();

            var ajax_url_wifi = '{% url "AlertListingTable" %}' + '?data_source=' + ajax_url_get_parameter + '&data_tab=WiMAX' + '&page_type={{ page_type }}';

            var ajax_url_pmp = '{% url "AlertListingTable" %}' + '?data_source=' + ajax_url_get_parameter + '&data_tab=PMP' + '&page_type={{ page_type }}';

            var ajax_url_rad5 = '{% url "AlertListingTable" %}' + '?data_source=' + ajax_url_get_parameter + '&data_tab=PMP' + '&page_type={{ page_type }}' + '&is_rad5=1';            

            var ajax_url_all = '{% url "AlertListingTable" %}' + '?data_source=' + ajax_url_get_parameter + '&data_tab=all' + '&page_type={{ page_type }}';

            var ajax_url_p2p = '{% url "AlertListingTable" %}' + '?data_source=' + ajax_url_get_parameter + '&data_tab=' + 'P2P' + '&page_type={{ page_type }}';

            // EXTRA PARAMS FOR REPORT DOWNLOAD FEATURE -- START

            var common_extra_param = "'download_excel': 'yes'";
            // Wimax tab extra params
            var wimax_extra_param = "{'headers_data_key' : 'pmp_wimax_datatable_headers', 'data_source': '"+ajax_url_get_parameter+"', 'data_tab' : 'WiMAX', 'page_type' : '{{ page_type }}', 'report_title' : '"+wimax_report_title+"', "+common_extra_param+" }";
            // PMP tab extra params
            var pmp_extra_param = "{'headers_data_key' : 'pmp_wimax_datatable_headers', 'data_source': '"+ajax_url_get_parameter+"', 'data_tab' : 'PMP', 'page_type' : '{{ page_type }}', 'report_title' : '"+pmp_report_title+"', "+common_extra_param+" }";
            // Radwin5k tab extra params
            var rad5_extra_param = "{'headers_data_key' : 'pmp_wimax_datatable_headers', 'data_source': '"+ajax_url_get_parameter+"', 'data_tab' : 'PMP', 'page_type' : '{{ page_type }}', 'report_title' : '"+rad5_report_title+"', "+common_extra_param+", 'is_rad5': 1}";
            // All (PMP/WiMAX) tab extra params
            var all_extra_param = "{'headers_data_key' : 'pmp_wimax_datatable_headers', 'data_source': '"+ajax_url_get_parameter+"', 'data_tab' : 'all', 'page_type' : '{{ page_type }}', 'report_title' : '"+all_report_title+"', "+common_extra_param+" }";
            // PTP tab extra params
            var ptp_extra_param = "{'headers_data_key' : 'ptp_datatable_headers', 'data_source': '"+ajax_url_get_parameter+"', 'data_tab' : 'P2P', 'page_type' : '{{ page_type }}', 'report_title' : '"+ptp_report_title+"', "+common_extra_param+" }";

            var bh_get_param_value = "";

            {% if page_type|lower == 'network' %}
                {% if data_source|lower == 'down' %}
                    bh_get_param_value = 'Backhaul_Down';
                {% elif data_source|lower == 'packet drop' %} 
                    bh_get_param_value = 'Backhaul_PD';
                {% elif data_source|lower == 'latency' %}
                    bh_get_param_value = 'Backhaul_RTA';
                {% endif %}
            {% endif %}

            // Backhaul data url
            var ajax_url_bh = '{% url "NetworkAlertDetails" %}' + '?data_source='+bh_get_param_value;

            // Backhaul extra params
            var converter_header_extra_param = "{'headers_data_key' : 'bh_datatable_headers', 'data_source' : '"+ajax_url_get_parameter+"', 'page_type' : '{{ page_type }}', 'report_title' : '"+converter_report_title+"', "+common_extra_param+"}";

            var converter_data_extra_param = "{'headers_data_key' : 'bh_datatable_headers', 'data_source' : '"+bh_get_param_value+"', 'page_type' : '{{ page_type }}', 'report_title' : '"+converter_report_title+"', "+common_extra_param+"}";

            // EXTRA PARAMS FOR REPORT DOWNLOAD FEATURE -- END

            tables_info = {
                "network_wifi_tab" : {
                    "app_name" : "alert_center",
                    "table_title" : wimax_report_title,
                    "header_class_name" : "AlertCenterListing",
                    "data_class_name" : "AlertListingTable",
                    "header_extra_param" : wimax_extra_param,
                    "data_extra_param" : wimax_extra_param,
                    "excluded" : "["+pmp_wimax_excluded_network+"]",
                },
                "network_ptp_tab" : {
                    "app_name" : "alert_center",
                    "table_title" : ptp_report_title,
                    "header_class_name" : "AlertCenterListing",
                    "data_class_name" : "AlertListingTable",
                    "header_extra_param" : ptp_extra_param,
                    "data_extra_param" : ptp_extra_param,
                    "excluded" : "["+ptp_excluded_columns+"]",
                },
                "network_pmp_tab" : {
                    "app_name" : "alert_center",
                    "table_title" : pmp_report_title,
                    "header_class_name" : "AlertCenterListing",
                    "data_class_name" : "AlertListingTable",
                    "header_extra_param" : pmp_extra_param,
                    "data_extra_param" : pmp_extra_param,
                    "excluded" : "["+pmp_wimax_excluded_network+"]",
                },
                "network_rad5_tab" : {
                    "app_name" : "alert_center",
                    "table_title" : rad5_report_title,
                    "header_class_name" : "AlertCenterListing",
                    "data_class_name" : "AlertListingTable",
                    "header_extra_param" : rad5_extra_param,
                    "data_extra_param" : rad5_extra_param,
                    "excluded" : "["+pmp_wimax_excluded_network+"]",
                },
                "network_all_tab" : {
                    "app_name" : "alert_center",
                    "table_title" : all_report_title,
                    "header_class_name" : "AlertCenterListing",
                    "data_class_name" : "AlertListingTable",
                    "header_extra_param" : all_extra_param,
                    "data_extra_param" : all_extra_param,
                    "excluded" : "["+pmp_wimax_excluded_network+"]",
                },
                "network_bh_tab" : {
                    "app_name" : "alert_center",
                    "table_title" : converter_report_title,
                    "header_class_name" : "AlertCenterListing",
                    "data_class_name" : "GetNetworkAlertDetail",
                    "header_extra_param" : converter_header_extra_param,
                    "data_extra_param" : converter_data_extra_param,
                    "excluded" : "['sector_id',"+common_hidden_columns+"]",
                }
            };


            /*Add custom attributes for ajax_url & grid header to the tab i.e 'a' tag.*/

            $("#network_wifi_tab").attr("data_url", ajax_url_wifi);
            $("#network_wifi_tab").attr("data_header", '{{ pmp_wimax_datatable_headers|safe }}');

            $("#network_pmp_tab").attr("data_url", ajax_url_pmp);
            $("#network_pmp_tab").attr("data_header", '{{ pmp_wimax_datatable_headers|safe }}');

            $("#network_rad5_tab").attr("data_url", ajax_url_rad5);
            $("#network_rad5_tab").attr("data_header", '{{ pmp_wimax_datatable_headers|safe }}');

            $("#network_all_tab").attr("data_url", ajax_url_all);
            $("#network_all_tab").attr("data_header", '{{ pmp_wimax_datatable_headers|safe }}');

            $("#network_ptp_tab").attr("data_url", ajax_url_p2p);
            $("#network_ptp_tab").attr("data_header", '{{ ptp_datatable_headers|safe }}');

            $("#network_bh_tab").attr("data_url", ajax_url_bh);
            $("#network_bh_tab").attr("data_header", '{{ bh_datatable_headers|safe }}');

            var location_array = window.location.href.split("#");

            if((location_array.length > 1 && location_array[1] == "") || (location_array.length == 1)) {
                /*Trigger click event on PTP tab to load its data*/
                if ($('#network_all_tab').length > 0) {
                    $("#network_all_tab").trigger('click');
                } else {
                    $("#network_ptp_tab").trigger('click');
                }
            }
        });
    </script>
{% endblock %}

{% block load_js %}
    <!-- /JAVASCRIPTS -->

    <script>
        jQuery(document).ready(function () {
            App.setPage("");  //Set current page
            App.init(); //Initialise plugins and elements
        });
    </script>
{% endblock %}