{% extends "nocout/base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-bell-o'></i> Alert Center" "javascript:;" %}
    {% breadcrumb_safe "SIA" traps %}
    {% breadcrumb_safe "All" "javascript:;" %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% block content_title %}Alarms{% endblock %}
{% block content_description %}{{ page_type|title }} Alarms List{% endblock %}

{% load staticfiles %}

{% block page_setting_block %}
<div class="date-range pull-right">
    <div class="btn-group">
        <ul class="list-unstyled list-inline" style="margin-bottom:0px;">
            <li>
                <input type="radio" name="alarm_type" style="vertical-align:sub;" value="current" checked=""> Current
            </li>
            <li>
                <input type="radio" name="alarm_type" style="vertical-align:sub;" value="clear"> Clear
            </li>
            <li>
                <input type="radio" name="alarm_type" style="vertical-align:sub;" value="history"> History
            </li>
            {% if not settings.ENABLE_ADVANCE_FILTERS %}
            <!-- <li>
                <button type="button" id="snmp_advFilterBtn" class="btn btn-sm btn-default">
                    <i class='fa fa-filter'></i> Advance Filter
                </button>
                <button type="button" id="snmp_removeFilterBtn" class="btn btn-sm btn-danger hide" style="margin-left:10px;">
                    <i class='fa fa-times'></i> Reset Filter
                </button>
            </li> -->
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
    {% if not settings.ENABLE_ADVANCE_FILTERS %}
        <!-- Include advance filter block HTML Start -->
        {% include 'alert_center/advance_filter_block.html' %}
        <!-- Include advance filter block HTML End -->
    {% endif %}
    <div class="clearfix"></div>

    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-bell-o"></i>SIA </h4>
        </div>

        <div class="box-body">
            <div class="tabbable header-tabs">
                <ul class="nav nav-tabs">
                    <!-- <li>
                        <a href="#snmp_converter_block" id="snmp_converter_tab" data-toggle="tab">
                            Converter
                        </a>
                    </li> -->
                    <li>
                        <a href="#snmp_pmp_block" id="snmp_pmp_tab" data-toggle="tab">
                            PMP
                        </a>
                    </li>
                    <li>
                        <a href="#snmp_wimax_block" id="snmp_wimax_tab" data-toggle="tab">
                            WiMAX
                        </a>
                    </li>
                    <li class="active">
                        <a href="#snmp_all_block" id="snmp_all_tab" data-toggle="tab">
                            All
                        </a>
                    </li>
                </ul>
                <div class="tab-content" style="overflow:auto;">
                    <div class="tab-pane active" id="snmp_all_block">
                        <table class="datatable table table-striped table-bordered table-hover" id="snmp_all_table">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="snmp_wimax_block">
                        <table class="datatable table table-striped table-bordered table-hover" id="snmp_wimax_table">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="snmp_pmp_block">
                        <table id="snmp_pmp_table" class="datatable table table-striped table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <!-- <div class="tab-pane" id="snmp_converter_block">
                        <table id="snmp_converter_table" class="datatable table table-striped table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div> -->
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jquery %}
    <script type="text/javascript" src={% static "js/bootstrap-daterangepicker/moment.min.js" %}></script>
    <script type="text/javascript" src={% static "js/bootstrap-daterangepicker/daterangepicker.min.js" %}></script>
    <!-- Custom library create jquery datatable -->
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <!-- Custom library to load tab content on tab click-->
    <script type="text/javascript" src={% static "js/nocout/openTabContentLib.js" %}></script>
    <!-- Custom library for handling filtering functionality of this page -->
    <script type="text/javascript" src={% static "js/snmpFilteringLib.js" %} ></script>

    <script type="text/javascript">
        var dataTableInstance = '',
            startDate = '',
            endDate = '',
            date_range_picker_html = '',
            filter_api_url = '';

        $(document).ready(function (e) {

            {% if not settings.ENABLE_ADVANCE_FILTERS %}
                // Disable advance filtering
                create_advance_filters = false;
            {% endif %}

            date_range_picker_html = '<input type="text" name="filter_date" id="filter_date" class="form-control" value=""/>';

            alert_initDateRangePicker();

            filter_api_url = '{% url "sia_advance_filters_data" %}'

            /*Make a instance of ourDataTableWidget class */
            dataTableInstance = new ourDataTableWidget();

            /*Grid headers object*/
            var alarm_type = $('input[name="alarm_type"]:checked').val(),
                ajax_url_all = '{% url "snmp_alarms_listing" %}' + '?alarm_type='+alarm_type+'&tech_name=all',
                ajax_url_pmp = '{% url "snmp_alarms_listing" %}' + '?alarm_type='+alarm_type+'&tech_name=pmp',
                ajax_url_wimax = '{% url "snmp_alarms_listing" %}' + '?alarm_type='+alarm_type+'&tech_name=wimax',
                ajax_url_converter = '{% url "snmp_alarms_listing" %}' + '?alarm_type='+alarm_type+'&tech_name=switch';

            // EXTRA PARAMS FOR REPORT DOWNLOAD FEATURE -- START
            var common_extra_param = "'download_excel': 'yes'",
                converter_title = "SIA Alarms - Converter ({1})",
                pmp_title = "SIA Alarms - PMP ({1})",
                wimax_title = "SIA Alarms - WiMAX ({1})",
                all_title = "SIA Alarms - All ({1})",
                fetch_data_class = "SIAListingTable",
                converter_tab_param = "";
            // EXTRA PARAMS FOR REPORT DOWNLOAD FEATURE -- END

            tables_info = {
                "snmp_converter_tab" : {
                    "app_name" : "alert_center",
                    "table_title" : converter_title,
                    "header_class_name" : "SIAListing",
                    "data_class_name" : fetch_data_class,
                    "header_extra_param" : "{'headers_data_key' : 'converter_datatable_headers', "+common_extra_param+"}",
                    "data_extra_param" : "{'report_title' : '"+converter_title+"', 'alarm_type': '{0}', 'tech_name': 'switch', "+common_extra_param+"}"
                },
                "snmp_pmp_tab" : {
                    "app_name" : "alert_center",
                    "table_title" : pmp_title,
                    "header_class_name" : "SIAListing",
                    "data_class_name" : fetch_data_class,
                    "header_extra_param" : "{"+common_extra_param+"}",
                    "data_extra_param" : "{'report_title' : '"+pmp_title+"', 'alarm_type': '{0}', 'tech_name': 'pmp', "+common_extra_param+"}"
                },
                "snmp_wimax_tab" : {
                    "app_name" : "alert_center",
                    "table_title" : wimax_title,
                    "header_class_name" : "SIAListing",
                    "data_class_name" : fetch_data_class,
                    "header_extra_param" : "{"+common_extra_param+"}",
                    "data_extra_param" : "{'report_title' : '"+wimax_title+"', 'alarm_type': '{0}', 'tech_name': 'wimax', "+common_extra_param+"}"
                },
                "snmp_all_tab" : {
                    "app_name" : "alert_center",
                    "table_title" : all_title,
                    "header_class_name" : "SIAListing",
                    "data_class_name" : fetch_data_class,
                    "header_extra_param" : "{"+common_extra_param+"}",
                    "data_extra_param" : "{'report_title' : '"+all_title+"', 'alarm_type': '{0}', 'tech_name': 'all', "+common_extra_param+"}"
                }
            };

            /*Add custom attributes for ajax_url & grid header to the tab i.e 'a' tag.*/
            // $("#snmp_converter_tab").attr("data_url", ajax_url_converter);
            // $("#snmp_converter_tab").attr("data_header", '{{ converter_datatable_headers|safe }}');

            $("#snmp_pmp_tab").attr("data_url", ajax_url_pmp);
            $("#snmp_pmp_tab").attr("data_header", '{{ datatable_headers|safe }}');

            $("#snmp_wimax_tab").attr("data_url", ajax_url_wimax);
            $("#snmp_wimax_tab").attr("data_header", '{{ datatable_headers|safe }}');

            $("#snmp_all_tab").attr("data_url", ajax_url_all);
            $("#snmp_all_tab").attr("data_header", '{{ datatable_headers|safe }}');
            
            var current_href = window.location.href;
            if(current_href.indexOf("#") == -1 || current_href.split("#")[1] == "") {
                $("#snmp_all_tab").trigger("click");
            }
        });
    </script>
{% endblock %}

{% block load_js %}
    <!-- /JAVASCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            App.setPage("");  //Set current page
            App.init(); //Initialise plugins and elements
        });
    </script>
{% endblock %}