{% extends "nocout/base.html" %}
{% block breadcrumb_title %}
    <li>Alert Center</li>
    <li>Customer Alerts</li>
    <li>{{ data_source }}</li>
{% endblock %}
{% block content_title %}Customer Alerts{% endblock %}
{% block content_description %}Customer Alerts List{% endblock %}
{% load staticfiles %}

{% block content %}

    <div class="box border lite" style="overflow-x: auto; background: #fff;">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-bell"></i>CUSTOMER ALERT - {{ data_source|upper }}</h4>
        </div>

        <div class="box-body">
            <div class="tabbable header-tabs">
                <ul class="nav nav-tabs">
                        <li><a href="#customer_wifi_block" id="customer_wifi_tab" data-toggle="tab"><span class="hidden-inline-mobile">WiMAX</span></a></li>
                        <li><a href="#customer_pmp_block" id="customer_pmp_tab" data-toggle="tab"><span class="hidden-inline-mobile">PMP</span></a></li>
                        <li class="active"><a href="#customer_p2p_block" id="customer_ptp_tab" data-toggle="tab"><span class="hidden-inline-mobile">P2P</span></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane in active" id="customer_p2p_block">
                        <table id="customer_p2p_alertlistingtable" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="customer_pmp_block">
                        <table id="customer_pmp_alertlistingtable" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="customer_wifi_block">
                        <table id="customer_wifi_alertlistingtable" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

            <div class="clearfix"></div>
        </div>
    </div>
    </div>
{% endblock %}
{% block jquery %}
<script type="text/javascript">
    var dataTableInstance = "";
    /*This is a temporary code which is replace when data for data table is provided*/
    $(document).ready(function (e) {
          function ourDataTableWidget()
            {
                /**
                 * This function creates the jquery data table on given domElement
                 * @class ourDataTableWidget
                 * @method createDataTable
                 * @param tableId "String" It contains the dom selector of table
                 * @param tableheaders {JSON Object} It contains the grid headers object
                 * @param ajax_url "String" It contains the ajax url from which the data is to be loaded
                 */
                this.createDataTable = function(tableId, tableheaders, ajax_url, destroy)
                {
                    /*Show the spinner*/
                    showSpinner();

                    destroy = typeof destroy !== 'undefined' ? destroy : true;
                    $('.datatable').each(function () {
                        var datatable = $(this);
                        // SEARCH - Add the placeholder for Search and Turn this into in-line form control
                        var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
                        search_input.attr('placeholder', 'Search');
                        search_input.addClass('form-control input-sm');
                        // LENGTH - Inline-Form control
                        var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
                        length_sel.addClass('form-control input-sm');
                    });
                    if (destroy){
                        $("#"+tableId).dataTable().fnDestroy();
                    }
                    var dtable = $("#"+tableId).DataTable({
                        bAutoWidth: false,
                        bPaginate: true,
                        bProcessing : true,
                        bServerSide: false,
                        sAjaxSource: ajax_url,
                        /*This is the callback funtion for data ajax call*/
                        fnInitComplete : function(oSettings, json) {
                            /*Hide the spinner*/
                            hideSpinner();
                        },
                        aoColumns:tableheaders,
                        sPaginationType: "bs_full",
                        aaSorting: [[9, 'desc'],[0, 'asc']]
                    });
                };
            }
            /*Make a instance of ourDataTableWidget class */
            dataTableInstance = new ourDataTableWidget();
            /*Grid headers object*/
            var gridHeadersObj = $.parseJSON('{{ datatable_headers|safe }}');
            /*Ajax url to get grid data*/
            ajax_url_get_parameter = "";
            
            if(/latency/i.test(window.location.pathname)) {
                ajax_url_get_parameter='latency' 
            } else if(/packet_drop/i.test(window.location.pathname)) {
                ajax_url_get_parameter='packet_drop'
            } else if(/down/i.test(window.location.pathname)) {
                ajax_url_get_parameter='down'
            }


            var ajax_url_wifi= '{% url "CustomerAlertListingTable" %}'+'?data_source='+ ajax_url_get_parameter+'&data_tab=' + 'WiMAX';
            var ajax_url_pmp=  '{% url "CustomerAlertListingTable" %}'+'?data_source=' + ajax_url_get_parameter+'&data_tab=' + 'PMP';
            var ajax_url_p2p=  '{% url "CustomerAlertListingTable" %}'+'?data_source=' + ajax_url_get_parameter+'&data_tab=' + 'P2P';
                
            /*Add custom attributes for ajax_url & grid header to the tab i.e 'a' tag.*/

            $("#customer_wifi_tab").attr("data_url",ajax_url_wifi);
            $("#customer_wifi_tab").attr("data_header",'{{ datatable_headers|safe }}');

            $("#customer_pmp_tab").attr("data_url",ajax_url_pmp);
            $("#customer_pmp_tab").attr("data_header",'{{ datatable_headers|safe }}');

            $("#customer_ptp_tab").attr("data_url",ajax_url_p2p);
            $("#customer_ptp_tab").attr("data_header",'{{ datatable_headers|safe }}');

            var location_array = window.location.href.split("#");

            if(location_array.length == 1) {

                /*Trigger click event on active tab to load its data*/
                $("#customer_ptp_tab").trigger('click',true);
            }

            // var destroy=false;
            // /*Call createDataTable function of ourDataTableWidget class*/

            // dataTableInstance.createDataTable("customer_wifi_alertlistingtable", gridHeadersObj, ajax_url_wifi, destroy);
            // dataTableInstance.createDataTable("customer_pmp_alertlistingtable",  gridHeadersObj, ajax_url_pmp,  destroy);
            // dataTableInstance.createDataTable("customer_p2p_alertlistingtable",  gridHeadersObj, ajax_url_p2p,  destroy);
        });
</script>
<!-- Library to load tab content on tab click-->
<script type="text/javascript" src={% static "js/nocout/openTabContentLib.js" %}></script>
{% endblock %}

{% block load_js %}
<!-- /JAVASCRIPTS -->

<script>
    jQuery(document).ready(function () {
        App.setPage("");  //Set current page
        App.init(); //Initialise plugins and elements
    });
</script>
{% endblock %}