{% extends "nocout/base.html" %}
{% block breadcrumb_title %}
    <li>Alert Center</li>
    <li>Customer Alerts</li>
    <li>{{ data_source }}</li>
{% endblock %}
{% block content_title %}Customer Alerts{% endblock %}
{% block content_description %}Customer Alerts List{% endblock %}
{% load staticfiles %}

{% block content %}

    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-bell"></i>CUSTOMER ALERT - {{ data_source|upper }}</h4>
        </div>

        <div class="box-body">
            <div class="tabbable header-tabs">
                <ul class="nav nav-tabs">
                        <li><a href="#customer_wifi_block" data-toggle="tab"><span class="hidden-inline-mobile">WiMAX</span></a></li>
                        <li><a href="#customer_pmp_block" data-toggle="tab"><span class="hidden-inline-mobile">PMP</span></a></li>
                        <li class="active"><a href="#customer_p2p_block" data-toggle="tab"><span class="hidden-inline-mobile">P2P</span></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="customer_p2p_block">
                        <table id="customer_p2p_alertlistingtable" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="customer_pmp_block">
                        <table id="customer_pmp_alertlistingtable" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="customer_wifi_block">
                        <table id="customer_wifi_alertlistingtable" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

            <div class="clearfix"></div>
        </div>
    </div>
    </div>
{% endblock %}
{% block jquery %}
<script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
<script type="text/javascript">
    /*This is a temporary code which is replace when data for data table is provided*/
    $(document).ready(function (e) {
            /*Make a instance of ourDataTableWidget class */
            var dataTableInstance = new ourDataTableWidget();
            /*Grid headers object*/
            var gridHeadersObj = $.parseJSON('{{ datatable_headers|safe }}');
            /*Ajax url to get grid data*/
            ajax_url_get_parameter=0;
            if(/latency/i.test(window.location.pathname))
            { ajax_url_get_parameter='latency' }
            else if(/packet_drop/i.test(window.location.pathname))
            { ajax_url_get_parameter='packet_drop' }


            var ajax_url_wifi= '{% url "CustomerAlertListingTable" %}'+'?data_source='+ ajax_url_get_parameter+'&data_tab=' + 'WiMAX';
            var ajax_url_pmp=  '{% url "CustomerAlertListingTable" %}'+'?data_source=' + ajax_url_get_parameter+'&data_tab=' + 'PMP';
            var ajax_url_p2p=  '{% url "CustomerAlertListingTable" %}'+'?data_source=' + ajax_url_get_parameter+'&data_tab=' + 'P2P';
            var destroy=false;
            /*Call createDataTable function of ourDataTableWidget class*/

            dataTableInstance.createDataTable("customer_wifi_alertlistingtable", gridHeadersObj, ajax_url_wifi, destroy);
            dataTableInstance.createDataTable("customer_pmp_alertlistingtable",  gridHeadersObj, ajax_url_pmp,  destroy);
            dataTableInstance.createDataTable("customer_p2p_alertlistingtable",  gridHeadersObj, ajax_url_p2p,  destroy);
        });

</script>
{% endblock %}

{% block load_js %}
<!-- /JAVASCRIPTS -->

<script>
    jQuery(document).ready(function () {
        App.setPage("");  //Set current page
        App.init(); //Initialise plugins and elements
    });
</script>
{% endblock %}