{% extends "nocout/base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-bell-o'></i> Alert Center" "javascript:;" %}
    {% breadcrumb_safe "Alert Details" "javascript:;" %}
    {% breadcrumb_safe "Customer Alert Details" "customer_alert_details" 'customer' %}
    {% breadcrumb_safe "PTP" "customer_alert_details" %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% block content_title %}Customer Details{% endblock %}
{% block content_description %} {% endblock %}
{% load staticfiles %}
{% block css %}
    <!-- JQUERY UI-->
    <link rel="stylesheet" type="text/css"
          href={% static "js/jquery-ui-1.10.3.custom/css/custom-theme/jquery-ui-1.10.3.custom.min.css" %}>
{% endblock %}

{% block page_setting_block %}
{% endblock %}

{% block content %}

    <div class="box border lite" style="background: #fff;">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-bell-o"></i>CUSTOMER ALERT {{ data_source|upper }}</h4>
        </div>

        <div class="box-body">
            <div class="tabbable header-tabs">
                <ul class="nav nav-tabs">
                    <li>
                        <a href="#customer_wifi_block" id="customer_wifi_tab" data-toggle="tab">
                            <span class="hidden-inline-mobile">WiMAX</span>
                        </a>
                    </li>
                    <li>
                        <a href="#customer_rad5_block" id="customer_rad5_tab" data-toggle="tab">
                            <span class="hidden-inline-mobile">Radwin5K</span>
                        </a>
                    </li>
                    <li>
                        <a href="#customer_pmp_block" id="customer_pmp_tab" data-toggle="tab">
                            <span class="hidden-inline-mobile">Cambium</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#customer_p2p_block" id="customer_ptp_tab" data-toggle="tab">
                            <span class="hidden-inline-mobile">PTP</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content" style="overflow:auto;">
                    <div class="tab-pane in active" id="customer_p2p_block">
                        <table id="customer_p2p_alertlistingtable" class="datatable table table-striped table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="customer_rad5_block">
                        <table id="customer_rad5_alertlistingtable" class="datatable table table-striped table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="customer_pmp_block">
                        <table id="customer_pmp_alertlistingtable" class="datatable table table-striped table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="customer_wifi_block">
                        <table id="customer_wifi_alertlistingtable" class="datatable table table-striped table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <!-- Custom script for data table-->
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <!-- Library to load tab content on tab click -->
    <script type="text/javascript" src={% static "js/nocout/openTabContentLib.js" %}></script>

    <script type="text/javascript">
        var dataTableInstance = "",
            base_url = "",
            excel_columns = [];

        $(document).ready(function (e) {

            refresh_time = 300;

            /*Set the base url of application for ajax calls*/
            if (window.location.origin) {
                base_url = window.location.origin;
            } else {
                base_url = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port : '');
            }

            /*Make a instance of ourDataTableWidget class */
            dataTableInstance = new ourDataTableWidget();

            // Report Download Feature -- START
            var common_extra_param = "'download_excel': 'yes'",
                common_get_params = "data_source=customer&page_type=customer",
                common_dict_items = "'data_source' : 'customer', 'page_type' : 'customer'",
                pmp_title = "Customer Alert Details: PMP",
                wimax_title = "Customer Alert Details: WiMAX",
                ptp_title = "Customer Alert Details: PTP",
                rad5_title = "Customer Alert Details: Radwin5K"
                pmp_extra_param = "{" + common_dict_items + ",'data_tab' : 'PMP', 'report_title' : '"+pmp_title+"', "+common_extra_param+"}",
                rad5_extra_param = "{" + common_dict_items + ",'data_tab' : 'PMP', 'report_title' : '"+rad5_title+"', "+common_extra_param+"}",
                wimax_extra_param = "{" + common_dict_items + ",'data_tab' : 'WiMAX', 'report_title' : '"+wimax_title+"', "+common_extra_param+"}",
                ptp_extra_param = "{" + common_dict_items + ",'data_tab' : 'P2P', 'report_title' : '"+ptp_title+"', "+common_extra_param+"}";
            
            tables_info = {
                "customer_wifi_tab" : {
                    "app_name" : "alert_center",
                    "table_title" : wimax_title,
                    "header_class_name" : "AlertCenterListing",
                    "data_class_name" : "AlertListingTable",
                    "header_extra_param" : "{'page_type' : 'customer', 'headers_data_key' : 'pmp_wimax_datatable_headers', "+common_extra_param+"}",
                    "data_extra_param" : wimax_extra_param
                },
                "customer_pmp_tab" : {
                    "app_name" : "alert_center",
                    "table_title" : pmp_title,
                    "header_class_name" : "AlertCenterListing",
                    "data_class_name" : "AlertListingTable",
                    "header_extra_param" : "{'page_type' : 'customer', 'headers_data_key' : 'pmp_wimax_datatable_headers', "+common_extra_param+"}",
                    "data_extra_param" : pmp_extra_param
                },
                "customer_ptp_tab" : {
                    "app_name" : "alert_center",
                    "table_title" : ptp_title,
                    "header_class_name" : "AlertCenterListing",
                    "data_class_name" : "AlertListingTable",
                    "header_extra_param" : "{'page_type' : 'customer', 'headers_data_key' : 'ptp_datatable_headers', "+common_extra_param+"}",
                    "data_extra_param" : ptp_extra_param,
                    "excluded" : "['sector_id']"
                },
                "customer_rad5_tab" : {
                    "app_name" : "alert_center",
                    "table_title" : rad5_title,
                    "header_class_name" : "AlertCenterListing",
                    "data_class_name" : "AlertListingTable",
                    "header_extra_param" : "{'page_type' : 'customer', 'headers_data_key' : 'rad5_customer_detail_headers', "+common_extra_param+", 'is_rad5': 1}",
                    "data_extra_param" : pmp_extra_param
                },
            };

            // Report Download Feature -- END

            // Add custom attributes for ajax_url & grid header to the tab i.e 'a' tag. -- START

            var ajax_url_wifi = '{% url "CustomerAlertDetails" %}' + '?' + common_get_params + '&data_tab=WiMAX',
                ajax_url_pmp = '{% url "CustomerAlertDetails" %}' + '?' + common_get_params + '&data_tab=PMP',
                ajax_url_rad5 = '{% url "CustomerAlertDetails" %}' + '?' + common_get_params + '&data_tab=PMP&is_rad5=1' , //Radwin5k is a device type but technology is PMP
                ajax_url_p2p = '{% url "CustomerAlertDetails" %}' + '?' + common_get_params + '&data_tab=P2P';

            $("#customer_wifi_tab").attr("data_url", ajax_url_wifi);
            $("#customer_wifi_tab").attr("data_header", '{{ pmp_wimax_datatable_headers|safe }}');

            $("#customer_rad5_tab").attr("data_url", ajax_url_rad5);
            $("#customer_rad5_tab").attr("data_header", '{{ rad5_customer_detail_headers|safe }}');

            $("#customer_pmp_tab").attr("data_url", ajax_url_pmp);
            $("#customer_pmp_tab").attr("data_header", '{{ pmp_wimax_datatable_headers|safe }}');

            $("#customer_ptp_tab").attr("data_url", ajax_url_p2p);
            $("#customer_ptp_tab").attr("data_header", '{{ ptp_datatable_headers|safe }}');

            // Add custom attributes for ajax_url & grid header to the tab i.e 'a' tag. -- END

            var location_array = window.location.href.split("#");

            if ((location_array.length > 1 && location_array[1] == "") || (location_array.length == 1)) {

                /*Trigger click event on active tab to load its data*/
                $("#customer_ptp_tab").trigger('click', true);
            }
        });

    </script>
{% endblock %}

{% block load_js %}
    <!-- /JAVASCRIPTS -->

    <script>
        jQuery(document).ready(function () {
            App.setPage("");  //Set current page
            App.init(); //Initialise plugins and elements
        });
    </script>
{% endblock %}