{% extends "nocout/base.html" %}
{% block breadcrumb_title %}
    <li>Alert Center</li>
    <li>Customer Alerts</li>
    <li>Latency</li>
{% endblock %}
{% block content_title %}Customer Alerts{% endblock %}
{% block content_description %}Customer Alerts List{% endblock %}
{% load staticfiles %}

{% block content %}
    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-bell"></i>CUSTOMER ALERT - LATENCY</h4>

            <div class="tools hidden-xs">
                <a href="#box-config" data-toggle="modal" class="config">
                    <i class="fa fa-cog"></i>
                </a>
                <a href="javascript:;" class="reload">
                    <i class="fa fa-refresh"></i>
                </a>
            </div>
        </div>

        <div class="box-body">
            <div id="customerAlertContainer">
                
                <div class="tabbable header-tabs">
                    <ul class="nav nav-tabs">
                        <li><a href="#customer_ptp_block" data-toggle="tab"><span class="hidden-inline-mobile">PTP</span></a></li>
                        <li><a href="#customer_pmp_block" data-toggle="tab"><span class="hidden-inline-mobile">PMP</span></a></li>
                        <li class="active"><a href="#customer_wimax_block" data-toggle="tab"><span class="hidden-inline-mobile">Wimax</span></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade" id="customer_ptp_block">
                            <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="">
                                <thead>
                                    <th>Severity</th>
                                    <th>City</th>
                                    <th>Technology</th>
                                    <th>Circuit ID</th>
                                    <th>BS Name</th>
                                    <th>IDU IP</th>
                                    <th>Sector ID</th>
                                    <th>% Drop</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                        <div class="tab-pane fade" id="customer_pmp_block">
                            <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="">
                                <thead>
                                    <th>Severity</th>
                                    <th>City</th>
                                    <th>Technology</th>
                                    <th>Circuit ID</th>
                                    <th>BS Name</th>
                                    <th>IDU IP</th>
                                    <th>Sector ID</th>
                                    <th>% Drop</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                        <div class="tab-pane fade in active" id="customer_wimax_block">
                            <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="">
                                <thead>
                                    <th>Severity</th>
                                    <th>City</th>
                                    <th>Technology</th>
                                    <th>Circuit ID</th>
                                    <th>BS Name</th>
                                    <th>IDU IP</th>
                                    <th>Sector ID</th>
                                    <th>% Drop</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}


{% block jquery %}
<script type="text/javascript">
    /*This is a temporary code which is replace when data for data table is provided*/
    $(".datatable").DataTable();

</script>
{% endblock %}

{% block load_js %}
<!-- /JAVASCRIPTS -->

<script>
    jQuery(document).ready(function () {
        App.setPage("");  //Set current page
        App.init(); //Initialise plugins and elements
    });
</script>
{% endblock %}