{% extends "nocout/base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-bell-o'></i> Alert Center" "javascript:;" %}
    {% breadcrumb_safe "Alert Details" "javascript:;" %}
    {% breadcrumb_safe "Network Alert Details" "network_alert_details" %}
    {% breadcrumb_safe "PTP BH" "network_alert_details" %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% load url from future %}
{% block content_title %}Network Details{% endblock %}
{% block content_description %} {% endblock %}
{% load staticfiles %}
{% block css %}
    <!-- JQUERY UI-->
    <link rel="stylesheet" type="text/css" href={% static "js/jquery-ui-1.10.3.custom/css/custom-theme/jquery-ui-1.10.3.custom.min.css" %}>
{% endblock %}


{% block content %}
    <style type="text/css">
        .box .header-tabs .nav-tabs > li:first-child {
            border-right: 1px inset #c6c6ce !important;
            padding-left: 0px;
        }
        .box-title {
            padding-bottom: 0px !important;
        }
        .box .header-tabs .nav-tabs > li:last-child {
            border-right: 0px none !important;
            padding-right: 0px;
        }
        .box .header-tabs .alert_detail_tabs > li,
        .box .header-tabs .alert_detail_tabs > li > a {
            margin: 0px;
        }
        .box .header-tabs .alert_detail_tabs > li > a {
            border-bottom: 3px solid transparent;
        }
        .box .header-tabs .alert_detail_tabs > li {
            padding: 0px 5px;
            /*border-bottom: 0px solid #c6c6ce;*/
        }
        .perfContainerBlock .box-title .pull-right .list-inline > li {
            max-width: 200px !important;
        }
        .perfContainerBlock .header-tabs {
            overflow: hidden;
            margin: 0px;
        }
        .box .header-tabs .alert_detail_tabs {
            top: 0px;
        }
        .alert_detail_tabs {
            width: 2000px;
        }
        .alert_detail_tabs li {
            float: left !important;
        }
        .header-tabs {
            overflow: hidden;
        }
        .paging_arrow {
            position: absolute;
            left: 12px;
            top: 10px;
            font-size: 25px;
            cursor: pointer;
        }
        .right_arrow {
            right: 5px;
            left: auto;
        }
        #nwAlert_detail_container {
            position: relative;
        }
    </style>
    <div class="box border lite">
        <div id="tableContainer_div" class="box-title" style="position:relative;">
            <i class="fa fa-arrow-circle-o-left text-ttpl paging_arrow hide">&nbsp;</i>
            <div class="tabbable header-tabs" style="width: 94%; margin:0px auto;">
                <!-- nav-tab Start -->
                <ul class="nav nav-tabs alert_detail_tabs">
                    <li class="active">
                      <a href="#network_ptp_block" id="network_ptp_tab" data-toggle="tab">
                        <span class="hidden-inline-mobile">PTP BH</span>
                      </a>
                    </li>
                    <li>
                      <a href="#network_wimax_block" id="network_wimax_tab" data-toggle="tab">
                        <span class="hidden-inline-mobile">Wimax BS</span>
                      </a>
                    </li>
                    <li>
                      <a href="#network_pmp_block" id="network_pmp_tab" data-toggle="tab">
                        <span class="hidden-inline-mobile">PMP BS</span>
                      </a>
                    </li>
                    <li>
                      <a href="#network_temp_block" id="network_temp_tab" data-toggle="tab">
                        <span class="hidden-inline-mobile">WiMAX Temp.</span>
                      </a>
                    </li>
                    <li>
                      <a href="#network_bh_temp_block" id="network_bh_temp_tab" data-toggle="tab">
                        <span class="hidden-inline-mobile">BH Temp.</span>
                      </a>
                    </li>
                    <li>
                      <a href="#network_converter_block" id="network_converter_tab" data-toggle="tab">
                        <span class="hidden-inline-mobile">Backhaul</span>
                      </a>
                    </li>
                    <li>
                      <a href="#wimax_ulIssue_block" id="wimax_ulIssue_tab" data-toggle="tab">
                        <span class="hidden-inline-mobile">WiMAX UL Issue</span>
                      </a>
                    </li>
                    {% if settings.SHOW_SPRINT3 %}
                    <li>
                      <a href="#pmp_ulIssue_block" id="pmp_ulIssue_tab" data-toggle="tab">
                        <span class="hidden-inline-mobile">Cambium UL Issue</span>
                      </a>
                    </li>
                    <li>
                      <a href="#rad5_ulIssue_block" id="rad5_ulIssue_tab" data-toggle="tab">
                        <span class="hidden-inline-mobile">Radwin5K UL Issue</span>
                      </a>
                    </li>
                    {% else %}
                    <li>
                      <a href="#pmp_ulIssue_block" id="pmp_ulIssue_tab" data-toggle="tab">
                        <span class="hidden-inline-mobile">PMP UL Issue</span>
                      </a>
                    </li>
                    {% endif %}
                    <li>
                      <a href="#network_sectorUtil_block" id="network_sectorUtil_tab" data-toggle="tab">
                        <span class="hidden-inline-mobile">Sector Util.</span>
                      </a>
                    </li>
                    <li>
                      <a href="#network_rad5_sectorUtil_block" id="network_rad5_sectorUtil_tab" data-toggle="tab">
                        <span class="hidden-inline-mobile">Radwin5K Sector Util.</span>
                      </a>
                    </li>
                    <li>
                      <a href="#network_bhUtil_block" id="network_bhUtil_tab" data-toggle="tab">
                        <span class="hidden-inline-mobile">BH Util.</span>
                      </a>
                    </li>
                </ul>
                <!-- nav-tab End -->
            </div>
            <i class="fa fa-arrow-circle-o-right text-ttpl right_arrow paging_arrow hide">&nbsp;</i>
        </div>
        <div class="box-body">
            <!-- tab-content Start -->
            <div class="tab-content" style="overflow:auto;">
                <!-- network_bhUtil_block Start -->
                <div class="tab-pane fade" id="network_bhUtil_block">
                    <table class="datatable table table-striped table-bordered table-hover" id="network_bhUtil_block_table">
                        <thead></thead>
                        <tbody></tbody>
                    </table>

                </div>
                <!-- network_bhUtil_block End -->

                <!-- network_sectorUtil_block Start -->
                <div class="tab-pane fade" id="network_sectorUtil_block">
                    <table class="datatable table table-striped table-bordered table-hover" id="network_sectorUtil_block_table">
                        <thead></thead>
                        <tbody></tbody>
                    </table>

                </div>
                <!-- network_sectorUtil_block End -->

                <!-- network_rad5_sectorUtil_block Start -->
                <div class="tab-pane fade" id="network_rad5_sectorUtil_block">
                    <table class="datatable table table-striped table-bordered table-hover" id="network_rad5_sectorUtil_block_table">
                        <thead></thead>
                        <tbody></tbody>
                    </table>

                </div>
                <!-- network_rad5_sectorUtil_block End -->

                <!-- pmp_ulIssue_block Start -->
                <div class="tab-pane fade" id="pmp_ulIssue_block">
                    <table class="datatable table table-striped table-bordered table-hover" id="pmp_ulIssue_block_table">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!-- pmp_ulIssue_block End -->

                <!-- rad5_ulIssue_block Start -->
                <div class="tab-pane fade" id="rad5_ulIssue_block">
                    <table class="datatable table table-striped table-bordered table-hover" id="rad5_ulIssue_block_table">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!-- pmp_ulIssue_block End -->


                <!-- wimax_ulIssue_block Start -->
                <div class="tab-pane fade" id="wimax_ulIssue_block">
                    <table class="datatable table table-striped table-bordered table-hover" id="wimax_ulIssue_block_table">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!-- wimax_ulIssue_block End -->

                <!-- network_ptp_block Start -->
                <div class="tab-pane fade in active" id="network_ptp_block">
                    <table class="datatable table table-striped table-bordered table-hover" id="network_ptp_block_table">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!-- network_ptp_block End -->

                <!-- network_converter_block Start -->
                <div class="tab-pane fade" id="network_converter_block">
                    <table class="datatable table table-striped table-bordered table-hover" id="nnetwork_converter_blocktable">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!-- network_converter_block End -->

                <!-- network_pmpBs_block Start -->
                <div class="tab-pane fade" id="network_pmp_block">
                    <table class="datatable table table-striped table-bordered table-hover" id="network_pmp_block_table">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!-- network_pmpBs_block End -->

                <!-- network_wimaxBs_block Start -->
                <div class="tab-pane fade" id="network_wimax_block">
                    <table class="datatable table table-striped table-bordered table-hover" id="network_wimax_block_table">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!-- network_wimaxBs_block End -->
                
                <!-- network_bh_temp_block Start -->
                <div class="tab-pane fade" id="network_bh_temp_block">
                    <table class="datatable table table-striped table-bordered table-hover" id="network_bh_temp_block_table">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!-- network_bh_temp_block End -->

                <!-- network_temp_block Start -->
                <div class="tab-pane fade" id="network_temp_block">
                    <table class="datatable table table-striped table-bordered table-hover" id="network_temp_block_table">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!-- network_temp_block End -->

                <!-- all_network Start -->
                <div class="tab-pane fade" id="all_network">
                    <table class="datatable table table-striped table-bordered table-hover" id=""> <thead>
                        <th></th>
                        <th>Received Time</th>
                        <th>Event Type</th>
                        <th>Event Name</th>
                        <th>Device Type</th>
                        <th>Host Alias</th>
                        <th>IP Address</th>
                        <th>Description</th>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!-- all_network End -->
            </div>
            <!-- tab-content END -->
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}


{% block jquery %}
    <!-- Custom script for data table-->
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <!-- Library to load tab content on tab click -->
    <script type="text/javascript" src={% static "js/nocout/openTabContentLib.js" %}></script>
    <!-- Custom script for data table-->
    <script type="text/javascript">
        var dataTableInstance = "",
            base_url = "",
            excel_columns = [],
            page_type = 'network';

        $(document).ready(function () {

            refresh_time = 300;

            /*Set the base url of application for ajax calls*/
            if (window.location.origin) {
                base_url = window.location.origin;
            } else {
                base_url = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port : '');
            }

            /*Make a instance of ourDataTableWidget class */
            dataTableInstance = new ourDataTableWidget();

            /*Grid headers object*/
            var gridHeadersObj = $.parseJSON('{{ datatable_headers|safe }}');

            createTabsPaging('ul.alert_detail_tabs', 'li');

            // Grid Data Ajax URL -- START

            var ajax_url_wifi = '{% url "NetworkAlertDetails" %}' + '?data_source=WiMAX',
                ajax_url_pmp = '{% url "NetworkAlertDetails" %}' + '?data_source=PMP',
                ajax_url_p2p = '{% url "NetworkAlertDetails" %}' + '?data_source=P2P',
                ajax_url_temp = '{% url "NetworkAlertDetails" %}' + '?data_source=Temperature',
                ajax_url_bh_temp = '{% url "NetworkAlertDetails" %}' + '?data_source=Temperature_bh',
                ajax_url_con = '{% url "NetworkAlertDetails" %}' + '?data_source=Backhaul',
                ajax_url_pmp_ul = '{% url "NetworkAlertDetails" %}' + '?data_source=PMPULIssue',
                ajax_url_rad5_ul = '{% url "NetworkAlertDetails" %}' + '?data_source=RAD5ULIssue',
                ajax_url_wimax_ul = '{% url "NetworkAlertDetails" %}' + '?data_source=WiMAXULIssue',
                ajax_url_sectorutil = '{% url "SectorAugmentationAlertsListing" %}' + '?call_from_alert=1&sec_util_tab=1',
                ajax_url_rad5_sectorutil = '{% url "SectorAugmentationAlertsListing" %}' + '?is_rad5=1&technology=pmp&call_from_alert=1',
                ajax_url_bhutil = '{% url "BackhaulAugmentationAlertsListing" %}';

            if (ajax_url_bhutil.indexOf('?') > -1) {
                ajax_url_bhutil += '&is_alert_page=1';
            } else {
                ajax_url_bhutil += '?is_alert_page=1';
            }

            // Grid Data Ajax URL -- END

            // Report Download Feature -- START

            var common_extra_param = "'download_excel': 'yes'",
                network_bhUtil_title = "Network Alert Details: BH Utilization",
                network_sectorUtil_title = "Network Alert Details: Sector Utilization",
                network_rad5_sectorUtil_title = "Network Alert Details: Radwin5K Sector Utilization",
                pmp_ulIssue_title = "Network Alert Details: PMP UL Issues",
                rad5_ulIssue_title = "Network Alert Details: Radwin5K UL Issues",
                wimax_ulIssue_title = "Network Alert Details: WiMAX UL Issues",
                converter_title = "Network Alert Details: Backhaul",
                bh_temp_title = "Network Alert Details: BH Temperature",
                temp_title = "Network Alert Details: WiMAX Temperature",
                wimax_title = "Network Alert Details: WiMAX BS",
                pmp_title = "Network Alert Details: PMP BS",
                ptp_title = "Network Alert Details: PTP BH",
                pmp_ulIssue_extra_param = "{'data_source' : 'PMPULIssue', 'report_title' : '"+pmp_ulIssue_title+"', "+common_extra_param+"}",
                rad5_ulIssue_extra_param = "{'data_source' : 'RAD5ULIssue', 'report_title' : '"+rad5_ulIssue_title+"', "+common_extra_param+"}",
                wimax_ulIssue_extra_param = "{'data_source' : 'WiMAXULIssue', 'report_title' : '"+wimax_ulIssue_title+"', "+common_extra_param+"}",
                converter_extra_param = "{'data_source' : 'Backhaul', 'report_title' : '"+converter_title+"', "+common_extra_param+"}",
                bh_temp_extra_param = "{'data_source' : 'Temperature_bh', 'report_title' : '"+bh_temp_title+"', "+common_extra_param+"}",
                temp_extra_param = "{'data_source' : 'Temperature', 'report_title' : '"+temp_title+"' , "+common_extra_param+"}",
                wimax_extra_param = "{'data_source' : 'WiMAX', 'report_title' : '"+wimax_title+"',  "+common_extra_param+"}",
                pmp_extra_param = "{'data_source' : 'PMP', 'report_title' : '"+pmp_title+"', "+common_extra_param+"}",
                ptp_extra_param = "{'data_source' : 'P2P', 'report_title' : '"+ptp_title+"' , "+common_extra_param+"}",
                common_hidden_columns = "'circuit_id', 'customer_name'";

            // EXTRA PARAMS FOR REPORT DOWNLOAD FEATURE -- END

            tables_info = {
                "network_bhUtil_tab" : {
                    "app_name" : "capacity_management",
                    "table_title" : network_bhUtil_title,
                    "header_class_name" : "BackhaulAugmentationAlertsHeaders",
                    "data_class_name" : "BackhaulAugmentationAlertsListing",
                    "header_extra_param" : "{"+common_extra_param+"}",
                    "data_extra_param" : "{'report_title' : '"+network_bhUtil_title+"', "+common_extra_param+"}",
                    "excluded" : "['id','organization__alias', 'current_out_per', 'current_in_per', 'backhaul_capacity', 'backhaul__bh_type', 'backhaul__bh_connectivity']"
                },
                "network_sectorUtil_tab" : {
                    "app_name" : "capacity_management",
                    "table_title" : network_sectorUtil_title,
                    "header_class_name" : "SectorAugmentationAlertsHerders",
                    "data_class_name" : "SectorAugmentationAlertsListing",
                    "header_extra_param" : "{"+common_extra_param+"}",
                    "data_extra_param" : "{'report_title' : '"+network_sectorUtil_title+"', "+common_extra_param+"}",
                    "excluded" : "['id','sector__sector_id','organization__alias']"
                },
                "network_rad5_sectorUtil_tab" : {
                    "app_name" : "capacity_management",
                    "table_title" : network_rad5_sectorUtil_title,
                    "header_class_name" : "NetworkAlertDetailHeaders",
                    "data_class_name" : "SectorAugmentationAlertsListing",
                    "header_extra_param" : "{'headers_data_key' : 'rad5_sector_util_headers',"+common_extra_param+"}",
                    "data_extra_param" : "{'report_title' : '"+network_rad5_sectorUtil_title+"', "+common_extra_param+", 'is_rad5':1, 'technology': 'pmp', 'call_from_alert':1}",
                    "excluded" : "['id','sector__sector_id','organization__alias']"
                },
                "pmp_ulIssue_tab" : {
                    "app_name" : "alert_center",
                    "table_title" : pmp_ulIssue_title,
                    "header_class_name" : "NetworkAlertDetailHeaders",
                    "data_class_name" : "GetNetworkAlertDetail",
                    "header_extra_param" : "{'headers_data_key' : 'ul_issue_headers',"+common_extra_param+"}",
                    "data_extra_param" : pmp_ulIssue_extra_param,
                    "excluded" : "["+common_hidden_columns+", 'refer']"
                },
                "wimax_ulIssue_tab" : {
                    "app_name" : "alert_center",
                    "table_title" : wimax_ulIssue_title,
                    "header_class_name" : "NetworkAlertDetailHeaders",
                    "data_class_name" : "GetNetworkAlertDetail",
                    "header_extra_param" : "{'headers_data_key' : 'ul_issue_headers',"+common_extra_param+"}",
                    "data_extra_param" : wimax_ulIssue_extra_param,
                    "excluded" : "["+common_hidden_columns+"]"
                },
                "network_converter_tab" : {
                    "app_name" : "alert_center",
                    "table_title" : converter_title,
                    "header_class_name" : "NetworkAlertDetailHeaders",
                    "data_class_name" : "GetNetworkAlertDetail",
                    "header_extra_param" : "{'headers_data_key' : 'backhaul_headers', "+common_extra_param+"}",
                    "data_extra_param" : converter_extra_param,
                    "excluded" : "['sector_id',"+common_hidden_columns+"]"
                },
                "network_bh_temp_tab" : {
                    "app_name" : "alert_center",
                    "table_title" : bh_temp_title,
                    "header_class_name" : "NetworkAlertDetailHeaders",
                    "data_class_name" : "GetNetworkAlertDetail",
                    "header_extra_param" : "{'headers_data_key' : 'bh_headers',"+common_extra_param+"}",
                    "data_extra_param" : bh_temp_extra_param
                },
                "network_temp_tab" : {
                    "app_name" : "alert_center",
                    "table_title" : temp_title,
                    "header_class_name" : "NetworkAlertDetailHeaders",
                    "data_class_name" : "GetNetworkAlertDetail",
                    "header_extra_param" : "{"+common_extra_param+"}",
                    "data_extra_param" : temp_extra_param,
                    "excluded" : "["+common_hidden_columns+"]"
                },
                "network_wimax_tab" : {
                    "app_name" : "alert_center",
                    "table_title" : wimax_title,
                    "header_class_name" : "NetworkAlertDetailHeaders",
                    "data_class_name" : "GetNetworkAlertDetail",
                    "header_extra_param" : "{"+common_extra_param+"}",
                    "data_extra_param" : wimax_extra_param,
                    "excluded" : "["+common_hidden_columns+"]"
                },
                "network_pmp_tab" : {
                    "app_name" : "alert_center",
                    "table_title" : pmp_title,
                    "header_class_name" : "NetworkAlertDetailHeaders",
                    "data_class_name" : "GetNetworkAlertDetail",
                    "header_extra_param" : "{"+common_extra_param+"}",
                    "data_extra_param" : pmp_extra_param,
                    "excluded" : "["+common_hidden_columns+"]"
                },
                "network_ptp_tab" : {
                    "app_name" : "alert_center",
                    "table_title" : ptp_title,
                    "header_class_name" : "NetworkAlertDetailHeaders",
                    "data_class_name" : "GetNetworkAlertDetail",
                    "header_extra_param" : "{"+common_extra_param+"}",
                    "data_extra_param" : ptp_extra_param,
                    "excluded" : "['sector_id']"
                },
                "rad5_ulIssue_tab" : {
                    "app_name" : "alert_center",
                    "table_title" : rad5_ulIssue_title,
                    "header_class_name" : "NetworkAlertDetailHeaders",
                    "data_class_name" : "GetNetworkAlertDetail",
                    "header_extra_param" : "{'headers_data_key' : 'rad5_ul_issue_headers',"+common_extra_param+"}",
                    "data_extra_param" : rad5_ulIssue_extra_param,
                    "excluded" : "["+common_hidden_columns+", 'refer']"
                },
            };

            // Report Download Feature -- END


            // Add custom attributes for ajax_url & grid header to the tab i.e 'a' tag. -- START

            $("#network_bhUtil_tab").attr("data_url", ajax_url_bhutil);
            $("#network_bhUtil_tab").attr("data_header", '{{ bh_utils_headers|safe }}');

            $("#network_sectorUtil_tab").attr("data_url", ajax_url_sectorutil);
            $("#network_sectorUtil_tab").attr("data_header", '{{ sector_utils_headers|safe }}');

            $("#network_rad5_sectorUtil_tab").attr("data_url", ajax_url_rad5_sectorutil);
            $("#network_rad5_sectorUtil_tab").attr("data_header", '{{ rad5_sector_util_headers|safe }}');

            $("#pmp_ulIssue_tab").attr("data_url", ajax_url_pmp_ul);
            $("#pmp_ulIssue_tab").attr("data_header", '{{ ul_issue_headers|safe }}');

            $("#rad5_ulIssue_tab").attr("data_url", ajax_url_rad5_ul);
            $("#rad5_ulIssue_tab").attr("data_header", '{{ rad5_ul_issue_headers|safe }}');

            $("#wimax_ulIssue_tab").attr("data_url", ajax_url_wimax_ul);
            $("#wimax_ulIssue_tab").attr("data_header", '{{ ul_issue_headers|safe }}');

            $("#network_converter_tab").attr("data_url", ajax_url_con);
            $("#network_converter_tab").attr("data_header", '{{ backhaul_headers|safe }}');

            $("#network_bh_temp_tab").attr("data_url", ajax_url_bh_temp);
            $("#network_bh_temp_tab").attr("data_header", '{{ bh_headers|safe }}');

            $("#network_temp_tab").attr("data_url", ajax_url_temp);
            $("#network_temp_tab").attr("data_header", '{{ datatable_headers|safe }}');

            $("#network_wimax_tab").attr("data_url", ajax_url_wifi);
            $("#network_wimax_tab").attr("data_header", '{{ datatable_headers|safe }}');

            $("#network_pmp_tab").attr("data_url", ajax_url_pmp);
            $("#network_pmp_tab").attr("data_header", '{{ datatable_headers|safe }}');

            $("#network_ptp_tab").attr("data_url", ajax_url_p2p);
            $("#network_ptp_tab").attr("data_header", '{{ datatable_headers|safe }}');

            // Add custom attributes for ajax_url & grid header to the tab i.e 'a' tag. -- END

            var location_array = window.location.href.split("#");

            if ((location_array.length > 1 && location_array[1] == "") || (location_array.length == 1)) {
                /*Trigger click event on active tab to load its data*/
                $("#network_ptp_tab").trigger('click', true);
            }
        });
    </script>

{% endblock %}

{% block load_js %}
    <!-- /JAVASCRIPTS -->

    <script>
        jQuery(document).ready(function () {
            App.setPage("");  //Set current page
            App.init(); //Initialise plugins and elements
        });
    </script>
{% endblock %}
