{% extends "nocout/base.html" %}
{% block breadcrumb_title %}
    <li>Alert Center</li>
    <li>Network Alerts</li>
{% endblock %}
{% block content_title %}Network Alerts{% endblock %}
{% block content_description %}Network Alerts List{% endblock %}
{% load staticfiles %}

{% block content %}

    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-bell"></i>NETWORK ALERT</h4>
        </div>

        <div class="box-body">
            <div id="networkAlertContainer">
                
                <div class="tabbable header-tabs">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#network_alert_latency" data-toggle="tab"><span class="hidden-inline-mobile">Latency</span></a></li>
                        <li><a href="#network_alert_packet" data-toggle="tab"><span class="hidden-inline-mobile">Packet Drop</span></a></li>
{#                        <li><a href="#network_alert_service" data-toggle="tab"><span class="hidden-inline-mobile">Service Impact Alerts</span></a></li>#}
{#                        <li><a href="#network_alert_down" data-toggle="tab"><span class="hidden-inline-mobile">Down</span></a></li>#}
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="network_alert_latency">
                            <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="latencylistingtable">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="network_alert_packet">
                            <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="packetdroplistingtable">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>
{#                        <div class="tab-pane fade" id="network_alert_service">#}
{#                            <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="servicealertslistingtable">#}
{#                                <thead></thead>#}
{#                                <tbody></tbody>#}
{#                            </table>#}
{#                        </div>#}
{#                        <div class="tab-pane fade" id="network_alert_down">#}
{#                            <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="downlistingtable">#}
{#                                <thead></thead>#}
{#                                <tbody></tbody>#}
{#                            </table>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

{% endblock %}

{% block jquery %}
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
<script type="text/javascript">

    /*This is a temporary code which is replace when data for data table is provided*/
    $(document).ready(function (e) {
            /*Make a instance of ourDataTableWidget class */
            var dataTableInstance = new ourDataTableWidget();
            /*Grid headers object*/
            var gridHeadersObj_latency = $.parseJSON('{{ datatable_headers_latency|safe }}');
            var gridHeadersObj_packetdrop = $.parseJSON('{{ datatable_headers_packetdrop|safe }}');
{#            var gridHeadersObj_down = $.parseJSON('{{ datatable_headers_down|safe }}');#}
{#            var gridHeadersObj_servicealerts = $.parseJSON('{{ datatable_headers_servicealerts|safe }}');#}
            /*Ajax url to get grid data*/
            var ajax_url_latency = '{% url "LatencyListingTable" %}';
            var ajax_url_packet_drop = '{% url "PacketDropListingTable" %}';
{#            var ajax_url_down = '{% url "DownListingTable" %}';#}
{#            var ajax_url_servicealerts = '{% url "ServiceAlertsListingTable" %}';#}
            /*Call createDataTable function of ourDataTableWidget class*/
            var destroy=false;
            dataTableInstance.createDataTable("latencylistingtable", gridHeadersObj_latency, ajax_url_latency, destroy);
            dataTableInstance.createDataTable("packetdroplistingtable", gridHeadersObj_packetdrop, ajax_url_packet_drop, destroy);
{#            dataTableInstance.createDataTable("downlistingtable", gridHeadersObj_down, ajax_url_down);#}
{#            dataTableInstance.createDataTable("servicealertslistingtable", gridHeadersObj_servicealerts, ajax_url_servicealerts);#}
        });
</script>
{% endblock %}

{% block load_js %}
<!-- /JAVASCRIPTS -->

<script>
    jQuery(document).ready(function () {
        App.setPage("");  //Set current page
        App.init(); //Initialise plugins and elements
    });
</script>
{% endblock %}