{% extends "nocout/base.html" %}
{% block breadcrumb_title %}
    <li>Alert Center</li>
    <li>Network Alerts</li>
{% endblock %}
{% block content_title %}Network Alerts{% endblock %}
{% block content_description %}Network Alerts List{% endblock %}
{% load staticfiles %}

{% block content %}

    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-bell"></i>NETWORK ALERT</h4>

            <div class="tools hidden-xs">
                <a href="#box-config" data-toggle="modal" class="config">
                    <i class="fa fa-cog"></i>
                </a>
                <a href="javascript:;" class="reload">
                    <i class="fa fa-refresh"></i>
                </a>
            </div>
        </div>

        <div class="box-body">
            <div id="networkAlertContainer">
                
                <div class="tabbable header-tabs">
                    <ul class="nav nav-tabs">
                        <li><a href="#network_alert_latency" data-toggle="tab"><span class="hidden-inline-mobile">Latency</span></a></li>
                        <li><a href="#network_alert_packet" data-toggle="tab"><span class="hidden-inline-mobile">Packet Drop</span></a></li>
                        <li><a href="#network_alert_service" data-toggle="tab"><span class="hidden-inline-mobile">Service Impack Alerts</span></a></li>
                        <li class="active"><a href="#network_alert_down" data-toggle="tab"><span class="hidden-inline-mobile">Down</span></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade" id="network_alert_latency">
                            <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="">
                                <thead>
                                    <th>Severity</th>
                                    <th>IP</th>
                                    <th>BS Name</th>
                                    <th>City</th>
                                    <th>Max</th>
                                    <th>Average</th>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="network_alert_packet">
                            <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="">
                                <thead>
                                    <th>Severity</th>
                                    <th>IP</th>
                                    <th>BS Name</th>
                                    <th>City</th>
                                    <th>% Loss</th>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="network_alert_service">
                            <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="">
                                <thead>
                                    <th>Severity</th>
                                    <th>IP</th>
                                    <th>BS Name</th>
                                    <th>City</th>
                                    <th>Alert Name</th>
                                    <th>Time</th>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade in active" id="network_alert_down">
                            <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="">
                                <thead>
                                    <th>Severity</th>
                                    <th>IP</th>
                                    <th>BS Name</th>
                                    <th>City</th>
                                    <th>Time</th>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

{% endblock %}

{% block jquery %}
<script type="text/javascript">
    /*This is a temporary code which is replace when data for data table is provided*/
    $(".datatable").DataTable();

</script>
{% endblock %}

{% block load_js %}
<!-- /JAVASCRIPTS -->

<script>
    jQuery(document).ready(function () {
        App.setPage("");  //Set current page
        App.init(); //Initialise plugins and elements
    });
</script>
{% endblock %}