{% extends "nocout/base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-bell-o'></i> Alert Center" "javascript:;" %}
    {% breadcrumb_safe page_type|title|add:" Alert" "javascript:;" %}
    {% breadcrumb_safe data_source|title  "init_alert_listing"  page_type data_source %}

    {% if page_type == 'network' and device_technology_name|upper == 'P2P'  %}
        {% breadcrumb_safe "PTP BH"  "init_alert_listing"  page_type data_source %}
    {% else %}
        {% if page_type == 'customer' and device_technology_name|upper == 'P2P'  %}
            {% breadcrumb_safe "PTP"  "init_alert_listing"  page_type data_source %}
        {% else %}
            {% breadcrumb_safe breadcrumb_title|upper  "init_alert_listing"  page_type data_source %}
        {% endif %}
    {% endif %}


    {% breadcrumb_safe device_alias|upper "javascript:;" %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% load staticfiles %}
{% block css %}
    <!-- JQUERY UI-->
    <link rel="stylesheet" type="text/css" href={% static "js/jquery-ui-1.10.3.custom/css/custom-theme/jquery-ui-1.10.3.custom.min.css" %}>
    
{% endblock %}

{% load sds %}

{% block content %}
    <style>
        .perfContainerBlock .box-title .pull-right .list-inline > li {
            max-width: 200px !important;
        }
        .top_perf_tabs {
            top: 0px !important;
            float: left;
            padding-left: 15px;
            margin-right: 0px !important;
        }
        .box .header-tabs .top_perf_tabs > li > a {
            padding: 7px 6px !important;
        }
        .top_perf_tab_content, .top_perf_tab_content .panel .panel-body {
            overflow: auto;
        }
    </style>

    <div class="" id="status_container" style="overflow:auto;">
        <div style="overflow:auto;">
            <table id="status_table" class="table table-bordered" style="background:#FFFFFF;margin-bottom:0px !important;">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
        <div id="latestStatusContainer">
            <h3><i class="fa fa-spinner fa-spin" title="Fetching Current Status"></i></h3>  
        </div>
    </div>

    <!--Single Device Live Perf Start-->
    <div class='box border lite perfContainerBlock'>
        <div class='box-title'>
            <h4 class="hide"><i class='fa fa-file-text'></i>{{ device_alias }}</h4>
            <!-- Filters Block - Start-->
            <ul class="list-unstyled list-inline" style="margin-bottom:0px;">
                <li class="date_range_filter_container">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                        <input type="text" name="reservation" id="reservationtime" class="form-control input-large search-query" value=""readonly/>
                    </div>
                </li>
                <li>
                    <button id="apply_filter" class="btn btn-default btn-sm">
                        <i class="fa fa-filter"></i> Apply Filter
                    </button>
                </li>
                <li>
                    <button id="reset_filter" class="btn btn-default btn-sm">
                        <i class="fa fa-times text-danger"></i> Reset Filter
                    </button>
                </li>
            </ul>
            <!-- Filters Block - End-->
            <div class="clearfix"></div>
        </div>
        <div class='box-body' id="single_device_alert_container">
            <div class="tabbable header-tabs">
                <ul id="" class="nav nav-tabs top_perf_tabs">
                    <li>
                        <a href="#network_alert_service_block" id="network_alert_service_tab" title="Polling Alerts" data-toggle="tab">
                            <span class="hidden-inline-mobile">Polling Alerts</span>
                        </a>
                    </li>
                    <li>
                        <a href="#network_alert_down_block" id="network_alert_down_tab" title="Down" data-toggle="tab">
                            <span class="hidden-inline-mobile">Down</span>
                        </a>
                    </li>
                    <li>
                        <a href="#network_alert_packet_block" id="network_alert_packet_tab" title="Packet Drop" data-toggle="tab">
                            <span class="hidden-inline-mobile">Packet Drop</span>
                        </a>
                    </li>
                    <li>
                        <a href="#network_alert_latency_block" id="network_alert_latency_tab" title="Latency" data-toggle="tab">
                            <span class="hidden-inline-mobile">Latency</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#network_alert_ping_block" id="network_alert_ping_tab" title="Ping Details" data-toggle="tab">
                            <span class="hidden-inline-mobile">Ping Details</span>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="tab-content top_perf_tab_content">
                <div class="tab-pane" id="network_alert_service_block">
                    <div class="panel panel-default inner_tab_container">
                        <div class="panel-body">
                            <table id="network_alert_service_table" class="datatable table table-striped table-bordered table-hover">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="network_alert_down_block">
                    <div class="panel panel-default inner_tab_container">
                        <div class="panel-body">
                            <table id="network_alert_down_table" class="datatable table table-striped table-bordered table-hover">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="network_alert_packet_block">
                    <div class="panel panel-default inner_tab_container">
                        <div class="panel-body">
                            <table id="network_alert_packet_table" class="datatable table table-striped table-bordered table-hover">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="network_alert_latency_block">
                    <div class="panel panel-default inner_tab_container">
                        <div class="panel-body">
                            <table id="network_alert_latency_table" class="datatable table table-striped table-bordered table-hover">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" id="network_alert_ping_block">
                    <div class="panel panel-default inner_tab_container">
                        <div class="panel-body">
                            <table id="network_alert_ping_table" class="datatable table table-striped table-bordered table-hover">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Custom script for data table-->
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <script type="text/javascript" src={% static "js/bootstrap-daterangepicker/moment.min.js" %}></script>
    <script type="text/javascript" src={% static "js/bootstrap-daterangepicker/daterangepicker.min.js" %}></script>
    <script src={% static "js/nocout/nocoutPerfLib.js" %}></script>
    <!--Our Common Utilities Script-->
    <script src={% static "js/nocout/nocoutUtilsLib.js" %}></script>
    <!-- Library to load tab content on tab click-->
    <script type="text/javascript" src={% static "js/nocout/openTabContentLib.js" %}></script>

    <script type="text/javascript">

        var startDate = "",
            endDate = "",
            base_url = "",
            perfInstance = "",
            current_device_id = "",
            service_name = "",
            excel_columns = [],
            dateRangePicker_domId = "reservationtime",
            isDateFilterApplied = false,
            bold_class = "",
            is_dr_device = false,
            severity_wise_data_api = '',
            current_device = '';

        $(document).ready(function (e) {

            var device_status_url = "{{ get_status_url }}" ? $.trim("{{ get_status_url }}") : "",
                service_status_url = "{{ service_status_url }}" ? $.trim("{{ service_status_url }}") : "",
                statusUrl = "",
                page_type = "{{ page_type }}",
                inventory_page_url = "{{ inventory_page_url }}" ? $.trim("{{ inventory_page_url }}") : "",
                perf_page_url = "{{ perf_page_url }}" ? $.trim("{{ perf_page_url }}") : "",
                device_technology = "{{ device_technology_name }}",
                gridHeadersObj = '{{ table_headers|safe }}',
                ping_gridHeadersObj = '{{ ping_table_headers|safe }}',
                polling_alert_gridHeadersObj = '{{ polling_alerts_headers|safe }}',
                oldStartDate = new Date().setDate(new Date().getDate()-1),
                oldENdData = new Date(),
                location_array = window.location.href.split("#"),
                data_source = "{{ data_source }}" ? $.trim("{{ data_source }}") : "down";

            current_device = "{{ current_device_name }}";

            severity_wise_data_api = "{% url 'get_severity_wise_status' %}";

            if (severity_wise_data_api) {
                severity_wise_data_api = getCompleteUrl(severity_wise_data_api);
            }

            if(location_array.length > 1) {
                window.location.href = location_array[0];
            }

            // Update global variable as per context data
            {% if is_dr_device %}
                is_dr_device = true;
                bold_class = 'text-bold';
            {% endif %}


            statusUrl = getCompleteUrl(device_status_url);
            inventory_url = getCompleteUrl(inventory_page_url);
            perf_url = getCompleteUrl(perf_page_url);

            current_device_id = "{{ current_device_id }}";

            /*Make a instance of ourDataTableWidget class */
            dataTableInstance = new ourDataTableWidget();

            //Create instance of nocoutPerfLib
            perfInstance = new nocoutPerfLib();

            /*To initialize date range picker*/
            perfInstance.initDateRangePicker(dateRangePicker_domId);

            /*To populate the status table*/
            perfInstance.getStatus(statusUrl, current_device);

            // fetch service status
            perfInstance.getServiceStatus(service_status_url, true, function(response) {
                // console.log(response)
            });

            // Append inventory & performance live link to top header bar
            var inventory_link_html = '<a href="#" class="btn btn-default btn-sm normal_screen transitionbtn hide" \
                                       id="inventory_link_tag" title="Inventory" target="_blank"> \
                                       <i class="fa fa-dropbox text-primary"></i></a>',
                perf_link_html = '<a href="#" class="btn btn-default btn-sm normal_screen transitionbtn hide" \
                                  id="perf_link_tag" title="Performance" target="_blank">\
                                  <i class="fa fa-bar-chart-o text-primary"></i></a>';
            $('.controls_container ul').prepend('<li>' + inventory_link_html + '</li>');
            $('.controls_container ul').prepend('<li>' + perf_link_html + '</li>');

            if(inventory_url) {
                $("#inventory_link_tag").attr("href",inventory_url);
                $("#inventory_link_tag").removeClass("hide");
            }

            if(perf_url) {
                $("#perf_link_tag").attr("href",perf_url);
                $("#perf_link_tag").removeClass("hide");
            }

            // Ajax url to get grid data
            var ajax_url = '{% url "SingleDeviceAlertsListing_clone" page_type data_source current_device_id %}';

            // EXTRA PARAMS FOR REPORT DOWNLOAD FEATURE -- START

            var common_extra_param = "'download_excel': 'yes'",
                common_header_key = 'table_headers',
                polling_header_key = 'polling_alerts_headers',
                ping_header_key = 'ping_table_headers',
                page_type_param = "'page_type' : '"+page_type+"'",
                data_source_param = "'data_source' : '"+data_source+"'",
                device_id_param = "'device_id' : '"+current_device_id+"'",
                current_device_alias = "{{ device_alias }}",
                service_title = "Alert Center - Polling Alerts ["+current_device_alias+"]",
                down_title = "Alert Center - Down ["+current_device_alias+"]",
                pl_title = "Alert Center - Packet Drop ["+current_device_alias+"]",
                rta_title = "Alert Center - Latency ["+current_device_alias+"]",
                ping_title = "Alert Center - Ping Details ["+current_device_alias+"]";

            // EXTRA PARAMS FOR REPORT DOWNLOAD FEATURE -- END

            tables_info = {
                "network_alert_service_tab" : {
                    "app_name" : "alert_center",
                    "table_title" : service_title,
                    "header_class_name" : "SingleDeviceAlertsInit",
                    "data_class_name" : "SingleDeviceAlertsListing",
                    "header_extra_param" : "{'headers_data_key' : '"+polling_header_key+"', "+page_type_param+", "+device_id_param+", "+common_extra_param+", "+data_source_param+"}",
                    "data_extra_param" : "{"+page_type_param+", "+device_id_param+", 'service_name' : 'service', 'report_title' : '"+service_title+"', "+common_extra_param+"}"
                },
                "network_alert_down_tab" : {
                    "app_name" : "alert_center",
                    "table_title" : down_title,
                    "header_class_name" : "SingleDeviceAlertsInit",
                    "data_class_name" : "SingleDeviceAlertsListing",
                    "header_extra_param" : "{'headers_data_key' : '"+common_header_key+"', "+page_type_param+", "+device_id_param+", "+common_extra_param+", "+data_source_param+"}",
                    "data_extra_param" : "{"+page_type_param+", "+device_id_param+", 'service_name' : 'down', 'report_title' : '"+down_title+"', "+common_extra_param+"}"
                },
                "network_alert_packet_tab" : {
                    "app_name" : "alert_center",
                    "table_title" : pl_title,
                    "header_class_name" : "SingleDeviceAlertsInit",
                    "data_class_name" : "SingleDeviceAlertsListing",
                    "header_extra_param" : "{'headers_data_key' : '"+common_header_key+"', "+page_type_param+", "+device_id_param+", "+common_extra_param+", "+data_source_param+"}",
                    "data_extra_param" : "{"+page_type_param+", "+device_id_param+", 'service_name' : 'packet_drop', 'report_title' : '"+pl_title+"', "+common_extra_param+"}"
                },
                "network_alert_latency_tab" : {
                    "app_name" : "alert_center",
                    "table_title" : rta_title,
                    "header_class_name" : "SingleDeviceAlertsInit",
                    "data_class_name" : "SingleDeviceAlertsListing",
                    "header_extra_param" : "{'headers_data_key' : '"+common_header_key+"', "+page_type_param+", "+device_id_param+", "+common_extra_param+", "+data_source_param+"}",
                    "data_extra_param" : "{"+page_type_param+", "+device_id_param+", 'service_name' : 'latency', 'report_title' : '"+rta_title+"', "+common_extra_param+"}"
                },
                "network_alert_ping_tab" : {
                    "app_name" : "alert_center",
                    "table_title" : ping_title,
                    "header_class_name" : "SingleDeviceAlertsInit",
                    "data_class_name" : "SingleDeviceAlertsListing",
                    "header_extra_param" : "{'headers_data_key' : '"+ping_header_key+"', "+page_type_param+", "+device_id_param+", "+common_extra_param+", "+data_source_param+"}",
                    "data_extra_param" : "{"+page_type_param+", "+device_id_param+", 'service_name' : 'ping', 'report_title' : '"+ping_title+"', "+common_extra_param+"}"
                }
            };

            $("#network_alert_service_tab").attr("data_url", ajax_url+'?service_name=service');
            $("#network_alert_service_tab").attr("data_header", polling_alert_gridHeadersObj);

            $("#network_alert_down_tab").attr("data_url", ajax_url+'?service_name=down');
            $("#network_alert_down_tab").attr("data_header", gridHeadersObj);

            $("#network_alert_packet_tab").attr("data_url", ajax_url+'?service_name=packet_drop');
            $("#network_alert_packet_tab").attr("data_header", gridHeadersObj);

            $("#network_alert_latency_tab").attr("data_url", ajax_url+'?service_name=latency');
            $("#network_alert_latency_tab").attr("data_header", gridHeadersObj);

            $("#network_alert_ping_tab").attr("data_url", ajax_url+'?service_name=ping');
            $("#network_alert_ping_tab").attr("data_header", ping_gridHeadersObj);

            if ((location_array.length > 1 && location_array[1] == "") || (location_array.length == 1)) {
                /*Trigger click event on active tab to load its data*/
                $("#network_alert_ping_tab").trigger('click', true);
            }
        });

        // When any filter is applied
        $("#apply_filter").on('click', function () {
            if(startDate && endDate) {
                //epoch function
                var myStartDate = startDate.toDate(),
                    myEndDate = endDate.toDate();

                startDate = myStartDate.getTime();
                endDate = myEndDate.getTime();

                var active_tab = $("#single_device_alert_container li.active").children("a"),
                    active_tab_id = active_tab.length > 0 ? active_tab[0].id : "";

                if(active_tab_id) {
                    isDateFilterApplied = true;
                    $("#"+active_tab_id).trigger("click",true);
                }
            } else {
                alert("Select Start & End Date");
            }
        });

        // When filter reset
        $("#reset_filter").on('click', function () {
            isDateFilterApplied = false;
            startDate = "";
            endDate = "";

            // Remove daterangepicker from DOM
            $('#'+dateRangePicker_domId).daterangepicker().remove();
            
            // Add daterangepicker to DOM
            $(".date_range_filter_container .input-group").append(date_range_picker_html);
            
            /*To initialize date range picker*/
            perfInstance.initDateRangePicker(dateRangePicker_domId);
            
            // $.cookie('filter_start_date', startDate, {path: '/', secure: true});
            // $.cookie('filter_end_date', endDate, {path: '/', secure: true});
            var active_tab = $("#single_device_alert_container li.active").children("a"),
                active_tab_id = active_tab.length > 0 ? active_tab[0].id : "";

            if(active_tab_id) {
                $("#"+active_tab_id).trigger("click",true);
            }
        });

        function findStringFromUrl() {
            var uri = $.url();
            var path = uri.attr('path').split('/');
            return path[path.length - 2 ]
        }

        function replaceString(mainString, toReplace, replaceWith) {
            var str = mainString, res;
            if (toReplace === "service") {
                res = str.replace(toReplace + "/", replaceWith + "/");
            } else {
                res = str.replace(toReplace, replaceWith);
            }

            return res;
        }

        function selectTab(tabId) {
            $(tabId).parent().addClass('active').siblings().removeClass('active');
        }
    </script>

{% endblock %}

{% block load_js %}
    <script>
        App.init(); //Initialise plugins and elements
    </script>
{% endblock %}
