{% extends "nocout/base.html" %}
{% block breadcrumb_title %}
    <a href="/home">Home</a> >
    <li><a href="#">Alert Center</a></li>
    <li><a href="#">{{ page_type }}</a></li>
    <li><a href="/device/">device</a></li>
    <li><a href="/device/{{ current_device_id }}">{{ current_device_id }}</a></li>
    <li><b>{{ service_name }}</b></li>
{% endblock %}
{% block content_title %}
    {{ page_type | title }} Alert <span style="font-size: 25px;">{{ device_alias }}</span>
{% endblock %}
{% block content_description %} {% endblock %}
{% load staticfiles %}
{% block css %}
    <!-- JQUERY UI-->
    <link rel="stylesheet" type="text/css" href={% static "js/jquery-ui-1.10.3.custom/css/custom-theme/jquery-ui-1.10.3.custom.min.css" %}>
    
{% endblock %}

{% load sds %}

{% block content %}
    <style>
        .perfContainerBlock .box-title .pull-right .list-inline > li {
            max-width: 200px !important;
        }
    </style>
    <!--Single Device Live Perf Start-->
    <div class='box border lite perfContainerBlock'>
    <div class='box-title'>
        <h4 class="hide"><i class='fa fa-file-text'></i>{{ device_alias }}</h4>

        <div class="">
            <ul class="list-unstyled list-inline">
                <li style="max-width: 320px;">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text"
                                                                                                    name="reservation"
                                                                                                    id="reservationtime"
                                                                                                    class="form-control input-large search-query"
                                                                                                    value=""/>
                    </div>
                </li>
                <li>
                    <div class="btn-group dropdown col-xs-1">
                        <button id="apply_filter" class="btn  btn-default btn-sm">
                            Apply Filter
                        </button>
                    </div>
                </li>
                <li>
                    <div class="btn-group dropdown col-xs-1">
                        <button id="reset_filter" class="btn  btn-warning btn-sm">
                            Reset Filter
                        </button>
                    </div>
                </li>
                <!-- <li>
                    <div class="btn-group dropdown col-xs-1">
                        <button class="btn  btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                            Download Report
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu context">
                            <li>
                                <a id="download_excel">Excel</a>
                            </li>
                            <li>
                                <a id="download_csv">CSV</a>
                            </li>
                        </ul>
                    </div>
                </li> -->
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class='box-body'>

        <div class="box status_box">
            <div class="box-title" style="background:transparent;">
                <div class="tools_status">
                    <a href="javascript:;" title="Hide Status" class="collapse">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="box-body status_body">
                <div class="well well-sm" id="status_container" style="overflow:auto;">
                    <div id="latestStatusContainer">
                        
                    </div>
                    <table id="status_table" class="table table-responsive table-bordered"
                           style="background:#FFFFFF;">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-title" style="background:transparent;"></div>
            <div id="tableContainer" class="box-body">
                <div class="tabbable header-tabs">
                    <ul id="device_page_tabs" class="nav nav-tabs"
                        style="top:-44px;float:left;padding-left:15px;margin-right:0px;">
                        <li><a href="#" id="network_alert_service_tab" data-toggle="tab"><span
                                class="hidden-inline-mobile">Polling Alerts</span></a></li>
                        <li><a href="#" id="network_alert_down_tab" data-toggle="tab"><span
                                class="hidden-inline-mobile">Down</span></a></li>
                        <li><a href="#" id="network_alert_packet_tab" data-toggle="tab"><span
                                class="hidden-inline-mobile">Packet Drop</span></a></li>
                        <li><a href="#" id="network_alert_latency_tab" data-toggle="tab"><span
                                class="hidden-inline-mobile">Latency</span></a></li>
                        <li><a href="#" id="network_alert_ping_tab" data-toggle="tab"><span
                                class="hidden-inline-mobile">Ping Details</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--Filters Block Start-->
        <!-- <div class="box-body status_body">

        </div> -->
        <div style="overflow:auto;">
            <table id="device_alert" cellpadding="0" cellspacing="0" border="0"
                   class="datatable table table-striped table-bordered table-hover hide">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    {% for data in table_header %}
                        <th class="headerSortable" style="background: none;">{{ data | title }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% if table_data %}
                    {% if is_ping %}
                        {% for data in table_data %}
                            <tr>
                                {% if data.severity in 'DOWN,CRITICAL' or 'CRIT' in data.description %}
                                    <td><i class="fa fa-circle red-dot"><span style="display:none">1</span></i></td>
                                    <td>{{ data.ip_address }}</td>
                                    <td>{{ data.service_name }}</td>
                                    <td><span class="text-danger">{{ data.severity }}</span></td>
                                    <td><span class="text-danger">{{ data.latency }} ms</span></td>
                                    <td><span class="text-danger">{{ data.packet_loss }}%</span></td>
                                    <td>{{ data.alert_date_time }}</td>
                                    <td><span class="text-danger">{{ data.description }}</span></td>
                                {% elif data.severity in 'WARN,WARNING,STARTED' or 'WARN' in data.description %}
                                    <td><i class="fa fa-circle orange-dot"><span style="display:none">2</span></i>
                                    </td>
                                    <td>{{ data.ip_address }}</td>
                                    <td>{{ data.service_name }}</td>
                                    <td><span class="text-warning">{{ data.severity }}</span></td>
                                    <td><span class="text-warning">{{ data.latency }} ms</span></td>
                                    <td><span class="text-warning">{{ data.description | slice:"-4:" }}</span></td>
                                    <td>{{ data.alert_date_time }}</td>
                                    <td><span class="text-warning">{{ data.description }}</span></td>
                                {% elif data.severity in 'OK,STOPPED' or 'OK' in data.description %}
                                    <td><i class="fa fa-circle green-dot"><span style="display:none">3</span></i>
                                    </td>
                                    <td>{{ data.ip_address }}</td>
                                    <td>{{ data.service_name }}</td>
                                    <td><span class="text-success">{{ data.severity }}</span></td>
                                    <td><span class="text-success">{{ data.latency }} ms</span></td>
                                    <td><span class="text-success">{{ data.packet_loss }}%</span></td>
                                    <td>{{ data.alert_date_time }}</td>
                                    <td><span class="text-success">{{ data.description }}</span></td>
                                {% else %}
                                    <td><i class="fa fa-circle grey-dot"><span style="display:none">4</span></i>
                                    </td>
                                    <td>{{ data.ip_address }}</td>
                                    <td>{{ data.service_name }}</td>
                                    <td><span class="text-muted">{{ data.severity }}</span></td>
                                    <td><span class="text-muted">{{ data.latency }} ms</span></td>
                                    <td><span class="text-muted">{{ data.packet_loss }}%</span></td>
                                    <td>{{ data.alert_date_time }}</td>
                                    <td><span class="text-muted">{{ data.description }}</span></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% else %}
                        {% for data in table_data %}
                            <tr>
                                {% if data.severity in 'DOWN,CRITICAL' or 'CRIT' in data.description %}
                                    <td><i class="fa fa-circle red-dot"></i></td>
                                    <td>{{ data.ip_address }}</td>
                                    <td>{{ data.service_name }}</td>
                                    <td>{{ data.data_source|sds }}</td>
                                    <td><span class="text-danger">{{ data.severity }}</span></td>
                                    <td><span class="text-danger">{{ data.current_value }}</span></td>
                                    <td>{{ data.alert_date_time }}</td>
                                    <td><span class="text-danger">{{ data.description }}</span></td>
                                {% elif data.severity in 'WARN,WARNING,STARTED' or 'WARN' in data.description %}
                                    <td><i class="fa fa-circle orange-dot"></i></td>
                                    <td>{{ data.ip_address }}</td>
                                    <td>{{ data.service_name }}</td>
                                    <td>{{ data.data_source|sds }}</td>
                                    <td><span class="text-warning">{{ data.severity }}</span></td>
                                    <td><span class="text-warning">{{ data.current_value }}</span></td>
                                    <td>{{ data.alert_date_time }}</td>
                                    <td><span class="text-warning">{{ data.description }}</span></td>
                                {% elif data.severity in 'OK,STOPPED' or 'OK' in data.description %}
                                    <td><i class="fa fa-circle green-dot"></i></td>
                                    <td>{{ data.ip_address }}</td>
                                    <td>{{ data.service_name }}</td>
                                    <td>{{ data.data_source|sds }}</td>
                                    <td><span class="text-success">{{ data.severity }}</span></td>
                                    <td><span class="text-success">{{ data.current_value }}</span></td>
                                    <td>{{ data.alert_date_time }}</td>
                                    <td><span class="text-success">{{ data.description }}</span></td>
                                {% else %}
                                    <td><i class="fa fa-circle grey-dot"></i></td>
                                    <td>{{ data.ip_address }}</td>
                                    <td>{{ data.service_name }}</td>
                                    <td>{{ data.data_source|sds }}</td>
                                    <td><span class="text-muted">{{ data.severity }}</span></td>
                                    <td><span class="text-muted">{{ data.current_value }}</span></td>
                                    <td>{{ data.alert_date_time }}</td>
                                    <td><span class="text-muted">{{ data.description }}</span></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    </div>

    <script type="text/javascript" src={% static "js/bootstrap-daterangepicker/moment.min.js" %}></script>
    <script type="text/javascript" src={% static "js/bootstrap-daterangepicker/daterangepicker.min.js" %}></script>
    <script src={% static "js/nocout/nocoutPerfLib.js" %}></script>

    <script type="text/javascript">

        var startDate = "",
            endDate = "",
            base_url = "",
            green_color = "#468847",
            red_color = "#b94a48",
            green_status_array = ['ok','success','up'],
            red_status_array = ['warning','critical','down'],
            left_block_style = "border:1px solid #CCC;border-right:0px;padding: 3px 5px;",
            right_block_style = "border:1px solid #CCC;padding: 3px 5px;",
            device_technology = "",
            excel_columns = [];

        $(document).ready(function (e) {
            try {
                var table_headers = "{{ table_header|safe }}";
                if(typeof table_headers == 'object') {
                    table_headers = JSON.stringify(table_headers);
                }
                // Excel column count loop
                var count = 1;
                for(var i=0;i<=table_headers.length;i++) {
                    if(table_headers[i] == ',') {
                        count++;
                    }
                }
                // Add 1 to column count for extra column
                count += 1;
                for(var i=0;i<count;i++) {
                    excel_columns.push(i);
                }
            } catch(e) {
                excel_columns = [0,1,2,3,4,5,6,7];
            }


            /*Set the base url of application for ajax calls*/
            if (window.location.origin) {
                base_url = window.location.origin;
            } else {
                base_url = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port : '');
            }

            var current_device = "{{ current_device_name }}",
                current_device_id = "{{ device_id }}",
                statusUrl = base_url + "/" + "{{ get_status_url }}" + "/",
                service_status_url = "";
            // Technology of current device
            device_technology = "{{ device_technology_name }}";

            var oldStartDate = $.urlParam('start_date') ? new Date($.urlParam('start_date') * 1000) : new Date();
            var oldENdData = $.urlParam('end_date') ? new Date($.urlParam('end_date') * 1000) : new Date();

            $("#device_alert").DataTable({
                sDom: 'T<"clear">lfrtip',
                oTableTools: {
                    sSwfPath: base_url + "/static/js/datatables/extras/TableTools/media/swf/copy_csv_xls.swf",
                    aButtons: [
                        {
                            sExtends: "xls",
                            sButtonText: "Download Excel",
                            sFileName: "*.xls",
                            mColumns: excel_columns
                        }
                    ]
                },
                bPaginate: true,
                sPaginationType: "full_numbers",
                aaSorting: [
                    [6, 'desc']
                ],
                fnInitComplete: function(oSettings) {
                    $('#reservationtime').daterangepicker(
                        {
                            timePicker: true,
                            timePickerIncrement: 1,
                            // format: 'd/m/Y H:M:S' ,
                            opens: "right",
                            showDropdowns: true,
                            ranges: {
                                'Today': [moment(), moment()],
                                'Last 24 Hours': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                                'This Month': [moment().startOf('month'), moment().endOf('month')],
                                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                            },
                            buttonClasses: ['btn btn-default'],
                            applyClass: 'btn-small btn-primary',
                            cancelClass: 'btn-small',
                            format: "DD-MM-YYYY HH:mm:ss",
                            separator: ' to ',
                            startDate: oldStartDate,
                            endDate: oldENdData
                        },
                        function (start, end) {
                            $('#reservationtime span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                            startDate = start;
                            endDate = end;
                        }
                    );
                }
            });
        
            //Create instance of nocoutPerfLib
            perfInstance = new nocoutPerfLib();

            /*To populate the status table*/
            perfInstance.getStatus(statusUrl, current_device);

            if (findStringFromUrl()) {
                if (current_device_id) {
                    service_status_url = "/performance/servicestatus/" + findStringFromUrl() + "/service_data_source/pl/device/" + current_device_id + "/";
                }
            }

            // Call function to get service status
            if (service_status_url) {
                getPlServiceStatus(service_status_url);
            }

            if ($.urlParam('start_date') && $.urlParam('end_date')) {
                $('#reservationtime').val(moment(oldStartDate).format("DD-MM-YYYY HH:mm:ss") + '  to  ' + moment(oldENdData).format("DD-MM-YYYY HH:mm:ss"));
                startDate = moment(oldStartDate);
                endDate = moment(oldENdData);
            }

            $("#device_alert").removeClass("hide");

            $("#network_alert_service_tab").click(function (e) {
                e.preventDefault();
                var currentTab = findStringFromUrl();

                var newUrl = replaceString(location.href, currentTab, 'service');
                location.href = newUrl;
                // selectTab('#network_alert_service_tab');
            });

            $("#network_alert_down_tab").click(function (e) {
                e.preventDefault();
                var currentTab = findStringFromUrl();
                var newUrl = replaceString(location.href, currentTab, 'down');
                location.href = newUrl;
                // selectTab('#network_alert_down_tab');
            });

            $("#network_alert_packet_tab").click(function (e) {
                e.preventDefault();
                var currentTab = findStringFromUrl();
                var newUrl = replaceString(location.href, currentTab, 'packet_drop');
                location.href = newUrl;
                // selectTab('#network_alert_packet_tab');
            });

            $("#network_alert_latency_tab").click(function (e) {
                e.preventDefault();
                var currentTab = findStringFromUrl();
                var newUrl = replaceString(location.href, currentTab, 'latency');
                location.href = newUrl;
                // selectTab('#network_alert_latency_tab');
            });

            $("#network_alert_ping_tab").click(function (e) {
                e.preventDefault();
                var currentTab = findStringFromUrl();
                var newUrl = replaceString(location.href, currentTab, 'ping');
                location.href = newUrl;
                // selectTab('#network_alert_latency_tab');
            });


            var currentPage = findStringFromUrl();
            // ['down', 'latency', 'packet_drop', 'service'];
            if (currentPage === 'down') {
                selectTab('#network_alert_down_tab');
            } else if (currentPage === 'latency') {
                selectTab('#network_alert_latency_tab');
            } else if (currentPage === 'packet_drop') {
                selectTab('#network_alert_packet_tab');
            } else if (currentPage === 'service') {
                selectTab('#network_alert_service_tab');
            } else {
                selectTab('#network_alert_ping_tab');
            }

            //setting up a custom jquery function to retrive the get paramters.
            $.urlParam = function (name) {
                var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
                if (results == null) {
                    return null;
                }
                else {
                    return results[1] || 0;
                }
            };
            // start_date = $.urlParam('start_date');
            // if (start_date) {
            //     $("#start_date").val(decodeURIComponent(start_date));
            // }
            // end_date = $.urlParam('end_date');
            // if (end_date) {
            //     $("#end_date").val(decodeURIComponent(end_date));
            // }

            //set the dropdown to current device value
            $("#device_name").val("{{current_device_id}}");

            //on change of selection element in device_name
            // we should redirect user to the new page for the device
            // $("#device_name").on('change', function () {
            //     var new_device = $(this).val();
            //     var uri = $.url();
            //     var path = uri.attr('path').split('/');
            //     path[path.length - 4] = new_device;
            //     var new_url = uri.attr('protocol') + "://" + uri.attr('host') + ":" + uri.attr('port') + path.join("/");
            //     window.location.href = new_url;
            // });

            /*Initialize Datepicker*/
            // $(".datepicker").datepicker({ dateFormat: 'dd-mm-yy' });

            $("#apply_filter").on('click', function () {
                if (startDate && endDate) {
                    //epoch function
                    var myStartDate = startDate.toDate(), myEndDate = endDate.toDate();
                    var myStartTime = myStartDate.getTime() / 1000.0;
                    var myEndTime = myEndDate.getTime() / 1000.0;

                    window.location.href = '{% url "SingleDeviceDetails"  page_type current_device_id service_name %}' + '?start_date=' + encodeURIComponent(myStartTime)
                            + '&end_date=' + encodeURIComponent(myEndTime);

                } else {
                    alert("Select Start & End Date");
                }
                // if ( $("#start_date").datepicker("getDate") > $("#end_date").datepicker("getDate") ){
                //     alert ("Start Date Can not be greater than End Date");
                //     return false
                // }
                // else {
                //     window.location.href = '{% url "SingleDeviceDetails"  page_type current_device_id service_name %}' +'?start_date=' + encodeURIComponent($("#start_date").val())
                //                        + '&end_date=' + encodeURIComponent($("#end_date").val());
                // }

            });

            $("#download_excel").on('click', function () {
                window.location.replace('{% url "SingleDeviceDetails"  page_type current_device_id service_name %}'
                        + '?download_excel=true')
            });

            $("#download_csv").on('click', function () {
                window.location.replace('{% url "SingleDeviceDetails"  page_type current_device_id service_name %}'
                        + '?download_csv=true')
            });
        });

        /*This event will collapse & expand device status block*/
        $('.status_box .tools_status .collapse, .status_box .tools_status .expand').click(function () {
            var el = $(this).parents(".status_box").children(".status_body");

            if ($(this).hasClass("collapse")) {
                $(this).removeClass("collapse");
                $(this).addClass("expand");
                $(this).attr("title", "Show Status")
                var i = $(this).children(".fa-chevron-up");
                i.removeClass("fa-chevron-up").addClass("fa-chevron-down");
                el.slideUp();
            } else {
                $(this).removeClass("expand");
                $(this).addClass("collapse");
                $(this).attr("title", "Hide Status");
                var i = $(this).children(".fa-chevron-down");
                i.removeClass("fa-chevron-down").addClass("fa-chevron-up");
                el.slideDown();
            }
        });

        function findStringFromUrl() {
            var uri = $.url();
            var path = uri.attr('path').split('/');
            return path[path.length - 2 ]
        }

        function replaceString(mainString, toReplace, replaceWith) {
            var str = mainString, res;
            if (toReplace === "service") {
                res = str.replace(toReplace + "/", replaceWith + "/");
            } else {
                res = str.replace(toReplace, replaceWith);
            }

            return res;
        }

        function selectTab(tabId) {
            $(tabId).parent().addClass('active').siblings().removeClass('active');
        }

        $("#reset_filter").on('click', function () {
            if (window.location.href.indexOf("?") > -1) {
                window.location.href = window.location.href.split("?")[0];
            }
        });

        /**
         * This  function get the device service(PL) status i.e. Status & AGE
         * @method getPlServiceStatus
         * @param url {String}, It contains the API url to fetch the service status.
         */
        function getPlServiceStatus(url) {
            if (url) {
                $.ajax({
                    url: base_url + "" + url,
                    type: "GET",
                    success: function (response) {
                        var result = "",
                            lastDownTime = "",
                            age = "",
                            last_updated = "",
                            perf = "",
                            status = "",
                            status_class = "",
                            txt_color = "",
                            status_html = "";

                        if (typeof response == 'string') {
                            result = JSON.parse(response);
                        } else {
                            result = response;
                        }

                        if (result.data && result.data.objects) {
                            age = result.data.objects.age ? result.data.objects.age : "Unknown";
                            lastDownTime = result.data.objects.last_down_time ? result.data.objects.last_down_time : "Unknown";
                            status = result.data.objects.status ? result.data.objects.status.toUpperCase() : "Unknown";

                            if(green_status_array.indexOf($.trim(status.toLowerCase()))  > -1) {
                                txt_color = green_color;
                            } else if(red_status_array.indexOf($.trim(status.toLowerCase()))  > -1) {
                                txt_color = red_color;
                            } else {
                                txt_color = "";
                            }

                            status_html = "";
                            
                            status_html += '<table id="status_table" class="table table-responsive table-bordered" style="background:#FFFFFF;"><tr>';
                            status_html += '<td style="color:'+txt_color+';"><i class="fa fa-circle" style="vertical-align: middle;"> </i> <b>Current Status</b> : '+status+'</td>';
                            status_html += '<td style="color:'+txt_color+';"><b>Current Status Since</b> : '+age+'</td>';
                            status_html += '<td style="color:'+txt_color+';"><b>Last Down Time</b> : '+lastDownTime+'</td>';
                            status_html += '</tr></table>';

                            // Update Status Block HTML as per the device status
                            $("#latestStatusContainer").html(status_html);
                        }
                    },
                    error: function (err) {
                        // console.log(err.statusText);
                    }
                });
            }
        }

        // Add click event to technology on breadcrumb
        $("body").delegate(".perf_tech_breadcrumb",'click',function(e) {
            var url = "",
                opened_tab_id = "";

            if($.trim(device_technology.toLowerCase()) == 'wimax') {
                opened_tab_id = "wifi";
            } else {
                opened_tab_id = device_technology.toLowerCase();
            }

            if(e.currentTarget.attributes['url']) {
                url = e.currentTarget.attributes['url'].value+device_technology+"/#network_"+opened_tab_id+"_block";
            }
            // Open related page
            window.location.href = base_url+"/"+url;

        });

    </script>

{% endblock %}

{% block load_js %}
    <script>
        App.init(); //Initialise plugins and elements
    </script>
{% endblock %}
