{% extends "nocout/base.html" %}
{% block breadcrumb_title %}
    <a href="/home">Home</a> >
    <li><a href="#">Alert Center</a></li>
    <li><a href="#">{{ page_type }}</a></li>
    <li><a href="/device/">device</a></li>
    <li><a href="/device/{{ current_device_id }}">{{ current_device_id }}</a></li>
    <li><b>{{ service_name }}</b></li>
{% endblock %}
{% block content_title %} {{ page_type | title  }} Alert{% endblock %}
{% block content_description %} {% endblock %}
{% load staticfiles %}
{% block css %}
	<!-- JQUERY UI-->
    <link rel="stylesheet" type="text/css" href={% static "js/jquery-ui-1.10.3.custom/css/custom-theme/jquery-ui-1.10.3.custom.min.css" %} >
{% endblock %}

{% block content %}
	<style>
		.perfContainerBlock .box-title .pull-right .list-inline > li {
			max-width: 200px !important;
		}
	</style>
	<!--Single Device Live Perf Start-->
	<div class='box border lite perfContainerBlock'>
	    <div class='box-title'>
	        <h4><i class='fa fa-file-text'></i> {{ page_type| title }} Alert - {{ current_device_name }}</h4>
        </div>
        <div class='box-body'>
            <div class="tabbable header-tabs">
                <ul id="device_page_tabs" class="nav nav-tabs">
                    <li><a href="#" id="network_alert_service_tab" data-toggle="tab"><span class="hidden-inline-mobile">Service Impact Alerts</span></a></li>
                    <li><a href="#" id="network_alert_down_tab" data-toggle="tab"><span class="hidden-inline-mobile">Down</span></a></li>
                    <li><a href="#" id="network_alert_packet_tab" data-toggle="tab"><span class="hidden-inline-mobile">Packet Drop</span></a></li>
                    <li><a href="#" id="network_alert_latency_tab" data-toggle="tab"><span class="hidden-inline-mobile">Latency</span></a></li>
                    <li><a href="#" id="network_alert_ping_tab" data-toggle="tab"><span class="hidden-inline-mobile">Ping Details</span></a></li>
                </ul>
            </div>
	        <!--Filters Block Start-->
            <div class="box-body status_body">
                <table id="status_table" class="table table-responsive table-bordered" style="background:#FFFFFF;">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
	        <div class="pull-right">
	            <ul class="list-unstyled list-inline">
	                <li>
	                    <!--device_name Filter-->
	                    <select name="device_name" id="device_name" class="form-control col-xs-1 input-sm">
                            {% for device in devices %}
    	                        <option value='{{ device.id }}'>{{ device.technology }} : {{ device.alias }}</option>
                            {% endfor %}
	                    </select>
	                </li>
	                <li>
	                    <!--start_date Filter-->
	                    <input class="form-control col-xs-1 input-sm datepicker" type="text" name="start_date" size="10" id="start_date" placeholder="Start Date">
	                </li>
	                <li>
	                	<span class="col-xs-1 input-sm">To</span>
	                </li>
	                <li>
	                    <!--end_date Filter-->
	                    <input class="form-control col-xs-1 input-sm datepicker" type="text" name="end_date" size="10" id="end_date" placeholder="End Date">
	                </li>
	                <li>
                        <div class="btn-group dropdown col-xs-1">
                            <button id="apply_filter" class="btn  btn-default btn-sm">
                                    Apply Filter
                            </button>
                        </div>
                    </li>
	                	<!--CSV or Excel download action. -->
                    <li>
	                    <div class="btn-group dropdown col-xs-1">
							<button class="btn  btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
								Download Report
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu context">
								<li>
									<a id="download_excel">Excel</a>
                                </li>
                                <li>
									<a id="download_csv">CSV</a>
								</li>
							</ul>
						</div>
	                </li>
	            </ul>
	        </div>

            <div>{{ start_date_object|date:'l d M, Y' }} TO {{ end_date_object|date:'l d M, Y' }}</div>
            <div class="clearfix"></div>
            <div style="overflow:auto;">
                <table id="device_alert" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover hide">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            {% for data in table_header %}
                                <th class="headerSortable" style="background: none;">{{ data | title }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% if table_data %}
                        {% if is_ping %}
                            {% for data in table_data %}
                            <tr>
                                {% if data.severity in 'DOWN,CRITICAL' or 'CRIT' in data.description %}
                                    <td><i class="fa fa-circle red-dot"><span style="display:none">1</span></i></td>
                                    <td>{{ data.device_name }}</td>
                                    <td>{{ data.ip_address }}</td>
                                    <td>{{ data.service_name }}</td>
                                    <td><span class="text-danger">{{ data.severity }}</span></td>
                                    <td><span class="text-danger">{{ data.latency }} ms</span></td>
                                    <td><span class="text-danger">{{ data.packet_loss }}%</span></td>
                                    <td>{{ data.alert_date_time }}</td>
                                    <td><span class="text-danger">{{ data.description }}</span></td>
                                {% elif data.severity in 'WARN,WARNING,STARTED' or 'WARN' in data.description %}
                                    <td><i class="fa fa-circle orange-dot"><span style="display:none">2</span></i></td>
                                    <td>{{ data.device_name }}</td>
                                    <td>{{ data.ip_address }}</td>
                                    <td>{{ data.service_name }}</td>
                                    <td><span class="text-warning">{{ data.severity }}</span></td>
                                    <td><span class="text-warning">{{ data.latency }} ms</span></td>
                                    <td><span class="text-warning">{{ data.description | slice:"-4:" }}</span></td>
                                    <td>{{ data.alert_date_time }}</td>
                                    <td><span class="text-warning">{{ data.description }}</span></td>
                                {% elif data.severity in 'OK,STOPPED' or 'OK' in data.description %}
                                    <td><i class="fa fa-circle green-dot"><span style="display:none">3</span></i></td>
                                    <td>{{ data.device_name }}</td>
                                    <td>{{ data.ip_address }}</td>
                                    <td>{{ data.service_name }}</td>
                                    <td><span class="text-success">{{ data.severity }}</span></td>
                                    <td><span class="text-success">{{ data.latency }} ms</span></td>
                                    <td><span class="text-success">{{ data.packet_loss }}%</span></td>
                                    <td>{{ data.alert_date_time }}</td>
                                    <td><span class="text-success">{{ data.description }}</span></td>
                                {% else %}
                                    <td><i class="fa fa-circle grey-dot"><span style="display:none">4</span></i></td>
                                    <td>{{ data.device_name }}</td>
                                    <td>{{ data.ip_address }}</td>
                                    <td>{{ data.service_name }}</td>
                                    <td><span class="text-muted">{{ data.severity }}</span></td>
                                    <td><span class="text-muted">{{ data.latency }} ms</span></td>
                                    <td><span class="text-muted">{{ data.packet_loss }}%</span></td>
                                    <td>{{ data.alert_date_time }}</td>
                                    <td><span class="text-muted">{{ data.description }}</span></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        {% else %}
                            {% for data in table_data %}
                                <tr>
                                    {% if data.severity in 'DOWN,CRITICAL' or 'CRIT' in data.description %}
                                        <td><i class="fa fa-circle red-dot"></i></td>
                                        <td>{{ data.device_name }}</td>
                                        <td>{{ data.ip_address }}</td>
                                        <td>{{ data.service_name }}</td>
                                        <td>{{ data.data_source }}</td>
                                        <td><span class="text-danger">{{ data.severity }}</span></td>
                                        <td><span class="text-danger">{{ data.current_value }}</span></td>
                                        <td>{{ data.alert_date_time }}</td>
                                        <td><span class="text-danger">{{ data.description }}</span></td>
                                    {% elif data.severity in 'WARN,WARNING,STARTED' or 'WARN' in data.description %}
                                        <td><i class="fa fa-circle orange-dot"></i></td>
                                        <td>{{ data.device_name }}</td>
                                        <td>{{ data.ip_address }}</td>
                                        <td>{{ data.service_name }}</td>
                                        <td>{{ data.data_source }}</td>
                                        <td><span class="text-warning">{{ data.severity }}</span></td>
                                        <td><span class="text-warning">{{ data.current_value }}</span></td>
                                        <td>{{ data.alert_date_time }}</td>
                                        <td><span class="text-warning">{{ data.description }}</span></td>
                                    {% elif data.severity in 'OK,STOPPED' or 'OK' in data.description %}
                                        <td><i class="fa fa-circle green-dot"></i></td>
                                        <td>{{ data.device_name }}</td>
                                        <td>{{ data.ip_address }}</td>
                                        <td>{{ data.service_name }}</td>
                                        <td>{{ data.data_source }}</td>
                                        <td><span class="text-success">{{ data.severity }}</span></td>
                                        <td><span class="text-success">{{ data.current_value }}</span></td>
                                        <td>{{ data.alert_date_time }}</td>
                                        <td><span class="text-success">{{ data.description }}</span></td>
                                    {% else %}
                                        <td><i class="fa fa-circle grey-dot"></i></td>
                                        <td>{{ data.device_name }}</td>
                                        <td>{{ data.ip_address }}</td>
                                        <td>{{ data.service_name }}</td>
                                        <td>{{ data.data_source }}</td>
                                        <td><span class="text-muted">{{ data.severity }}</span></td>
                                        <td><span class="text-muted">{{ data.current_value }}</span></td>
                                        <td>{{ data.alert_date_time }}</td>
                                        <td><span class="text-muted">{{ data.description }}</span></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src={% static "js/nocout/nocoutPerfLib.js" %}></script>

    <script type="text/javascript">
        $(document).ready(function(e) {

            var base_url = "";
            /*Set the base url of application for ajax calls*/
            if (window.location.origin) {
                base_url = window.location.origin;
            } else {
                base_url = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port : '');
            }

            perfInstance = new nocoutPerfLib();
            var current_device = "{{ current_device_name }}";
            var statusUrl = base_url + "/" + "{{ get_status_url }}" + "/";
            /*To populate the status table*/
            perfInstance.getStatus(statusUrl, current_device);




            $("#device_alert").DataTable({
                sPaginationType: "bs_full",
                aaSorting: [[7, 'desc']]
            });
            $("#device_alert").removeClass("hide");

            // $("#device_alert").tablecloth({
            //     theme:"stats",
            //     bordered: true,
            //     sortable:true,
            //     striped: true,
            //     clean:true
            // });

            $("#network_alert_service_tab").click(function(e) {
                e.preventDefault();
                var currentTab= findStringFromUrl();

                var newUrl= replaceString(location.href, currentTab, 'service');
                location.href= newUrl;
                // selectTab('#network_alert_service_tab');
            });

            $("#network_alert_down_tab").click(function(e) {
                e.preventDefault();
                var currentTab= findStringFromUrl();
                var newUrl= replaceString(location.href, currentTab, 'down');
                location.href= newUrl;
                // selectTab('#network_alert_down_tab');
            });

            $("#network_alert_packet_tab").click(function(e) {
                e.preventDefault();
                var currentTab= findStringFromUrl();
                var newUrl= replaceString(location.href, currentTab, 'packet_drop');
                location.href= newUrl;
                // selectTab('#network_alert_packet_tab');
            });

            $("#network_alert_latency_tab").click(function(e) {
                e.preventDefault();
                var currentTab= findStringFromUrl();
                var newUrl= replaceString(location.href, currentTab, 'latency');
                location.href= newUrl;
                // selectTab('#network_alert_latency_tab');
            });

            $("#network_alert_ping_tab").click(function(e) {
                e.preventDefault();
                var currentTab= findStringFromUrl();
                var newUrl= replaceString(location.href, currentTab, 'ping');
                location.href= newUrl;
                // selectTab('#network_alert_latency_tab');
            });


            var currentPage= findStringFromUrl();
            // ['down', 'latency', 'packet_drop', 'service'];
            if(currentPage=== 'down') {
                selectTab('#network_alert_down_tab');
            } else if (currentPage=== 'latency') {
                selectTab('#network_alert_latency_tab');
            } else if (currentPage=== 'packet_drop') {
                selectTab('#network_alert_packet_tab');
            } else if (currentPage=== 'service') {
                selectTab('#network_alert_service_tab');
            } else {
                selectTab('#network_alert_ping_tab');
            }

            //setting up a custom jquery function to retrive the get paramters.
            $.urlParam = function(name){
                    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
                    if (results==null){
                       return null;
                    }
                    else{
                       return results[1] || 0;
                    }};
            start_date= $.urlParam('start_date');
            if (start_date){
                 $("#start_date").val(decodeURIComponent(start_date));
            }
            end_date= $.urlParam('end_date');
            if (end_date){
                 $("#end_date").val(decodeURIComponent(end_date));
            }

            //set the dropdown to current device value
            $("#device_name").val("{{current_device_id}}");

            //on change of selection element in device_name
            // we should redirect user to the new page for the device
            $("#device_name").on('change', function(){
                var new_device = $(this).val();
                var uri = $.url();
                var path = uri.attr('path').split('/');
                path[path.length-4] = new_device;
                var new_url = uri.attr('protocol') + "://" + uri.attr('host') + ":" + uri.attr('port') + path.join("/");
                window.location.href = new_url;
            });

            /*Initialize Datepicker*/
            $(".datepicker").datepicker({ dateFormat: 'dd-mm-yy' });

            $("#apply_filter").on('click', function(){
                if ( $("#start_date").datepicker("getDate") > $("#end_date").datepicker("getDate") ){
                    alert ("Start Date Can not be greater than End Date");
                    return false
                }
                else {
                    window.location.href = '{% url "SingleDeviceDetails"  page_type current_device_id service_name %}' +'?start_date=' + encodeURIComponent($("#start_date").val())
                                       + '&end_date=' + encodeURIComponent($("#end_date").val());
                }

            });

            $("#download_excel").on('click', function(){
                window.location.replace('{% url "SingleDeviceDetails"  page_type current_device_id service_name %}'
                        + '?download_excel=true')
            });

            $("#download_csv").on('click', function(){
                window.location.replace('{% url "SingleDeviceDetails"  page_type current_device_id service_name %}'
                        + '?download_csv=true')
            });
        });

        function findStringFromUrl() {
            var uri = $.url();
            var path = uri.attr('path').split('/');
            return path[path.length - 2 ]
        }

        function replaceString(mainString, toReplace, replaceWith) {
            var str = mainString, res;
            if(toReplace=== "service") {
                res = str.replace(toReplace+"/", replaceWith+"/");
            } else {
                res = str.replace(toReplace, replaceWith);
            }

            return res;
        }

        function selectTab(tabId) {
            console.log(tabId);
            $(tabId).parent().addClass('active').siblings().removeClass('active');
        }
    </script>

{% endblock %}

{% block load_js %}
    <script>
        App.init(); //Initialise plugins and elements
    </script>
{% endblock %}
