{% extends "base.html" %}
{%block title%}site instance{%endblock%}
{%block content_title%}site instance.........{%endblock%}

{%block content_description%}Site ..........instance{%endblock%}

{% block content %}
    <h2>Nocout Site Instances</h2>
    <p><strong><a href="/site/new">Site Instance Creation Forms</a></strong></p>
    <p><a href="/site/new">Site Instance List Preview</a></p>
    <ul>
        {% for site in object_list %}
            <li><a href="/site/{{site.id}}">{{ site.name }}</a> <a href="/site/edit/{{site.id}}">Edit</a> <a href="/site/delete/{{site.id}}">Delete</a></li>
        {% endfor %}
    </ul>
{% endblock %}
