{% extends "inventory/inventory.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href={% static "css/device.css" %}>
{% endblock %}
{% block content %}
    <h2>Device Type</h2>
    <hr/>
    <p><a href="/type/new">Create Device Type</a></p>
    <br/>
    <div id="device">
        <table>
            <tr>
                <td><strong>Type</strong></td>
                <td><strong>Edit</strong></td>
                <td><strong>Delete</strong></td>
            </tr>
            {% for type in object_list %}
                <tr>
                    <td><a href="/type/{{ type.id }}">{{ type.name }}</a></td>
                    <td><a href="/type/edit/{{ type.id }}">Edit</a></td>
                    <td><a href="/type/delete/{{ type.id }}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}