{% extends "inventory/inventory.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href={% static "css/device.css" %}>
{% endblock %}

{% block content_title %}Device Type Detail{% endblock %}
{% block content_description %}Detail of device type{% endblock %}
{% block content %}
    <h1>{{ object.name }}</h1><br/>
    <div id="device">
        <table>
            <tr>
                <td><strong>Type Name:</strong></td>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <td><strong>Type Alias:</strong></td>
                <td>{{ object.alias }}</td>
            </tr>
            </tr>
        </table>
    </div>
{% endblock %}
