{% extends "nocout/base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-sitemap'></i> User Management" "javascript:;" %}
    {% breadcrumb_safe "Users" "user_list" %}
    {% breadcrumb_safe "Add User" "user_list" %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% load staticfiles %}

{% block content_title %}Add User{% endblock %}
{% block content_description %}Add user{% endblock %}
{% block content %}
    <div class="formContainer">
        <div class="">
            <div class="">
                <div class="">
                    <div class="box border lite">
                        <div class="box-title">
                            <h4><i class="fa fa-bars"></i> ADD USER</h4>
                        </div>
                            <div class="box-body">
                                <div class="col-md-12">
                                    <form action="/user/new/" method="post" class="form-horizontal" role="form" autocomplete="off">{% csrf_token %}
                                        <div class="form-group">
                                            {% for field in form %}
                                                <div class="form-group">
                                                    <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{% if field.field.required %}<span class="mandatory">* </span>{% endif %}{{ field.label|title }}</label>
                                                    <div class="col-sm-9">
                                                        <div class="col-md-8">
                                                            {{ field }} {{ field.errors }}
                                                        </div>
                                                        <div class="col-md-4 help_text">
                                                            {{ field.help_text }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-default"><i class="fa fa-pencil text-info"></i> Create</button>
                                                &nbsp;
                                                <button type="reset" class="btn btn-default" onclick="resetForm();"><i class="fa fa-refresh text-warning"></i> Reset</button>
                                                &nbsp;
                                                <button type="reset" class="btn btn-default" onclick="window.location.replace('/user/')"><i class="fa fa-times text-danger"></i> Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content_js %}
        <script type="text/javascript" src={% static "js/nocout/nocout_forms.js" %}></script>
    {% endblock %}
    <script type="text/javascript" src= {% static "js/nocout/nocoutUtilsLib.js" %} ></script>
    <script type="text/javascript">

        var parent_class = 'formContainer',
            change_event_dom_ids = [
                '#id_organization',
                '#id_groups'
            ],
            element_relation_dict = {
                '#id_groups' : {
                    "old_value" : $('#id_groups').val(),
                    "update" : [
                        {
                            "id" : '#id_user_permissions',
                            "url_name" : "{% url 'permissions_on_group_change' 123 %}",
                            "existing_value" : $('#id_user_permissions').val()
                        }
                    ],
                    "reset" : [
                        '#id_user_permissions'
                    ]
                },
                '#id_organization' : {
                    "old_value" : $('#id_organization').val(),
                    "update" : [
                        {
                            "id" : '#id_parent',
                            "url_name" : "{% url 'parent_on_organization_change' 123 %}",
                            "existing_value" : $('#id_parent').val()
                        }
                    ],
                    "reset" : [
                        '#id_parent'
                    ]
                }
            };

        $(document).ready(function(){
            // Initialize the select2 selectbox.
            $(".select2select").select2();

            // Init permissions select2
            $("#id_user_permissions").select2({
                formatResult: function(result) {
                    return format_permissions_widget(result);
                },
                formatSelection: function(result) {
                    return format_permissions_widget(result);
                }
            });

            // Loop to trigger change event on select boxes if value exists
            for (var i=0;i<change_event_dom_ids.length;i++) {
                if (element_relation_dict[change_event_dom_ids[i]]['old_value']) {
                    // trigger change event
                    $(change_event_dom_ids[i]).trigger('change', true);
                }
            }
        });
    </script>
{% endblock %}
