{% extends "department/department.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href={% static "css/user_profile.css" %}>
{% endblock %}
{% block breadcrumb_page_title %} > User {% endblock %}
{% block content_title %}Users Management{% endblock %}
{% block content_description %}Update a user ....{% endblock %}
{% block content %}
    <h3>Update User : {{ object.username }}</h3>
    <form action="" method="post">{% csrf_token %}
        <div id="new_user">
            <table>
                <tr>
                    <td>
                        {{ form.errors }}
                        {{ form.non_field_errors }}
                    </td>
                </tr>
                <tr>
                    <th><label for="id_username">Username:</label></th>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <th><label for="id_first_name">First Name:</label></th>
                    <td>{{ form.first_name }}</td>
                </tr>
                <tr>
                    <th><label for="id_last_name">Last Name:</label></th>
                    <td>{{ form.last_name }}</td>
                </tr>
                <tr>
                    <th><label for="id_email">Email:</label></th>
                    <td>{{ form.email }}</td>
                </tr>
                <tr>
                    <th><label for="id_parent">Parent:</label></th>
                    <td>{{ form.parent }}</td>
                </tr>
                <tr>
                    <th><label for="id_role">Role:</label></th>
                    <td>{{ form.role }}</td>
                </tr>
                <tr>
                    <th><label for="id_user_group">User Group:</label></th>
                    <td>{{ form.user_group }}</td>
                </tr>
                <tr>
                    <th><label for="id_designation">Designation:</label></th>
                    <td>{{ form.designation }}</td>
                </tr>
                <tr>
                    <th><label for="id_company">Company:</label></th>
                    <td>{{ form.company }}</td>
                </tr>
                <tr>
                    <th><label for="id_address">Address:</label></th>
                    <td>{{ form.address }}</td>
                </tr>
                <tr>
                    <th><label for="id_phone_number">Phone No.:</label></th>
                    <td>{{ form.phone_number }}</td>
                </tr>
                <tr>
                    <th><label for="id_comment">Comment:</label></th>
                    <td>{{ form.comment }}</td>
                </tr>
                <tr>
                    <th><label for="id_password1">Password:</label></th>
                    <td>{{ form.password1 }}</td>
                </tr>
                <tr>
                    <th><label for="id_password2">Password Confirmation:</label></th>
                    <td>{{ form.password2 }}</td>
                </tr>
                <tr>
                    <th></th>
                    <td><input type="submit" value="Update"/></td>
                </tr>
            </table>
        </div>
    </form>
{% endblock %}
