{% extends "department/department.html" %}
{% load staticfiles %}

{% block content_title %}Add User{% endblock %}
{% block content_description %}Add user{% endblock %}
{% block content %}
    <div class="row formContainer">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="box border lite">
                        <div class="box-title">
                            <h4><i class="fa fa-bars"></i> ADD USER</h4>
                        </div>
                            <div class="box-body">
                                <div class="col-md-8"><br />
                                    <form action="/user/new/" method="post" class="form-horizontal" role="form" autocomplete="off">{% csrf_token %}
                                        <div class="form-group">
                                            {% for field in form %}
                                                <div class="form-group">
                                                    <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{% if field.field.required %}<span class="mandatory">* </span>{% endif %}{{ field.label|title }}</label>
                                                    <div class="col-sm-9">
                                                        <div class="col-md-8">
                                                            {{ field }} {{ field.errors }}
                                                        </div>
                                                        <div class="col-md-4 help_text">
                                                            {{ field.help_text }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-success"><i class="fa fa-pencil"></i>Create</button>
                                                &nbsp;
                                                <button type="reset" class="btn btn-warning" onclick="resetForm();"><i class="fa fa-refresh"></i>Reset</button>
                                                &nbsp;
                                                <button type="reset" class="btn btn-danger" onclick="window.location.replace('/user/')"><i class="fa fa-times"></i>Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content_js %}
        <script type="text/javascript" src={% static "js/nocout/nocout_forms.js" %}></script>
    {% endblock %}
    <script>
        $(document).ready(function(){
            // Initialize the select2 selectbox.
            $(".select2select").select2();

            //Check weather the organization and parent is selected or not
            if ($("#id_organization").val() == "") {
                $("#id_parent").empty();
            }
            else if ($("#id_parent").val() == ""){
                $("#id_parent").empty();
                list_parent_according_to_organisation()
            }
            else{
                select_parent_already_selected()
            }

            //on change of the organisation list the parent list.
            $('#id_organization').change(function(){
                list_parent_according_to_organisation()
            })

            //function to get the list of the parent according to the ogranisation.
            function list_parent_according_to_organisation(){
                var organisation_id = $('#id_organization option:selected').val()
                console.log(parent)
                //if no organisation is selected.
                if(organisation_id == '' ){
                    $('#id_parent').html("<option value=>Select</option>").change();
                }
                else{
                    $.ajax({
                        url : "/user/organisation/user/list/",
                        type : "GET",
                        dataType: "html",
                        data: {
                            organisation_id : organisation_id
                        },
                        success : function(parent_list_option) {
                            $('#id_parent').html(parent_list_option);
                            $('#id_parent').change();
                        },
                        error : function(xhr,errmsg,err) {
                            console.log(xhr.status + ": " + xhr.responseText);
                        }
                    });
                    return false;
                }
            }

            function select_parent_already_selected(){
                var organization_id = $('#id_organization option:selected').val()
                var parent_id = $('#id_parent option:selected').val()
                //if no organisation is selected.
                if(organization_id == '' ){
                    $('#id_parent').html("<option value=>Select</option>").change();
                }
                else{
                    $.ajax({
                        url : "/user/organisation/user/select/",
                        type : "GET",
                        dataType: "html",
                        data: {
                            parent_id : parent_id,
                        },
                        success : function(parent_select) {
                            $('#id_parent').empty();
                            $('#id_parent').html(parent_select);
                        },
                        error : function(xhr,errmsg,err) {
                            console.log(xhr.status + ": " + xhr.responseText);
                        }
                    });
                    return false;
                }
            }
        })
    </script>
{% endblock %}
