{% extends "inventory/inventory.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-dropbox'></i> Inventory" "javascript:;" %}
    {% breadcrumb_safe "GIS Wizard" "javascript:;" %}
    {% breadcrumb_safe "Base Station Wizard" "gis-wizard-base-station-list" %}
    {% if object.alias %}
        {% breadcrumb_safe "Base Station Wizard : "|add:object.alias "javascript:;" %}
    {% else %}
        {% breadcrumb_safe "New Base Station Wizard" "javascript:;" %}
    {% endif %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% load staticfiles %}
{% block content_title %}GIS Wizard: Base Station{% endblock %}
{% block content_description %}gis wizard: base station{% endblock %}
{% block content %}
    <p>
        <a href="javascript:void(0)" onclick="window.history.go(-1);">
            <i class="fa fa-arrow-left">&nbsp;</i> Previous Page
        </a>
    </p>
    <div class="row formContainer">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="box border lite">
                        <div class="box-title">
                            <h4><i class="fa fa-bars"></i> GIS WIZARD: {{ object.alias }} (BASE STATION) </h4>
                        </div>
                        <div class="box-body">
                            <div class="col-md-8">
                                <!-- :START: Radio Buttons to choose existing or create new -->
                                <div class="form-group">
                                    <label class="control-label pull-left">Base Station &nbsp;&nbsp;&nbsp;</label>
                                    <div class="pull-left">

                                        <label class="radio-inline">
                                            <input type="radio" id="id_base_station_radio" class="radioField" value="existing" name="base_station_radio"> Choose Existing
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" id="id_base_station_radio" class="radioField" value="new" name="base_station_radio"> Create New
                                        </label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <!-- :END: Radio Buttons to choose existing or create new -->
                                
                                <!-- :START: BS Selectbox -->
                                <div class="form-group">
                                    <input class=" tip-focus col-md-6" data-placement="right" data-toggle="tooltip" id="id_base_station" name="base_station" title="" type="hidden" value="{% if object %}{{ object.id }}{% endif %}"/>
                                    <div class="clearfix"></div>
                                </div>
                                <!-- :END: BS Selectbox -->
                                
                                {% if form %}
                                    <!--NEW BASE STATION FORM - START -->
                                    <form id="id_base_station_form" action="" method="post" class="form-horizontal" role="form">{% csrf_token %}
                                        {% include "gis_wizard/form.html" with form=form only %}
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-success">
                                                    <i class="fa fa-pencil"></i>{{ save_text }} &amp; Next
                                                </button>
                                                <button type="submit" id="id_update_and_show" class="btn btn-success">
                                                    <i class="fa fa-pencil"></i>{{ save_text }} &amp; Show
                                                </button>
                                                {% if skip_url %}
                                                
                                                    <button type="reset" class="btn btn-warning" onclick="window.location.replace('{{ skip_url }}')">
                                                        <i class="fa fa-times"></i> Skip
                                                    </button>
                                                {% endif %}

                                                {% url 'gis-wizard-list' as cancel_url %}
                                                <button type="reset" class="btn btn-danger" onclick="window.location.replace('/gis-wizard/base-station/')">
                                                    <i class="fa fa-times"></i> Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <!--NEW BASE STATION FORM - END -->
                                {% endif %}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- IF NEW BS FORM THEN LOAD wizardNewBsLib.js SCRIPT  -->
    {% if form %}
        <script type="text/javascript" src={% static "js/gis_wizard/wizardNewBsLib.js" %}></script>
    {% endif %}

    {% block content_js %}
        <script type="text/javascript" src={% static "js/nocout/nocout_forms.js" %}></script>
        <script type="text/javascript">
            $(function() {
                var $radios = $('input:radio[name=base_station_radio]');
                {% if select_view or object %}
                    $radios.filter('[value=existing]').prop('checked', true);
                    // Initialize BS select2
                    $("#id_base_station").select2({
                        placeholder: "Search for a base station.",
                        minimumInputLength: 2,
                        width: "resolve",
                        ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                            url: "/base_station/select2/elements/",
                            dataType: 'json',
                            quietMillis: 250,
                            data: function (term, page) {
                                return {
                                    sSearch: term, // search term
                                    org: 0,
                                };
                            },
                            results: function (data, page) { // parse the results into the format expected by Select2.
                                // since we are using custom formatting functions we do not need to alter the remote JSON data
                                return { results: data.items };
                            },
                            cache: false
                        },
                        initSelection: function(element, callback) {
                            // the input tag has a value attribute preloaded that points to a preselected repository's id
                            // this function resolves that id attribute to an object that select2 can render
                            // using its formatResult renderer - that way the repository name is shown preselected
                            var id = $(element).val();
                            if (id !== "") {
                                $.ajax("/base_station/select2/elements/", {
                                    dataType: "json",
                                    data: {'obj_id': id}
                                }).done(function(data) {
                                    callback({id: id, alias: data[0]});
                                });
                            }
                        },
                        formatResult: function(basestation) {
                            return basestation.alias;
                        },
                        formatSelection: function(basestation) {
                            return basestation.alias;
                        },
                    }).on("select2-selecting", function(el) {
                        location.href="/gis-wizard/base-station/" + el.val + "/";
                    });
                {% else %}
                    $radios.filter('[value=new]').prop('checked', true);
                {% endif %}

                $("input:radio[name=base_station_radio]").change(function (){
                    {% if select_view or object %}
                        location.href="{% url 'gis-wizard-base-station-create' %}";
                    {% else %}
                        location.href="{% url 'gis-wizard-base-station-select' %}";
                    {% endif %}
                });
            });
        </script>
    {% endblock %}
{% endblock %}