{% extends "inventory/inventory.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-dropbox'></i> Inventory" "javascript:;" %}
    {% breadcrumb_safe "GIS Wizard" "javascript:;" %}
    {% breadcrumb_safe "Base Station Wizard" "gis-wizard-base-station-list" %}
    {% breadcrumb_safe "BS : "|add:base_station.alias "gis-wizard-base-station-update" bs_pk %}
    {% breadcrumb_safe "PTP Listing : "|add:base_station.alias "javascript:;" %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% load staticfiles %}

{% block content_title %}PTP Listing{% endblock %}
{% block content_description %}List of PTP{% endblock %}
{% block content %}
<p><a href="javascript:void(0)" onclick="window.history.go(-1);"><i class="fa fa-arrow-left">&nbsp;</i> Previous Page</a></p>
<p><a href="{% url 'gis-wizard-sector-create' bs_pk=base_station.id selected_technology=2 %}"><i class="fa fa-plus">&nbsp;</i> <span id="id_create_new_sector_link">Create New PTP</span></a></p>

    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-table"></i>PTP LISTING ({{ base_station.alias }})</h4>
        </div>
        <div id="tableContainer" class="box-body">
            <div class="tabbable header-tabs">
                <ul class="nav nav-tabs">
                        <li><a href="#network_wifi_block" id="network_wifi_tab" data-toggle="tab"><span class="hidden-inline-mobile">WiMAX</span></a></li>
                        <li><a href="#network_pmp_block" id="network_pmp_tab" data-toggle="tab"><span class="hidden-inline-mobile">PMP</span></a></li>
                        <li class="active"><a href="#network_p2p_block" id="network_ptp_tab" data-toggle="tab"><span class="hidden-inline-mobile">PTP</span></a></li>
                </ul>
                <div class="tab-content" style="overflow:auto;">
                    <div class="tab-pane in active" id="network_p2p_block">
                        <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="SectorListingTable_ptp">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="network_pmp_block">
                        <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="SectorListingTable_pmp">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="network_wifi_block">
                        <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="SectorListingTable_wimax">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="SectorListingTable">
                <thead></thead>
                <tbody></tbody>
            </table> -->
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <script type="text/javascript">
        $(document).ready(function (e) {

            /*Make a instance of ourDataTableWidget class */
            var dataTableInstance = new ourDataTableWidget();

            /*Grid headers object*/
            var p2p_GridHeadersObj = $.parseJSON('{{ p2p_datatable_headers|safe }}');
            var pmp_GridHeadersObj = $.parseJSON('{{ pmp_datatable_headers|safe }}');
            var wimax_GridHeadersObj = $.parseJSON('{{ wimax_datatable_headers|safe }}');

            var is_global = '{{ is_global }}';

            var ajax_url_ptp = '{% url "gis-wizard-p2p-sector-list-table" bs_pk=base_station.id selected_technology=2 %}';
            var ajax_url_pmp = '{% url "gis-wizard-pmp-sector-list-table" bs_pk=base_station.id selected_technology=4 %}';
            var ajax_url_wimax = '{% url "gis-wizard-wimax-sector-list-table" bs_pk=base_station.id selected_technology=3 %}';

            var destroy = false;

            /*Call createDataTable function of ourDataTableWidget class*/
            dataTableInstance.createDataTable("SectorListingTable_ptp", p2p_GridHeadersObj, ajax_url_ptp, destroy);
            dataTableInstance.createDataTable("SectorListingTable_pmp", pmp_GridHeadersObj, ajax_url_pmp, destroy);
            dataTableInstance.createDataTable("SectorListingTable_wimax", wimax_GridHeadersObj, ajax_url_wimax, destroy);

            $('.nav-tabs li').click(function(el){
                //var active_tab = $('.nav-tabs li').filter('.active').find('.hidden-inline-mobile').text();
                var active_tab = el.target.innerText;
                if (active_tab == 'PTP') {
                    var new_html = $('#tableContainer_div').find('h4').html().replace("SECTOR", "PTP");
                    $('#tableContainer_div').find('h4').html(new_html);
                    $('#id_create_new_sector_link').text('Create New PTP');
                    $('.description').text('List of PTP');

                    var new_text = $('.content-title').text().replace("Sector", "PTP");
                    $('.content-title').text(new_text);
                } else {
                    var new_html = $('#tableContainer_div').find('h4').html().replace("PTP", "SECTOR");
                    $('#tableContainer_div').find('h4').html(new_html);
                    $('#id_create_new_sector_link').text('Create New Sector');
                    $('.description').text('List of sectors');

                    var new_text = $('.content-title').text().replace("PTP", "Sector");
                    $('.content-title').text(new_text);
                }
            });
        });
    </script>
{% endblock %}
