{% extends "inventory/inventory.html" %}
{% load staticfiles %}
{% block content_title %}GIS Wizard: SubStation{% endblock %}
{% block content_description %}gis wizard: sub_station{% endblock %}
{% block content %}
    <div class="row formContainer">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="box border lite">
                        <div class="box-title">
                            <h4><i class="fa fa-bars"></i> GIS WIZARD: SUBSTATION </h4>
                        </div>
                            <div class="box-body">
                                <div class="col-md-8"><br/>

                <!-- :START: Radio Buttons to choose technology and to choose existing or create new -->
                <div class="form-group">
                    <label class="control-label pull-left">Technology &nbsp;:&nbsp;&nbsp;</label>
                    <div class="pull-left">
                        {% for technology in technologies %}
                        &nbsp;&nbsp;<label class="radio-inline">
                            <input type="radio" id="id_technology_radio" class="radioField" value="{{ technology.id }}" name="technology_radio"> {{ technology.name }}
                        </label>
                        {% endfor %}
                    </div>
                </div><br/>
            {% if not sector_has_sub_station %}
                <div class="form-group">
                    <label class="control-label pull-left">SubStation &nbsp;&nbsp;:&nbsp;&nbsp;</label>
                    <div class="pull-left">
                        &nbsp;&nbsp;<label class="radio-inline">
                            <input type="radio" id="id_sub_station_radio" class="radioField" value="existing" name="sub_station_radio"> Choose Existing
                        </label>
                        &nbsp;&nbsp;<label class="radio-inline">
                            <input type="radio" id="id_sub_station_radio" class="radioField" value="new" name="sub_station_radio"> Create New
                        </label>
                    </div>
                </div><br/><br/>
                <div class="form-group">
                    <div class="col-sm-9">
                        <div class="col-md-8">
                            <input class=" tip-focus form-control" data-placement="right" data-toggle="tooltip" id="id_sub_station" name="sub_station" title="" type="hidden" value="{% if object %}{{ object.id }}{% endif %}"/>
                        </div>
                    </div>
                </div>
                {% if object or select_view %}
                </br>
                </br>
                {% endif %}
            {% else %}
                <div class="form-group">
                    <label class="control-label pull-left">SubStation &nbsp;&nbsp;:&nbsp;&nbsp;</label>
                </div></br>
            {% endif %} {# if not sector_has_sub_station #}
                <!-- :END: Radio Buttons to choose technology and to choose existing or create new -->

            {% if form %}

                                    <form id="id_sub_station_form" action="" method="post" class="form-horizontal" role="form">{% csrf_token %}
                                        {% include "gis_wizard/form.html" with form=form only %}

                <!-- :START: Antenna Form -->
                <hr style="border-width:4px;">
                <div class="form-group">
                    <label class="control-label pull-left">Antenna &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</label>
                    {% if sub_station_antenna_form %}
                </div>
                {% include "gis_wizard/form.html" with form=sub_station_antenna_form only %}
                    {% else %}
                    <div class="pull-left">

                        <label class="radio-inline">
                            <input type="radio" id="id_sub_station_antenna_radio" class="radioField" value="existing" name="sub_station_antenna_radio"> Choose Existing
                        </label>
                        <label class="radio-inline">
                            <input type="radio" id="id_sub_station_antenna_radio" class="radioField" value="new" name="sub_station_antenna_radio"> Create New
                        </label>
                    </div>
                </div><br/>
                <div class="form-group">
                    <div class="col-sm-9">
                        <div class="col-md-8">
                            <input class=" tip-focus form-control" data-placement="right" data-toggle="tooltip" id="id_sub_station_antenna" name="sub_station_antenna" title="" type="hidden" value="{{ sub_station_antenna_id }}"/>
                        </div>
                    </div>
                </div><br/>
                <div id="id_sub_station_antenna_form"></div><br>
                    {% endif %}
                <!-- :END: Antenna Form -->

                <!-- :START: Circuit Form -->
                <hr style="border-width:4px;">
                <div class="form-group">
                    <label class="control-label pull-left">Circuit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</label>
                    {% if circuit_form %}
                </div>
                {% include "gis_wizard/form.html" with form=circuit_form only %}
                    {% else %}
                    <div class="pull-left">

                        <label class="radio-inline">
                            <input type="radio" id="id_sub_station_circuit_radio" class="radioField" value="existing" name="sub_station_circuit_radio"> Choose Existing
                        </label>
                        <label class="radio-inline">
                            <input type="radio" id="id_sub_station_circuit_radio" class="radioField" value="new" name="sub_station_circuit_radio"> Create New
                        </label>
                    </div>
                </div><br/>
                <div class="form-group">
                    <div class="col-sm-9">
                        <div class="col-md-8">
                            <input class=" tip-focus form-control" data-placement="right" data-toggle="tooltip" id="id_sub_station_circuit" name="sub_station_circuit" title="" type="hidden" value="{{ sub_station_circuit_id }}"/>
                        </div>
                    </div>
                </div><br/>
                <div id="id_sub_station_circuit_form"></div><br>
                    {% endif %}
                <!-- :END: Circuit Form -->

                <!-- :START: Customer Form -->
                <hr style="border-width:4px;">
                <div class="form-group">
                    <label class="control-label pull-left">Customer &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</label>
                    {% if customer_form %}
                </div>
                {% include "gis_wizard/form.html" with form=customer_form only %}
                    {% else %}
                    <div class="pull-left">

                        <label class="radio-inline">
                            <input type="radio" id="id_sub_station_customer_radio" class="radioField" value="existing" name="sub_station_customer_radio"> Choose Existing
                        </label>
                        <label class="radio-inline">
                            <input type="radio" id="id_sub_station_customer_radio" class="radioField" value="new" name="sub_station_customer_radio"> Create New
                        </label>
                    </div>
                </div><br/>
                <div class="form-group">
                    <div class="col-sm-9">
                        <div class="col-md-8">
                            <input class=" tip-focus form-control" data-placement="right" data-toggle="tooltip" id="id_sub_station_customer" name="sub_station_customer" title="" type="hidden" value="{{ sub_station_customer_id }}"/>
                        </div>
                    </div>
                </div><br/>
                <div id="id_sub_station_customer_form"></div><br>
                    {% endif %}
                <!-- :END: Customer Form -->

                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-success"><i class="fa fa-pencil"></i>{{ save_text }} &amp; Next</button>
                                                &nbsp;
                                                <button type="submit" id="id_update_and_show" class="btn btn-success"><i class="fa fa-pencil"></i>{{ save_text }} &amp; Show</button>
                                                &nbsp;
                                                {% url 'gis-wizard-list' as skip_url %}
                                                <button type="reset" class="btn btn-warning" onclick="window.location.replace('{{ skip_url }}')"><i class="fa fa-times"></i>Skip</button>
                                                {% if sector_has_sub_station %}
                                                &nbsp;
                                                <button type="reset" class="btn btn-danger" onclick="delete_and_show()"><i class="fa fa-times"></i>Delete &amp; Show</button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </form>
            {% endif %}
                                </div>
                                <div class="clearfix"></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content_js %}
        <script type="text/javascript" src={% static "js/nocout/nocout_forms.js" %}></script>
    {% endblock %}

    {% if form %}

        {% if sector_has_sub_station %}
        {% url 'gis-wizard-sub-station-delete' bs_pk=bs_pk selected_technology=selected_technology sector_pk=sector_pk pk=object.id as delete_url %}
        <script>
        function delete_and_show(){
            if (confirm('Remove relationship of Sector and Sub-station?')) {
                window.location.replace('{{ delete_url }}');
            }
        }
        </script>
        {% endif %}

    <script>
    $(document).ready(function () {
        $("#id_update_and_show").on("click", function(e) {
            e.preventDefault();
            $('#id_sub_station_form').attr('action', "?show=True").submit();
        });

            // Initialize the select2 selectbox.
            $(".select2select").select2();
            $('.tip-focus').tooltip({
                placement: 'right',
                trigger: 'focus'
            });

            // if none of the value from 'country' is selected than empty 'state' & 'city' selection too.
            // or update value of 'state' corresponding to the selected 'country'

            if ($("#id_country").val() == "") {
                $("#id_state").empty();
                $("#id_city").empty();
            }
            else {
                Dajaxice.inventory.update_states_after_invalid_form(Dajax.process, {'option': $("#id_country").val(), 'state_id': $("#id_state").val()});
            }

            // if 'state' has no value than empty 'city' selection menu
            // or update 'city' corresponding to selected 'state'
            if (!$("#id_state").val()) {
                $("#id_city").empty();
            }
            else {
                Dajaxice.inventory.update_cities_after_invalid_form(Dajax.process, {'option': $("#id_state").val(), 'city_id': $("#id_city").val()});
            }

            $("#id_device").select2({
                placeholder: "Search for a device.",
                minimumInputLength: 2,
                width: "resolve",
                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                    url: "/inventory/list/device/",
                    dataType: 'json',
                    quietMillis: 250,
                    data: function (term, page) {
                        return {
                            sSearch: term, // search term
                            org: 0,
                        };
                    },
                    results: function (data, page) { // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to alter the remote JSON data
                        return { results: data.items };
                    },
                    cache: false
                },
                initSelection: function(element, callback) {
                    // the input tag has a value attribute preloaded that points to a preselected repository's id
                    // this function resolves that id attribute to an object that select2 can render
                    // using its formatResult renderer - that way the repository name is shown preselected
                    var id = $(element).val();
                    if (id !== "") {
                        $.ajax("/inventory/select/device/" + id, {
                            dataType: "json"
                        }).done(function(data) {
                            callback({id: id, device_alias: data[0]});
                            });
                    }
                },
                formatResult: repoDeviceFormatResult, // omitted for brevity, see the source of this page
                formatSelection: repoDeviceFormatSelection,  // omitted for brevity, see the source of this page
            });

            {% if not sub_station_antenna_form %}
            // :START: Antenna Form Events //
            $('input:radio[name=sub_station_antenna_radio]').filter('[value=existing]').prop('checked', true);
            var sub_station_antenna_form = document.getElementById("id_sub_station_antenna_form");
            bind_sub_station_antenna_select2();
            {% if sub_station_antenna_id %}
                $.get('/gis-wizard/get-form/', {model: 'antenna', technology: {{ selected_technology }}, pk: {{ sub_station_antenna_id }}}, function (data) {sub_station_antenna_form.innerHTML=data}, 'html');
            {% endif %}

            $("input:radio[name=sub_station_antenna_radio]").change(function (){
                var sub_station_antenna_selected = $(this).val();
                if (sub_station_antenna_selected == 'new') {
                    $("#id_sub_station_antenna").select2('destroy');
                    $.get('/gis-wizard/get-form/', {model: 'antenna', technology: {{ selected_technology }}}, function (data) {sub_station_antenna_form.innerHTML=data}, 'html');
                } else { // existing
                    bind_sub_station_antenna_select2();
                    sub_station_antenna_form.innerHTML = '';
                }
            });
            // :END: Antenna Form Events //
            {% endif %}

            {% if not circuit_form %}
            // :START: Circuit Form Events //
            $('input:radio[name=sub_station_circuit_radio]').filter('[value=existing]').prop('checked', true);
            var sub_station_circuit_form = document.getElementById("id_sub_station_circuit_form");
            bind_sub_station_circuit_select2();
            {% if sub_station_circuit_id %}
                $.get('/gis-wizard/get-form/', {model: 'circuit', technology: {{ selected_technology }}, pk: {{ sub_station_circuit_id }}}, function (data) {sub_station_circuit_form.innerHTML=data}, 'html');
            {% endif %}

            $("input:radio[name=sub_station_circuit_radio]").change(function (){
                var sub_station_circuit_selected = $(this).val();
                if (sub_station_circuit_selected == 'new') {
                    $("#id_sub_station_circuit").select2('destroy');
                    $.get('/gis-wizard/get-form/', {model: 'circuit', technology: {{ selected_technology }}}, function (data) {sub_station_circuit_form.innerHTML=data}, 'html');
                } else { // existing
                    bind_sub_station_circuit_select2();
                    sub_station_circuit_form.innerHTML = '';
                }
            });
            // :END: Circuit Form Events //
            {% endif %}

            {% if not customer_form %}
            // :START: Customer Form Events //
            $('input:radio[name=sub_station_customer_radio]').filter('[value=existing]').prop('checked', true);
            var sub_station_customer_form = document.getElementById("id_sub_station_customer_form");
            bind_sub_station_customer_select2();
            {% if sub_station_customer_id %}
                $.get('/gis-wizard/get-form/', {model: 'customer', technology: {{ selected_technology }}, pk: {{ sub_station_customer_id }}}, function (data) {sub_station_customer_form.innerHTML=data}, 'html');
            {% endif %}

            $("input:radio[name=sub_station_customer_radio]").change(function (){
                var sub_station_customer_selected = $(this).val();
                if (sub_station_customer_selected == 'new') {
                    $("#id_sub_station_customer").select2('destroy');
                    $.get('/gis-wizard/get-form/', {model: 'customer', technology: {{ selected_technology }}}, function (data) {sub_station_customer_form.innerHTML=data}, 'html');
                } else { // existing
                    bind_sub_station_customer_select2();
                    sub_station_customer_form.innerHTML = '';
                }
            });
            // :END: Customer Form Events //
            {% endif %}

    });//end ready
    // update 'states' on selecting 'country'
        $("#id_country").change(function () {
            if ($("#id_country").val() != "") {
                Dajaxice.inventory.update_states(Dajax.process, {'option': $("#id_country").val()});
                $("#id_city").empty();
            }
            else {
                $("#id_state").select2("val","");
                $("#id_state").empty();
                $("#id_city").select2("val","");
                $("#id_city").empty();
            }
        });

        // update 'cities' on selecting 'state'
        $("#id_state").change(function () {
            $("#id_city").select2("val","");
            Dajaxice.inventory.update_cities(Dajax.process, {'option': $("#id_state").val()});
        });

        function repoDeviceFormatResult(device) {
          return device.device_alias;
        }

        function repoDeviceFormatSelection(device) {
          return device.device_alias;
        }

    </script>
    {% endif %}

    <script>
        // Radio specific functions only, nothing to do with form fields.
        $(function() {
            /* :START: Technology radio select selected and disable it. */
                $('input:radio[name=technology_radio]').filter('[value={{ selected_technology }}]').prop('checked', true);
                $('input:radio[name=technology_radio]').attr('disabled',true);
            /* :END: Technology radio select selected and disable it. */
                var $radios = $('input:radio[name=sub_station_radio]');
                {% if select_view or object %}
                    $radios.filter('[value=existing]').prop('checked', true);

                        $("#id_sub_station").select2({
                            placeholder: "Search for a sub_station.",
                            minimumInputLength: 2,
                            width: "resolve",
                            ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                                url: "/sub_station/list/sub_station/",
                                dataType: 'json',
                                quietMillis: 250,
                                data: function (term, page) {
                                    return {
                                        sSearch: term, // search term
                                        org: 0,
                                    };
                                },
                                results: function (data, page) { // parse the results into the format expected by Select2.
                                    // since we are using custom formatting functions we do not need to alter the remote JSON data
                                    return { results: data.items };
                                },
                                cache: false
                            },
                            initSelection: function(element, callback) {
                                // the input tag has a value attribute preloaded that points to a preselected repository's id
                                // this function resolves that id attribute to an object that select2 can render
                                // using its formatResult renderer - that way the repository name is shown preselected
                                var id = $(element).val();
                                if (id !== "") {
                                    $.ajax("/sub_station/select/sub_station/" + id, {
                                        dataType: "json"
                                    }).done(function(data) {
                                        callback({id: id, alias: data[0]});
                                        });
                                }
                            },
                            formatResult: repoSubStationFormatResult, // omitted for brevity, see the source of this page
                            formatSelection: repoSubStationFormatSelection,  // omitted for brevity, see the source of this page
                        }).on("select2-selecting", function(el) {
                            location.href="/gis-wizard/base-station/{{ bs_pk }}/technology/{{ selected_technology }}/sector/{{ sector_pk }}/sub-station/" + el.val + "/";
                        });
                {% else %}
                    $radios.filter('[value=new]').prop('checked', true);
                {% endif %}
            $("input:radio[name=sub_station_radio]").change(function (){
                {% if select_view or object %}
                location.href="{% url 'gis-wizard-sub-station-create' bs_pk=bs_pk selected_technology=selected_technology sector_pk=sector_pk %}";
                {% else %}
                location.href="{% url 'gis-wizard-sub-station-select' bs_pk=bs_pk selected_technology=selected_technology sector_pk=sector_pk %}";
                {% endif %}
            });

        });

        function repoSubStationFormatResult(result) {
          return result.alias;
        }

        function repoSubStationFormatSelection(result) {
          return result.alias;
        }

        {% if not sub_station_antenna_form %}
        function bind_sub_station_antenna_select2() {

            $("#id_sub_station_antenna").select2({
                placeholder: "Search for a antenna.",
                minimumInputLength: 2,
                width: "resolve",
                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                    url: "/antenna/list/antenna/",
                    dataType: 'json',
                    quietMillis: 250,
                    data: function (term, page) {
                        return {
                            sSearch: term, // search term
                            org: {{ organization.id }},
                        };
                    },
                    results: function (data, page) { // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to alter the remote JSON data
                        return { results: data.items };
                    },
                    cache: false
                },
                initSelection: function(element, callback) {
                    // the input tag has a value attribute preloaded that points to a preselected repository's id
                    // this function resolves that id attribute to an object that select2 can render
                    // using its formatResult renderer - that way the repository name is shown preselected
                    var id = $(element).val();
                    if (id !== "") {
                        $.ajax("/antenna/select/antenna/" + id, {
                            dataType: "json"
                        }).done(function(data) {
                            callback({id: id, alias: data[0]});
                            });
                    }
                },
                formatResult: repoAntennaFormatResult, // omitted for brevity, see the source of this page
                formatSelection: repoAntennaFormatSelection,  // omitted for brevity, see the source of this page
            }).on("select2-selecting", function(el) {
                var sub_station_antenna_form = document.getElementById("id_sub_station_antenna_form");
                $.get('/gis-wizard/get-form/', {model: 'antenna', technology: {{ selected_technology }}, pk: el.val}, function (data) {sub_station_antenna_form.innerHTML=data}, 'html');
            });
        }

        function repoAntennaFormatResult(antenna) {
          return antenna.alias;
        }

        function repoAntennaFormatSelection(antenna) {
          return antenna.alias;
        }
        {% endif %}

        {% if not circuit_form %}
        function bind_sub_station_circuit_select2() {
            $("#id_sub_station_circuit").select2({
                placeholder: "Search for a circuit.",
                minimumInputLength: 2,
                width: "resolve",
                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                    url: "/circuit/list/circuit/",
                    dataType: 'json',
                    quietMillis: 250,
                    data: function (term, page) {
                        return {
                            sSearch: term, // search term
                            org: {{ organization.id }},
                        };
                    },
                    results: function (data, page) { // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to alter the remote JSON data
                        return { results: data.items };
                    },
                    cache: false
                },
                initSelection: function(element, callback) {
                    // the input tag has a value attribute preloaded that points to a preselected repository's id
                    // this function resolves that id attribute to an object that select2 can render
                    // using its formatResult renderer - that way the repository name is shown preselected
                    var id = $(element).val();
                    if (id !== "") {
                        $.ajax("/circuit/select/circuit/" + id, {
                            dataType: "json"
                        }).done(function(data) {
                            callback({id: id, alias: data[0]});
                            });
                    }
                },
                formatResult: repoCircuitFormatResult, // omitted for brevity, see the source of this page
                formatSelection: repoCircuitFormatSelection,  // omitted for brevity, see the source of this page
            }).on("select2-selecting", function(el) {
                var sub_station_circuit_form = document.getElementById("id_sub_station_circuit_form");
                $.get('/gis-wizard/get-form/', {model: 'circuit', technology: {{ selected_technology }}, pk: el.val}, function (data) {sub_station_circuit_form.innerHTML=data}, 'html');
            });
        }

        function repoCircuitFormatResult(circuit) {
          return circuit.alias;
        }

        function repoCircuitFormatSelection(circuit) {
          return circuit.alias;
        }
        {% endif %}

        {% if not customer_form %}
        function bind_sub_station_customer_select2() {
            $("#id_sub_station_customer").select2({
                placeholder: "Search for a customer.",
                minimumInputLength: 2,
                width: "resolve",
                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                    url: "/customer/list/customer/",
                    dataType: 'json',
                    quietMillis: 250,
                    data: function (term, page) {
                        return {
                            sSearch: term, // search term
                            org: {{ organization.id }},
                        };
                    },
                    results: function (data, page) { // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to alter the remote JSON data
                        return { results: data.items };
                    },
                    cache: false
                },
                initSelection: function(element, callback) {
                    // the input tag has a value attribute preloaded that points to a preselected repository's id
                    // this function resolves that id attribute to an object that select2 can render
                    // using its formatResult renderer - that way the repository name is shown preselected
                    var id = $(element).val();
                    if (id !== "") {
                        $.ajax("/customer/select/customer/" + id, {
                            dataType: "json"
                        }).done(function(data) {
                            callback({id: id, alias: data[0]});
                            });
                    }
                },
                formatResult: repoCustomerFormatResult, // omitted for brevity, see the source of this page
                formatSelection: repoCustomerFormatSelection,  // omitted for brevity, see the source of this page
            }).on("select2-selecting", function(el) {
                var sub_station_customer_form = document.getElementById("id_sub_station_customer_form");
                $.get('/gis-wizard/get-form/', {model: 'customer', technology: {{ selected_technology }}, pk: el.val}, function (data) {sub_station_customer_form.innerHTML=data}, 'html');
            });
        }

        function repoCustomerFormatResult(customer) {
          return customer.alias;
        }

        function repoCustomerFormatSelection(customer) {
          return customer.alias;
        }
        {% endif %}

    </script>
{% endblock %}
