{% extends "inventory/inventory.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-server'></i> Inventory" "javascript:;" %}
    {% breadcrumb_safe "GIS Wizard" "javascript:;" %}
    {% breadcrumb_safe "Base Station Wizard" "gis-wizard-base-station-list" %}
    {% breadcrumb_safe "BS : "|add:base_station.alias "gis-wizard-base-station-update" base_station.id %}
    {% breadcrumb_safe "Sectors Listing : "|add:base_station.alias "gis-wizard-sector-list" base_station.id %}
    {% breadcrumb_safe "Sector : "|add:sector.sector_id "gis-wizard-sector-update" base_station.id selected_technology sector_pk %}
    {% breadcrumb_safe "SS Listing" "gis-wizard-sub-station-list" base_station.id selected_technology sector_pk %}
    {% if object.alias %}
        {% breadcrumb_safe "Sub Station : "|add:object.alias "javascript:;" %}
    {% else %}
        {% breadcrumb_safe "Sub Station : New" "javascript:;" %}
    {% endif %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% load staticfiles %}
{% block content_title %}GIS Wizard: SubStation{% endblock %}
{% block content_description %}gis wizard: sub_station{% endblock %}
{% block content %}
    <p>
        <a href="javascript:void(0)" onclick="window.history.go(-1);">
            <i class="fa fa-arrow-left">&nbsp;</i> Previous Page
        </a>
    </p>
    <div class="row formContainer">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="box border lite">
                        <div class="box-title">
                            <h4><i class="fa fa-bars"></i> GIS WIZARD: {{ object.alias }} (SUBSTATION) </h4>
                        </div>
                            <div class="box-body">
                                <div class="col-md-8">
                                    {% if not sector_has_sub_station %}
                                        <!-- :START: Radio Buttons to choose technology-->
                                        <div class="form-group">
                                            <label class="control-label pull-left">Technology &nbsp;:&nbsp;&nbsp;</label>
                                            <div class="pull-left">
                                                {% for technology in technologies %}
                                                &nbsp;&nbsp;<label class="radio-inline">
                                                    <input type="radio" id="id_technology_radio" class="radioField" value="{{ technology.id }}" name="technology_radio"> {{ technology.name }}
                                                </label>
                                                {% endfor %}
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <!-- :END: Radio Buttons to choose technology-->

                                        <!-- :START: Radio Buttons for SS to choose existing or create new -->
                                        <div class="form-group">
                                            <label class="control-label pull-left" id="ss_form_1">
                                                SubStation
                                            </label>
                                            <div class="pull-left">
                                                &nbsp;&nbsp;<label class="radio-inline">
                                                    <input type="radio" id="id_sub_station_radio" class="radioField" value="existing" name="sub_station_radio"> Choose Existing
                                                </label>
                                                &nbsp;&nbsp;<label class="radio-inline">
                                                    <input type="radio" id="id_sub_station_radio" class="radioField" value="new" name="sub_station_radio"> Create New
                                                </label>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <!-- :END: Radio Buttons for SS to choose existing or create new -->

                                        <!-- START : Choose Existing SS Selectbox -->
                                        <div class="form-group">
                                            <input class=" tip-focus col-md-6" data-placement="right" data-toggle="tooltip" id="id_sub_station" name="sub_station" title="" type="hidden" value="{% if object %}{{ object.id }}{% endif %}"/>
                                            <div class="clearfix"></div>
                                        </div>
                                        <!-- END : Choose Existing SS Selectbox -->
                                    {% else %}
                                        <div class="form-group">
                                            <label class="control-label pull-left" id="ss_form_2">
                                                SubStation
                                            </label>
                                            <div class="clearfix"></div>
                                        </div>
                                    {% endif %} {# if not sector_has_sub_station #}

                                    {% if form %}
                                    <form id="id_sub_station_form" action="" method="post" class="form-horizontal" role="form">{% csrf_token %}
                                        {% include "gis_wizard/form.html" with form=form only %}
                                        <!-- :START: Antenna Form -->
                                        <hr style="border-width:4px;">
                                        <div class="form-group">
                                            <label class="control-label pull-left" id="ss_form_3">
                                                Antenna
                                            </label>
                                            {% if sub_station_antenna_form %}
                                        </div>
                                        {% include "gis_wizard/form.html" with form=sub_station_antenna_form only %}
                                            {% else %}
                                            <div class="pull-left">

                                                <label class="radio-inline">
                                                    <input type="radio" id="id_sub_station_antenna_radio" class="radioField" value="existing" name="sub_station_antenna_radio"> Choose Existing
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" id="id_sub_station_antenna_radio" class="radioField" value="new" name="sub_station_antenna_radio"> Create New
                                                </label>
                                            </div>
                                        </div><br/>
                                        <div class="form-group">
                                            <div class="col-sm-9">
                                                <div class="col-md-8">
                                                    <input class=" tip-focus form-control" data-placement="right" data-toggle="tooltip" id="id_sub_station_antenna" name="sub_station_antenna" title="" type="hidden" value="{{ sub_station_antenna_id }}"/>
                                                </div>
                                            </div>
                                        </div><br/>
                                        <div id="id_sub_station_antenna_form"></div><br>
                                            {% endif %}
                                        <!-- :END: Antenna Form -->

                                        <!-- :START: Circuit Form -->
                                        <hr style="border-width:4px;">
                                        <div class="form-group">
                                            <label class="control-label pull-left" id="ss_form_4">
                                                Circuit
                                            </label>
                                            {% if circuit_form %}
                                        </div>
                                        {% include "gis_wizard/form.html" with form=circuit_form only %}
                                            {% else %}
                                            <div class="pull-left">

                                                <label class="radio-inline">
                                                    <input type="radio" id="id_sub_station_circuit_radio" class="radioField" value="existing" name="sub_station_circuit_radio"> Choose Existing
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" id="id_sub_station_circuit_radio" class="radioField" value="new" name="sub_station_circuit_radio"> Create New
                                                </label>
                                            </div>
                                        </div><br/>
                                        <div class="form-group">
                                            <div class="col-sm-9">
                                                <div class="col-md-8">
                                                    <input class=" tip-focus form-control" data-placement="right" data-toggle="tooltip" id="id_sub_station_circuit" name="sub_station_circuit" title="" type="hidden" value="{{ sub_station_circuit_id }}"/>
                                                </div>
                                            </div>
                                        </div><br/>
                                        <div id="id_sub_station_circuit_form"></div><br>
                                            {% endif %}
                                        <!-- :END: Circuit Form -->

                                        <!-- :START: Customer Form -->
                                        <hr style="border-width:4px;">
                                        <div class="form-group">
                                            <label class="control-label pull-left" id="ss_form_5">
                                                Customer
                                            </label>
                                            {% if customer_form %}
                                        </div>
                                        {% include "gis_wizard/form.html" with form=customer_form only %}
                                            {% else %}
                                            <div class="pull-left">

                                                <label class="radio-inline">
                                                    <input type="radio" id="id_sub_station_customer_radio" class="radioField" value="existing" name="sub_station_customer_radio"> Choose Existing
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" id="id_sub_station_customer_radio" class="radioField" value="new" name="sub_station_customer_radio"> Create New
                                                </label>
                                            </div>
                                        </div><br/>
                                        <div class="form-group">
                                            <div class="col-sm-9">
                                                <div class="col-md-8">
                                                    <input class=" tip-focus form-control" data-placement="right" data-toggle="tooltip" id="id_sub_station_customer" name="sub_station_customer" title="" type="hidden" value="{{ sub_station_customer_id }}"/>
                                                </div>
                                            </div>
                                        </div><br/>
                                        <div id="id_sub_station_customer_form"></div><br>
                                            {% endif %}
                                        <!-- :END: Customer Form -->

                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-default">
                                                    <i class="fa fa-pencil text-success"></i> {{ save_text }} &amp; Next
                                                </button>

                                                <button type="submit" id="id_update_and_show" class="btn btn-default">
                                                    <i class="fa fa-pencil text-success"></i> {{ save_text }} &amp; Show
                                                </button>

                                                {% url 'gis-wizard-list' as skip_url %}

                                                <!-- <button type="reset" class="btn btn-default" onclick="window.location.replace('{{ skip_url }}')">
                                                    <i class="fa fa-times text-warning"></i> Skip
                                                </button> -->
                                                {% if sector_has_sub_station %}

                                                <button type="reset" class="btn btn-default" onclick="delete_and_show()">
                                                    <i class="fa fa-times text-danger"></i> Delete &amp; Show
                                                </button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </form>
                                    {% endif %}
                                </div>
                                <div class="clearfix"></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content_js %}
        <script type="text/javascript" src={% static "js/nocout/nocout_forms.js" %}></script>
    {% endblock %}

    {% if form %}

    {% if sector_has_sub_station %}
    {% url 'gis-wizard-sub-station-delete' bs_pk=bs_pk selected_technology=selected_technology sector_pk=sector_pk pk=object.id as delete_url %}
    <script type="text/javascript">
        function delete_and_show(){
            if (confirm('Remove relationship of Sector and Sub-station?')) {
                window.location.replace('{{ delete_url }}');
            }
        }
    </script>
    {% endif %}

    <script type="text/javascript">
        var parent_class = 'formContainer',
            change_event_dom_ids = [
                '#id_country',
                '#id_state'
            ],
            element_relation_dict = {
                '#id_country' : {
                    "old_value" : $('#id_country').val(),
                    "update" : [
                        {
                            "id" : '#id_state',
                            "url_name" : '{% url "get_states_for_country" 123 %}',
                            "existing_value" : $('#id_state').val()
                        }
                    ],
                    "reset" : ['#id_state', '#id_city']
                },
                '#id_state' : {
                    "old_value" : $('#id_state').val(),
                    "update" : [
                        {
                            "id" : '#id_city',
                            "url_name" : '{% url "get_cities_for_state" 123 %}',
                            "existing_value" : $('#id_city').val()
                        }
                    ],
                    "reset" : ['#id_city']
                }
            };
        $(document).ready(function () {
            $("#id_update_and_show").on("click", function(e) {
                e.preventDefault();
                $('#id_sub_station_form').attr('action', "?show=True").submit();
            });

            // Initialize the select2 selectbox.
            $(".select2select").select2();
            
            $('.tip-focus').tooltip({
                placement: 'right',
                trigger: 'focus'
            });

            // Loop to trigger change event on select boxes
            for (var i=0;i<change_event_dom_ids.length;i++) {
                if (element_relation_dict[change_event_dom_ids[i]]['old_value']) {
                    // trigger change event
                    $(change_event_dom_ids[i]).trigger('change', true);
                }
            }

            $("#id_device").select2({
                placeholder: "Search for a device.",
                minimumInputLength: 2,
                width: "resolve",
                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                    url: "/device/select2/elements/",
                    dataType: 'json',
                    quietMillis: 250,
                    data: function (term, page) {
                        return {
                            sSearch: term, // search term
                            org: 0,
                        };
                    },
                    results: function (data, page) { // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to alter the remote JSON data
                        return { results: data.items };
                    },
                    cache: false
                },
                initSelection: function(element, callback) {
                    // the input tag has a value attribute preloaded that points to a preselected repository's id
                    // this function resolves that id attribute to an object that select2 can render
                    // using its formatResult renderer - that way the repository name is shown preselected
                    var id = $(element).val();
                    if (id !== "") {
                        $.ajax("/device/select2/elements/", {
                            dataType: "json",
                            data: {'obj_id': id}
                        }).done(function(data) {
                            callback({id: id, device_alias: data[0]});
                            });
                    }
                },
                formatResult: function(device) {
                    return device.device_alias;
                },
                formatSelection: function(device) {
                    return device.device_alias;
                }
            });

            {% if not sub_station_antenna_form %}
            // :START: Antenna Form Events //
            $('input:radio[name=sub_station_antenna_radio]').filter('[value=existing]').prop('checked', true);
            var sub_station_antenna_form = document.getElementById("id_sub_station_antenna_form");
            bind_sub_station_antenna_select2();
            {% if sub_station_antenna_id %}
                $.get('/gis-wizard/get-form/', {model: 'antenna', technology: {{ selected_technology }}, pk: {{ sub_station_antenna_id }}}, function (data) {sub_station_antenna_form.innerHTML=data}, 'html');
            {% endif %}

            $("input:radio[name=sub_station_antenna_radio]").change(function (){
                var sub_station_antenna_selected = $(this).val();
                if (sub_station_antenna_selected == 'new') {
                    $("#id_sub_station_antenna").select2('destroy');
                    $.get('/gis-wizard/get-form/', {model: 'antenna', technology: {{ selected_technology }}}, function (data) {sub_station_antenna_form.innerHTML=data}, 'html');
                } else { // existing
                    bind_sub_station_antenna_select2();
                    sub_station_antenna_form.innerHTML = '';
                }
            });
            // :END: Antenna Form Events //
            {% endif %}

            {% if not circuit_form %}
            // :START: Circuit Form Events //
            $('input:radio[name=sub_station_circuit_radio]').filter('[value=existing]').prop('checked', true);
            var sub_station_circuit_form = document.getElementById("id_sub_station_circuit_form");
            bind_sub_station_circuit_select2();
            {% if sub_station_circuit_id %}
                $.get('/gis-wizard/get-form/', {model: 'circuit', technology: {{ selected_technology }}, pk: {{ sub_station_circuit_id }}}, function (data) {sub_station_circuit_form.innerHTML=data}, 'html');
            {% endif %}

            $("input:radio[name=sub_station_circuit_radio]").change(function (){
                var sub_station_circuit_selected = $(this).val();
                if (sub_station_circuit_selected == 'new') {
                    $("#id_sub_station_circuit").select2('destroy');
                    $.get('/gis-wizard/get-form/', {model: 'circuit', technology: {{ selected_technology }}}, function (data) {sub_station_circuit_form.innerHTML=data}, 'html');
                } else { // existing
                    bind_sub_station_circuit_select2();
                    sub_station_circuit_form.innerHTML = '';
                }
            });
            // :END: Circuit Form Events //
            {% endif %}

            {% if not customer_form %}
            // :START: Customer Form Events //
            $('input:radio[name=sub_station_customer_radio]').filter('[value=existing]').prop('checked', true);
            var sub_station_customer_form = document.getElementById("id_sub_station_customer_form");
            bind_sub_station_customer_select2();
            {% if sub_station_customer_id %}
                $.get('/gis-wizard/get-form/', {model: 'customer', technology: {{ selected_technology }}, pk: {{ sub_station_customer_id }}}, function (data) {sub_station_customer_form.innerHTML=data}, 'html');
            {% endif %}

            $("input:radio[name=sub_station_customer_radio]").change(function (){
                var sub_station_customer_selected = $(this).val();
                if (sub_station_customer_selected == 'new') {
                    $("#id_sub_station_customer").select2('destroy');
                    $.get('/gis-wizard/get-form/', {model: 'customer', technology: {{ selected_technology }}}, function (data) {sub_station_customer_form.innerHTML=data}, 'html');
                } else { // existing
                    bind_sub_station_customer_select2();
                    sub_station_customer_form.innerHTML = '';
                }
            });
            // :END: Customer Form Events //
            {% endif %}
        });//end ready

    </script>
    {% endif %}
    <script type="text/javascript">
        // Radio specific functions only, nothing to do with form fields.
        $(function() {
            /* :START: Technology radio select selected and disable it. */
            $('input:radio[name=technology_radio]').filter('[value={{ selected_technology }}]').prop('checked', true);
            $('input:radio[name=technology_radio]').attr('disabled',true);
            /* :END: Technology radio select selected and disable it. */
                var $radios = $('input:radio[name=sub_station_radio]');
                {% if select_view or object %}
                    $radios.filter('[value=existing]').prop('checked', true);

                    $("#id_sub_station").select2({
                        placeholder: "Search for a sub_station.",
                        minimumInputLength: 2,
                        width: "resolve",
                        ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                            url: "/sub_station/select2/elements/",
                            dataType: 'json',
                            quietMillis: 250,
                            data: function (term, page) {
                                return {
                                    sSearch: term, // search term
                                    org: 0,
                                };
                            },
                            results: function (data, page) { // parse the results into the format expected by Select2.
                                // since we are using custom formatting functions we do not need to alter the remote JSON data
                                return { results: data.items };
                            },
                            cache: false
                        },
                        initSelection: function(element, callback) {
                            // the input tag has a value attribute preloaded that points to a preselected repository's id
                            // this function resolves that id attribute to an object that select2 can render
                            // using its formatResult renderer - that way the repository name is shown preselected
                            var id = $(element).val();
                            if (id !== "") {
                                $.ajax("/sub_station/select2/elements/", {
                                    dataType: "json",
                                    data: {'obj_id': id}
                                }).done(function(data) {
                                    callback({id: id, alias: data[0]});
                                    });
                            }
                        },
                        formatResult: function(result) {
                            return result.alias;
                        },
                        formatSelection: function(result) {
                            return result.alias;
                        },
                    }).on("select2-selecting", function(el) {
                        location.href="/gis-wizard/base-station/{{ bs_pk }}/technology/{{ selected_technology }}/sector/{{ sector_pk }}/sub-station/" + el.val + "/";
                    });
                {% else %}
                    $radios.filter('[value=new]').prop('checked', true);
                {% endif %}
            $("input:radio[name=sub_station_radio]").change(function (){
                {% if select_view or object %}
                location.href="{% url 'gis-wizard-sub-station-create' bs_pk=bs_pk selected_technology=selected_technology sector_pk=sector_pk %}";
                {% else %}
                location.href="{% url 'gis-wizard-sub-station-select' bs_pk=bs_pk selected_technology=selected_technology sector_pk=sector_pk %}";
                {% endif %}
            });

        });

        {% if not sub_station_antenna_form %}
        function bind_sub_station_antenna_select2() {

            $("#id_sub_station_antenna").select2({
                placeholder: "Search for a antenna.",
                minimumInputLength: 2,
                width: "resolve",
                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                    url: "/antenna/select2/elements/",
                    dataType: 'json',
                    quietMillis: 250,
                    data: function (term, page) {
                        return {
                            sSearch: term, // search term
                            org: {{ organization.id }},
                        };
                    },
                    results: function (data, page) { // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to alter the remote JSON data
                        return { results: data.items };
                    },
                    cache: false
                },
                initSelection: function(element, callback) {
                    // the input tag has a value attribute preloaded that points to a preselected repository's id
                    // this function resolves that id attribute to an object that select2 can render
                    // using its formatResult renderer - that way the repository name is shown preselected
                    var id = $(element).val();
                    if (id !== "") {
                        $.ajax("/antenna/select2/elements/", {
                            dataType: "json",
                            data: {'obj_id': id}
                        }).done(function(data) {
                            callback({id: id, alias: data[0]});
                            });
                    }
                },
                formatResult: function(antenna) {
                    return antenna.alias;
                },
                formatSelection: function(antenna) {
                    return antenna.alias;
                },
            }).on("select2-selecting", function(el) {
                var sub_station_antenna_form = document.getElementById("id_sub_station_antenna_form");
                $.get('/gis-wizard/get-form/', {model: 'antenna', technology: {{ selected_technology }}, pk: el.val}, function (data) {sub_station_antenna_form.innerHTML=data}, 'html');
            });
        }

        {% endif %}

        {% if not circuit_form %}
        function bind_sub_station_circuit_select2() {
            $("#id_sub_station_circuit").select2({
                placeholder: "Search for a circuit.",
                minimumInputLength: 2,
                width: "resolve",
                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                    url: "/circuit/select2/elements/",
                    dataType: 'json',
                    quietMillis: 250,
                    data: function (term, page) {
                        return {
                            sSearch: term, // search term
                            org: {{ organization.id }},
                        };
                    },
                    results: function (data, page) { // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to alter the remote JSON data
                        return { results: data.items };
                    },
                    cache: false
                },
                initSelection: function(element, callback) {
                    // the input tag has a value attribute preloaded that points to a preselected repository's id
                    // this function resolves that id attribute to an object that select2 can render
                    // using its formatResult renderer - that way the repository name is shown preselected
                    var id = $(element).val();
                    if (id !== "") {
                        $.ajax("/circuit/select2/elements/", {
                            dataType: "json",
                            data: {'obj_id': id}
                        }).done(function(data) {
                            callback({id: id, alias: data[0]});
                            });
                    }
                },
                formatResult: function(circuit) {
                    return circuit.alias;
                },
                formatSelection: function(circuit) {
                    return circuit.alias;
                },
            }).on("select2-selecting", function(el) {
                var sub_station_circuit_form = document.getElementById("id_sub_station_circuit_form");
                $.get('/gis-wizard/get-form/', {model: 'circuit', technology: {{ selected_technology }}, pk: el.val}, function (data) {sub_station_circuit_form.innerHTML=data}, 'html');
            });
        }

        {% endif %}

        {% if not customer_form %}
        function bind_sub_station_customer_select2() {
            $("#id_sub_station_customer").select2({
                placeholder: "Search for a customer.",
                minimumInputLength: 2,
                width: "resolve",
                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                    url: "/customer/select2/elements/",
                    dataType: 'json',
                    quietMillis: 250,
                    data: function (term, page) {
                        return {
                            sSearch: term, // search term
                            org: {{ organization.id }},
                        };
                    },
                    results: function (data, page) { // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to alter the remote JSON data
                        return { results: data.items };
                    },
                    cache: false
                },
                initSelection: function(element, callback) {
                    // the input tag has a value attribute preloaded that points to a preselected repository's id
                    // this function resolves that id attribute to an object that select2 can render
                    // using its formatResult renderer - that way the repository name is shown preselected
                    var id = $(element).val();
                    if (id !== "") {
                        $.ajax("/customer/select2/elements/", {
                            dataType: "json",
                            data: {'obj_id': id}
                        }).done(function(data) {
                            callback({id: id, alias: data[0]});
                            });
                    }
                },
                formatResult: function(customer) {
                    return customer.alias;
                },
                formatSelection: function(customer) {
                    return customer.alias;
                },
            }).on("select2-selecting", function(el) {
                var sub_station_customer_form = document.getElementById("id_sub_station_customer_form");
                $.get('/gis-wizard/get-form/', {model: 'customer', technology: {{ selected_technology }}, pk: el.val}, function (data) {sub_station_customer_form.innerHTML=data}, 'html');
            });
        }
        {% endif %}

    </script>
{% endblock %}