{% extends "inventory/inventory.html" %}
{% load staticfiles %}

{% block content_title %}SubStation Listing{% endblock %}
{% block content_description %}List of sub-stations{% endblock %}
{% block content %}
    <p><a href="{% url 'gis-wizard-sub-station-create' bs_pk=base_station.id selected_technology=selected_technology sector_pk=sector_pk %}"><i class="fa fa-plus">&nbsp;</i> Create New SubStation</a></p>

    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-table"></i>SUBSTATION LISTING ({{ base_station.name }})</h4>
        </div>
        <div id="tableContainer" class="box-body" style="overflow:auto;">
            <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="SubStationListingTable">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            /*Make a instance of ourDataTableWidget class */
            var dataTableInstance = new ourDataTableWidget();
            /*Grid headers object*/
            var gridHeadersObj = $.parseJSON('{{ datatable_headers|safe }}');
            /*Ajax url to get grid data*/
            var ajax_url = '{% url "gis-wizard-sub-station-list-table" bs_pk=base_station.id selected_technology=selected_technology sector_pk=sector_pk %}';
            /*Call createDataTable function of ourDataTableWidget class*/
            var destroy=false;
            dataTableInstance.createDataTable("SubStationListingTable", gridHeadersObj, ajax_url, destroy);
        });
    </script>
{% endblock %}
