{% extends "inventory/inventory.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-server'></i> Inventory" "javascript:;" %}
    {% breadcrumb_safe "GIS Wizard" "javascript:;" %}
    {% breadcrumb_safe "PTP Wizard" "javascript:;" %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% load staticfiles %}

{% block content_title %}Inventory Stitching{% endblock %}
{% block content_description %}List PTP {% endblock %}
{% block content %}
        {% if perms.inventory.add_basestation %}
        <p><a href="{% url 'gis-wizard-base-station-select' %}"><i class="fa fa-plus">&nbsp;</i> Start Gis Wizard</a></p>
        {% endif %}


    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-table"></i>PTP LISTING</h4>
        </div>
        <div id="tableContainer" class="box-body" style="overflow:auto;">
            <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="SectorListingTable">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <script type="text/javascript">
        var dataTableInstance = '';
        $(document).ready(function (e) {
            /*Make a instance of ourDataTableWidget class */
            dataTableInstance = new ourDataTableWidget();
            /*Grid headers object*/
            var gridHeadersObj = $.parseJSON('{{ datatable_headers|safe }}');
            /*Ajax url to get grid data*/
            var ajax_url = '{% url "gis-wizard-ptp-list-table" %}';
            /*Call createDataTable function of ourDataTableWidget class*/
            var destroy=false;
            dataTableInstance.createDataTable("SectorListingTable", gridHeadersObj, ajax_url, destroy);
        });
    </script>
{% endblock %}
