{% extends "inventory/inventory.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-cogs'></i> Settings" "javascript:;" %}
    {% breadcrumb_safe "Device Frequency" "device_frequency_list" %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% load staticfiles %}

{% block content_title %}Device Frequency Management{% endblock %}
{% block content_description %}List of device Frequency{% endblock %}
{% block content %}
    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-table"></i> DEVICE FREQUENCY LISTING</h4>
        </div>

        <div id="tableContainer" class="box-body">
            <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="DeviceFrequencyListingTable">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <script type="text/javascript">
        var dataTableInstance = '';
        $(document).ready(function (e) {

            // Add 'Create Item' link on top header bar.
            {% if perms.device.add_devicefrequecy %}
                var freq_create_url = '{% url "device_frequency_new" %}',
                    create_link_html = '<a href="' + freq_create_url + '" title="Create Device Frequency" \
                                        class="btn btn-default btn-sm"><i class="fa fa-plus"></i></a>';

                $('.controls_container ul').prepend('<li>' + create_link_html + '</li>');
            {% endif %}

            /*Make a instance of ourDataTableWidget class */
            dataTableInstance = new ourDataTableWidget();
            /*Grid headers object*/
            var gridHeadersObj = $.parseJSON('{{ datatable_headers|safe }}');
            /*Ajax url to get grid data*/
            var ajax_url = '{% url "DeviceFrequencyListingTable" %}';
            /*Call createDataTable function of ourDataTableWidget class*/
            var destroy=false;
            dataTableInstance.createDataTable("DeviceFrequencyListingTable", gridHeadersObj, ajax_url, destroy);
        });
    </script>
{% endblock %}
