{% extends "inventory/inventory.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-cogs'></i> Settings" "javascript:;" %}
    {% breadcrumb_safe "Service Thematic Settings" "javascript:;" %}
    {% if is_admin %}
        {% breadcrumb_safe "Admin Service Thematic" "service-admin-thematic-settings-list" %}
    {% else %}
        {% breadcrumb_safe "Global Service Thematic" "service_thematic_settings_list" %}
    {% endif %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% load staticfiles %}

{% block content_title %}Thematic Settings Management{% endblock %}
{% block content_description %}List of thematic settings{% endblock %}
{% block content %}
    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-table"></i>Service THEMATIC SETTINGS LISTING</h4>
        </div>
        <div id="tableContainer" class="box-body">
            <div class="tabbable header-tabs">
                <ul class="nav nav-tabs">
                        <li><a href="#network_wifi_block" id="network_wifi_tab" data-toggle="tab"><span class="hidden-inline-mobile">WiMAX</span></a></li>
                        {% if settings.SHOW_SPRINT3 %}
                            <li><a href="#network_rad5_block" id="network_rad5_tab" data-toggle="tab"><span class="hidden-inline-mobile">Radwin5K</span></a></li>
                            <li><a href="#network_pmp_block" id="network_pmp_tab" data-toggle="tab"><span class="hidden-inline-mobile">Cambium</span></a></li>
                        {% else %}
                            <li><a href="#network_pmp_block" id="network_pmp_tab" data-toggle="tab"><span class="hidden-inline-mobile">PMP</span></a></li>
                        {% endif %}
                        <li class="active"><a href="#network_p2p_block" id="network_ptp_tab" data-toggle="tab"><span class="hidden-inline-mobile">PTP</span></a></li>
                </ul>
                <div class="tab-content" style="overflow:auto;">
                    <div class="tab-pane in active" id="network_p2p_block">
                        <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="ServiceThematicSettingsListingTable_ptp">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="network_pmp_block">
                        <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="ServiceThematicSettingsListingTable_pmp">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="network_rad5_block">
                        <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="ServiceThematicSettingsListingTable_rad5">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="network_wifi_block">
                        <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="ServiceThematicSettingsListingTable_wimax">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <!-- Library to load tab content on tab click-->
    <script type="text/javascript" src={% static "js/nocout/openTabContentLib.js" %}></script>
    <script type="text/javascript">
        var dataTableInstance = '',
            thematic_api_url = '';
        $(document).ready(function (e) {

            {% if user.is_superuser %}
               {% if is_admin %}
                    var create_link_html = '<a href="/serv_thematic_settings/admin/new" title="Create Admin Service Thematic Settings" \
                                            class="btn btn-default btn-sm"><i class="fa fa-plus"></i></a>';

                    $('.controls_container ul').prepend('<li>' + create_link_html + '</li>');
                {% else %}
                    var create_link_html = '<a href="/serv_thematic_settings/new" title="Create Service Thematic Settings" \
                                            class="btn btn-default btn-sm"><i class="fa fa-plus"></i></a>';

                    $('.controls_container ul').prepend('<li>' + create_link_html + '</li>');
                {% endif %}
            {% endif %}

            // Update thematic API url global variable
            thematic_api_url = '{% url "update_user_thematic_setting" %}';

            /*Make a instance of ourDataTableWidget class */
            dataTableInstance = new ourDataTableWidget();

            var location_array = window.location.href.split("#");

            /*Grid headers object*/
            var gridHeadersObj = $.parseJSON('{{ datatable_headers|safe }}');

            var is_global = '{{ is_global }}';

            

            var ajax_url_ptp = '{% url "ServiceThematicSettingsListingTable" technology="p2p" %}';
            var ajax_url_pmp = '{% url "ServiceThematicSettingsListingTable" technology="pmp" %}';
            var ajax_url_wimax = '{% url "ServiceThematicSettingsListingTable" technology="wimax" %}';


            /*Ajax url to get grid data*/
            if (is_global == 'true') {
                ajax_url_ptp = '{% url "ServiceThematicSettingsListingTable" technology="p2p" %}' + '?admin=1';
                ajax_url_pmp = '{% url "ServiceThematicSettingsListingTable" technology="pmp" %}' + '?admin=1';
                ajax_url_wimax = '{% url "ServiceThematicSettingsListingTable" technology="wimax" %}' + '?admin=1';
            }


          tables_info = {
            "network_p2p_tab" : {
                "app_name" : "inventory",
                "table_title" : "Service Thematic Settings Listing Table-PTP",
                "header_class_name" : "ServiceThematicSettingsList",
                "data_class_name" : "ServiceThematicSettingsListingTable"
               
            },
            "network_pmp_tab" : {
                "app_name" : "inventory",
                "table_title" : "Service Thematic Settings Listing Table-PMP",
                "header_class_name" : "ServiceThematicSettingsList",
                "data_class_name" : "ServiceThematicSettingsListingTable"
                
            },
            "network_wifi_tab" : {
                "app_name" : "inventory",
                "table_title" : "Service Thematic Settings Listing Table-Wimax",
                "header_class_name" : "ServiceThematicSettingsList",
                "data_class_name" : "ServiceThematicSettingsListingTable"
                
            }
        };


        $("#network_ptp_tab").attr("data_url", ajax_url_ptp);
        $("#network_ptp_tab").attr("data_header", '{{ datatable_headers|safe }}');

        $("#network_pmp_tab").attr("data_url", ajax_url_pmp);
        $("#network_pmp_tab").attr("data_header", '{{ datatable_headers|safe }}');

        $("#network_wifi_tab").attr("data_url", ajax_url_wimax);
        $("#network_wifi_tab").attr("data_header", '{{ datatable_headers|safe }}');

        if((location_array.length > 1 && location_array[1] == "") || (location_array.length == 1)) {
            /*Trigger click event on active tab to load its data*/
            $("#network_ptp_tab").trigger('click', true);
        }
    });

    /*Change event for PTP checkboxes*/
    $(document).on('change', '#ServiceThematicSettingsListingTable_ptp .check_class', function() {
        updateThematicSelection("ServiceThematicSettingsListingTable_ptp", this, $(this).attr('data-devicetype'));
    });
    /*Change event for PMP checkboxes*/
    $(document).on('change', '#ServiceThematicSettingsListingTable_pmp .check_class', function() {
        updateThematicSelection("ServiceThematicSettingsListingTable_pmp", this, $(this).attr('data-devicetype'));
    });
    /*Change event for Wimax checkboxes*/
    $(document).on('change', '#ServiceThematicSettingsListingTable_wimax .check_class', function() {
        updateThematicSelection("ServiceThematicSettingsListingTable_wimax", this, $(this).attr('data-devicetype'));
    });

    </script>
{% endblock %}

{% block load_js %}
    <!-- /JAVASCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            App.setPage("");  //Set current page
            App.init(); //Initialise plugins and elements

        });
    </script>
{% endblock %}
