{% extends "inventory/inventory.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-cog'></i> Settings" "javascript:;" %}
    {% breadcrumb_safe "Service Thematic Settings" "javascript:;" %}
    {% if is_admin %}
        {% breadcrumb_safe "Admin Service Thematic" "service-admin-thematic-settings-list" %}
    {% else %}
        {% breadcrumb_safe "Global Service Thematic" "service_thematic_settings_list" %}
    {% endif %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% load staticfiles %}

{% block content_title %}Thematic Settings Management{% endblock %}
{% block content_description %}List of thematic settings{% endblock %}
{% block content %}
        {% if user.is_superuser %}
           {% if is_admin %}
               <p><a href="/serv_thematic_settings/admin/new"><i class="fa fa-plus">&nbsp;</i> Create Admin Service Thematic Settings</a></p>
            {% else %}
                <p><a href="/serv_thematic_settings/new"><i class="fa fa-plus">&nbsp;</i> Create Service Thematic Settings</a></p>
            {% endif %}
        {% endif %}

    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-table"></i>Service THEMATIC SETTINGS LISTING</h4>
        </div>
        <div id="tableContainer" class="box-body">
            <div class="tabbable header-tabs">
                <ul class="nav nav-tabs">
                        <li><a href="#network_wifi_block" id="network_wifi_tab" data-toggle="tab"><span class="hidden-inline-mobile">WiMAX</span></a></li>
                        <li><a href="#network_pmp_block" id="network_pmp_tab" data-toggle="tab"><span class="hidden-inline-mobile">PMP</span></a></li>
                        <li class="active"><a href="#network_p2p_block" id="network_ptp_tab" data-toggle="tab"><span class="hidden-inline-mobile">PTP</span></a></li>
                </ul>
                <div class="tab-content" style="overflow:auto;">
                    <div class="tab-pane in active" id="network_p2p_block">
                        <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="ServiceThematicSettingsListingTable_ptp">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="network_pmp_block">
                        <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="ServiceThematicSettingsListingTable_pmp">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="network_wifi_block">
                        <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="ServiceThematicSettingsListingTable_wimax">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <script type="text/javascript">
        var thematic_api_url = '';
        $(document).ready(function (e) {

            // Update thematic API url global variable
            thematic_api_url = '{% url "update_user_thematic_setting" %}';

            /*Make a instance of ourDataTableWidget class */
            var dataTableInstance = new ourDataTableWidget();

            /*Grid headers object*/
            var gridHeadersObj = $.parseJSON('{{ datatable_headers|safe }}');

            var is_global = '{{ is_global }}';

            var ajax_url_ptp = '{% url "ServiceThematicSettingsListingTable" technology="p2p" %}';
            var ajax_url_pmp = '{% url "ServiceThematicSettingsListingTable" technology="pmp" %}';
            var ajax_url_wimax = '{% url "ServiceThematicSettingsListingTable" technology="wimax" %}';


            /*Ajax url to get grid data*/
            if (is_global == 'true') {
                ajax_url_ptp = '{% url "ServiceThematicSettingsListingTable" technology="p2p" %}' + '?admin=1';
                ajax_url_pmp = '{% url "ServiceThematicSettingsListingTable" technology="pmp" %}' + '?admin=1';
                ajax_url_wimax = '{% url "ServiceThematicSettingsListingTable" technology="wimax" %}' + '?admin=1';
            }

            var destroy = false;

            /*Call createDataTable function of ourDataTableWidget class*/
            dataTableInstance.createDataTable("ServiceThematicSettingsListingTable_ptp", gridHeadersObj, ajax_url_ptp, destroy);
            dataTableInstance.createDataTable("ServiceThematicSettingsListingTable_pmp", gridHeadersObj, ajax_url_pmp, destroy);
            dataTableInstance.createDataTable("ServiceThematicSettingsListingTable_wimax", gridHeadersObj, ajax_url_wimax, destroy);
        });

		/*Change event for PTP checkboxes*/
        $(document).on('change', '#ServiceThematicSettingsListingTable_ptp .check_class', function() {            
            var current_deviceType = $(this)[0].attributes['data-deviceType'].value;            
			updateThematicSelection("ServiceThematicSettingsListingTable_ptp", this, current_deviceType);
            
        });

        /*Change event for PMP checkboxes*/
        $(document).on('change', '#ServiceThematicSettingsListingTable_pmp .check_class', function() {
			var current_deviceType = $(this)[0].attributes['data-deviceType'].value;
            updateThematicSelection("ServiceThematicSettingsListingTable_pmp", this, current_deviceType);
        });

        /*Change event for Wimax checkboxes*/
        $(document).on('change', '#ServiceThematicSettingsListingTable_wimax .check_class', function() {
			var current_deviceType = $(this)[0].attributes['data-deviceType'].value;
            updateThematicSelection("ServiceThematicSettingsListingTable_wimax", this, current_deviceType);
        });
    </script>
{% endblock %}
