{% extends "inventory/inventory.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-server'></i> Inventory" "javascript:;" %}
    {% breadcrumb_safe "GIS Inventory" "javascript:;" %}
    {% if page_type == 'individual' and key == 'circuit' %}
        {% breadcrumb_safe "Circuit Reports" "l2_report" %}
    {% endif %}
    {% if page_type == 'individual' and key == 'bs' %}
        {% breadcrumb_safe "Basestation Reports" "l2_report" %}
    {% endif %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% load staticfiles %}

{% block content_title %}Circuit L2 Reports Management{% endblock %}
{% block content_description %}List of Circuit L2 Reports{% endblock %}
{% block content %}
    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-table"></i> L2 REPORTS LISTING</h4>
        </div>
        <div id="l2ReportContainer" class="box-body">
            {% if page_type == 'all' %}
                <div class="tabbable header-tabs">
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="#bs_report_block" id="bs_report_tab" data-toggle="tab">
                                <span>Base Station</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#ckt_report_block" id="ckt_report_tab" data-toggle="tab">
                                <span>Circuit ID</span>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content" style="overflow-y:auto;">
                        <div class="tab-pane" id="bs_report_block">
                            <table class="datatable table table-striped table-bordered table-hover" id="bs_L2ListingTable">
                                    <thead></thead>
                                    <tbody></tbody>
                            </table>
                        </div>
                        <div class="tab-pane active" id="ckt_report_block">
                            <table class="datatable table table-striped table-bordered table-hover" id="ckt_L2ListingTable">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Tab-Content END-->
                </div>
                <!-- Tabbable END-->
            {% else %}
                <table class="datatable table table-striped table-bordered table-hover" id="L2ListingTable">
                    <thead></thead>
                    <tbody></tbody>
                </table>

            {% endif %}
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <script type="text/javascript">
        var dataTableInstance = '';
        $(document).ready(function (e) {

            // Add 'Create Item' link on top header bar.
            {% for group in user.groups.all %}
                {% if group.name == 'group_admin' or group.name == 'group_operator' %}

                    {% if page_type == 'individual' and key == 'circuit' %}
                        var create_link_html = '<a href="/circuit/{{ circuit_id }}/l2_reports/create/" title="Upload Report" \
                                                class="btn btn-default btn-sm"><i class="fa fa-plus"></i></a>';
                    {% endif %}
                    {% if page_type == 'individual' and key == 'bs' %}
                        var create_link_html = '<a href="/base_station/{{ bs_id }}/l2_reports/create/" title="Upload Report" \
                                                class="btn btn-default btn-sm"><i class="fa fa-plus"></i></a>';
                    {% endif %}

                    if (typeof create_link_html != 'undefined') {
                        $('.controls_container ul').prepend('<li>' + create_link_html + '</li>');
                    }
                {% endif %}
            {% endfor %}

            /*Make a instance of ourDataTableWidget class */
            dataTableInstance = new ourDataTableWidget();
            var gridHeadersObj = $.parseJSON('{{ datatable_headers|safe }}'),
                bsgridHeadersObj = "",
                ajax_url = "",
                destroy = false;

            {% if key %}

                {% if key == 'circuit' %} 
                    /*Ajax url to get grid data*/
                    ajax_url = '{% url "L2ReportListingTable" circuit_id %}';
                {% endif %}

                {% if key == 'bs' %} 
                    /*Ajax url to get grid data*/
                    ajax_url = '{% url "BSL2ReportListingTable" bs_id %}';
                {% endif %}

                /*Call createDataTable function of ourDataTableWidget class*/
                dataTableInstance.createDataTable("L2ListingTable", gridHeadersObj, ajax_url, destroy);
            {% else %}
                gridHeadersObj = $.parseJSON('{{ datatable_headers|safe }}'),
                bsgridHeadersObj = $.parseJSON('{{ bs_datatable_header|safe }}')

                var bs_ajax_url = '{% url "BSL2ReportListingTable" bs_id %}',
                    ckt_ajax_url = '{% url "L2ReportListingTable" circuit_id %}';

                /*Call createDataTable function of ourDataTableWidget class*/
                dataTableInstance.createDataTable("ckt_L2ListingTable", gridHeadersObj, ckt_ajax_url, destroy);

                /*Call createDataTable function of ourDataTableWidget class*/
                dataTableInstance.createDataTable("bs_L2ListingTable", bsgridHeadersObj, bs_ajax_url, destroy);
            {% endif %}


            $('#l2ReportContainer').delegate('.delete_l2report','click',function(e){
                var delete_btn = this;
                bootbox.confirm("Are you sure you want to delete this report?",function(result){
                    if(result) {
                        var delete_url = $(delete_btn).attr('url');
                        window.location.href = window.location.href+delete_url;
                    }
                });
            });
        });
    </script>
{% endblock %}
