{% extends "inventory/inventory.html" %}
{% load staticfiles %}

{% block content_title %}Sub Station Management{% endblock %}
{% block content_description %}List of sub station{% endblock %}
{% block content %}
        {% if perms.inventory.add_substation %}
            <p><a href="/sub_station/new"><i class="fa fa-plus">&nbsp;</i> Create Sub Station</a></p>
        {% endif %}

    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-table"></i>SUB STATIONS LISTING</h4>
        </div>
        <div class="box-body">
            <div class="tabbable header-tabs">
                <ul class="nav nav-tabs">
                    <li><a href="#AllSubStations" id="allSubStationListingTab" data-toggle="tab"><span class="hidden-inline-mobile">All</span></a></li>
                    <li><a href="#UnusedSubStations" id="unusedSubStationListingTab" data-toggle="tab"><span class="hidden-inline-mobile">Unused</span></a></li>
                    <li><a href="#CorruptedSubStations" id="corruptedSubStationListingTab" data-toggle="tab"><span class="hidden-inline-mobile">Corrupted</span></a></li>
                </ul>
                <div class="tab-content Tbl_FixHeight" style="overflow:auto;">
                    <div class="tab-pane" id="AllSubStations">
                        <table id="AllSubStationListingTable" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="UnusedSubStations">
                        <table id="UnusedSubStationListingTable" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="CorruptedSubStations">
                        <table id="CorruptedSubStationListingTable" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <script type="text/javascript" src={% static "js/nocout/openTabContentLib.js" %}></script>
    <script type="text/javascript">

        var dataTableInstance = "";

        $(document).ready(function (e) {
            /*Make a instance of ourDataTableWidget class */
            dataTableInstance = new ourDataTableWidget();
            /*Grid headers object*/
            //var gridHeadersObj = $.parseJSON('{{ datatable_headers|safe }}');
            /*Ajax url to get grid data*/
            var ajax_url_all_subs_stations = '{% url "SubStationListingTable" %}' + '?tab=all';
            var ajax_url_unused_subs_stations = '{% url "SubStationListingTable" %}' + '?tab=unused';
            var ajax_url_corrupted_subs_stations = '{% url "SubStationListingTable" %}' + '?tab=corrupted';
            /*Call createDataTable function of ourDataTableWidget class*/
            var destroy=false;
            $("#allSubStationListingTab").attr("data_url", ajax_url_all_subs_stations);
            $("#allSubStationListingTab").attr("data_header", '{{ datatable_headers|safe }}');
            $("#unusedSubStationListingTab").attr("data_url", ajax_url_unused_subs_stations);
            $("#unusedSubStationListingTab").attr("data_header", '{{ datatable_headers|safe }}');
            $("#corruptedSubStationListingTab").attr("data_url", ajax_url_corrupted_subs_stations);
            $("#corruptedSubStationListingTab").attr("data_header", '{{ datatable_headers|safe }}');

            var location_array = window.location.href.split("#");

            if((location_array.length > 1 && location_array[1] == "") || (location_array.length == 1)) {

                /*Trigger click event on active tab to load its data*/
                $("#allSubStationListingTab").trigger('click',true);
            }
        });
</script>
{% endblock %}
