{% extends "inventory/inventory.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-server'></i> Inventory" "javascript:;" %}
    {% breadcrumb_safe "GIS Inventory" "javascript:;" %}
    {% breadcrumb_safe "Sub Station" "sub_stations_list" %}
    {% breadcrumb_safe "All" "sub_stations_list" %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% load staticfiles %}

{% block content_title %}Sub Station Management{% endblock %}
{% block content_description %}List of sub station{% endblock %}
{% block content %}
        {% if perms.inventory.add_substation %}
            <p><a href="/sub_station/new"><i class="fa fa-plus">&nbsp;</i> Create Sub Station</a></p>
        {% endif %}

    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-table"></i>SUB STATIONS LISTING</h4>
        </div>
        <div class="box-body">
            <div class="tabbable header-tabs">
                <ul class="nav nav-tabs">
                    <li>
                        <a href="#AllSubStations" id="allSubStationListingTab" data-toggle="tab">
                            <span class="hidden-inline-mobile">All</span>
                        </a>
                    </li>
                    <li>
                        <a href="#UnusedSubStations" id="unusedSubStationListingTab" data-toggle="tab">
                            <span class="hidden-inline-mobile">Unused</span>
                        </a>
                    </li>
                    <li>
                        <a href="#CorruptedSubStations" id="corruptedSubStationListingTab" data-toggle="tab">
                            <span class="hidden-inline-mobile">Corrupted</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content" style="overflow:auto;">
                    <div class="tab-pane" id="AllSubStations">
                        <table id="AllSubStationListingTable" class="datatable table table-striped table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="UnusedSubStations">
                        <table id="UnusedSubStationListingTable" class="datatable table table-striped table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="CorruptedSubStations">
                        <table id="CorruptedSubStationListingTable" class="datatable table table-striped table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <!-- Custom script for data table-->
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <!-- Library to load tab content on tab click -->
    <script type="text/javascript" src={% static "js/nocout/openTabContentLib.js" %}></script>

    <script type="text/javascript">

        var dataTableInstance = "";

        $(document).ready(function (e) {
            /*Make a instance of ourDataTableWidget class */
            dataTableInstance = new ourDataTableWidget();

            /*Ajax url to get grid data*/
            var ajax_url_all_subs_stations = '{% url "SubStationListingTable" %}' + '?tab=all',
                ajax_url_unused_subs_stations = '{% url "SubStationListingTable" %}' + '?tab=unused',
                ajax_url_corrupted_subs_stations = '{% url "SubStationListingTable" %}' + '?tab=corrupted';

            var common_extra_param = "'download_excel': 'yes'",
                all_title = "Sub Station Listing - All",
                unused_title = "Sub Station Listing - Unused",
                corrupted_title = "Sub Station Listing - Corrupted",
                all_extra_param = "{'tab' : 'all','report_title' : '"+all_title+"', "+common_extra_param+"}",
                unused_extra_param = "{'tab' : 'unused','report_title' : '"+unused_title+"', "+common_extra_param+"}",
                corrupted_extra_param = "{'tab' : 'corrupted','report_title' : '"+corrupted_title+"', "+common_extra_param+"}";

            tables_info = {
                "allSubStationListingTab" : {
                    "app_name" : "inventory",
                    "table_title" : all_title,
                    "header_class_name" : "SubStationList",
                    "data_class_name" : "SubStationListingTable",
                    "header_extra_param" : "{"+common_extra_param+"}",
                    "data_extra_param" : all_extra_param
                },
                "unusedSubStationListingTab" : {
                    "app_name" : "inventory",
                    "table_title" : unused_title,
                    "header_class_name" : "SubStationList",
                    "data_class_name" : "SubStationListingTable",
                    "header_extra_param" : "{"+common_extra_param+"}",
                    "data_extra_param" : unused_extra_param
                },
                "corruptedSubStationListingTab" : {
                    "app_name" : "inventory",
                    "table_title" : corrupted_title,
                    "header_class_name" : "SubStationList",
                    "data_class_name" : "SubStationListingTable",
                    "header_extra_param" : "{"+common_extra_param+"}",
                    "data_extra_param" : corrupted_extra_param
                }
            };

            var destroy = false;

            $("#allSubStationListingTab").attr("data_url", ajax_url_all_subs_stations);
            $("#allSubStationListingTab").attr("data_header", '{{ datatable_headers|safe }}');

            $("#unusedSubStationListingTab").attr("data_url", ajax_url_unused_subs_stations);
            $("#unusedSubStationListingTab").attr("data_header", '{{ datatable_headers|safe }}');

            $("#corruptedSubStationListingTab").attr("data_url", ajax_url_corrupted_subs_stations);
            $("#corruptedSubStationListingTab").attr("data_header", '{{ datatable_headers|safe }}');

            var location_array = window.location.href.split("#");

            if((location_array.length > 1 && location_array[1] == "") || (location_array.length == 1)) {
                /*Trigger click event on active tab to load its data*/
                $("#allSubStationListingTab").trigger('click',true);
            }
        });
</script>
{% endblock %}
