{% extends "inventory/inventory.html" %}
{% load staticfiles %}

{% block content_title %}Add Device Type{% endblock %}
{% block content_description %}Add device type{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href={% static "css/schedule_style.css" %} >
    <link rel="stylesheet" type="text/css" href={% static "css/bootstrap-timepicker.min.css" %} >
{% endblock %}
{% block content %}
    <div class="row formContainer">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="box border lite">
                        <div class="box-title">
                            <h4><i class="fa fa-bars"></i> ADD DEVICE TYPE</h4>
                        </div>
                        <div class="box-body">
                            <div class="col-md-8"><br />
                                <form action="" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">{% csrf_token %}
                                    <div class="form-group">
                                    <input type="hidden" id="id_form" value="{{form.id}}" />
                                            <div class="form-group">
                                                <label for="{{ form.name.id_for_label }}" class="col-sm-3 control-label"><span class="mandatory">* </span>{{ form.name.label|title }}</label>
                                                <div class="col-sm-9">
                                                    <div class="col-md-8">
                                                        {{ form.name }} {{ form.name.errors }}
                                                    </div>
                                                    <div class="col-md-4 help_text">
                                                        {{ form.name.help_text }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="{{ form.repeat.id_for_label }}" class="col-sm-3 control-label"><span class="mandatory">* </span>{{ form.repeat.label|title }}</label>
                                                <div class="col-sm-9">
                                                    <div class="col-md-8">
                                                        {{ form.repeat }} {{ form.repeat.errors }}
                                                    </div>
                                                    <div class="col-md-4 help_text">
                                                        {{ form.repeat.help_text }}
                                                    </div>
                                                </div>
                                            </div>
                                        <div class="form-group" style="display: None">
                                            <label for="{{ form.repeat_every.id_for_label }}" class="col-sm-3 control-label">{{ form.repeat_every.label|title }}</label>
                                            <div class="col-sm-9">
                                                <div class="col-md-8">
                                                    {{ form.repeat_every }} {{ form.repeat_every.errors }}
                                                </div>
                                                <div class="col-md-4 help_text">
                                                    {{ form.repeat_every.help_text }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" style="display: None">
                                            <label for="{{ form.repeat_by.id_for_label }}" class="col-sm-3 control-label">{{ form.repeat_by.label|title }}</label>
                                            <div class="col-sm-9">
                                                <div class="col-md-8">
                                                {% for radio in form.repeat_by %}
                                                    {{ radio }}
                                                {% endfor %}
                                                {{ form.repeat_by.errors }}
                                                </div>
                                            </div>
                                            <div class="col-md-4 help_text">
                                                {{ form.repeat_by.help_text }}
                                            </div>
                                        </div>
                                        <div class="form-group" style="display: None">
                                            <label for="{{ form.repeat_on.id_for_label }}" class="col-sm-3 control-label">{{ form.repeat_on.label|title }}</label>
                                            <div class="col-sm-9">
                                                <div class="col-md-8">
                                                    {{ form.repeat_on }} {{ form.repeat_on.errors }}
                                                </div>
                                            </div>
                                        </div>
                                            <div class="form-group">
                                                <label for="{{ form.start_on.id_for_label }}" class="col-sm-3 control-label"><span class="mandatory">* </span>{{ form.start_on.label|title }}</label>
                                                <div class="col-sm-9">
                                                    <div class="col-md-8">
                                                        {{ form.start_on }} {{ form.start_on.errors }}
                                                    </div>
                                                    <div class="col-md-4 help_text">
                                                        {{ form.start_on.help_text }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="duration" class="col-sm-3 control-label"><span class="mandatory">* </span>Duration: </label>
                                                <div class="col-sm-9">
                                                    <div class="col-md-8">
                                                        <div class="bootstrap-timepicker col-md-5">
                                                            From: {{ form.start_on_time }} {{ form.start_on_time.errors }}
                                                        </div>
                                                        <div class="bootstrap-timepicker col-md-5">
                                                            To: {{ form.end_on_time }} {{ form.end_on_time.errors }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="{{ form.scheduling_type.id_for_label }}" class="col-sm-3 control-label"><span class="mandatory">* </span>{{ form.scheduling_type.label|title }}</label>
                                                <div class="col-sm-9">
                                                    <div class="col-md-8">
                                                        {{ form.scheduling_type }} {{ form.scheduling_type.errors }}
                                                    </div>
                                                    <div class="col-md-4 help_text">
                                                        {{ form.scheduling_type.help_text }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Technology</label>
                                                <div class="col-sm-9">
                                                    <div class="col-md-8">
                                                        {{ form.technology }} {{ form.technology.errors }}
                                                    </div>
                                                    <div class="col-md-4 help_text">
                                                        {{ form.technology.help_text }}
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- select box to search the devices -->
                                            <div class="form-group">
                                                <label for="{{ form.device.id_for_label }}" class="col-sm-3 control-label"><span class="mandatory">* </span>{{ form.device.label|title }}</label>
                                                <div class="col-sm-9">
                                                    <div class="col-md-8">
                                                        {{ form.device }} {{ form.device.errors }}
                                                    </div>
                                                    <div class="col-md-4 help_text">
                                                        {{ form.device.help_text }}
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- select box to search the device type-->    
                                            <div class="form-group">
                                                <label for="{{ form.device_type.id_for_label }}" class="col-sm-3 control-label"><span class="mandatory">* </span>{{ form.device_type.label|title }}</label>
                                                <div class="col-sm-9">
                                                    <div class="col-md-8">
                                                        {{ form.device_type }} {{ form.device_type.errors }}
                                                    </div>
                                                    <div class="col-md-4 help_text">
                                                        {{ form.device_type.help_text }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label"><span class="mandatory">* </span>Ends</label>
                                                <div class="col-sm-9">
                                                    <label class="radio-inline">
                                                        <input type="radio" id="id_ends" class="radioField" value="end_never" name="ends" checked> Never {{ form.end_never }}
                                                    </label><br>
                                                    <label class="radio-inline">
                                                        <input type="radio" id="id_ends" class="radioField" value="end_after" name="ends">
                                                        After<div class="radio-inline">{{ form.end_after }}</div>&nbsp;occurence
                                                    </label><br>
                                                    <label class="radio-inline">
                                                        <input type="radio" id="id_ends" class="radioField" value="end_on" name="ends">
                                                        On&nbsp;&nbsp;&nbsp;<div class="radio-inline">{{ form.end_on }}</div>
                                                    </label>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <button type="submit" class="btn btn-info"><i class="fa fa-edit"></i>Update</button>
                                            &nbsp;
                                            <button type="reset" class="btn btn-warning" onclick="resetForm();"><i class="fa fa-refresh"></i>Reset</button>
                                            &nbsp;
                                            <button type="reset" class="btn btn-warning" onclick="window.location.replace('/scheduling/')"><i class="fa fa-times"></i>Skip</button>
                                            &nbsp;
                                            <button type="reset" class="btn btn-danger" onclick="window.location.replace('/scheduling/')"><i class="fa fa-times"></i>Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content_js %}
        <script type="text/javascript" src={% static "js/nocout/nocout_forms.js" %}></script>
        <script type="text/javascript" src={% static "js/bootstrap-file-input/bootstrap-file-input.js" %}></script>
        <script type="text/javascript" src={% static "js/jquery.formset.js" %}></script>
        <script type="text/javascript" src={% static "js/bootstrap-timepicker.js" %}></script>
    {% endblock %}
    <script>
        $(document).ready(function(){
            // Initialize the select2 selectbox.
            $(".select2select").select2();
            $('.tip-focus').tooltip({
                placement: 'right',
                trigger: 'focus'
            });

            // Trigger change event of scheduling_type to toggle device & device type select boxes as per conditions
            setTimeout(function() {
                $("#id_scheduling_type").trigger('change')
            },100)

            $("#id_start_on").datepicker({
                hideIfNoPrevNext: true,
                navigationAsDateFormat: true,
            });
            $("#id_end_on").datepicker({
                hideIfNoPrevNext: true,
                navigationAsDateFormat: true,
            });

            $('#id_start_on_time').timepicker({
                minuteStep: 1,
                showSeconds: false,
                showMeridian: false,
                disableFocus: true
            });
            $('#id_end_on_time').timepicker({
                minuteStep: 1,
                showSeconds: false,
                showMeridian: false,
                disableFocus: true
            });

            // handle the duration start_tim and end_time.
            $('#id_start_on_time').timepicker().on('hide.timepicker', function(e) {
                if (( Date.parse('01/01/2011 '+$('#id_start_on_time').val()) <
                    Date.parse('01/01/2011 '+$('#id_end_on_time').val()) ) &&
                    ($(this).val() != '') ){
                    filter_selected_device()
                }
                else{
                    $('#id_start_on_time').timepicker('setTime', $('#id_end_on_time').val());
                    alert('Start time must be lesser than End time')
                }
            });
            $('#id_end_on_time').timepicker().on('hide.timepicker', function(e) {
                if (( Date.parse('01/01/2011 '+$('#id_start_on_time').val()) <
                    Date.parse('01/01/2011 '+$('#id_end_on_time').val()) ) &&
                    ($(this).val() != '') ){
                    filter_selected_device()
                }
                else{
                    $('#id_end_on_time').timepicker('setTime', $('#id_start_on_time').val());
                    alert('End time must be greater than Start time')
                }
            });

            function filter_selected_device(){
                var start_on_time = $("#id_start_on_time").val();
                var end_on_time = $("#id_end_on_time").val();
                var device_ids = $("input[name='device']").val()
                var obj_id = $("#id_form").val()
                if (device_ids.length){
                    $.ajax({
                        url: '/device/filter/selected/device/',
                        type: 'GET',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        data: {
                            ids: device_ids,
                            start_on_time: start_on_time,
                            end_on_time: end_on_time,
                            obj_id: obj_id,
                        },
                        success: function (response) {
                            $("input[name='device']").select2("data", response.device_result)
                        }
                    });
                }
            }

            // handle the ends field of the form.
            var $radios = $('input:radio[name=ends]');
            $("#id_end_never").val(false)
            $("#id_end_on").prop('disabled', true)
            $("#id_end_after").prop('readonly', true)
            if ($("#id_end_after").val().length){
                $radios.filter("[value=end_after]").prop('checked', true)
                $("#id_end_after").prop('readonly', false).prop('required', true)
            }
            else if($("#id_end_on").val().length){
                $radios.filter("[value=end_on]").prop('checked', true)
                $("#id_end_on").prop('disabled', false).prop('required', true)
            }
            else{
                $("#id_end_never").val(true)
                $("#id_end_on").val('').prop('disabled',true).prop('required', false)
                $("#id_end_after").val('').prop('readonly',true).prop('required', false)
            }

            $("#id_end_after").change(function() {
                var end_after_val = $(this).val();
                if (end_after_val < 1){ alert('End after value should be positive integer.'); $(this).val('1'); }
            });

            $radios.change(function(){
                var x = $(this).val();
                if (x=='end_after'){
                    $("#id_end_after").val('1').prop('readonly',false).prop('required', true)
                    $("#id_end_never").val(false)
                    $("#id_end_on").val('').prop('disabled',true).prop('required', false)
                }
                else if(x=='end_on'){
                    $("#id_end_on").val('').prop('disabled',false).prop('required', true)
                    $("#id_end_never").val(false)
                    $("#id_end_after").val('').prop('readonly',true).prop('required', false)
                }
                else{
                    $("#id_end_never").val(true)
                    $("#id_end_after").val('').prop('readonly',true).prop('required', false)
                    $("#id_end_on").val('').prop('disabled',true).prop('required', false)
                }
            });

            if ($("#id_scheduling_type").val() == ''){
                $("#id_device").prop("readonly", true)
                $("#id_device").select2('val', '')
            }

            $("#id_scheduling_type").change(function() {
                $("#id_device").select2('val', '');
                $("#id_device_type").select2('val', '');
                if ($(this).val() == '') {
                    $("#id_device").removeAttr("readonly");
                    $("#id_device").select2('val', '');
                    $("#id_device_type").select2('val', '');
                    $("#id_device").parents(".form-group").first().show();
                    $("#id_device_type").parents(".form-group").first().hide();
                } else if($(this).val() == 'dety') {
                    $("#id_device").parents(".form-group").first().hide();
                    $("#id_device_type").parents(".form-group").first().show();
                    $("#id_device").removeAttr('required');
                    $("#id_device_type").attr('required',true);
                } else {
                    $("#id_device").removeAttr("readonly");
                    $("#id_device").parents(".form-group").first().show();
                    $("#id_device_type").parents(".form-group").first().hide();
                    $("#id_device_type").removeAttr('required');
                    $("#id_device").attr('required',true);
                }
            });

            $("#id_technology").change(function(){
                $("#id_device_type").select2('val', '');
                $("#id_device").select2('val', '');
            });

            // display weekdays inline when repeat weekly
            $("#id_repeat_on li").css({"display":"inline"})

            // handle the repeatition on basis of the repeat select.
            var ele = $("#id_repeat").val()
            if ((ele=='dai') || (ele=='wee') || (ele=='mon') || (ele=='yea')){
                $("#id_repeat_every").parents(".form-group").first().css({ "display": "block"});
                // display in case of month is selected
                if (ele=='mon'){
                    $('[name=repeat_by]').parents('.form-group').first().css({'display': 'block'});
                    $('[name=repeat_by]').eq(0).prop('checked', true)
                }
                else if (ele=='wee'){
                    $('[name=repeat_on]').parents('.form-group').first().css({'display': 'block'});
                }
                else{
                    $('[name=repeat_by]').parents('.form-group').first().css({'display': 'None'});
                    $('[name=repeat_on]').parents('.form-group').first().css({'display': 'None'});
                }
            }

            $("#id_repeat").change(function(el) {
                if ((el.val=='dai') || (el.val=='wee') || (el.val=='mon') || (el.val=='yea')){
                    $("#id_repeat_every").parents(".form-group").first().css({ "display": "block"});
                    // display in case of month is selected
                    if (el.val=='mon'){
                        $('[name=repeat_by]').parents('.form-group').first().css({'display': 'block'}); // display on month
                        $('[name=repeat_on]').parents('.form-group').first().css({'display': 'None'}); // hide of weekly
                        $('[name=repeat_by]').eq(0).prop('checked', true);
                    }
                    else if (el.val=='wee'){
                        $('[name=repeat_by]').parents('.form-group').first().css({'display': 'None'}); // hide of month
                        $('[name=repeat_on]').parents('.form-group').first().css({'display': 'block'}); // display on weekly
                    }
                    else{
                        $('[name=repeat_by]').parents('.form-group').first().css({'display': 'None'});
                        $('[name=repeat_on]').parents('.form-group').first().css({'display': 'None'});
                    }
                }
                else{
                    $("#id_repeat_every").parents(".form-group").first().css({ "display": "None"});
                    $('[name=repeat_by]').parents('.form-group').first().css({'display': 'None'});
                    $('[name=repeat_on]').parents('.form-group').first().css({'display': 'None'});
                }

            });

        });// end document.ready

        $(function() {
            $("input[name='device']").select2({
                placeholder: "Search with (IP, Device Name, Device Alias, MAC, Sector ID, Circuit)",
                minimumInputLength: 2,
                multiple: true,
                width: "resolve",
                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                    url: "/device/list/schedule/device/",
                    dataType: 'json',
                    quietMillis: 250,
                    data: function (term, page) {
                        var scheduling_type = $("#id_scheduling_type").val()
                        var start_on_time = $("#id_start_on_time").val()
                        var end_on_time = $("#id_end_on_time").val()
                        var obj_id = $("#id_form").val()
                        var technology_id = $("#id_technology").val()
                        return {
                            sSearch: term, // search term
                            scheduling_type: scheduling_type,
                            start_on_time: start_on_time,
                            end_on_time: end_on_time,
                            obj_id: obj_id,
                            technology_id: technology_id,
                        };
                    },
                    results: function (data, page) { // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to alter the remote JSON data
                        return { results: data.items };
                    },
                    cache: false
                },
                initSelection: function(element, callback) {
                    // the input tag has a value attribute preloaded that points to a preselected repository's id
                    // this function resolves that id attribute to an object that select2 can render
                    // using its formatResult renderer - that way the repository name is shown preselected
                    var id = $(element).val();
                    if (id !== "") {
                        $.ajax("/device/select/schedule/device/", {
                            dataType: "json",
                            data: {
                                ids : id
                            }
                        }).done(function(data) {
                                callback(
                                    data.device_result
                                    );
                            });
                    }
                },
                formatResult: repoDeviceFormatResult, // omitted for brevity, see the source of this page
                formatSelection: repoDeviceFormatSelection,  // omitted for brevity, see the source of this page
            })
            // .on("select2-selecting", function(el) {
            //     console.log(el.val)
            //     // location.href="/gis-wizard/base-station/" + el.val + "/";
            // });
        });
        function repoDeviceFormatResult(device) {
          return device.device_alias;
        }
        function repoDeviceFormatSelection(device) {
          return device.device_alias;
        }

        setTimeout(function() {
            $("input[name='device_type']").select2({
                multiple: true,
                minimumInputLength: 3,
                query: function (query) {
                    var scheduling_type = $("#id_scheduling_type").val(),
                        start_on_time = $("#id_start_on_time").val(),
                        end_on_time = $("#id_end_on_time").val(),
                        technology_id = $("#id_technology").val(),
                        data = {results: []};
                    $.ajax({
                        url : "/device/list/schedule/device/",
                        type : "GET",
                        data : {
                            sSearch: query.term, // search term
                            scheduling_type: scheduling_type,
                            start_on_time: start_on_time,
                            end_on_time: end_on_time,
                            technology_id: technology_id,
                        },
                        success : function(response) {
                            var result = "";
                            // Type check for response
                            if(typeof response == 'string') {
                                result = JSON.parse(response);
                            } else {
                                result = response;
                            }
                            data['results'] = result.items
                            query.callback(data);
                        },
                        error : function(err) {
                            query.callback(data);
                        }
                    });
                },
                initSelection: function(element, callback) {
                    var id = $(element).val(),
                        scheduling_type = $("#id_scheduling_type").val();
                    if (id !== "") {
                        $.ajax("/device/select/schedule/device/", {
                            dataType: "json",
                            data: {
                                ids : id,
                                scheduling_type : scheduling_type
                            }
                        }).done(function(data) {
                            callback(data.device_result);
                        });
                    }
                }
            });
        }, 300);
    </script>

{% endblock %}
