{% extends "nocout/base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-calendar'></i> Scheduling Management" "event_list" %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% block content_title %}Scheduling{% endblock %}
{% block content_description %} {% endblock %}
{% load staticfiles %}

{% block content %}

    {% if perms.scheduling_management.add_event %}
    <p><a href="/scheduling/new"><i class="fa fa-plus">&nbsp;</i> Create Event</a></p>
    {% endif %}
	<div class="box border lite">
        <div class="box-title">
            <h4><i class="fa fa-calendar"></i>SCHEDULING</h4>
        </div>

        <div class="box-body">
            <!-- scheduling_container Start-->
            <div id="scheduling_container">
            	<div>
            		<div class="divide-20"></div>
            		<div class="col-md-6 box border">
            			<div id="scheduling_calendar"></div>
            		</div>

        			<div class="clearfix"></div>
            	</div>
            </div>

            <table class="datatable table table-striped table-bordered table-hover" id="EventsListingTable">
                <thead></thead>
                <tbody></tbody>
            </table>

            <!-- scheduling_container End-->
            <div class="clearfix"></div>
        </div>
    </div>

{% endblock %}


{% block load_js %}
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <!-- FULL CALENDAR -->
    <script type="text/javascript" src={% static "js/fullcalendar/fullcalendar.min.js" %}></script>
    <!-- Custom Script-->
    <script type="text/javascript" src={% static "js/nocout_scheduling.js" %}></script>
	<script>
        var dataTableInstance = "";
	    $(document).ready(function () {
	        App.setPage("");  //Set current page
	        App.init(); //Initialise plugins and elements

            dataTableInstance = new ourDataTableWidget();

            var gridHeadersObj = $.parseJSON('{{ datatable_headers|safe }}'),
                ajax_url = '{% url "EventListingTable" %}';

            dataTableInstance.createDataTable("EventsListingTable", gridHeadersObj, ajax_url, false);
            // get the event list on load of the page.
            event_month_list()

        });
        
        //on change of the month to previous month.
        $(".fc-button-prev").click(function(){
            event_month_list()
        })

        //on change of the month to next month.
        $(".fc-button-next").click(function(){
            event_month_list()
        })

        //function to get the list of the parent according to the ogranisation.
        function event_month_list(){
            var moment = $('#scheduling_calendar').fullCalendar('getDate');
            var month = moment.getMonth()
            var year = moment.getFullYear()
            $.ajax({
                url : "/scheduling/month/",
                type : "GET",
                dataType: "json",
                data: {
                    month: month,
                    year: year,
                },
                success : function(response) {
                    var events = response['month_schedule_list']
                    $('#scheduling_calendar').fullCalendar("removeEvents");
                    $('#scheduling_calendar').fullCalendar('addEventSource', events);
                    $('#calendar').fullCalendar('refetchEvents');
                },
                error : function(xhr,errmsg,err) {
                    // console.log(err);
                }
            });
            return false;
        }

	</script>
{% endblock %}

