{% extends "organization.html" %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href={% static "css/user_group.css" %} >
{% endblock %}
{% block content %}
	<h1>{{ object.name }}</h1>
	<div id="user_group"><hr />
		<table>
			<tr><td><strong>Group Name:</strong></td> <td>{{ object.name }}</td></tr>
			<tr><td><strong>Alias:</strong></td> <td>{{ object.alias }}</td></tr>
			<tr><td><strong>Parent:</strong></td> <td>{{ object.parent }}</td></tr>
			<tr><td><strong>Device Group:</strong></td> 
				{% for organization in object.organization_set.all %}
					<td>{{ organization.device_group }}</td>
				{% endfor %}
			</tr>
			<tr><td><strong>Address:</strong></td> <td>{{ object.address }}</td></tr>
			<tr><td><strong>Loaction:</strong></td> <td>{{ object.location }}</td></tr>
		</table>
	</div>
{% endblock %}
