{% extends "inventory/inventory.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-server'></i> Inventory" "javascript:;" %}
    {% breadcrumb_safe "Bulk Import" "javascript:;" %}
    {% breadcrumb_safe "Gis Inventory" "gis_inventory_bulk_import_list" %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% load staticfiles %}

{% block content_title %}GIS Inventory Bulk Import{% endblock %}
{% block content_description %}List of gis inventory upload sheets{% endblock %}
{% block content %}
    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-table"></i>GIS INVENTORY UPLOADS LISTING</h4>
        </div>
        <div id="tableContainer" class="box-body" style="overflow: auto;">
            <table cellpadding="0" cellspacing="0" border="0"
                   class="datatable table table-striped table-bordered table-hover" id="GISInventoryBulkImportListingTable">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <script type="text/javascript">
        var dataTableInstance = '';
        $(document).ready(function (e) {
            {% for group in user.groups.all %}
                {% if group.name|lower == 'admin' %}
                    var create_link_html = '<a href="/bulk_import/gis_inventory/" title="GIS Inventory Bulk Import" \
                                            class="btn btn-default btn-sm"><i class="fa fa-plus"></i></a>';

                    $('.controls_container ul').prepend('<li>' + create_link_html + '</li>');
                {% endif %}
            {% endfor %}

            // Disable advance filtering
            create_advance_filters = false;
            /*Make a instance of ourDataTableWidget class */
            dataTableInstance = new ourDataTableWidget();
            /*Grid headers object*/
            var gridHeadersObj = $.parseJSON('{{ datatable_headers|safe }}');
            /*Ajax url to get grid data*/
            var ajax_url = '{% url "GISInventoryBulkImportListingTable" %}';
            /*Call createDataTable function of ourDataTableWidget class*/
            var destroy=false;
            dataTableInstance.createDataTable("GISInventoryBulkImportListingTable", gridHeadersObj, ajax_url, destroy);
        });

        $(document).on("click", ".bulk_import_link", function(e) {
            var link = $(this).attr("href"); // "get" the intended link in a var
            console.log(link);
            e.preventDefault();
            bootbox.confirm("Are you sure?", function(result) {
                if (result) {
                    document.location.href = link;  // if result, "set" the document location
                }
            });
        });

    </script>
{% endblock %}