{% extends "inventory/inventory.html" %}
{% load staticfiles %}
{% load jsonify %}
{% block breadcrumb_title %}
    <li>Inventory</li>
    <li>Bulk Import</li>
    <li>GIS Inventory Validator {{ hello }}</li>
{% endblock %}
{% block css %}
	<!-- JQUERY UI-->
    <link rel="stylesheet" type="text/css" href={% static "js/jquery-ui-1.10.3.custom/css/custom-theme/jquery-ui-1.10.3.custom.min.css" %} />
{% endblock %}
{% block content_title %}GIS Inventory Validator{% endblock %}
{% block content_description %}GIS Inventory Validator{% endblock %}
{% block content %}
    <div class="box border lite" style="overflow-x: auto; background: #fff;">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-table"></i>VALIDATED INVENTORY FILE</h4>
        </div>
        <div id="tableContainer" class="box-body">
            <div id="demo"></div>
            </table>
        </div>
    </div>
    {% block content_js %}
        <script type="text/javascript" src={% static "js/nocout/nocout_forms.js" %}></script>
        <script type="text/javascript" src={% static "js/bootstrap-file-input/bootstrap-file-input.js" %}></script>
    {% endblock %}
    <script>
        // initialize field settings
        $(document).ready(function () {
            // initialize the select2 selectbox.
            $(".select2select").select2();
            $('.tip-focus').tooltip({
                placement: 'right',
                trigger: 'focus'
            });
        });
        $(document).ready(function () {
            $('#demo').html('<table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="example">');

            $('#example').dataTable({
                "aaData": {{ invalid_rows|jsonify }},
                "aoColumns": [
                    {% for header in headers %}{ "sTitle": "{{ header }}" },{% endfor %}
                ]
            });
        });
    </script>
{% endblock %}