{% extends "inventory/inventory.html" %}
{% load staticfiles %}
{% block breadcrumb_title %}
    <li>Inventory</li>
    <li>Bulk Import</li>
    <li>GIS Inventory Validator {{ hello }}</li>
{% endblock %}
{% block css %}
	<!-- JQUERY UI-->
    <link rel="stylesheet" type="text/css" href={% static "js/jquery-ui-1.10.3.custom/css/custom-theme/jquery-ui-1.10.3.custom.min.css" %} />
{% endblock %}
{% block content_title %}GIS Inventory Validator{% endblock %}
{% block content_description %}GIS Inventory Validator{% endblock %}
{% block content %}
    <div class="row formContainer">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <p>{% for item in headers%}{{ item }}{% endfor %}</p>
                </div>
            </div>
        </div>
    </div>
    {% block content_js %}
        <script type="text/javascript" src={% static "js/nocout/nocout_forms.js" %}></script>
        <script type="text/javascript" src={% static "js/bootstrap-file-input/bootstrap-file-input.js" %}></script>
    {% endblock %}
    <script>
        // initialize field settings
        $(document).ready(function () {
            // initialize the select2 selectbox.
            $(".select2select").select2();
            $('.tip-focus').tooltip({
                placement: 'right',
                trigger: 'focus'
            });
        });
    </script>
{% endblock %}