{% extends "inventory/inventory.html" %}
{% load staticfiles %}
{% block breadcrumb_title %}
    <li>Inventory</li>
    <li>Device Group</li>
{% endblock %}
{% block content_title %}Device Group Management{% endblock %}
{% block content_description %}List of device groups{% endblock %}
{% block content %}
    {% for group in user.groups.all %}
        {% if group.name == 'group_admin' %}
            <p><a href="/device_group/new"><i class="fa fa-plus">&nbsp;</i> Create Device Group</a></p>
        {% endif %}
    {% endfor %}

    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-table"></i> DEVICE GROUP LISTING</h4>

{#            <div class="tools hidden-xs">#}
{#                <a href="#box-config" data-toggle="modal" class="config">#}
{#                    <i class="fa fa-cog"></i>#}
{#                </a>#}
{#                <a href="javascript:;" class="reload">#}
{#                    <i class="fa fa-refresh"></i>#}
{#                </a>#}
{#            </div>#}
        </div>

        <div id="tableContainer" class="box-body">
            <table cellpadding="0" cellspacing="0" border="0"
                   class="datatable table table-striped table-bordered table-hover" id="DeviceGroupTable">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block jquery %}
    <!-- Custom Data Table Script-->
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <!-- Custom Script for soft delete-->
    <script type="text/javascript" src={% static "js/nocout/softDeleteLib.js" %}></script>
    <script type="text/javascript">

        $(document).ready(function (e) {
                    /*Make a instance of ourDataTableWidget class */
                    var dataTableInstance = new ourDataTableWidget();
                    /*Grid headers object*/
                    var gridHeadersObj = $.parseJSON('{{ datatable_headers|safe }}');
                    /*Ajax url to get grid data*/
                    var ajax_url = '{% url "DeviceGroupListingTable" %}'
                    /*Call createDataTable function of ourDataTableWidget class*/
                    var destroy=false;
                    dataTableInstance.createDataTable("DeviceGroupTable", gridHeadersObj, ajax_url, destroy);
                }
        );
    </script>
{% endblock %}