{% extends "inventory/inventory.html" %}
{% load staticfiles %}
{% block breadcrumb_page_title %} > Device Group {% endblock %}
{% block content_title %}Device Groups Management{% endblock %}
{% block content_description %}Create a device group ....{% endblock %}
{% block content %}
    <div class="row formContainer">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-title">
                            <h4><i class="fa fa-bars"></i>Device Group</h4>
                        </div>
                        <div class="col-md-5">
                            <div class="box-body big">
                                <form action="/dg/new/" method="post" class="form-horizontal" role="form">{% csrf_token %}
                                    <div class="form-group">
                                        <label for="id_name" class="col-sm-5 control-label">Device Group Name</label>

                                        <div class="col-sm-7">
                                            {{ form.name }} {{ form.name.errors }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="id_alias" class="col-sm-5 control-label">Device Group Alias</label>

                                        <div class="col-sm-7">
                                            {{ form.alias }} {{ form.alias.errors }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="id_device_models" class="col-sm-5 control-label">Device Group Parent</label>

                                        <div class="col-sm-7">
                                            {{ form.parent }} {{ form.parent.errors }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="id_location" class="col-sm-5 control-label">Location</label>

                                        <div class="col-sm-7">
                                            {{ form.location }} {{ form.location.errors }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="id_address" class="col-sm-5 control-label">Address</label>

                                        <div class="col-sm-7">
                                            {{ form.address }} {{ form.address.errors }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-5 col-sm-7">
                                            <button type="submit" class="btn btn-pink">Create</button>
                                            &nbsp;
                                            <button type="reset" class="btn btn-grey" onclick="resetForm();">Reset
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content_js %}
        <script type="text/javascript" src={% static "js/nocout/nocout_forms.js" %}></script>
    {% endblock %}
{% endblock %}
