function check_new_password()
  {
    if(pwd1.val() == "") {
      var error_message = "Error: Password cannot be blank!";
      return {output:false, error_message:error_message};
    }
    re = /^\w+$/;
    if(!re.test(pwd1.val())) {
      var error_message = "Error: Password must contain only letters, numbers and underscores!";
      return {output:false, error_message:error_message};
    }

    if(pwd1.val() != "" && pwd1.val() == pwd2.val()) {
       if(pwd1.val().length < 6) {
         var error_message = "Error: Password must contain at least six characters!";
         return {output:false, error_message:error_message};
       }
       if(pwd1.val() == $("#password").val()){
         var error_message = "Error: Password should not same as previously used!";
         return {output:false, error_message:error_message};
       }
       if(pwd1.val() == data.data.objects.username) {
         var error_message = "Error: Password must be different from Username!";
         return {output:false, error_message:error_message};
       }
       re = /[0-9]/;
       if(!re.test(pwd1.val())) {
         var error_message = "Error: Password must contain at least one number (0-9)!";
         return {output:false, error_message:error_message};
       }
       re = /[a-z]/;
       if(!re.test(pwd1.val())) {
         var error_message = "Error: Password must contain at least one lowercase letter (a-z)!";
         return {output:false, error_message:error_message};
       }
       re = /[A-Z]/;
       if(!re.test(pwd1.val())) {
         var error_message = "Error: Password must contain at least one uppercase letter (A-Z)!";
         return {output:false, error_message:error_message};
       }
    } else {
       var error_message = "Error: Password doesn't match!";
       return {output:false, error_message:error_message};
    }
    return {output:true, error_message:"Valid Password"};
  }
