<div id="sidebar" class="sidebar">
<div class="sidebar-menu nav-collapse">
<div class="divide-20"></div>
<!-- SEARCH BAR -->
<!-- <div id="search-bar">
    <input class="search" type="text" placeholder="Search"><i class="fa fa-search search-icon"></i>
</div> -->
<!-- /SEARCH BAR -->

<!-- SIDEBAR QUICK-LAUNCH -->
<!-- <div id="quicklaunch">
<!-- /SIDEBAR QUICK-LAUNCH -->
        <!-- SIDEBAR MENU -->
        <ul>
            <li class="active">
                <a href="/home/">
                    <i class="fa fa-dashboard"></i> <span class="menu-text">Dashboard</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li class="has-sub">
                <a href="javascript:;" class="">
                    <i class="fa fa-map-marker"></i> <span class="menu-text">Network Maps</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="/network_maps/gis/"><span class="sub-menu-text">Google Map</span></a></li>
                    <li><a class="" href="/network_maps/google_earth/"><span class="sub-menu-text">Google Earth</span></a></li>

                    <li><a class="" href="/network_maps/white_background/"><span class="sub-menu-text">White Background</span></a></li>
                    <li><a class="" href="/network_maps/kmz/"><span class="sub-menu-text">KMZ</span></a></li>
                    <li><a class="" href="/network_maps/points/"><span class="sub-menu-text">Points</span></a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;" class="">
                    <i class="fa fa-bell"></i> <span class="menu-text">Alert Center</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li class="has-sub-sub">
                    <!--
                    {#<a class="" href="/alert_center/network/"><span class="sub-menu-text">Network Alert Center</span>#}
                    {#</a>#}
                    -->
                        <a class="" href="javascript:;">
                            <span class="sub-menu-text">Network Alert Center</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-sub">
                            <li><a class="" href="/alert_center/network/packet_drop/P2P/"><span class="sub-menu-text">Packet Drop</span></a></li>
                            <li><a class="" href="/alert_center/network/latency/P2P/"><span class="sub-menu-text">Latency</span></a></li>
                            <li><a class="" href="/alert_center/network/down/P2P/"><span class="sub-menu-text">Down</span></a></li>
                            <li><a class="" href="/alert_center/network/service/P2P/"><span class="sub-menu-text">Service Impact Alarms</span></a></li>
                        </ul>
                    </li>
                    <li class="has-sub-sub">
                        <a class="" href="javascript:;">
                            <span class="sub-menu-text">Customer Alert Center</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-sub">
                            <li><a class="" href="/alert_center/customer/packet_drop/P2P/"><span class="sub-menu-text">Packet Drop</span></a></li>
                            <li><a class="" href="/alert_center/customer/latency/P2P/"><span class="sub-menu-text">Latency</span></a></li>
                            <li><a class="" href="/alert_center/customer/down/P2P/"><span class="sub-menu-text">Down</span></a></li>
                        </ul>
                    </li>
                    <li class="has-sub-sub">
                        <a class="" href="javascript:;">
                            <span class="sub-menu-text">Alert Detail</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-sub">
                            <li><a class="" href="/alert_center/detail/network_detail/"><span class="sub-menu-text">Network Details</span></a></li>
                            <li><a class="" href="/alert_center/detail/customer_detail/"><span class="sub-menu-text">Customer Details</span></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;" class="">
                    <i class="fa fa-flask"></i> <span class="menu-text">Capacity Management</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li class="has-sub-sub">
                        <a class="" href="javascript:;">
                            <span class="sub-menu-text">Daily Alerts</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-sub">
                            <li><a class="" href="/capacity_management/daily_alert/sector/"><span class="sub-menu-text">Sector Augmentation</span></a></li>
                            <li><a class="" href="/capacity_management/daily_alert/backhaul/"><span class="sub-menu-text">Backhaul Augmentation</span></a></li>
                        </ul>
                    </li>
                    <li class="has-sub-sub">
                        <a class="" href="javascript:;">
                            <span class="sub-menu-text">Utilization Status</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-sub">
                            <li><a class="" href="/capacity_management/status/sector/"><span class="sub-menu-text">Sector Status</span></a></li>
                            <li><a class="" href="/capacity_management/status/backhaul/"><span class="sub-menu-text">Backhaul Status</span></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;" class="">
                    <i class="fa fa-file-text"></i> <span class="menu-text">Performance Reports</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="/performance/customer_live/"><span class="sub-menu-text">Customer Live</span></a></li>
                    <li><a class="" href="/performance/network_live/"><span class="sub-menu-text">Network Live</span></a></li>
                    <li><a class="" href="/performance/other_live/"><span class="sub-menu-text">Other</span></a></li>
                    <li class="has-sub-sub">
                        <a class="" href="javascript:;">
                            <span class="sub-menu-text">RF Performance Dashboard</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-sub">
                            <li><a class="" href="{% url 'dashboard-rf-performance-wimax' %}"><span class="sub-menu-text">WiMAX</span></a></li>
                            <li><a class="" href="{% url 'dashboard-rf-performance-pmp' %}"><span class="sub-menu-text">PMP</span></a></li>
                            <li><a class="" href="{% url 'dashboard-rf-performance-ptp' %}"><span class="sub-menu-text">PTP</span></a></li>
                            <li><a class="" href="{% url 'dashboard-rf-performance-ptp-bh' %}"><span class="sub-menu-text">PTP BH</span></a></li>
                        </ul>
                    </li>
                    <li><a class="" href="/performance/sector_dashboard/"><span class="sub-menu-text">Sector Dashboard</span></a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;" class="">
                    <i class="fa fa-download"></i> <span class="menu-text">Download Center</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li class="has-sub-sub">
                        <a class="" href="javascript:;">
                            <span class="sub-menu-text">Inventory</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-sub">
                            <li><a class="" href="/download_center/inventory/bs_dump/"><span class="sub-menu-text">BS Dump</span></a></li>
                            <li><a class="" href="/download_center/inventory/ss_dump/"><span class="sub-menu-text">SS Dump</span></a></li>
                            <li><a class="" href="/download_center/inventory/ptp_dump/"><span class="sub-menu-text">PTP Dump</span></a></li>
                            <li><a class="" href="javascript:;"><span class="sub-menu-text">Network Synopsis</span></a></li>
                            <li><a class="" href="javascript:;"><span class="sub-menu-text">Daily Updates</span></a></li>
                        </ul>
                    </li>
                    <li class="has-sub-sub">
                        <a class="" href="javascript:;">
                            <span class="sub-menu-text">Customer Reports</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-sub">
                            <li><a class="" href="/download_center/inventory/customer_report/"><span class="sub-menu-text">Customer RF Health</span></a></li>
                            <li><a class="" href="javascript:;"><span class="sub-menu-text">Wimax Modulation CHG Report</span></a></li>
                            <li><a class="" href="javascript:;"><span class="sub-menu-text">Wimax Rectification Segment</span></a></li>
                            <li><a class="" href="javascript:;"><span class="sub-menu-text">PMP Rogue SM</span></a></li>
                            <li><a class="" href="/download_center/inventory/latency_dump/"><span class="sub-menu-text">Latency Report</span></a></li>
                        </ul>
                    </li>
                    <li class="has-sub-sub">
                        <a class="" href="javascript:;">
                            <span class="sub-menu-text">Network Reports</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-sub">
                            <li><a class="" href="javascript:;"><span class="sub-menu-text">BS Utilisation(TOT)</span></a></li>
                            <li><a class="" href="javascript:;"><span class="sub-menu-text">Backhaul Utilisation(TOT)</span></a></li>
                            <li><a class="" href="javascript:;"><span class="sub-menu-text">Temperature</span></a></li>
                            <li><a class="" href="javascript:;"><span class="sub-menu-text">Health BH</span></a></li>
                            <li><a class="" href="javascript:;"><span class="sub-menu-text">DFR</span></a></li>
                            <li><a class="" href="javascript:;"><span class="sub-menu-text">MFR</span></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;" class="">
                    <i class="fa fa-dropbox"></i> <span class="menu-text">Inventory</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    {% if perms.device.view_device %}
                    <li class="has-sub-sub">
                        <a class="" href="javascript:;">
                            <span class="sub-menu-text">Device Inventory</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-sub">
                            {% if perms.device.view_device %}
                            <li><a class="" href="/device/"><span class="sub-menu-text">Devices</span></a></li>
                            {% endif %}
                            {% if perms.device.view_devicetypefields %}
                            <li><a class="" href="/device_fields/"><span class="sub-menu-text">Device Fields</span></a></li>
                            {% endif %}
                            {% if perms.device.view_devicetechnology %}
                            <li><a class="" href="/technology/"><span class="sub-menu-text">Device Technology</span></a></li>
                            {% endif %}
                            {% if perms.device.view_devicevendor %}
                            <li><a class="" href="/vendor/"><span class="sub-menu-text">Device Vendors</span></a></li>
                            {% endif %}
                            {% if perms.device.view_devicemodel %}
                            <li><a class="" href="/model/"><span class="sub-menu-text">Device Models</span></a></li>
                            {% endif %}
                            {% if perms.device.view_devicetype %}
                            <li><a class="" href="/type/"><span class="sub-menu-text">Device Types</span></a></li>
                            {% endif %}
                            {% if perms.device.view_deviceport %}
                            <li><a class="" href="/device_port/"><span class="sub-menu-text">Device Ports</span></a></li>
                            {% endif %}
                            {% if perms.machine.view_machine %}
                            <li><a class="" href="/machine/"><span class="sub-menu-text">Machine</span></a></li>
                            {% endif %}
                            {% if perms.site_instance.view_siteinstance %}
                            <li><a class="" href="/site/"><span class="sub-menu-text">Site Instance</span></a></li>
                            {% endif %}
                            {% if perms.service.view_service %}
                            <li><a class="" href="/service/"><span class="sub-menu-text">Services</span></a></li>
                            {% endif %}
                            {% if perms.service.view_servicedatasource %}
                            <li><a class="" href="/service_data_source/"><span class="sub-menu-text">Service Data Sources</span></a></li>
                            {% endif %}
                            {% if perms.service.view_serviceparameters %}
                            <li><a class="" href="/service_parameter/"><span class="sub-menu-text">Service Parameters</span></a></li>
                            {% endif %}
                            {% if perms.service.view_deviceserviceconfiguration %}
                            <li><a class="" href="/device_service_configuration/"><span class="sub-menu-text">Service Configurations</span></a></li>
                            {% endif %}
                            {% if perms.service.view_protocol %}
                            <li><a class="" href="/protocol/"><span class="sub-menu-text">SNMP Parameters</span></a></li>
                            {% endif %}
                            {% if perms.command.view_command %}
                            <li><a class="" href="/command/"><span class="sub-menu-text">Commands</span></a></li>
                            {% endif %}
                            {% if perms.command.view_country %}
                            <li><a class="" href="/country/"><span class="sub-menu-text">Country</span></a></li>
                            {% endif %}
                            {% if perms.command.view_state %}
                            <li><a class="" href="/state/"><span class="sub-menu-text">State</span></a></li>
                            {% endif %}
                            {% if perms.command.view_city %}
                            <li><a class="" href="/city/"><span class="sub-menu-text">City</span></a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}

                            <li class="has-sub-sub">
                            <a class="" href="javascript:;">
                                <span class="sub-menu-text">GIS Inventory</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-sub">
                                {% if perms.inventory.view_antenna %}
                                <li><a class="" href="/antenna/"><span class="sub-menu-text">Antenna</span></a></li>
                                {% endif %}
                                {% if perms.inventory.view_backhaul %}
                                <li><a class="" href="/backhaul/"><span class="sub-menu-text">Backhaul</span></a></li>
                                {% endif %}
                                {% if perms.inventory.view_basestation %}
                                <li><a class="" href="/base_station/"><span class="sub-menu-text">Base Station</span></a></li>
                                {% endif %}
                                {% if perms.inventory.view_sector %}
                                <li><a class="" href="/sector/"><span class="sub-menu-text">Sector/PTP Near End</span></a></li>
                                {% endif %}
                                {% if perms.inventory.view_substation %}
                                <li><a class="" href="/sub_station/"><span class="sub-menu-text">Sub Station/PTP Far End</span></a></li>
                                {% endif %}
                                {% if perms.inventory.view_customer %}
                                <li><a class="" href="/customer/"><span class="sub-menu-text">Customer</span></a></li>
                                {% endif %}
                                {% if perms.inventory.view_circuit %}
                                <li><a class="" href="/circuit/"><span class="sub-menu-text">Circuit</span></a></li>
                                {% endif %}
                            </ul>
                        </li>

                        <li class="has-sub-sub">
                            <a class="" href="javascript:;">
                                <span class="sub-menu-text">Bulk Import</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-sub">
                                <li><a class="" href="/bulk_import/"><span class="sub-menu-text">GIS Inventory</span></a></li>
                            </ul>
                        </li>
                        </ul>
                    </li>
                {% if perms.user_profile %}
                <li class="has-sub">
                    <a href="javascript:;" class="">
                        <i class="fa fa-user"></i> <span class="menu-text">User Management</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="" href="/user/"><span class="sub-menu-text">Users</span></a></li>
                        <li><a class="" href="/sm/"><span class="sub-menu-text">User Session</span></a></li>
                        <li><a class="" href="/organization/"><span class="sub-menu-text">Organization</span></a></li>

                        {% if perms.activity_stream.view_useraction %}
                            <li><a class="" href="/logs/actions/"><span class="sub-menu-text">User Logs</span></a></li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
            <li>
                <a class="" href="/scheduling/"><i class="fa fa-calendar"></i> <span class="menu-text">Scheduling</span></a>
            </li>

            <li class="has-sub">
                <a href="javascript:;" class="">
                    <i class="fa fa-cog"></i> <span class="menu-text">Settings</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <!-- <li><a class="" href="/icon_settings/"><span class="sub-menu-text">Icon Settings</span></a></li> -->
                    <li><a class="" href="/frequency/"><span class="sub-menu-text">Device Frequency</span></a></li>
                    <!-- <li><a class="" href="/threshold_configuration/"><span class="sub-menu-text">Threshold Configuration</span></a></li> -->
                    <!-- <li><a class="" href="/live_polling_settings/"><span class="sub-menu-text">Live Polling Settings</span></a></li> -->
                {% if user.is_superuser %}
                    <!-- <li class="has-sub-sub">
                        <a class="" href="javascript:;">
                            <span class="sub-menu-text">Thematic Settings</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-sub">
                            <li><a class="" href="/thematic_settings/"><span class="sub-menu-text">Global Thematic Settings</span></a></li>
                            <li><a class="" href="/thematic_settings/admin/"><span class="sub-menu-text">Admin Thematic Settings</span></a></li>
                        </ul>
                    </li> -->
                    <li class="has-sub-sub">
                        <a class="" href="javascript:;">
                            <span class="sub-menu-text">Service Thematic Settings</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-sub">
                            <li><a class="" href="/serv_thematic_settings/"><span class="sub-menu-text">Global Service Thematic Settings</span></a></li>
                            <li><a class="" href="/serv_thematic_settings/admin/"><span class="sub-menu-text">Admin Service Thematic Settings</span></a></li>
                        </ul>
                    </li>
                    <li class="has-sub-sub">
                        <a class="" href="javascript:;">
                            <span class="sub-menu-text">Ping Thematic Settings</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-sub">
                            <li><a class="" href="/ping_thematic_settings/"><span class="sub-menu-text">Global Thematic Settings</span></a></li>
                            <li><a class="" href="/ping_thematic_settings/admin/"><span class="sub-menu-text">Admin Thematic Settings</span></a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a class="" href="/thematic_settings/"><span class="sub-menu-text">Thematic Settings</span></a></li>
                    <li><a class="" href="/serv_thematic_settings/"><span class="sub-menu-text">Service Thematic Settings</span></a></li>
                    <li><a class="" href="/ping_thematic_settings/"><span class="sub-menu-text">Ping Thematic Settings</span></a></li>
                {% endif %}
                <li><a class="" href="{% url 'dashboard-settings' %}"><span class="sub-menu-text">Dashboard Settings</span></a></li>
                </ul>
            </li>

        </ul>
<!-- /SIDEBAR MENU -->
</div>
</div>
