{% extends "inventory/inventory.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href={% static "css/service.css" %}>
{% endblock %}
{% block content %}
    <h1>{{ object.service_name }}</h1><br/>
    <div id="service">
        <table>
            <tr>
                <td><strong>Service Name:</strong></td>
                <td>{{ object.service_name }}</td>
            </tr>
            <tr>
                <td><strong>Service Alias:</strong></td>
                <td>{{ object.alias }}</td>
            </tr>
            <tr>
                <td><strong>Service Parameters:</strong></td>
                {% for parameter in object.parameters.all %}
                    <td>{{ parameter }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td><strong>Service Command:</strong></td>
                <td>{{ object.command }}</td>
            </tr>
            <tr>
                <td><strong>Service Description:</strong></td>
                <td>{{ object.description }}</td>
            </tr>
        </table>
    </div>
{% endblock %}
