{% extends "inventory/inventory.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href={% static "css/command.css" %}>
{% endblock %}
{% block breadcrumb_page_title %} > Command {% endblock %}
{% block content_title %}Commands Management{% endblock %}
{% block content_description %}Detail of command ....{% endblock %}
{% block content %}
    <h1>{{ object.command_name }}</h1><br/>
    <div id="command">
        <table>
            <tr>
                <td><strong>Command Name:</strong></td>
                <td>{{ object.command_name }}</td>
            </tr>
            <tr>
                <td><strong>Command Line:</strong></td>
                <td>{{ object.command_line }}</td>
            </tr>
        </table>
    </div>
{% endblock %}
