{% extends "department/department.html" %}
{% load staticfiles %}
{% block breadcrumb_title %}
    <li>User Management</li>
    <li>User Groups</li>
{% endblock %}
{% block content_title %}User Group Management{% endblock %}
{% block content_description %}List of user groups{% endblock %}
{% block content %}
    <p><a href="/user_group/new"><i class="fa fa-plus">&nbsp;</i> Create User Group</a></p>

    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-table"></i> USER GROUP LISTING</h4>

            <div class="tools hidden-xs">
                <a href="#box-config" data-toggle="modal" class="config">
                    <i class="fa fa-cog"></i>
                </a>
                <a href="javascript:;" class="reload">
                    <i class="fa fa-refresh"></i>
                </a>
            </div>
        </div>

        <div id="tableContainer" class="box-body">
            <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="UserGroupTable">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <!-- Custom script for data table-->
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <!-- Custom Script for soft delete-->
    <script type="text/javascript" src={% static "js/nocout/softDeleteLib.js" %}></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            /*Make a instance of ourDataTableWidget class */
            var dataTableInstance = new ourDataTableWidget();
            /*Grid headers object*/
            var gridHeadersObj = $.parseJSON('{{ datatable_headers|safe }}');
            /*Ajax url to get grid data*/
            var ajax_url = '{% url "UserGroupListingTable" %}';
            /*Call createDataTable function of ourDataTableWidget class*/
            dataTableInstance.createDataTable("UserGroupTable", gridHeadersObj, ajax_url);
        });
    </script>
{% endblock %}
