{% extends "department/department.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href={% static "css/user_group.css" %}>
{% endblock %}
{% block breadcrumb_page_title %} > User Group {% endblock %}
{% block content_title %}User Groups Management{% endblock %}
{% block content_description %}List of user groups ....{% endblock %}
{% block content %}
    <h2>User Groups</h2>
    <hr/>
    <p><a href="/ug/new">Create User Group</a></p>
    <br/>
    <div id="user_group">
        <table>
            <tr>
                <td><strong>User Group</strong></td>
                <td><strong>Edit</strong></td>
                <td><strong>Delete</strong></td>
            </tr>
            {% for ug in object_list %}
                <tr>
                    <td><a href="/ug/{{ ug.id }}">{{ ug.name }}</a></td>
                    <td><a href="/ug/edit/{{ ug.id }}">Edit</a></td>
                    <td><a href="/ug/delete/{{ ug.id }}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}