{% extends "department/department.html" %}
{% load staticfiles %}
{% block breadcrumb_title %}
    <li>User Management</li>
    <li>User Groups</li>
    <li>Edit</li>
{% endblock %}
{% block content_title %}Edit User Group{% endblock %}
{% block content_description %}Edit user group{% endblock %}
{% block content %}
    <div class="row formContainer">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="box border lite">
                        <div class="box-title">
                            <h4><i class="fa fa-bars"></i> EDIT USER GROUP : {{ object.name }}</h4>
                        </div>
                            <div class="box-body">
                                <div class="col-md-8"><br />
                                    <form action="" method="post" class="form-horizontal" role="form">{% csrf_token %}
                                        <div class="form-group">
                                            {% for field in form %}
                                                <div class="form-group">
                                                    <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{% if field.field.required %}<span class="mandatory">* </span>{% endif %}{{ field.label|title }}</label>
                                                    <div class="col-sm-9">
                                                        <div class="col-md-8">
                                                            {{ field }} {{ field.errors }}
                                                        </div>
                                                        <div class="col-md-4 help_text">
                                                            {{ field.help_text }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-info"><i class="fa fa-edit"></i> Update</button>
                                                &nbsp;
                                                <button type="reset" class="btn btn-danger" onclick="window.location.replace('/user_group/')"><i class="fa fa-times"></i> Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content_js %}
        <script type="text/javascript" src={% static "js/nocout/nocout_forms.js" %}></script>
        <script>
               $('#id_organization').change(function(){
                    $.ajax({
                        url: "user_group/user_group_users_wrt_organization/",
                        type: "GET",
                        data: {'organization': $('#id_organization').val() },
                        dataType: "json",
                        success: function (data) {
                             $('#id_users').html(data.response)

                        } // success ends
                    });//ajax ends
                });// onchange ends
        </script>
    {% endblock %}
    <script>
        $(document).ready(function(){
            // Initialize the select2 selectbox.
            $(".select2select").select2();
        })
    </script>
{% endblock %}