{% extends "inventory/inventory.html" %}
{% load staticfiles %}

{% block content_title %}Edit SNMP Trap Settings{% endblock %}
{% block content_description %}Edit SNMP trap settings{% endblock %}
{% block content %}
    <div class="row formContainer">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="box border lite">
                        <div class="box-title">
                            <h4><i class="fa fa-bars"></i> SNMP TRAP SETTINGS : {{ object.name }}</h4>
                        </div>
                            <div class="box-body">
                                <div class="col-md-8"><br />
                                    <form action="" method="post" class="form-horizontal" role="form">{% csrf_token %}
                                        <div class="form-group">
                                            {% for field in form %}
                                                <div class="form-group">
                                                    <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{% if field.field.required %}<span class="mandatory">* </span>{% endif %}{{ field.label|title }}</label>
                                                    <div class="col-sm-9">
                                                        <div class="col-md-8">
                                                            {{ field }} {{ field.errors }}
                                                        </div>
                                                        <div class="col-md-4 help_text">
                                                            {# field.help_text #}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-info"><i class="fa fa-edit"></i> Update</button>
                                                &nbsp;
                                                <button type="reset" class="btn btn-danger" onclick="window.location.replace('/snmp_trap_settings/')"><i class="fa fa-times"></i> Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content_js %}
        <script type="text/javascript" src={% static "js/nocout/nocout_forms.js" %}></script>
    {% endblock %}
    <script>
        // behaviour after wrong validation of form
        $(document).ready(function () {

            // Initialize the select2 selectbox.
            $(".select2select").select2();

            // getting values of select menu's on load
            technology_val = $('#id_device_technology').val();
            vendor_val = $('#id_device_vendor').val();
            model_val = $('#id_device_model').val();
            type_val = $('#id_device_type').val();

            // update 'device technology' if it is already selected
            // i.e. after validation if form is invalid
            if ($('#id_device_technology').val()) {
                Dajaxice.device.after_update_vendor(Dajax.process, {'option': $('#id_device_technology').val(), 'selected': vendor_val});
            }

            // update 'device vendor' if it is already selected corresponding to 'device technology'
            // i.e. after validation if form is invalid
            // or just empty the selection menu
            if (!$('#id_device_vendor').val()) {
                $("#id_device_vendor").empty();
                //$("#id_device_vendor").select2("val","");
            }
            else {
                Dajaxice.device.after_update_model(Dajax.process, {'option': $('#id_device_vendor').val(), 'selected': model_val});
            }

            // update 'device model' if it is already selected corresponding to 'device vendor'
            // i.e. after validation if form is invalid
            // or just empty the selection menu
            if (!$('#id_device_model').val()) {
                $("#id_device_model").empty();
                //$("#id_device_model").select2("val","");
            }
            else {
                Dajaxice.device.after_update_type(Dajax.process, {'option': $('#id_device_model').val(), 'selected': type_val});
            }

            // update 'device type' if it is already selected corresponding to 'device model'
            // i.e. after validation if form is invalid
            // or just empty the selection menu
            if (!$('#id_device_type').val()) {
                $("#id_device_type").empty();
                //$("#id_device_type").select2("val","");
            }
        });

        // update 'device vendor' on selecting 'device technology'
        $("#id_device_technology").change(function () {

            if ($("#id_device_technology").val()) {
                $("#id_device_type").select2("val","");
                $("#s2id_id_device_vendor").find('.select2-chosen').text('Select');
                Dajaxice.device.update_vendor(Dajax.process, {'option': $('#id_device_technology').val()});
                $("#s2id_id_device_model").find('.select2-chosen').text('Select');
                $("#id_device_model").empty();
                $("#s2id_id_device_type").find('.select2-chosen').text('Select');
                $("#id_device_type").empty();
                $("#extra_fields").empty();
            }
            else{
                $("#id_device_vendor").select2("val","");
                $("#id_device_vendor").empty();
                $("#id_device_model").select2("val","");
                $("#id_device_model").empty();
                $("#id_device_type").select2("val","");
                $("#id_device_type").empty();
                $("#extra_fields").empty();
            }
        });

        // update 'device model' on selecting 'device vendor'
        $("#id_device_vendor").change(function () {
            if ($('#id_device_vendor').val()){
                Dajaxice.device.update_model(Dajax.process, {'option': $('#id_device_vendor').val()});
                $("#id_device_type").select2("val","");
                $("#id_device_type").empty();
                $("#extra_fields").empty();
            }
            else{
                $("#id_device_model").select2("val","");
                $("#id_device_model").empty();
                $("#id_device_type").select2("val","");
                $("#id_device_type").empty();
                $("#extra_fields").empty();
            }
        });

        // update 'device type' on selecting 'device model'
        $("#id_device_model").change(function () {
            if ($('#id_device_model').val()){
                Dajaxice.device.update_type(Dajax.process, {'option': $('#id_device_model').val()});
            }
            else{
                $("#id_device_type").select2("val","");
                $("#id_device_type").empty();
                $("#extra_fields").empty();
            }
        }).click(function () {
            if ($("#id_device_model").length == 1) {
                Dajaxice.device.update_type(Dajax.process, {'option': $('#id_device_model').val()});
            }
        });

        // update 'ports' on selecting 'device type'
        $("#id_device_type").change(function () {
            if ($('#id_device_type').val()){
                Dajaxice.device.update_ports(Dajax.process, {'option': $('#id_device_type').val()});
            }
            else{
                $("#id_ports").select2("val","");
                $("#id_ports").empty();
                $("#extra_fields").empty();
            }
        }).click(function () {
            if ($("#id_device_type").length == 1) {
                Dajaxice.device.update_ports(Dajax.process, {'option': $('#id_device_type').val()});
            }
        });

        // show device 'extra fields' on selecting 'device type'
        $("#id_device_type").change(function () {
            $("#right_align").empty();
            Dajaxice.device.device_type_extra_fields(Dajax.process, {'option': $('#id_device_type').val()});
        }).click(function () {
            if ($("#id_device_type").length == 1) {
                Dajaxice.device.device_type_extra_fields(Dajax.process, {'option': $('#id_device_type').val()});
            }
        });

    </script>
{% endblock %}
{% block load_js %}
    <script>
    jQuery(document).ready(function () {
        App.setPage("");  //Set current page
        App.init(); //Initialise plugins and elements
    });
    </script>
{% endblock %}
