{% extends "nocout/base.html" %}
{% block breadcrumb_title %}
    <a href="/home">Home</a> >
    <li><a href="#">Performance Reports</a></li>
    <li><a href="#">RF Performance Dashboard</a></li>
    <li><b>PTP BH</b></li>
{% endblock %}
{% load staticfiles %}
{% block page_setting_block %} {% endblock %}
{% block content_title %} RF Performance Dashboard: PTP {% endblock %}
{% block content_description %} RF Performance Dashboard: PTP {% endblock %}

{% block content %}
<h2>RSSI</h2>
<div id="rssi" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<h2>Availability</h2>
<div id="availability" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<h2>UAS</h2>
<div id="uas" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
{% endblock %}

{% block load_js %}

<!--Highcharts Library-->
<script src={% static "js/highcharts.js" %}></script>
<!-- SPARKLINES -->
<script type="text/javascript" src={% static "js/sparklines/jquery.sparkline.min.js" %}></script>
<!-- Dashboard Custom CSS-->
<script src={% static "js/nocout_dashboard.js" %}></script>

<script>
    jQuery(document).ready(function () {
        App.setPage("");  //Set current page
        App.init(); //Initialise plugins and elements
    });

    var data_sources = {{ data_sources|safe }};


$(function () {
    data_sources.forEach(function (data_source) {
        var jqXHR = $.ajax( "{% url 'dashboard-rf-performance-ptp-bh' %}" + "?data_source=" + data_source )
        .done(function(json_response) {
            var response = JSON.parse(json_response);
            console.log(response);
            console.log(response.success);
            if (response.success == 1) {
                var pie_chart = $('#' + data_source).highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: 1,//null,
                        plotShadow: false
                    },
                    title: {
                        text: response.data.objects.chart_data[0].name
                    },
                    colors: response.data.objects.colors,
                    series: [{
                        type: 'pie',
                        name: response.data.objects.display_name,
                        data: response.data.objects.chart_data[0].data
                    }]
                });
            } else {
                //alert(data_source + " : " + response.message);
                console.log(data_source + " : " + response.message);
            }
        })
        .fail(function() {
            alert( data_source + " : server error" );
        });
    })
});
</script>
{% endblock %}
