#dashboardContainer .col-md-3 .tech_block {
	min-height: 240px;
	overflow: hidden;
}
.dashboard_pie_chart {
	height: 198px;
	max-width: 100%;
	width: 200px;
	/*width: 70%;
	margin: 15px auto;*/
}
#dashboardContainer .col-md-3 .tech_block .col-md-7 , #dashboardContainer .col-md-3 .tech_block .col-md-5 {
	padding: 0px;
}
#dashboardContainer .col-md-3 .tech_block .col-md-7 .legend {
	position: absolute;
	left: -20%;
	top: -6%;
}
#dashboardContainer .col-md-3 .tech_block .col-md-7 .legend div {
	left: 0px !important;
}
#dashboardContainer .networkPerfContainer .col-md-3 .tech_block .col-md-7  , #dashboardContainer .pmpPerfContainer .col-md-3 .tech_block .col-md-7 , #dashboardContainer .col-md-7 {
    margin-left: -10px;
}
#dashboardContainer .col-md-3 .tech_block  h5.alert{
	padding: 5px;
	margin-bottom: 0px;
	margin-top: 0px;
    font-weight: 400;
}
#dashboardContainer .col-md-3 .tech_block .col-md-5 .side_info_block {
	width: 100%;
	height: 49px;
	padding-top: 2px;
	padding-left: 0px;
}
#dashboardContainer .col-md-3 .tech_block .col-md-5 .side_info_block .chart_title h6{
    font-weight: 400;
    font-size: 11px;
    /*font-size: 10.8px\9;*/
}
.chart_title {
	min-width: 85px;
}