{% extends "inventory/inventory.html" %}
{% load staticfiles %}
{% block breadcrumb_title %}
    <li>Settings</li>
    <li>Threshold Configuration</li>
    <li>New</li>
{% endblock %}
{% block css %}
	<!-- JQUERY UI-->
    <link rel="stylesheet" type="text/css" href={% static "js/jquery-ui-1.10.3.custom/css/custom-theme/jquery-ui-1.10.3.custom.min.css" %} />
{% endblock %}
{% block content_title %}Add Threshold Configuration{% endblock %}
{% block content_description %}Add threshold configuration{% endblock %}
{% block content %}
    <div class="row formContainer">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="box border lite">
                        <div class="box-title">
                            <h4><i class="fa fa-bars"></i>THRESHOLD CONFIGURATION</h4>
                        </div>
                            <div class="box-body">
                                <div class="col-md-8"><br />
                                    <form action="/threshold_configuration/new/" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">{% csrf_token %}
                                        <div class="form-group">
                                            {% for field in form %}
                                                <div class="form-group">
                                                    <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{% if field.field.required %}<span class="mandatory">* </span>{% endif %}{{ field.label|title }}</label>
                                                    <div class="col-sm-9">
                                                        <div class="col-md-8">
                                                            {{ field }} {{ field.errors }}
                                                        </div>
                                                        <div class="col-md-4 help_text">
                                                            {{ field.help_text }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-success"><i class="fa fa-pencil"></i>Create</button>
                                                &nbsp;
                                                <button type="reset" class="btn btn-warning" onclick="resetForm();"><i class="fa fa-refresh"></i>Reset</button>
                                                &nbsp;
                                                <button type="reset" class="btn btn-danger" onclick="window.location.replace('/threshold_configuration/')"><i class="fa fa-times"></i>Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content_js %}
        <script type="text/javascript" src={% static "js/nocout/nocout_forms.js" %}></script>
    {% endblock %}
    <script>

        function validateInputRanges() {
            var rangeObj= {};
            var validationBit= true;
            function loopThroughSpecificRange(i) {
                var startingValue= parseInt($("input#id_range"+i+"_start").val(), 10);
                var endValue= parseInt($("input#id_range"+i+"_end").val(), 10);
                if(startingValue && !endValue) {
                    $("input#id_range"+i+"_end").parent().next().html('Value not filled');
                    return false;
                } else {
                    $("input#id_range"+i+"_end").parent().next().html('');
                }
                if(!startingValue && endValue) {
                    $("input#id_range"+i+"_start").parent().next().html('Value not filled');
                    return false;
                } else {
                    $("input#id_range"+i+"_start").parent().next().html('');
                }
                if(startingValue && endValue) {
                    if(startingValue> endValue) {
                        $("input#id_range"+i+"_start").parent().next().html('This value is greated than end Value');
                        $("input#id_range"+i+"_end").parent().next().html('This value is smaller than start Value');
                        return false;
                    } else {
                        $("input#id_range"+i+"_start").parent().next().html('');
                        $("input#id_range"+i+"_end").parent().next().html('');
                    }
                    if(Object.keys(rangeObj).length=== 0) {
                        rangeObj['range'+i]= [startingValue, endValue];
                    } else {
                        console.log(rangeObj);
                        for(var key in rangeObj) {
                            if(rangeObj.hasOwnProperty(key)) {
                                var range= rangeObj[key];
                                if(startingValue>= range[0] && startingValue <= range[1]) {
                                    $("input#id_range"+i+"_start").parent().next().html('This value is already repeated in'+ JSON.stringify(range));
                                    return false; //Starting value lies between range
                                } else {
                                    $("input#id_range"+i+"_start").parent().next().html('');
                                }
                                if(endValue>= range[0] && endValue <= range[1]) {
                                    $("input#id_range"+i+"_end").parent().next().html('This value is already repeated in'+ JSON.stringify(range));
                                    return false; //Starting value lies between range
                                } else {
                                    $("input#id_range"+i+"_end").parent().next().html('');
                                }
                                rangeObj['range'+i]= [startingValue, endValue];
                            }
                        }
                    }
                }
                return true;
            }

            for(var i=1; i<= 10; i++) {
                if(loopThroughSpecificRange(i)) {
                    var form_group_div= $("input#id_range"+i+"_start").parent().parent().parent();
                    $(form_group_div).removeClass('has-error').addClass('has-success');
                    $(form_group_div).next().removeClass('has-error').addClass('has-success');
                } else {
                    var form_group_div= $("input#id_range"+i+"_start").parent().parent().parent();
                    $(form_group_div).addClass('has-error').removeClass('has-success');
                    $(form_group_div).next().addClass('has-error').removeClass('has-success');
                }
            }
        }
        $(document).ready(function(){
            // Initialize the select2 selectbox.
            $(".select2select").select2();


        })
    </script>
{% endblock %}
