{% extends "inventory.html" %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href={% static "css/command.css" %} >
{% endblock %}
{% block content %}
<h3>Create Command</h3>
	<form action="/command/new/" method="post">{% csrf_token %}
		<div id="new_command">
			<table>
				<tr>
					<td>
						{{ form.errors }}
						{{ form.non_field_errors }}
					</td>
				</tr>
				<tr>
					<th><label for="id_command_name"> Command Name:</label></th>
					<td>{{ form.command_name }}</td>
				</tr>
				<tr>
					<th><label for="id_command_line">Command Line:</label></th>
					<td>{{ form.command_line }}</td>
				</tr>
				<tr><th></th><td><input type="submit" value="Create" /></td></tr>
			</table>
		</div>
	</form>
{% endblock %}
