{% extends "inventory.html" %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href={% static "css/command.css" %} >
{% endblock %}
{% block content %}
    <h2>Command</h2>
    <hr />
    <p><a href="/command/new">Create Command</a></p>
    <br />
    <div id="command">
	    <table>
	    	<tr><td><strong>Command</strong></td><td><strong>Edit</strong></td><td><strong>Delete</strong></td></tr>
	        {% for command in object_list %}
	            <tr><td><a href="/command/{{command.id}}">{{ command.command_name }}</a></td> <td><a href="/command/edit/{{command.id}}">Edit</a></td> <td><a href="/command/delete/{{command.id}}">Delete</a></td></tr>
	        {% endfor %}
	    </table>
    </div>
{% endblock %}