{% extends "inventory.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href={% static "css/device.css" %}>
{% endblock %}
{% block content %}
    <h3>Create Device</h3>
    <form action="/device/new/" method="post" id="device_form">{% csrf_token %}
        <div id="new_device">
            <table id="wrap_complete">
                <tr>
                    <td>
                        {{ form.errors }}
                        {{ form.non_field_errors }}
                    </td>
                </tr>
            </table>
            <table id="left_align">
                {% for field in form %}
                    {% if field.field.widget.attrs.class != 'extra' %}
                        <tr>
                            <th>{{ field.label_tag }}</th>
                            <td>{{ field }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <th></th>
                    <td><input type="submit" value="Create"/></td>
                </tr>
            </table>
            <table id="right_align">
                <span id="extra_fields">
                    {% for field in form %}
                        {% if field.field.widget.attrs.class == 'extra' %}
                            <tr>
                                <th>{{ field.label_tag }}</th>
                                <td>{{ field }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </span>
            </table>
        </div>
    </form>
    <script>
        /*
         $(document).ready(function(){
         Dajaxice.device.device_type_extra_fields(Dajax.process, {'option': $('#id_device_type').val()});
         });
         */

        $("#id_device_technology").change(function () {
            Dajaxice.device.update_vendor(Dajax.process, {'option': $('#id_device_technology').val()});
        });

        $("#id_device_vendor").change(function () {
            Dajaxice.device.update_model(Dajax.process, {'option': $('#id_device_vendor').val()});
        }).click(function () {
            if ($('#id_device_vendor option').length == 1) {
                Dajaxice.device.update_model(Dajax.process, {'option': $('#id_device_vendor').val()});
            }
        });

        $("#id_device_model").change(function () {
            Dajaxice.device.update_type(Dajax.process, {'option': $('#id_device_model').val()});
        }).click(function () {
            if ($('#id_device_model option').length == 1) {
                Dajaxice.device.update_type(Dajax.process, {'option': $('#id_device_model').val()});
            }
        });

        $("#id_device_type").change(function () {
            $("#right_align").empty();
            Dajaxice.device.device_type_extra_fields(Dajax.process, {'option': $('#id_device_type').val()});
        }).click(function () {
            if ($('#id_device_type option').length == 1) {
                Dajaxice.device.device_type_extra_fields(Dajax.process, {'option': $('#id_device_type').val()});
            }
        });

    </script>
{% endblock %}
