{% extends "inventory.html" %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href={% static "css/device.css" %} >
{% endblock %}
{% block content %}
	<h1>{{ object.name }}</h1><br />
	<div id="device">
		<table>
			<tr><td><strong>Technology Name:</strong></td> <td>{{ object.name }}</td></tr>
			<tr><td><strong>Technology Alias:</strong></td> <td>{{ object.alias }}</td></tr>
			<tr><td><strong>Technology Vendors:</strong></td> 
				{% for vendor in object.technologyvendor_set.all %}
					<td>{{ vendor.vendor }}</td>
				{% endfor %}
			</tr>
		</table>
	</div>
{% endblock %}
