{% extends "inventory.html" %}
{% block content %}
	<h1>{{ object.host_name }}</h1>
	<p>Alias: {{ object.host_alias }}</p>
	<p>Parent: {{ object.parent }}</p>
	<p>Device Group: {{ object.host_group }}</p>
	<p>IP: {{ object.ip_address }}</p>
	<p>MAC: {{ object.mac_address }}</p>
	<p>Netmask: {{ object.netmask }}</p>
	<p>Gateway: {{ object.gatway }}</p>
	<p>DHCP State: {{ object.dhcp_state }}</p>
	<p>Device State: {{ object.host_state }}</p>
	<p>Priority: {{ object.host_priority }}</p>
	<p>Address: {{ object.address }}</p>
	<p>City: {{ object.city }}</p>
	<p>State: {{ object.state }}</p>
	<p>Timezone: {{ object.timezone }}</p>
	<p>Latitude: {{ object.latitude }}</p>
	<p>Longitude: {{ object.longitude }}</p>
	<p>Description: {{ object.description }}</p>
{% endblock %}
