{% extends "inventory.html" %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href={% static "css/device.css" %} >
{% endblock %}
{% block content %}
    <h2>Device Technology</h2>
    <hr />
    <p><a href="/technology/new">Create Device Technology</a></p>
    <br />
    <div id="device">
	    <table>
	    	<tr><td><strong>Technology</strong></td><td><strong>Edit</strong></td><td><strong>Delete</strong></td></tr>
	        {% for technology in object_list %}
	            <tr><td><a href="/technology/{{technology.id}}">{{ technology.name }}</a></td> <td><a href="/technology/edit/{{technology.id}}">Edit</a></td> <td><a href="/technology/delete/{{technology.id}}">Delete</a></td></tr>
	        {% endfor %}
	    </table>
    </div>
{% endblock %}