{% extends "inventory/inventory.html" %}
{% load staticfiles %}
{% block breadcrumb_title %}
    <li>Inventory</li>
    <li>Device</li>
    <li>Add</li>
{% endblock %}
{% block content_title %}Add Device{% endblock %}
{% block content_description %}Add Device{% endblock %}
{% block content %}
    <div class="row formContainer">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="box border lite">
                        <div class="box-title">
                            <h4><i class="fa fa-bars"></i> ADD DEVICE</h4>
                        </div>
                        <div class="box-body">
                            <br/>

                            <form action="/device/new/" method="post" class="form-horizontal"
                                  role="form">{% csrf_token %}
                                <div class="col-md-12">
                                    <!--Form 1-->
                                    <div class="col-md-8">
                                        {% for field in form %}
                                            {% if field.field.widget.attrs.class == 'form-control' or field.field.widget.attrs.class == 'col-md-12 select2select' %}
                                                <div class="form-group">
                                                    <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{% if field.field.required %}<span class="mandatory">* </span>{% endif %}{{ field.label|title }}</label>
                                                    <div class="col-sm-9">
                                                        <div class="col-md-8">
                                                            {{ field }}
                                                        </div>
                                                        {{ field.errors }}
                                                        <div class="col-md-4 help_text">
                                                            {{ field.help_text }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <!--Form 1 End-->
                                    <!--Form 2-->
                                    <div class="col-md-6">
                                        <span id="extra_fields">
                                            {% for field in form %}
                                                {% if field.field.widget.attrs.class == 'extra form-control' %}
                                                    <div class="form-group">
                                                    <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{% if field.field.required %}<span class="mandatory">* </span>{% endif %}{{ field.label|title }}</label>
                                                    <div class="col-sm-9">
                                                        <div class="col-md-8">
                                                            {{ field }}
                                                        </div>
                                                        {{ field.errors }}
                                                        <div class="col-md-4 help_text">
                                                            {{ field.help_text }}
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            {% endfor %}
                                        </span>
                                    </div>
                                    <!--Form 2 End-->
                                    <div class="clearfix"></div>
                                    <!-- Buttons Block-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-success"><i
                                                        class="fa fa-pencil"></i> Create
                                                </button>
                                                &nbsp;
                                                <button type="reset" class="btn btn-warning" onclick="resetForm();"><i
                                                        class="fa fa-refresh"></i> Reset
                                                </button>
                                                &nbsp;
                                                <button type="reset" class="btn btn-danger"
                                                        onclick="window.location.replace('/device/')"><i
                                                        class="fa fa-times"></i> Cancel
                                                </button>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <!-- Buttons Block End-->
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content_js %}
        <script type="text/javascript" src={% static "js/nocout/nocout_forms.js" %}></script>
    {% endblock %}
    <script>
        // behaviour after wrong validation of form
        $(document).ready(function () {

            // Initialize the select2 selectbox.
            $(".select2select").select2();

            // update 'device parent' select options
            if ($('#id_parent').val()) {
                // called if 'device parent' is already selected i.e. after validation if form is invalid
                Dajaxice.device.device_parent_choices_selected(Dajax.process, {'option': $('#id_parent').val()});
            }
            else {
                // called if 'device parent' form is loaded first time i.e. before form submission
                Dajaxice.device.device_parent_choices_initial(Dajax.process);
            }

            // update 'device technology' if it is already selected
            // i.e. after validation if form is invalid
            if ($('#id_device_technology').val()) {
                Dajaxice.device.update_vendor(Dajax.process, {'option': $('#id_device_technology').val()});
            }

            // update 'device vendor' if it is already selected corresponding to 'device technology'
            // i.e. after validation if form is invalid
            // or just empty the selection menu
            if (!$('#id_device_vendor').val()) {
                $("#id_device_vendor").empty();
                //$("#id_device_vendor").select2("val","");
            }
            else {
                Dajaxice.device.update_model(Dajax.process, {'option': $('#id_device_vendor').val()});
            }

            // update 'device model' if it is already selected corresponding to 'device vendor'
            // i.e. after validation if form is invalid
            // or just empty the selection menu
            if (!$('#id_device_model').val()) {
                $("#id_device_model").empty();
                //$("#id_device_model").select2("val","");
            }
            else {
                Dajaxice.device.update_type(Dajax.process, {'option': $('#id_device_model').val()});
            }

            // update 'device type' if it is already selected corresponding to 'device model'
            // i.e. after validation if form is invalid
            // or just empty the selection menu
            if (!$('#id_device_type').val()) {
                $("#id_device_type").empty();
                //$("#id_device_type").select2("val","");
            }

            // if none of the value from 'country' is selected than empty 'state' & 'city' selection too.
            // or update value of 'state' corresponding to the selected 'country'

            if ($("#id_country").val() == "") {
                $("#id_state").empty();
                $("#id_city").empty();
            }
            else {
                Dajaxice.device.update_states_after_invalid_form(Dajax.process, {'option': $("#id_country").val(), 'state_id': $("#id_state").val()});
            }

            // if 'state' has no value than empty 'city' selection menu
            // or update 'city' corresponding to selected 'state'
            if (!$("#id_state").val()) {
                $("#id_city").empty();
            }
            else {
                Dajaxice.device.update_cities_after_invalid_form(Dajax.process, {'option': $("#id_state").val(), 'city_id': $("#id_city").val()});
            }
        });

        // update 'device vendor' on selecting 'device technology'
        $("#id_device_technology").change(function () {

            if ($("#id_device_technology").val()) {
                $("#id_device_type").select2("val","");
                Dajaxice.device.update_vendor(Dajax.process, {'option': $('#id_device_technology').val()});
                $("#id_device_model").select2("val","");
                $("#id_device_model").empty();
                $("#id_device_type").select2("val","");
                $("#id_device_type").empty();
                $("#extra_fields").empty();
            }
            else{
                $("#id_device_vendor").select2("val","");
                $("#id_device_vendor").empty();
                $("#id_device_model").select2("val","");
                $("#id_device_model").empty();
                $("#id_device_type").select2("val","");
                $("#id_device_type").empty();
                $("#extra_fields").empty();
            }
        });

        // update 'device model' on selecting 'device vendor'
        $("#id_device_vendor").change(function () {
            if ($('#id_device_vendor').val()){
                Dajaxice.device.update_model(Dajax.process, {'option': $('#id_device_vendor').val()});
                $("#id_device_type").select2("val","");
                $("#id_device_type").empty();
                $("#extra_fields").empty();
            }
            else{
                $("#id_device_model").select2("val","");
                $("#id_device_model").empty();
                $("#id_device_type").select2("val","");
                $("#id_device_type").empty();
                $("#extra_fields").empty();
            }
        });

        // update 'device type' on selecting 'device model'
        $("#id_device_model").change(function () {
            if ($('#id_device_model').val()){
                Dajaxice.device.update_type(Dajax.process, {'option': $('#id_device_model').val()});
            }
            else{
                $("#id_device_type").select2("val","");
                $("#id_device_type").empty();
                $("#extra_fields").empty();
            }
        }).click(function () {
            if ($("#id_device_model").length == 1) {
                Dajaxice.device.update_type(Dajax.process, {'option': $('#id_device_model').val()});
            }
        });

        // show device 'extra fields' on selecting 'device type'
        $("#id_device_type").change(function () {
            $("#right_align").empty();
            Dajaxice.device.device_type_extra_fields(Dajax.process, {'option': $('#id_device_type').val()});
        }).click(function () {
            if ($("#id_device_type").length == 1) {
                Dajaxice.device.device_type_extra_fields(Dajax.process, {'option': $('#id_device_type').val()});
            }
        });

        // update 'states' on selecting 'country'
        $("#id_country").change(function () {
            if ($("#id_country").val() != "") {
                Dajaxice.device.update_states(Dajax.process, {'option': $("#id_country").val()});
                $("#id_city").empty();
            }
            else {
                $("#id_state").select2("val","");
                $("#id_state").empty();
                $("#id_city").select2("val","");
                $("#id_city").empty();
            }
        });

        // update 'cities' on selecting 'state'
        $("#id_state").change(function () {
            $("#id_city").select2("val","");
            Dajaxice.device.update_cities(Dajax.process, {'option': $("#id_state").val()});
        });

    </script>
{% endblock %}
{% block load_js %}
<script>
    jQuery(document).ready(function () {
        App.setPage("");  //Set current page
        App.init(); //Initialise plugins and elements
    });
</script>
{% endblock %}
