{% extends "inventory/inventory.html" %}
{% block breadcrumb_page_title %} > Device {% endblock %}
{% block content_title %}Device Management{% endblock %}
{% block content_description %}List of devices ....{% endblock %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href={% static "device/css/device.css" %} />
{% endblock %}
{% block content %}
    <h2>Devices</h2>
    <hr/>
    <p><a href="/device/new">Create Device</a></p>
    <br/>
    <div id="device">
        <table>
            <tr>
                <td><strong>Device</strong></td>
                <td><strong>Edit</strong></td>
                <td><strong>Delete</strong></td>
            </tr>
            {% for device in object_list %}
                <tr>
                    <td><a href="/device/{{ device.id }}">{{ device.device_name }}</a></td>
                    <td><a href="/device/edit/{{ device.id }}">Edit</a></td>
                    <td><a href="/device/delete/{{ device.id }}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
