{% extends "inventory/inventory.html" %}
{% block breadcrumb_title %}
    <li>Inventory</li>
    <li>Device</li>
{% endblock %}
{% block content_title %}Device Management{% endblock %}
{% block content_description %}List of devices{% endblock %}
{% load staticfiles %}
{% block content %}
    {% for group in user.groups.all %}
        {% if group.name == 'group_admin' %}
            <p><a href="/device/new"><i class="fa fa-plus"></i> Create Device</a></p>
        {% endif %}
    {% endfor %}
    <p><a href="/device/treeview"><i class="fa fa-sitemap"></i> Devices Tree View</a></p>

    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-table"></i>DEVICE LISTING</h4>
            <div class="tools hidden-xs">
                <a href="#box-config" data-toggle="modal" class="config">
                    <i class="fa fa-cog"></i>
                </a>
                <a href="javascript:;" class="reload">
                    <i class="fa fa-refresh"></i>
                </a>
            </div>
        </div>

        <div id="tableContainer" class="box-body">
            <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="DeviceTable">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

{% endblock %}
{% block jquery %}
    <!-- Custom Data Table script-->
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <!-- Custom Script for soft delete-->
    <script type="text/javascript" src={% static "js/nocout/softDeleteLib.js" %}></script>
    <script type="text/javascript">
        $(document).ready(function() {
            /*Make a instance of ourDataTableWidget class */
            var dataTableInstance = new ourDataTableWidget();
            /*Grid headers object*/            
            var gridHeadersObj = $.parseJSON('{{ datatable_headers|safe }}');
            /*Ajax url to get grid data*/
            var ajax_url = '{% url "DeviceListingTable" %}';
            /*Call createDataTable function of ourDataTableWidget class*/
            dataTableInstance.createDataTable("DeviceTable", gridHeadersObj, ajax_url);
        });
        /*setTimeout is used because click event on '.start_monitoring_btn' class is binds before the data-table loads. Hence not working.*/
        setTimeout(function(e) {
            $(".add_device_to_nms_core_btn").click(function(e) {
                var device_id = $(this).attr("device_id");
                add_device(device_id);
            });
            $(".sync_device_with_nms_core_btn").click(function(e) {
                var device_id = $(this).attr("device_id");
                sync_devices();
            });
        },1000);
    </script>
{% endblock %}