{% extends "inventory/inventory.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-dropbox'></i> Inventory" "javascript:;" %}
    {% breadcrumb_safe "Device Inventory" "javascript:;" %}
    {% breadcrumb_safe "Devices" "device_list" %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% block content_title %}Device Management{% endblock %}
{% block content_description %}List of devices{% endblock %}
{% block page_setting_block %}
    {% if perms.device.can_sync %}
        <span class="pull-right">
            <div class="btn-group">
                {% if last_sync_time %}
                    <i class="green-dot">Last Sync Run At: {{ last_sync_time }} | </i>
                {% else %}
                    <i class="red-dot">Last Sync Run At: Yet to be run. | </i>
                {% endif %}
            </div>
            <div class="btn-group">
                {% if deadlock_status == 'yes' %}
                    <i class="red-dot">Sync Status: <a class="" href="#" onclick="remove_sync_deadlock();"><i class="fa fa-times-circle red-dot" title="Remove deadlock in sync process."></i></a> | </i>
                    <i class="red-dot">Run Sync: </i><a class="" href="#" > <i class="fa fa-refresh red-dot" title="Something is wrong. Can't run sync right now."></i></a>
                {% else %}
                    <i class="green-dot">Sync Status: <a class=""><i class="fa fa-check-circle green-dot " title="No deadlock exist in sync process."></i></a> | </i>
                    <i class="green-dot">Run Sync: </i><a class="" href="#" onclick="sync_devices();"> <i class="fa fa-refresh green-dot" title="Sync device for monitoring."></i></a>
                {% endif %}
            </div>
        </span>
    {% endif %}
{% endblock %}
{% load staticfiles %}
{% block content %}
        {% if perms.device.add_device %}
            <p><a href="/device/new"><i class="fa fa-plus"></i> Create Device</a></p>
        {% endif %}

    <p><a href="/device/treeview"><i class="fa fa-sitemap"></i> Devices Tree View</a></p>

    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-table"></i>DEVICE LISTING</h4>
        </div>
    <div class="box-body">
        <div class="tabbable header-tabs">
            <ul class="nav nav-tabs">
                <li>
                    <a href="#AllDeviceListing" id="allDeviceListing_tab" data-toggle="tab">
                        <span class="hidden-inline-mobile">All</span>
                    </a>
                </li>
                <li>
                    <a href="#ArchivedDeviceListing" id="archivedDeviceListing_tab" data-toggle="tab">
                        <span class="hidden-inline-mobile">Archived</span>
                    </a>
                </li>
                <li>
                    <a href="#DisabledDeviceListing" id="disabledDeviceListing_tab" data-toggle="tab">
                        <span class="hidden-inline-mobile">Disabled</span>
                    </a>
                </li>
                <li>
                    <a href="#NonOperationalDeviceListing" id="nonOperationalDeviceListing_tab" data-toggle="tab">
                        <span class="hidden-inline-mobile">Non-Operational</span>
                    </a>
                </li>
                <li class="active">
                    <a href="#OperationalDeviceListing" id="operationalDeviceListing_tab" data-toggle="tab">
                        <span class="hidden-inline-mobile">Operational</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content" style="overflow:auto;">
                <div class="tab-pane" id="NonOperationalDeviceListing">
                    <table id="NonOperationalDeviceListingTable" class="datatable table table-striped table-bordered table-hover">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="tab-pane" id="DisabledDeviceListing">
                    <table id="DisabledDeviceListingTable" class="datatable table table-striped table-bordered table-hover">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="tab-pane" id="AllDeviceListing">
                    <table id="AllDeviceListingTable" class="datatable table table-striped table-bordered table-hover">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="tab-pane" id="ArchivedDeviceListing">
                    <table id="ArchivedDeviceListingTable" class="datatable table table-striped table-bordered table-hover">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="tab-pane in active" id="OperationalDeviceListing">
                    <table id="OperationalDeviceListingTable" class="datatable table table-striped table-bordered table-hover">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block jquery %}
    <!-- Custom Data Table script-->
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <!-- Library to load tab content on tab click-->
    <script type="text/javascript" src={% static "js/nocout/openTabContentLib.js" %}></script>
    <!-- Custom Script for soft delete-->
    <script type="text/javascript" src={% static "js/nocout/softDeleteLib.js" %}></script>
    <script type="text/javascript">

        var dataTableInstance = "";

        $(document).ready(function() {

            /*Make a instance of ourDataTableWidget class */
            dataTableInstance = new ourDataTableWidget();

            /*Ajax url to get grid data*/
            var ajax_url_operational_listing = '{% url "OperationalDeviceListingTable" %}',
                ajax_url_nonoperational_listing = '{% url "NonOperationalDeviceListingTable" %}',
                ajax_url_disabled_listing = '{% url "DisabledDeviceListingTable" %}',
                ajax_url_archived_listing = '{% url "ArchivedDeviceListingTable" %}',
                ajax_url_all_listing = '{% url "AllDeviceListingTable" %}';

            var common_extra_param = "'download_excel': 'yes'",
                operational_title = "Operational Devices Report",
                non_operational_title = "Non Operational Devices Report",
                disabled_title = "Disabled Devices Report",
                archived_title = "Archived Devices Report",
                all_title = "All Devices Report",
                common_excluded_columns = "['status_icon']";

            tables_info = {
                "operationalDeviceListing_tab" : {
                    "app_name" : "device",
                    "table_title" : operational_title,
                    "header_class_name" : "DeviceList",
                    "data_class_name" : "OperationalDeviceListingTable",
                    "header_extra_param" : "{"+common_extra_param+"}",
                    "data_extra_param" : "{'report_title' : '"+operational_title+"', "+common_extra_param+"}",
                    "excluded" : common_excluded_columns
                },
                "nonOperationalDeviceListing_tab" : {
                    "app_name" : "device",
                    "table_title" : non_operational_title,
                    "header_class_name" : "DeviceList",
                    "data_class_name" : "NonOperationalDeviceListingTable",
                    "header_extra_param" : "{"+common_extra_param+"}",
                    "data_extra_param" : "{'report_title' : '"+non_operational_title+"', "+common_extra_param+"}",
                    "excluded" : common_excluded_columns
                },
                "disabledDeviceListing_tab" : {
                    "app_name" : "device",
                    "table_title" : disabled_title,
                    "header_class_name" : "DeviceList",
                    "data_class_name" : "DisabledDeviceListingTable",
                    "header_extra_param" : "{"+common_extra_param+"}",
                    "data_extra_param" : "{'report_title' : '"+disabled_title+"', "+common_extra_param+"}",
                    "excluded" : common_excluded_columns
                },
                "archivedDeviceListing_tab" : {
                    "app_name" : "device",
                    "table_title" : archived_title,
                    "header_class_name" : "DeviceList",
                    "data_class_name" : "ArchivedDeviceListingTable",
                    "header_extra_param" : "{'headers_data_key' : 'datatable_headers_no_nms_actions', "+common_extra_param+"}",
                    "data_extra_param" : "{'report_title' : '"+archived_title+"', "+common_extra_param+"}",
                    "excluded" : common_excluded_columns
                },
                "allDeviceListing_tab" : {
                    "app_name" : "device",
                    "table_title" : all_title,
                    "header_class_name" : "DeviceList",
                    "data_class_name" : "AllDeviceListingTable",
                    "header_extra_param" : "{'headers_data_key' : 'datatable_headers_no_nms_actions', "+common_extra_param+"}",
                    "data_extra_param" : "{'report_title' : '"+all_title+"', "+common_extra_param+"}",
                    "excluded" : common_excluded_columns
                }
            };

            // Add custom attributes for ajax_url & grid header to the tab i.e 'a' tag. -- START

            $("#operationalDeviceListing_tab").attr("data_url",ajax_url_operational_listing);
            $("#operationalDeviceListing_tab").attr("data_header",'{{ datatable_headers|safe }}');

            $("#nonOperationalDeviceListing_tab").attr("data_url",ajax_url_nonoperational_listing);
            $("#nonOperationalDeviceListing_tab").attr("data_header",'{{ datatable_headers|safe }}');

            $("#disabledDeviceListing_tab").attr("data_url",ajax_url_disabled_listing);
            $("#disabledDeviceListing_tab").attr("data_header",'{{ datatable_headers|safe }}');

            $("#archivedDeviceListing_tab").attr("data_url",ajax_url_archived_listing);
            $("#archivedDeviceListing_tab").attr("data_header",'{{ datatable_headers_no_nms_actions|safe }}');

            $("#allDeviceListing_tab").attr("data_url",ajax_url_all_listing);
            $("#allDeviceListing_tab").attr("data_header",'{{ datatable_headers_no_nms_actions|safe }}');

            // Add custom attributes for ajax_url & grid header to the tab i.e 'a' tag. -- END

            var location_array = window.location.href.split("#");

            if((location_array.length > 1 && location_array[1] == "") || (location_array.length == 1)) {
                /*Trigger click event on active tab to load its data*/
                $("#operationalDeviceListing_tab").trigger('click',true);
            }
        });
    </script>
{% endblock %}
