{% extends "inventory/inventory.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-server'></i> Inventory" "javascript:;" %}
    {% breadcrumb_safe "Device Inventory" "javascript:;" %}
    {% breadcrumb_safe "Device Port" "device_ports_list" %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% load staticfiles %}

{% block content_title %}Device Ports{% endblock %}
{% block content_description %}List of device ports{% endblock %}
{% block content %}

    <p>
        <a href="/device_port/new"><i class="fa fa-plus">&nbsp;</i> Create Device Port</a>
    </p>
    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-table"></i>DEVICE PORTS LISTING</h4>
        </div>

        <div id="tableContainer" class="box-body">
            <table class="datatable table table-striped table-bordered table-hover" id="DevicePortListingTable">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <script type="text/javascript">
        var dataTableInstance = '';
        $(document).ready(function (e) {
            /*Make a instance of ourDataTableWidget class */
            dataTableInstance = new ourDataTableWidget();

            /*Grid headers object*/
            var gridHeadersObj = $.parseJSON('{{ datatable_headers|safe }}');

            /*Ajax url to get grid data*/
            var ajax_url = '{% url "DevicePortListingTable" %}';

            var common_extra_param = "'download_excel': 'yes'",
                table_title = "Device Port Listing",
                app_name = "device",
                header_class_name = "DevicePortList",
                data_class_name = "DevicePortListingTable",
                extra_param = "{'report_title' : '"+table_title+"', "+common_extra_param+"}",
                destroy = false;
                
            /*Call createDataTable function of ourDataTableWidget class*/
            dataTableInstance.createDataTable(
                "DevicePortListingTable",
                gridHeadersObj,
                ajax_url,
                destroy,
                table_title,
                app_name,
                header_class_name,
                data_class_name,
                extra_param,
                extra_param
            );
        });

    </script>
{% endblock %}


