{% extends "department/department.html" %}
{% load staticfiles %}

{% block content_title %}User Session{% endblock %}
{% block content_description %}User session of loggedin users{% endblock %}
{% block content %}
    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-table"></i> MANAGE SESSION</h4>
        </div>
        <div id="tableContainer" class="box-body">
            <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="UserStatusList">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <script type="text/javascript" src={% static "js/ajax_csrf.js" %}></script>
    <!-- AJAX CSRF -->
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            /*Make a instance of ourDataTableWidget class */
            var dataTableInstance = new ourDataTableWidget();
            /*Grid headers object*/
            var gridHeadersObj = $.parseJSON('{{ datatable_headers|safe }}');
            /*Ajax url to get grid data*/
            var ajax_url = '{% url "UserStatusTable" %}';
            /*Call createDataTable function of ourDataTableWidget class*/
            var destroy=false;
            dataTableInstance.createDataTable("UserStatusList", gridHeadersObj, ajax_url, destroy);
        });
        /**
         * This function change the status of loggedin user from unlock to lock and viceversa
         * @method change_user_status
         */
        function change_user_status(ele) {
            bootbox.dialog({
                message: "Are you sure you want to lock the user",
                title: "Locking User",
                buttons: {
                    success: {
                        label: "YES",
                        className: "btn-primary",
                        callback: function() {
                            username=$(ele).closest('tr').children('td').first().text();
                            $.ajax({
                                url:"change_user_status/",
                                type:"POST",
                                data:{ user_name: username },
                                dataType:"json",
                                success: function(data){
                                    if(data.data.objects.status) {
                                        $(ele).closest('td').html('<h3 class="fa fa-lock text-danger" onclick="change_user_status(this);"> &nbsp;</h3>')
                                    } else {
                                        $(ele).closest('td').html('<h3 class="fa fa-unlock text-success" onclick="change_user_status(this);"> &nbsp;</h3>')
                                    }
                                }//success ends
                            });//ajax ends
                        }
                    },//success ends
                    danger: {
                        label: "No!",
                        className: "btn-danger",
                        callback: function (){
                            $(".bootbox").modal("hide");
                        }
                    }//danger button ends
                }//buttons ends
            });//bootbox ends
        }//function ends

        function logout_user(ele){
            bootbox.dialog({
                message: "Are you sure you want to log-off the user",
                title: "Log-off User",
                buttons: {
                    success: {
                        label: "YES",
                        className: "btn-primary",
                        callback: function() {
                            username= $(ele).closest('tr').children('td').first().text();
                            $.ajax({
                                url:"/sm/logout_user/",
                                type:"POST",
                                data:{ user_name: username },
                                dataType:"json",
                                success: function(data){
                                    if(data.success) {
                                        $(ele).closest('tr').children('td:nth-child(4)').text("NO");
                                        $(ele).closest('td').children('h3:nth-child(2)').removeClass('fa-sign-out')
                                    }
                                }//success ends
                            });//ajax ends

                        }
                    },//success ends
                    danger: {
                        label: "No!",
                        className: "btn-danger",
                        callback: function () {
                            $(".bootbox").modal("hide");
                        }
                    }//danger ends
                }//buttons ends
            });//bootbox ends
        }
    </script>
{% endblock %}
