{% extends "inventory/inventory.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-file-excel-o'></i> Download Center" "javascript:;" %}
    {% if not show_daily_report %}
    {% breadcrumb_safe report_title "javascript:;" %}
    {% else %}
    {% breadcrumb_safe 'Fault Reports' "javascript:;" %}
    {% breadcrumb_safe 'Raw BS Outage Reports' "javascript:;" %}
    {% endif %}
    {% breadcrumb_safe report_title "javascript:;" %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% load staticfiles %}

{% block content_title %}{{ report_title }}{% endblock %}
{% block content_description %}List of reports{% endblock %}
{% block content %}
	<style type="text/css">
		.outage_content {
			margin-top: -30px;
			overflow-y:auto;
		}
	</style>
    <div class="box border lite" id="download_center_container">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-table"></i>{{ report_title }}</h4>
        </div>
        <div id="tableContainer" class="box-body">
        	<div class="tabbable header-tabs">
	            <ul class="nav nav-tabs">
	                <!-- <li>
	                    <a href="#custom_outage_block" id="custom_outage_tab" data-toggle="tab">
	                        <span class="hidden-inline-mobile">Custom Range</span>
	                    </a>
	                </li> -->
	                <li>
	                    <a href="#monthly_outage_block" id="monthly_outage_tab" data-toggle="tab">
	                        <span class="hidden-inline-mobile">Monthly</span>
	                    </a>
	                </li>
                    {% if not show_daily_report %}
                    <li class="active">
                    {% else %}
	                <li>
                    {% endif %}
	                    <a href="#weekly_outage_block" id="weekly_outage_tab" data-toggle="tab">
	                        <span class="hidden-inline-mobile">Weekly</span>
	                    </a>
	                </li>
                    {% if show_daily_report %}
	                <li class="active">
	                    <a href="#daily_outage_block" id="daily_outage_tab" data-toggle="tab">
	                        <span class="hidden-inline-mobile">Daily</span>
	                    </a>
	                </li>
                    {% endif %}
	            </ul>
	            <div class="tab-content outage_content">
                    {% if show_daily_report %}
	                <div class="tab-pane active" id="daily_outage_block">
	                	<table class="datatable table table-striped table-bordered table-hover" id="bs_outage_daily_listing">
			                <thead></thead>
			                <tbody></tbody>
			            </table>
	                </div>
                    {% endif %}
                    {% if not show_daily_report %}
	                <div class="tab-pane active" id="weekly_outage_block">
                    {% else %}
                    <div class="tab-pane" id="weekly_outage_block">
                    {% endif %}
	                	<table class="datatable table table-striped table-bordered table-hover" id="bs_outage_weekly_listing">
			                <thead></thead>
			                <tbody></tbody>
			            </table>
	                </div>
	                <div class="tab-pane" id="monthly_outage_block">
	                	<table class="datatable table table-striped table-bordered table-hover" id="bs_outage_monthly_listing">
			                <thead></thead>
			                <tbody></tbody>
			            </table>
	                </div>
	                <!-- <div class="tab-pane" id="custom_outage_block">
	                	<div class="col-md-2">
	                		<label style="vertical-align: sub;">Select Date Range: </label>
	                	</div>
	                	<div class="input-group col-md-4 row">
	                        <span class="input-group-addon">
	                            <i class="fa fa-calendar"></i>
	                        </span>
	                        <input type="text" name="bsoutage_daterange" id="bsoutage_daterange" class="form-control input-large search-query" value="" readonly/>
	                    </div>
                        <button class="btn btn-default" id="download_outage_report" title="Download Custom Report">
                        	<i class="fa fa-download"></i>
                        </button>
	                    <div class="clearfix"></div>
	                	<table class="datatable table table-striped table-bordered table-hover" id="bs_outage_custom_listing">
			                <thead></thead>
			                <tbody></tbody>
			            </table>
	                </div> -->
	            </div>
	        </div>
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <!-- Library to load tab content on tab click-->
    <script type="text/javascript" src={% static "js/nocout/openTabContentLib.js" %}></script>
    <!-- Bootstrap daterange picker -->
    <!-- <script type="text/javascript" src={% static "js/bootstrap-daterangepicker/moment.min.js" %}></script> -->
    <!-- <script type="text/javascript" src={% static "js/bootstrap-daterangepicker/daterangepicker.min.js" %}></script> -->
    <script type="text/javascript">
        var dataTableInstance = '',
        	custom_startdate = '',
			custom_enddate = '',
			report_name = '',
            report_id = '',
            reset_emails_url = '',
            reset_emails_btn_html = '<li><button title="Reset Existing Emails" id="reset_email_btn"\
                                     class="btn btn-default btn-sm"><i class="fa fa-times text-danger"></i></button></li>';

        $(document).ready(function (e) {

        	var report_mail_perms = '{{ settings.REPORT_EMAIL_PERM|safe }}' ? JSON.parse('{{ settings.REPORT_EMAIL_PERM|safe }}') : {};

            page_type = '{{ page_type }}';
            report_id = '{{ report_id}}';
            reset_emails_url = "{% url 'reset_emails' %}" + '?id='+report_id;

            {% for group in user.groups.all %}
                {% if group.name == 'Admin' %}
                    {% if settings.SCHEDULED_REPORT_EMAIL or settings.SCHEDULED_SINGLE_REPORT_EMAIL %}
                        if (report_mail_perms[page_type]) {
                            // Add configure email btn
                            // Add 'Create Item' link on top header bar.
                            var create_link_html = '<li><button title="Configure Emails List" id="scheduled_email_btn"\
                                                    class="btn btn-default btn-sm"><i class="fa fa-envelope"></i></button></li>';

                            {% if email_exists %}
                                create_link_html += reset_emails_btn_html;
                            {% endif %}

                            $('.controls_container ul').prepend(create_link_html);
                        }
                    {% endif %}
                {% endif %}
            {% endfor %}

        	var destroy=false,
            	location_array = window.location.href.split("#");

            // Disable advance filtering
            create_advance_filters = false;

            /*Make a instance of ourDataTableWidget class */
            dataTableInstance = new ourDataTableWidget();

            /*Grid headers object*/
            var gridHeadersObj = '{{ datatable_headers|safe }}';

            {% if show_daily_report %}
            	var daily_page_type = '{{ page_type }}'  ? $.trim('{{ page_type }}') : '',
                	weekly_page_type = daily_page_type ? daily_page_type.split('_daily').join('_weekly') : '',
                	monthly_page_type = daily_page_type ? daily_page_type.split('_daily').join('_monthly') : '';
            {% else %}
                var daily_page_type = '',
                    weekly_page_type = '{{ page_type }}'  ? $.trim('{{ page_type }}') : '',
                    monthly_page_type = weekly_page_type ? weekly_page_type.split('_weekly').join('_monthly') : '';
            {% endif %}

            /*Ajax url to get grid data*/
            var daily_ajax_url = '{% url "DownloadCenterListing" %}' + '?page_type='+ daily_page_type,
            	weekly_ajax_url = '{% url "DownloadCenterListing" %}' + '?page_type='+ weekly_page_type,
            	monthly_ajax_url = '{% url "DownloadCenterListing" %}' + '?page_type='+ monthly_page_type;

            {% if show_daily_report %}
                $("#daily_outage_tab").attr("data_url", daily_ajax_url);
                $("#daily_outage_tab").attr("data_header", gridHeadersObj);
            {% endif %}

            $("#weekly_outage_tab").attr("data_url", weekly_ajax_url);
            $("#weekly_outage_tab").attr("data_header", gridHeadersObj);

            $("#monthly_outage_tab").attr("data_url", monthly_ajax_url);
            $("#monthly_outage_tab").attr("data_header", gridHeadersObj);

            if ((location_array.length > 1 && location_array[1] == "") || (location_array.length == 1)) {
                /*Trigger click event on active tab to load its data*/
                {% if show_daily_report %}
                $("#daily_outage_tab").trigger('click', true);
                {% else %}
                $("#weekly_outage_tab").trigger('click', true);
                {% endif %}
            }

            var minDate = new Date(new Date().getTime() - 180 * 24 * 60 * 60 * 1000),
            	maxDate = new Date();
        });
    </script>

    <script type="text/javascript">
        var mail_form_html = '';

        mail_form_html += '<div class="form-group form-horizontal"> \
                                <div class="form-group"> \
                                    <label for="email_txt" class="col-sm-3 control-label">Emails</label> \
                                    <div class="row col-sm-9"> \
                                        <textarea class="form-control" placeholder="Please enter comma seperated email ids" name="email_txt" id="email_txt"></textarea> \
                                    </div> \
                                </div> \
                                <div class="clearfix"></div> \
                            </div>';


        $('.controls_container').delegate('#scheduled_email_btn', 'click', function(){
            getExisitingEmails(function(emails_list) {
                initEmailPopup(emails_list, true);
            });
        });

        $('.controls_container').delegate('#reset_email_btn', 'click', function(){
            bootbox.confirm('Are you sure you want to remove all emails for this report?', function(response) {
                if (response) {
                    $.ajax({
                        url: base_url+''+reset_emails_url,
                        type: 'GET',
                        success: function(response) {
                            var result = response;

                            if (typeof  response == 'string') {
                                result = JSON.parse(response);
                            }

                            if (result.success) {
                                $('#reset_email_btn').parent('li').remove();
                            }

                            $.gritter.add({
                                // (string | mandatory) the heading of the notification
                                title: 'Reset Configured Emails',
                                // (string | mandatory) the text inside the notification
                                text: result.message,
                                // (bool | optional) if you want it to fade out on its own or just sit there
                                sticky: true
                            });
                        },
                        error: function(err) {
                            $.gritter.add({
                                // (string | mandatory) the heading of the notification
                                title: 'Reset Configured Emails',
                                // (string | mandatory) the text inside the notification
                                text: err.statusText,
                                // (bool | optional) if you want it to fade out on its own or just sit there
                                sticky: true
                            });
                        }
                    });
                }
            });
        });


        $('#download_center_container').delegate('.send_report_btn', 'click', function(){
            var report_id = $(this).attr('report_id');
            initEmailPopup('', false, report_id);
        });


        function getExisitingEmails(callback) {

            $.ajax({
                url: base_url +'/download_center/getemails/'+ page_type + "/",
                type: 'GET',
                success: function(response) {
                    var result = response,
                        emails_list = '';

                    if (typeof response == 'string') {
                        result = JSON.parse(response);
                    }

                    if (result['success']) {
                        emails_list = result['data']['emails'];
                    } else {
                        emails_list = '';
                    }
                    callback(emails_list);
                },
                error: function(err) {
                    callback('');
                }
            });
        }

        /**
         * This function loads existing emails for given report type
         * @method initEmailPopup
         * @return {string}, Return emails in initial bootbox popup if exist emails
         */
        function initEmailPopup(existing_emails_list, is_update_request, report_id) {
            var popup_title = '<i class="fa fa-envelope"></i> Configure Emails List',
                btn_txt = 'Update';
            
            if (report_id) {
                popup_title = '<i class="fa fa-envelope"></i> Send Report';
                btn_txt = 'Send';
            }

            bootbox.dialog({
                title : popup_title,
                message : mail_form_html,
                buttons: {
                    success: {
                        label: btn_txt,
                        className: "btn-success",
                        callback: function(){
                            var entered_mail_ids = $('#email_txt').val();

                            if (!entered_mail_ids) {
                                alert('Please enter atleast one mail id');
                                return false;
                            }
                            var mail_ids_list = entered_mail_ids.split(','),
                                valid_mail_ids = [];

                            for (var i=0;i<mail_ids_list.length;i++) {
                                var email = mail_ids_list[i] ? $.trim(mail_ids_list[i]) : '';
                                if (email) {
                                    var is_valid_email = validateEmail(email);
                                    if (!is_valid_email) {
                                        alert('"' + email +'" mail id is not valid. Please enter valid email id.');
                                        return false;
                                    } else {
                                        valid_mail_ids.push(email);
                                    }
                                }
                            }

                            var api_url = '/download_center/emailreport/';

                            initMailJob(valid_mail_ids, api_url, report_id, is_update_request);
                        }
                    },
                    danger: {
                        label: "Cancel",
                        className: "btn-danger",
                        callback: function(){
                            // pass
                        }
                    }
                }
            });

            if (existing_emails_list) {
                $('#email_txt').val(existing_emails_list);
            }
        }
    
        /**
         * This function validated given mail id
         * @method validateEmail
         * @param email {String}, It contains the email id
         * @return {Boolean}, Return true/false as per the email valid test
         */
        function validateEmail(email) {
            var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
            return re.test(email);
        }

        /**
         *
         * @param mail_ids
         * @param api_url
         * @param report_id: id for report_type/page_type
         * @param is_update_request{Boolean}: True/False if user request for update
         * @method initMailJob
         * @return {String}, message from Json Responce
         */
        function initMailJob(mail_ids, api_url, report_id, is_update_request) {
            if (!report_id) {
                report_id = '';
            }

            // Make ajax call to update form data
            $.ajax({
                'url': base_url + '' + api_url,
                'type': 'POST',
                'data': {
                    'emails': mail_ids,
                    'page_name': page_type,
                    'report_id': report_id
                },
                success: function(response) {
                    var result = response;

                    if (typeof response == 'string') {
                        result = JSON.parse(response);
                    }

                    if (result.success && is_update_request) {
                        if($('#reset_email_btn').length == 0) {
                            $('.controls_container ul li:last-child').before(reset_emails_btn_html);
                        }
                    }

                    bootbox.alert(result['message']);
                },
                error: function(err) {
                    console.log(err.statusText);
                }
            });
        }
     </script>
{% endblock %}