{% extends "inventory/inventory.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-file-excel-o'></i> Download Center" "javascript:;" %}
    {% breadcrumb_safe 'Fault Reports' "javascript:;" %}
    {% breadcrumb_safe 'Raw BS Outage Reports' "javascript:;" %}
    {% breadcrumb_safe report_title "javascript:;" %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% load staticfiles %}

{% block content_title %}{{ report_title }}{% endblock %}
{% block content_description %}List of reports{% endblock %}
{% block content %}
	<style type="text/css">
		.outage_content {
			margin-top: -30px;
			overflow-y:auto;
		}
	</style>
    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-table"></i>{{ report_title }}</h4>
        </div>
        <div id="tableContainer" class="box-body">
        	<div class="tabbable header-tabs">
	            <ul class="nav nav-tabs">
	                <!-- <li>
	                    <a href="#custom_outage_block" id="custom_outage_tab" data-toggle="tab">
	                        <span class="hidden-inline-mobile">Custom Range</span>
	                    </a>
	                </li> -->
	                <li>
	                    <a href="#monthly_outage_block" id="monthly_outage_tab" data-toggle="tab">
	                        <span class="hidden-inline-mobile">Monthly</span>
	                    </a>
	                </li>
	                <li>
	                    <a href="#weekly_outage_block" id="weekly_outage_tab" data-toggle="tab">
	                        <span class="hidden-inline-mobile">Weekly</span>
	                    </a>
	                </li>
	                <li class="active">
	                    <a href="#daily_outage_block" id="daily_outage_tab" data-toggle="tab">
	                        <span class="hidden-inline-mobile">Daily</span>
	                    </a>
	                </li>
	            </ul>
	            <div class="tab-content outage_content">
	                <div class="tab-pane active" id="daily_outage_block">
	                	<table class="datatable table table-striped table-bordered table-hover" id="bs_outage_daily_listing">
			                <thead></thead>
			                <tbody></tbody>
			            </table>
	                </div>
	                <div class="tab-pane" id="weekly_outage_block">
	                	<table class="datatable table table-striped table-bordered table-hover" id="bs_outage_weekly_listing">
			                <thead></thead>
			                <tbody></tbody>
			            </table>
	                </div>
	                <div class="tab-pane" id="monthly_outage_block">
	                	<table class="datatable table table-striped table-bordered table-hover" id="bs_outage_monthly_listing">
			                <thead></thead>
			                <tbody></tbody>
			            </table>
	                </div>
	                <!-- <div class="tab-pane" id="custom_outage_block">
	                	<div class="col-md-2">
	                		<label style="vertical-align: sub;">Select Date Range: </label>
	                	</div>
	                	<div class="input-group col-md-4 row">
	                        <span class="input-group-addon">
	                            <i class="fa fa-calendar"></i>
	                        </span>
	                        <input type="text" name="bsoutage_daterange" id="bsoutage_daterange" class="form-control input-large search-query" value="" readonly/>
	                    </div>
                        <button class="btn btn-default" id="download_outage_report" title="Download Custom Report">
                        	<i class="fa fa-download"></i>
                        </button>
	                    <div class="clearfix"></div>
	                	<table class="datatable table table-striped table-bordered table-hover" id="bs_outage_custom_listing">
			                <thead></thead>
			                <tbody></tbody>
			            </table>
	                </div> -->
	            </div>
	        </div>
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <!-- Library to load tab content on tab click-->
    <script type="text/javascript" src={% static "js/nocout/openTabContentLib.js" %}></script>
    <!-- Bootstrap daterange picker -->
    <!-- <script type="text/javascript" src={% static "js/bootstrap-daterangepicker/moment.min.js" %}></script> -->
    <!-- <script type="text/javascript" src={% static "js/bootstrap-daterangepicker/daterangepicker.min.js" %}></script> -->
    <script type="text/javascript">
        var dataTableInstance = '',
        	custom_startdate = '',
			custom_enddate = '';

        $(document).ready(function (e) {
        	var destroy=false,
            	location_array = window.location.href.split("#");

            // Disable advance filtering
            create_advance_filters = false;

            /*Make a instance of ourDataTableWidget class */
            dataTableInstance = new ourDataTableWidget();

            /*Grid headers object*/
            var gridHeadersObj = '{{ datatable_headers|safe }}',
            	daily_page_type = '{{ page_type }}'  ? $.trim('{{ page_type }}') : '',
            	weekly_page_type = daily_page_type ? daily_page_type.split('_daily').join('_weekly') : '',
            	monthly_page_type = daily_page_type ? daily_page_type.split('_daily').join('_monthly') : '';

            /*Ajax url to get grid data*/
            var daily_ajax_url = '{% url "DownloadCenterListing" %}' + '?page_type='+ daily_page_type,
            	weekly_ajax_url = '{% url "DownloadCenterListing" %}' + '?page_type='+ weekly_page_type,
            	monthly_ajax_url = '{% url "DownloadCenterListing" %}' + '?page_type='+ monthly_page_type;

            $("#daily_outage_tab").attr("data_url", daily_ajax_url);
            $("#daily_outage_tab").attr("data_header", gridHeadersObj);

            $("#weekly_outage_tab").attr("data_url", weekly_ajax_url);
            $("#weekly_outage_tab").attr("data_header", gridHeadersObj);

            $("#monthly_outage_tab").attr("data_url", monthly_ajax_url);
            $("#monthly_outage_tab").attr("data_header", gridHeadersObj);

            if ((location_array.length > 1 && location_array[1] == "") || (location_array.length == 1)) {
                /*Trigger click event on active tab to load its data*/
                $("#daily_outage_tab").trigger('click', true);
            }

            var minDate = new Date(new Date().getTime() - 180 * 24 * 60 * 60 * 1000),
            	maxDate = new Date();

            // Initialize daterangepicker
         //    $('#bsoutage_daterange').daterangepicker({
	        //     timePicker: true,
	        //     timePickerIncrement: 1,
	        //     opens: "right",
	        //     showDropdowns: true,
	        //     ranges: {
	        //         'Last 7 Days': [moment().subtract('days', 7), moment().subtract('days', 1)],
	        //         'Last 30 Days': [moment().subtract('days', 30), moment().subtract('days', 1)],
	        //         'This Month': [moment().startOf('month'), moment().endOf('month')],
	        //         'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
	        //     },
	        //     buttonClasses: ['btn btn-sm'],
	        //     applyClass: 'btn-primary',
	        //     cancelClass: 'btn-default',
	        //     format: "DD-MM-YYYY HH:mm:ss",
	        //     separator: ' to ',
	        //     minDate: minDate,
       		// 	maxDate: maxDate,
	        // }, function (start, end) {
	        //     custom_startdate = start;
	        //     custom_enddate = end;
	        // });

            /**
             * This event trigger when download report button clicked
             * @event click
             */
			// $('#download_outage_report').click(function(e) {
				
			// 	if (custom_startdate && custom_enddate) {
			// 		var data_class_name = 'BSOutageCustomReportListing',
			// 			header_class_name = 'BSOutageCustomReportHeaders',
			// 			startdate_obj = custom_startdate.toDate(),
			// 			enddate_obj = custom_enddate.toDate(),
			// 			start_day = startdate_obj.getDate() > 9 ? startdate_obj.getDate() : '0' + String(startdate_obj.getDate()),
			// 			start_month = startdate_obj.getMonth() > 9 ? (Number(startdate_obj.getMonth()) + 1) : '0' + String(Number(startdate_obj.getMonth()) + 1),
			// 			start_year = startdate_obj.getFullYear(),
			// 			startdate_title = start_day + '-' + start_month + '-' + start_year,
			// 			enddate_title = enddate_obj.getDate() + '-' + (Number(enddate_obj.getMonth()) + 1) + '-' + enddate_obj.getFullYear(),
			// 			epoch_startdate = startdate_obj.getTime() / 1000,
			// 			epoch_enddate = custom_enddate.toDate().getTime() / 1000,
			// 			main_url = base_url+"/downloader/datatable/?",
			// 			report_title = 'Custom Date Raw Base Station Outage('+ startdate_title +' To '+ enddate_title +')',
			// 			datetime_filter_param = "'start_date' : '" + epoch_startdate + "', 'end_date' : '" + epoch_enddate + "'",
			// 	        common_param = "'download_excel' : 'yes', 'report_title' : '" + report_title + "'",
			// 	        row_data_param = datetime_filter_param + ',' + common_param,
			// 	        url_get_param = '';

			// 	    // prepare get params
			// 	    url_get_param += "app=download_center";
			// 	    url_get_param += "&rows="+data_class_name;
			// 	    url_get_param += "&rows_data={" + row_data_param + "}"
			// 	    url_get_param += "&headers="+header_class_name;
			// 	    url_get_param += "&headers_data={" + common_param + "}";

			// 	    var api_url = main_url + url_get_param;

			// 	    // Make Ajax Call
			// 	    $.ajax({
			// 	        url : api_url,
			// 	        type : 'GET',
			// 	        success : function(response) {
			// 	            var result = response;
			// 	            // parse response if stringified.
			// 	            if(typeof response == 'string') {
			// 	                result = JSON.parse(response);
			// 	            }

			// 	            $.gritter.add({
			// 	                // (string | mandatory) the heading of the notification
			// 	                title: report_title,
			// 	                // (string | mandatory) the text inside the notification
			// 	                text: result.message,
			// 	                // (bool | optional) if you want it to fade out on its own or just sit there
			// 	                sticky: false,
			// 	                // Time in ms after which the gritter will dissappear.
			// 	                time : 1000
			// 	            });
			// 	        },
			// 	        error : function(err) {
			// 	            $.gritter.add({
			// 	                // (string | mandatory) the heading of the notification
			// 	                title: report_title,
			// 	                // (string | mandatory) the text inside the notification
			// 	                text: err.statusText,
			// 	                // (bool | optional) if you want it to fade out on its own or just sit there
			// 	                sticky: false,
			// 	                // Time in ms after which the gritter will dissappear.
			// 	                time : 1000
			// 	            });
			// 	        }
			// 	    });

			// 	} else {
			// 		bootbox.alert('Please select start & end date.')
			// 	}
			// });
        });
    </script>
{% endblock %}