{% extends "inventory/inventory.html" %}
{% load staticfiles %}
{% block breadcrumb_title %}
    <li>Download Center</li>
    <li>Inventory</li>
{% endblock %}
{% block content_title %}{{ report_name }}{% endblock %}
{% block content_description %}List of reports{% endblock %}
{% block content %}
    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-table"></i>{{ report_name }} Reports</h4>
        </div>

        <div id="tableContainer" class="box-body Tbl_FixHeight">
            <table cellpadding="0" cellspacing="0" border="0"
                   class="datatable table table-striped table-bordered table-hover" id="DownloadCenterListing">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <script type="text/javascript">

        $(document).ready(function (e) {
            /*Make a instance of ourDataTableWidget class */
            var dataTableInstance = new ourDataTableWidget();
            /*Grid headers object*/
            var gridHeadersObj = $.parseJSON('{{ datatable_headers|safe }}');
            /*Ajax url to get grid data*/
            var ajax_url = '{% url "DownloadCenterListing" %}' + '?page_type={{ page_type }}';
            /*Call createDataTable function of ourDataTableWidget class*/
            var destroy=false;
            dataTableInstance.createDataTable("DownloadCenterListing", gridHeadersObj, ajax_url, destroy);
        });

    </script>
{% endblock %}


