{% extends "inventory/inventory.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-file-excel-o'></i> Download Center" "javascript:;" %}
    {% breadcrumb_safe report_title "javascript:;" %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% load staticfiles %}

{% block content_title %}{{ report_title }}{% endblock %}
{% block content_description %}List of reports{% endblock %}
{% block content %}
    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4>
                <i class="fa fa-table"></i>{{ report_title }}
            </h4>
        </div>

        <div id="download_center_container" class="box-body">
            <table cellpadding="0" cellspacing="0" border="0"
                   class="datatable table table-striped table-bordered table-hover" id="DownloadCenterListing">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <script type="text/javascript">
        var dataTableInstance = '',
            page_type = '';
        $(document).ready(function (e) {
            // Add configure email btn
            // Add 'Create Item' link on top header bar.
            var create_link_html = '<button title="Configure Emails List" id="scheduled_email_btn"\
                                    class="btn btn-default btn-sm"><i class="fa fa-envelope"></i></button>';

            $('.controls_container ul').prepend('<li>' + create_link_html + '</li>');


            page_type = '{{ page_type }}';
            // Disable advance filtering
            create_advance_filters = false;
            /*Make a instance of ourDataTableWidget class */
            dataTableInstance = new ourDataTableWidget();
            /*Grid headers object*/
            var gridHeadersObj = $.parseJSON('{{ datatable_headers|safe }}');
            /*Ajax url to get grid data*/
            var ajax_url = '{% url "DownloadCenterListing" %}' + '?page_type='+ page_type;
            /*Call createDataTable function of ourDataTableWidget class*/
            var destroy=false;
            dataTableInstance.createDataTable("DownloadCenterListing", gridHeadersObj, ajax_url, destroy);
        });

    </script>
     <script type="text/javascript">
        var mail_form_html = '';

        mail_form_html += '<div class="form-group form-horizontal"> \
                                <div class="form-group"> \
                                    <label for="email_txt" class="col-sm-3 control-label">Emails</label> \
                                    <div class="row col-sm-9"> \
                                        <textarea class="form-control" placeholder="Please enter comma seperated email ids" name="email_txt" id="email_txt"></textarea> \
                                    </div> \
                                </div> \
                                <div class="clearfix"></div> \
                            </div>';


        $('.controls_container').delegate('#scheduled_email_btn', 'click', function(){
            getExisitingEmails(function(emails_list) {
                initEmailPopup(emails_list, true);
            });
        });


        $('#download_center_container').delegate('.send_report_btn', 'click', function(){
            var report_id = $(this).attr('report_id');
            initEmailPopup('', false, report_id);
        });


        function getExisitingEmails(callback) {

            $.ajax({
                url: base_url +'/download_center/getemails/'+ page_type,
                type: 'GET',
                success: function(response) {
                    var result = response,
                        emails_list = '';

                    if (typeof response == 'string') {
                        result = JSON.parse(response);
                    }

                    if (result['success']) {
                        emails_list = result['data']['emails'];
                    } else {
                        emails_list = '';
                    }
                    callback(emails_list);
                },
                error: function(err) {
                    callback('');
                }
            });
        }

        /**
         *
         *
         */
        function initEmailPopup(existing_emails_list, is_update_request, report_id) {
            var popup_title = '<i class="fa fa-envelope"></i> Configure Emails List',
                btn_txt = 'Update';
            
            if (report_id) {
                popup_title = '<i class="fa fa-envelope"></i> Send Report';
                btn_txt = 'Send';
            }

            bootbox.dialog({
                title : popup_title,
                message : mail_form_html,
                buttons: {
                    success: {
                        label: btn_txt,
                        className: "btn-success",
                        callback: function(){
                            var entered_mail_ids = $('#email_txt').val();

                            if (!entered_mail_ids) {
                                alert('Please enter atleast one mail id');
                                return false;
                            }
                            var mail_ids_list = entered_mail_ids.split(','),
                                valid_mail_ids = [];

                            for (var i=0;i<mail_ids_list.length;i++) {
                                var email = mail_ids_list[i] ? $.trim(mail_ids_list[i]) : '';
                                if (email) {
                                    var is_valid_email = validateEmail(email);
                                    if (!is_valid_email) {
                                        alert('"' + email +'" mail id is not valid. Please enter valid email id.');
                                        return false;
                                    } else {
                                        valid_mail_ids.push(email);
                                    }
                                }
                            }
                            var api_url = '/download_center/emailreport/';

                            initMailJob(valid_mail_ids, api_url, report_id);
                        }
                    },
                    danger: {
                        label: "Cancel",
                        className: "btn-danger",
                        callback: function(){
                            // pass
                        }
                    }
                }
            });

            if (existing_emails_list) {
                $('#email_txt').val(existing_emails_list);
            }
        }
    
        /**
         * This function validated given mail id
         * @method validateEmail
         * @param email {String}, It contains the email id
         * @return {Boolean}, Return true/false as per the email valid test
         */
        function validateEmail(email) {
            var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
            return re.test(email);
        }

        function initMailJob(mail_ids, api_url, report_id) {
            if (!report_id) {
                report_id = '';
            }

            // Make ajax call to update form data
            $.ajax({
                'url': base_url + '' + api_url,
                'type': 'POST',
                'data': {
                    'emails': mail_ids,
                    'page_name': page_type,
                    'report_id': report_id
                },
                success: function(response) {
                    var result = response;

                    if (typeof response == 'string') {
                        result = JSON.parse(response);
                    }

                    bootbox.alert(result['message']);
                },
                error: function(err) {
                    console.log(err.statusText);
                }
            });
        }
     </script>
{% endblock %}