{% extends "dashboard/dashboard_base.html" %}
{% load staticfiles %}

{% block content_title %}Dashboard Management{% endblock %}
{% block content_description %}Update Dashboard settings{% endblock %}
{% block content %}
    <div class="row formContainer">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="box border lite">
                        <div class="box-title">
                            <h4><i class="fa fa-bars"></i> UPDATE DASHBOARD SETTINGS</h4>
                        </div>
                            <div class="box-body">
                                <div class="col-md-8"><br />
                                    <form method="post" class="form-horizontal" role="form">{% csrf_token %}
                                        <div class="form-group">
                                            {% for field in form %}
                                                <div class="form-group">
                                                    <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{% if field.field.required %}<span class="mandatory">* </span>{% endif %}{{ field.label|title }}</label>
                                                    <div class="col-sm-9">
                                                        <div class="col-md-8">
                                                            {{ field }} {{ field.errors }}
                                                        </div>
                                                        <div class="col-md-4 help_text">
                                                            {# field.help_text #}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-info"><i class="fa fa-edit"></i> Update</button>
                                                &nbsp;
                                                <button type="reset" class="btn btn-danger" onclick="window.location.replace('{% url 'dashboard-settings' %}')"><i class="fa fa-times"></i>Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    {% block content_js %}
        <script type="text/javascript" src={% static "js/nocout/nocout_forms.js" %}></script>
    {% endblock %}
    <script>
        $(document).ready(function() {

            // Initialize the select2 selectbox.
            $(".select2select").select2();
            $('.tip-focus').tooltip({
                placement: 'right',
                trigger: 'focus'
            });

            /***********Update Range HTML Code Start***********/

            /*Number of range inputs*/
            var total_label = $("label").length,
                range_count = 0;

            for (var i = 0; i < total_label; i++) {
                if ($("label")[i].innerHTML.indexOf("Start") > -1 || $("label")[i].innerHTML.indexOf("End") > -1) {
                    range_count++;
                }
            }

            /*Update Range html*/
            for (var j = 1; j <= range_count / 2; j++) {
                var icon_box = $("#id_range"+j+"_color_hex_value").parent().html();
                if ($("#id_range"+j+"_color_hex_value").length > 0) {
                    $("#id_range"+j+"_color_hex_value").parent().parent().parent().remove();
                }

                $("#id_range" + j + "_start").parent().html($("#id_range" + j + "_start").parent().html() + "" + $("#id_range" + j + "_end").parent().html() + "" + icon_box);


                $("#id_range" + j + "_start").attr("style", "width:30%;margin-right:4.5%;");
                $("#id_range" + j + "_start").addClass("col-md-4");
                $("#id_range" + j + "_start").attr("placeholder", "Start");

                $("#id_range" + j + "_end").attr("style", "width:30%;margin-right:4.5%;");
                $("#id_range" + j + "_end").addClass("col-md-4");
                $("#id_range" + j + "_end").attr("placeholder", "End");

                $("#id_range"+j+"_color_hex_value").attr("style", "float:right;");

                // $("#id_range"+j+"_start").parent().parent().parent().next().children().parent().remove();
                $("#id_range" + j + "_start").closest(".form-group").next().remove();

                $("#id_range" + j + "_end").parent().parent().parent().children()[0].innerHTML = "Range " + j;
            }

            /***********Update Range HTML Code End***********/

            $(".colorpicker").spectrum({
                preferredFormat: "rgb",
                flat: false,
                showInitial: true,
                showPalette: true,
                showPaletteOnly: false,
                togglePaletteOnly: true,
                togglePaletteMoreText: 'more',
                togglePaletteLessText: 'less',
                showSelectionPalette: true,
                showAlpha: true,
                color: $(".colorpicker").text(),
                palette: [
                    ["rgba(0, 0, 0, 1)","rgba(68, 68, 68, 1)","rgba(102, 102, 102, 1)","rgba(153, 153, 153, 1)","rgba(204, 204, 204, 1)","rgba(238, 238, 238, 1)","rgba(243, 243, 243, 1)","rgba(255, 255, 255, 1)"],
                    ["#f00","#f90","#ff0","#0f0","#0ff","#00f","#90f","#f0f"],
                    ["#f4cccc","#fce5cd","#fff2cc","#d9ead3","#d0e0e3","#cfe2f3","#d9d2e9","#ead1dc"],
                    ["#ea9999","#f9cb9c","#ffe599","#b6d7a8","#a2c4c9","#9fc5e8","#b4a7d6","#d5a6bd"],
                    ["#e06666","#f6b26b","#ffd966","#93c47d","#76a5af","#6fa8dc","#8e7cc3","#c27ba0"],
                    ["#c00","#e69138","#f1c232","#6aa84f","#45818e","#3d85c6","#674ea7","#a64d79"],
                    ["#900","#b45f06","#bf9000","#38761d","#134f5c","#0b5394","#351c75","#741b47"],
                    ["#600","#783f04","#7f6000","#274e13","#0c343d","#073763","#20124d","#4c1130"]
                ]
            });

            
            var page_name = $("#id_page_name").val();
            var technology_value = $("#id_technology").val();
            var technology = get_technology(technology_value);
            var is_bh = $("#id_is_bh")[0].checked;
            var dashboard_name = $("#id_name").val();

            if (technology != "P2P") {
                $("#id_is_bh").parent().parent().parent().hide();
            }

            // Remove Unrequired technologies from select.
            var technologies = {};
            dashboards.forEach(function(dashboard) {
                if (page_name == dashboard.page_name) {
                    technologies[technology_options[dashboard.technology]] = dashboard.technology;
                }
            });

            var optVals = {};
            $('#id_technology option').each(function(){
                var tech = $(this).attr('value');
                optVals[tech] = tech;
            });
            for (key in optVals) {
                if (!(key in technologies)) {
                    $("#id_technology").find("option[value=\"" + key + "\"]").remove();
                }
            }

            // Remove Unrequired dashboard names from select.
            var dashboard_names = {};
            dashboards.forEach(function(dashboard) {
                if (page_name == dashboard.page_name && technology == dashboard.technology && is_bh == dashboard.is_bh) {
                    dashboard_names[dashboard.dashboard_name] = dashboard.dashboard_name;
                }
            });

            var optVals = {};
            $('#id_name option').each(function(){
                var name = $(this).attr('value');
                optVals[name] = name;
            });
            for (key in optVals) {
                if (!(key in dashboard_names)) {
                    $("#id_name").find("option[value=\"" + key + "\"]").remove();
                }
            }

            // Remove Unrequired dashboard types from select.
            var dashboard_types = {};
            dashboards.forEach(function(dashboard) {
                if (page_name == dashboard.page_name && technology == dashboard.technology && is_bh == dashboard.is_bh && dashboard_name == dashboard.dashboard_name) {
                    dashboard_types[dashboard_type_options[dashboard.dashboard_type]] = dashboard.dashboard_type;
                }
            });

            var optVals = {};
            $('#id_dashboard_type option').each(function(){
                var dash_type = $(this).attr('value');
                optVals[dash_type] = dash_type;
            });
            for (key in optVals) {
                if (!(key in dashboard_types)) {
                    $("#id_dashboard_type").find("option[value=\"" + key + "\"]").remove();
                }
            }

        });

        


        
        function reset_dashboard_type(options) {
            $("#id_dashboard_type").html(options);
        }

        function reset_dashboard_name(options) {
            $("#id_name").html(options);
            reset_dashboard_type("<option value=\"\" selected=\"selected\">---------</option>");
        }

        function reset_technology(options) {
            $("#id_is_bh").parent().parent().parent().hide();
            $("#id_technology").html(options);
            reset_dashboard_name("<option value=\"\" selected=\"selected\">---------</option>");
        }

        var dashboards = {{ dashboards|safe }};
        var technology_options = {{ technology_options|safe }};

        $("#id_page_name").change(function () {
            var page_name = $("#id_page_name").val();
            var technologies = {};
            dashboards.forEach(function(dashboard) {
                if (page_name == dashboard.page_name) {
                    technologies[technology_options[dashboard.technology]] = dashboard.technology;
                }
            });
            var options = "<option value=\"\" selected=\"selected\">---------</option>";
            for (var key in technologies) {
                options += "<option value=\"" + key + "\" >" + technologies[key] + "</option>";
            }
            reset_technology(options);
        });

        function get_technology (technology_value) {
            var technology = '';
            for (var key in technology_options) {
                if (technology_options[key] == technology_value) {
                    technology = key;
                }
            }
            return technology;
        }

        $("#id_technology").change(function () {
            var page_name = $("#id_page_name").val();
            var technology_value = $("#id_technology").val();
            var technology = get_technology(technology_value);
            if (technology != "P2P") {
                $("#id_is_bh").parent().parent().parent().hide();
                $("#id_is_bh")[0].checked = false;
            } else {
                $("#id_is_bh").parent().parent().parent().show()
            }
            var is_bh = $("#id_is_bh")[0].checked;
            var dashboard_names = {};
            dashboards.forEach(function(dashboard) {
                if (page_name == dashboard.page_name && technology == dashboard.technology && is_bh == dashboard.is_bh) {
                    dashboard_names[dashboard.dashboard_name] = dashboard.dashboard_name;
                }
            });
            var options = "<option value=\"\" selected=\"selected\">---------</option>";
            for (var key in dashboard_names) {
                options += "<option value=\"" + key + "\" >" + dashboard_names[key] + "</option>";
            }
            reset_dashboard_name(options);
        });

        $("#id_is_bh").change(function () {
            var page_name = $("#id_page_name").val();
            var technology_value = $("#id_technology").val();
            var technology = get_technology(technology_value);
            if (technology == 'P2P') {
                var is_bh = $("#id_is_bh")[0].checked;
                var dashboard_names = {};
                dashboards.forEach(function(dashboard) {
                    if (page_name == dashboard.page_name && technology == dashboard.technology && is_bh == dashboard.is_bh) {
                        dashboard_names[dashboard.dashboard_name] = dashboard.dashboard_name;
                    }
                });
                var options = "<option value=\"\" selected=\"selected\">---------</option>";
                for (var key in dashboard_names) {
                    options += "<option value=\"" + key + "\" >" + dashboard_names[key] + "</option>";
                }
                reset_dashboard_name(options);
            }
        });

        var dashboard_type_options = {'numeric': 'INT', 'string': 'STR'};

        $("#id_name").change(function () {
            var page_name = $("#id_page_name").val();
            var technology_value = $("#id_technology").val();
            var technology = get_technology(technology_value);
            var is_bh = $("#id_is_bh")[0].checked;
            var dashboard_name = $("#id_name").val();
            var dashboard_types = {};
            dashboards.forEach(function(dashboard) {
                if (page_name == dashboard.page_name && technology == dashboard.technology && is_bh == dashboard.is_bh && dashboard_name == dashboard.dashboard_name) {
                    dashboard_types[dashboard_type_options[dashboard.dashboard_type]] = dashboard.dashboard_type;
                }
            });
            var options = "<option value=\"\" selected=\"selected\">---------</option>";
            for (var key in dashboard_types) {
                options += "<option value=\"" + key + "\" >" + dashboard_types[key] + "</option>";
            }
            reset_dashboard_type(options);
        });

    </script>
{% endblock %}
