{% extends "nocout/base.html" %}
{% block breadcrumb_title %}
    <a href="/home">Home</a> >
    <li><a href="#">Main Dashboard</a></li>
{% endblock %}
{% load staticfiles %}
{% block page_setting_block %} {% endblock %}
{% block content_title %} Main Dashboard {% endblock %}
{% block content_description %} Main Dashboard{% endblock %}

{% block content %}

<style type="text/css">
    .box .header-tabs .nav-tabs {
        top: -45px !important;
    }
    .rf_chart_style {
        height: 400px;
        /*width: 100%;
        max-width: 100%;*/
        margin: 0 auto;
    }
</style>

<div class="box border lite">
    <div id="tableContainer_div" class="box-title">
        <h4><i class="fa fa-dashboard"></i> Main Dashboard</h4>
    </div>
    <div class="tabbable header-tabs">
        <div class="tab-content" style="overflow-y:auto;">
            <div class="col-md-12">
                <div class="col-md-6 box-container ui-sortable">
                    <div class="box">
                        <div class="box-title" style="background-color: transparent;">
                            <h3>PMP Sector Capacity</h3>
                        </div>
                        <div class="box-body">
                            <div id="pmp_sector_capacity" class="rf_chart_style"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 box-container ui-sortable">
                    <div class="box">
                        <div class="box-title" style="background-color: transparent;">
                            <h3>PMP Sales Opportunity</h3>
                        </div>
                        <div class="box-body">
                            <div id="pmp_sales_opportunity" class="rf_chart_style"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 box-container ui-sortable">
                    <div class="box">
                        <div class="box-title" style="background-color: transparent;">
                            <h3>WiMAX Sales Opportunity</h3>
                        </div>
                        <div class="box-body">
                            <div id="wimax_sales_opportunity" class="rf_chart_style"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block load_js %}

<!--Highcharts Library-->
<script src={% static "js/highcharts.js" %}></script>
<!-- SPARKLINES -->
<script type="text/javascript" src={% static "js/sparklines/jquery.sparkline.min.js" %}></script>
<!-- Dashboard Custom CSS-->
<script src={% static "js/nocout_dashboard.js" %}></script>

<script>
    var ds_list = [];
    jQuery(document).ready(function () {
        App.setPage("");  //Set current page
        App.init(); //Initialise plugins and elements

        sales_opportuniry_getChartData();
        pmp_sector_getChartData();
    });


/**
 * This function fetch chart data by making an ajax call
 * @method sales_opportuniry_getChartData
 */
function sales_opportuniry_getChartData() {
    {% if PMP %}
    var response = {{ PMP|safe }}
    var pie_chart = $('#pmp_sales_opportunity').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            // text: response.data.objects.chart_data[0].name
            text: ''
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        series: [{
            type: 'pie',
            name: response.data.objects.display_name,
            data: response.data.objects.chart_data[0].data
        }]
    });
    {% else %}
    console.log('problem');
    {% endif %}

    {% if WiMAX %}
    var response = {{ WiMAX|safe }}
    var pie_chart = $('#wimax_sales_opportunity').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            // text: response.data.objects.chart_data[0].name
            text: ''
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        series: [{
            type: 'pie',
            name: response.data.objects.display_name,
            data: response.data.objects.chart_data[0].data
        }]
    });
    {% else %}
    console.log('problem');
    {% endif %}
}

function pmp_sector_getChartData() {

    $.ajax({
        url : "{% url 'sector-capacity-pmp' %}",
        type : "GET",
        success : function(result) {
            var response = "";
            if(typeof result == 'string') {
                response = JSON.parse(result);
            } else {
                response = result;
            }

            if(response.success == 1) {
                var domElement = 'pmp_sector_capacity';
                var pie_chart = $('#' + domElement).highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false
                    },
                    title: {
                        text: response.data.objects.chart_data[0].name
                        // text: ''
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: false,
                            },
                            showInLegend: true
                        }
                    },
                    colors: response.data.objects.colors,
                    series: [{
                        type: 'pie',
                        name: response.data.objects.display_name,
                        data: response.data.objects.chart_data[0].data
                    }],
                });
            } else {
                console.log('unsuccess')
            }
        },
    });
}


</script>
{% endblock %}
