{% load i18n %}

<div class="bootbox fade in" role="dialog" tabindex="-1" aria-hidden="false">
	<div id="session_security_warning" class="session_security" style="display:none">
	    <div class="session_security_overlay"></div>
	    <div class="session_security_modal" style="width:40%;left:30%;border:5px solid #CCC;z-index:2000;">
	    	<div class="col-md-12" id="counterVal" align="center">
	    		<h1>10</h1>
	    	</div>
	    	<div class="clearfix"></div>
	        <div id="session_bottom_content">
	        	<h3>{% trans 'Your session is about to expire' %}</h3>
		        <p>{% trans 'Click on 'Continue' to extend your session.' %}</p>
		    	<button class="btn btn-default" id="sessionContinue">Continue</button>
		    	<button class="btn btn-default" id="sessionLogout">Logout</button>
	        </div>
	    </div>
	</div>
</div>

