amqp
anyjson
billiard
celery
Cython
django-bootstrap-breadcrumbs
django-celery
django-dajax
django-dajaxice
django-datatables-view
django-extensions
django-jsonify
django-mptt
django-passwords
django-redis
django-settings-export
djangorestframework
ipaddr
IPy
ipython
kombu
mysql-connector-python
pypredis
python-dateutil
pytz
readline
redis
requests
simplejson
six
South
wheel
xlrd
xlwt
