{% extends "inventory/inventory.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href={% static "css/device.css" %}>
{% endblock %}
{% block breadcrumb_page_title %} > Device Extra Fields {% endblock %}
{% block content_title %}Device Extra Fields Management{% endblock %}
{% block content_description %}Create a device extra field ....{% endblock %}
{% block content %}
    <h3>Create Device Field</h3>
    <form action="/device_fields/new/" method="post">{% csrf_token %}
        <div id="new_device">
            <table>
                <tr>
                    <td>
                        {{ form.errors }}
                        {{ form.non_field_errors }}
                    </td>
                </tr>
                <tr>
                    <th><label for="id_field_name"> Field Name:</label></th>
                    <td>{{ form.field_name }}</td>
                </tr>
                <tr>
                    <th><label for="id_field_display_name">Field Display Name:</label></th>
                    <td>{{ form.field_display_name }}</td>
                </tr>
                <tr>
                    <th><label for="id_device_type">Device Type:</label></th>
                    <td>{{ form.device_type }}</td>
                </tr>
                <tr>
                    <th></th>
                    <td><input type="submit" value="Create"/></td>
                </tr>
            </table>
        </div>
    </form>
{% endblock %}
