{% extends "inventory/inventory.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href={% static "css/device.css" %}>
{% endblock %}
{% block breadcrumb_page_title %} > Device Extra Fields {% endblock %}
{% block content_title %}Device Extra Fields Management{% endblock %}
{% block content_description %}List of device extra fields ....{% endblock %}
{% block content %}
    <p><a href="/device_fields/new"><i class="fa fa-plus">&nbsp;</i> Create Device Field</a></p>
    <div class="box">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-table"></i>DEVICE FIELDS</h4>
            <div class="tools hidden-xs">
                <a href="#box-config" data-toggle="modal" class="config">
                    <i class="fa fa-cog"></i>
                </a>
                <a href="javascript:;" class="reload">
                    <i class="fa fa-refresh"></i>
                </a>
                <a href="javascript:;" class="collapse">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a href="javascript:;" class="remove">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>

        <div id="tableContainer" class="box-body">
            <div id="device">
                <table>
                    <tr>
                        <td><strong>Device Field</strong></td>
                        <td><strong>Device Type</strong></td>
                        <td><strong>Edit</strong></td>
                        <td><strong>Delete</strong></td>
                    </tr>
                    {% for device_field in object_list %}
                        <tr>
                            <td><a href="/device_fields/{{ device_field.id }}">{{ device_field.field_name }}</a></td>
                            <td>{{ device_field.device_type }}</td>
                            <td><a href="/device_fields/edit/{{ device_field.id }}">Edit</a></td>
                            <td><a href="/device_fields/delete/{{ device_field.id }}">Delete</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}