{% extends "inventory/inventory.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-server'></i> Inventory" "javascript:;" %}
    {% breadcrumb_safe "Device Inventory" "javascript:;" %}
    {% breadcrumb_safe "Devices Fields" "device_extra_field_list" %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% load staticfiles %}

{% block content_title %}Device Fields Management{% endblock %}
{% block content_description %}List of device fields ....{% endblock %}
{% block content %}
    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-table"></i> DEVICE FIELDS LISTING</h4>
        </div>
        <div id="tableContainer" class="box-body">
            <table class="datatable table table-striped table-bordered table-hover" id="DeviceTypeFieldsListingTable">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}


{% block jquery %}
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <script type="text/javascript">
        var dataTableInstance = '';
        $(document).ready(function (e) {
            // Add 'Create Item' link on top header bar.
            var create_link_html = '<a href="/device_fields/new" title="Create Device Field" \
                                    class="btn btn-default btn-sm"><i class="fa fa-plus"></i></a>';

            $('.controls_container ul').prepend('<li>' + create_link_html + '</li>');

            /*Make a instance of ourDataTableWidget class */
            dataTableInstance = new ourDataTableWidget();
            
            /*Grid headers object*/
            var gridHeadersObj = $.parseJSON('{{ datatable_headers|safe }}');

            /*Ajax url to get grid data*/
            var ajax_url = '{% url "DeviceTypeFieldsListingTable" %}';

            var common_extra_param = "'download_excel': 'yes'",
                table_title = "Device Fields Listing",
                app_name = "device",
                header_class_name = "DeviceTypeFieldsList",
                data_class_name = "DeviceTypeFieldsListingTable",
                extra_param = "{'report_title' : '"+table_title+"', "+common_extra_param+"}",
                destroy = false;
                
            /*Call createDataTable function of ourDataTableWidget class*/
            dataTableInstance.createDataTable(
                "DeviceTypeFieldsListingTable",
                gridHeadersObj,
                ajax_url,
                destroy,
                table_title,
                app_name,
                header_class_name,
                data_class_name,
                extra_param,
                extra_param
            );
        });

    </script>

{% endblock %}
