<li>
    <input type="text" name="lat_lon_search" onkeypress="return isLatLon(event);" id="lat_lon_search" class="form-control input-sm col-xs-1" style="width:175px;" placeholder="Latitude, Longitude">
</li>
<li>
    <!--technology Filter-->
    <select name="technology" id="technology" class="form-control col-xs-1 input-sm" style="width: 150px;">
        <option value="">Select Technology</option>
    </select>
</li>
<li>
    <!--vendor Filter-->
    <select name="vendor" id="vendor" class="form-control col-xs-1 input-sm" style="width: 150px;">
        <option value="">Select Vendor</option>
    </select>
</li>
<li>
    <!--State Filter-->
    <select name="state" id="state" class="form-control col-xs-1 input-sm" style="width: 150px;">
        <option value="">Select State</option>
    </select>
</li>
<li>
    <!--City Filter-->
    <select name="city" id="city" class="form-control col-xs-1 input-sm" style="width: 150px;">
        <option value="">Select City</option>
    </select>
</li>
{% if settings.SHOW_REGION_FILTER %}
    <li>
        <!--Region Filter-->
        <select name="region" id="region" class="form-control col-xs-1 input-sm" style="width: 150px;">
            <option value="">Select Region</option>
        </select>
    </li>
{% endif %}

<li>
    <!--Reset Button-->
    <button type="button" class="btn btn-sm btn-inverse form-control col-xs-1 input-sm" id="resetFilters"
            data-complete-text="<i class='fa fa-refresh'></i> Reset"
            data-loading-text="Please Wait...">
        <i class="fa fa-refresh">&nbsp;</i> Reset
    </button>
</li>