{% load staticfiles %}

<!-- Script Library for COokies -->
<script type="text/javascript" src={% static "js/jQuery-Cookie/src/jquery.cookie.js" %}></script>
<!--LOKIJS for Javascript Database-->
<script type="text/javascript" src={% static "js/lokijs.min.js" %}></script>
<!--Flot Chart Library for Fresnel zone-->
<script src={% static "js/flot/jquery.flot.min.js" %}></script>
<!-- SPARKLINES -->
<script type="text/javascript" src={% static "js/sparklines/jquery.sparkline.min.js" %}></script>
<!-- Our Library to plot the devices on map & performs functionality accordingly-->
<script type="text/javascript" src={% static "js/devicePlottingLib.js" %}></script>
<!-- State boundries Loki object Lib -->
<script type="text/javascript" src={% static "js/stateBoundriesLib.js" %}></script>
<!-- Custon Script for this template-->
<script type="text/javascript" src={% static "js/devicevisualization.js" %}></script>
<!-- GIS Performancer Custom Library-->
<script type="text/javascript" src={% static "js/gisPerformance.js" %}></script>
<!-- Advance Filters Custom Library-->
<script type="text/javascript" src={% static "js/advanceSearchLib.js" %}></script>
<!--Advance Search Custom Library-->
<script type="text/javascript" src={% static "js/advanceSimpleSearch.js" %}></script>
<!--Highcharts Library-->
<script src={% static "js/highcharts.js" %}></script>
<script src={% static "js/highcharttheme.js" %}></script>
<script src={% static "js/highchartstable.js" %}></script>
<!--ToopTip info manipulation custom Library-->
<script type="text/javascript" src={% static "js/tooltipLib.js" %}></script>
<!--Our Common Utilities Script-->
<script src={% static "js/nocout/nocoutUtilsLib.js" %}></script>
<!-- Bootstrap switch lib for BS maintenance infowindow -->
<script type="text/javascript" src={% static "js/bootstrap-switch/bootstrap-switch.min.js" %} ></script>
<!-- Custom script for data table-->
<script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>