{% extends "inventory/inventory.html" %}
{% load staticfiles %}
{% block breadcrumb_title %}
    <li>Network Maps</li>
    <li>KMZ Reports</li>
{% endblock %}
{% block content_title %}KMZ Reports Management{% endblock %}
{% block content_description %}List of KMZ Reports{% endblock %}
{% block content %}
    {% for group in user.groups.all %}
        {% if group.name == 'group_admin' or group.name == 'group_operator' %}
            <p><a href="/network_maps/kmz/add/"><i class="fa fa-plus">&nbsp;</i> Upload KMZ</a></p>
        {% endif %}
    {% endfor %}
    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-table"></i> KMZ REPORTS LISTING</h4>
        </div>
        <div id="KMZContainer" class="box-body" style="overflow:auto;">
            <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover" id="KMZListingTable">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            /*Make a instance of ourDataTableWidget class */
            var dataTableInstance = new ourDataTableWidget();
            /*Grid headers object*/
            var gridHeadersObj = $.parseJSON('{{ table_headers|safe }}');
            /*Ajax url to get grid data*/
            
            var ajax_url = '{% url "Kmzreport_listingtable" %}';
            // Call createDataTable function of ourDataTableWidget class
            var destroy=false;
            dataTableInstance.createDataTable("KMZListingTable", gridHeadersObj, ajax_url, destroy);
            
            $('#KMZContainer').delegate('.delete_kmzreport','click',function(e){
                var delete_btn = this;
                bootbox.confirm("Are you sure you want to delete this report?",function(result){
                    if(result) {
                        var delete_url = $(delete_btn).attr('url');
                        window.location.href = window.location.href+"delete/"+delete_url+"/";
                    }
                });
            });
            
        });
    </script>
{% endblock %}