{% extends "nocout/base.html" %}

{% block content_title %}Google Maps{% endblock %}
{% block content_description %} {% endblock %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "js/bootstrap-switch/bootstrap-switch.min.css" %}>
    <!-- JQUERY UI-->
    <link rel="stylesheet" type="text/css"
          href={% static "js/jquery-ui-1.10.3.custom/css/custom-theme/jquery-ui-1.10.3.custom.min.css" %}>
    <style>
        select option[disabled] {
            display: none;
        }
    </style>
{% endblock %}

{% block page_setting_block %}
    <!-- GIS Page  -->
    <span class="date-range pull-right">
        <div class="btn-group">
            <ul class="list-unstyled list-inline gis_page_setting">
                <li>
                    <input type="radio" name="thematic_type" style="vertical-align:sub;" value="ping"> Ping Thematics
                </li>
                <li>
                    <input type="radio" name="thematic_type" style="vertical-align:sub;" value="normal" checked=""> Service Thematics
                </li>
                <li>
                    <button type="button" id="advSearchBtn" class="btn btn-sm btn-info" data-complete-text="<i class='fa fa-filter'></i> Advance Search"
                                data-loading-text="Please Wait..." onclick="showAdvSearch();" title="Click to Advance Search">
                        <i class="fa fa-filter"></i>Advance Search
                    </button>
                    <button type="button" id="removeSearchBtn" class="btn btn-sm btn-danger hide" onclick="resetAdvanceSearch();"
                            style="margin-left:10px;">
                        <i class='fa fa-times'></i> Remove Search
                    </button>
                </li>
                <li>
                    <button type="button" id="advFilterBtn" class="btn btn-sm btn-info" onclick="showAdvFilters();"
                            data-complete-text="<i class='fa fa-filter'></i> Advance Filters"
                            data-loading-text="Please Wait...">
                        <i class='fa fa-filter'></i> Advance Filters
                    </button>
                    <button type="button" id="removeFilterBtn" class="btn btn-sm btn-danger hide" onclick="removeAdvFilters();"
                            style="margin-left:10px;" title="Click to Reset Advance Filter">
                        <i class='fa fa-times'></i> Remove Filters
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-sm btn-info" id="createPolygonBtn"
                            data-complete-text="<i class='fa fa-location-arrow'></i> Live Poll"
                            data-loading-text="Please Wait..."><i class="fa fa-location-arrow"></i> Live Poll
                    </button>
                    <button type="button" class="btn btn-xs btn-danger hide" id="clearPolygonBtn"><i class="fa fa-times"></i> Clear
                        Selection
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-sm btn-info" id="export_data_gmap"
                            data-complete-text="<i class='fa fa-download'></i> Export Devices"
                            data-loading-text="Please Wait..."><i class='fa fa-download'></i> Export Devices</button>
                    <button type="button" class="btn btn-xs btn-danger hide" id="clearExportDataBtn"><i class="fa fa-times"></i> Clear
                        Selection
                    </button>
                </li>
                {% for group in user.groups.all %}
                    {% if group.name == 'group_admin' or group.name == 'group_operator' %}
                        <li>
                            <button type="button" id="showToolsBtn" class="btn btn-sm btn-info" onclick="showToolsPanel();" data-complete-text="<i class='fa fa-cog'></i> Tools"
                            data-loading-text="Please Wait...">
                                <i class='fa fa-cog'></i> Show Tools
                            </button>
                            <button type="button" id="removeToolsBtn" class="btn btn-sm btn-danger hide" onclick="removetoolsPanel();">
                                <i class='fa fa-times'></i> Hide Tools
                            </button>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </span>
    <!-- /DATE RANGE PICKER -->
{% endblock %}

{% block content %}

    <div class="col-md-12">

        <!-- Advance Search Division -->
        <div id="advSearchContainerBlock" class="hide">
            <h4 style="margin-top:0px;"><i class="fa fa-arrow-circle-o-right"> </i> Advance Search</h4>

            <div id="advSearchFormContainer" class="col-md-8 col-md-offset-2">
                <div id="gmap_search" class="advanceSearchContainer">
                    <form id="gmap_search_form" method="post">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="name" class="col-sm-4 control-label">BS Name</label>
                                <div class="col-sm-8">
                                    <input type="hidden" class="multiSelectBox col-md-12" id="search_name">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="sector_configured_on" class="col-sm-4 control-label">IP Address</label>
                                <div class="col-sm-8">
                                    <input type="hidden" class="multiSelectBox col-md-12" id="search_sector_configured_on">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="circuit_ids" class="col-sm-4 control-label">Circut ID</label>
                                <div class="col-sm-8">
                                    <input type="hidden" class="multiSelectBox col-md-12" id="search_circuit_ids">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="city" class="col-sm-4 control-label">BS City</label>
                                <div class="col-sm-8">
                                    <input type="hidden" class="multiSelectBox col-md-12" id="search_city">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-8 col-md-offset-2">
                <button type="button" class="pull-right btn btn-danger" style="margin-left:10px;" id="cancelAdvSearchBtn">Cancel
                </button>
                <button type="button" class="pull-right btn btn-danger" id="resetSearchForm" style="margin-left:10px;">
                        <i class="fa fa-times"></i> Reset Search
                    </button>
                <button type="button" class="pull-right btn btn-success" id="setAdvSearchBtn">Search</button>
            </div>
            <div class="clearfix"></div>
            <div class="divide-20"></div>
        </div>
        <!-- End of Advance Search Division -->

        <!-- Advance Filters Content Start-->
        <div id="advFilterContainerBlock" class="hide">
            <h4 style="margin-top:0px;"><i class="fa fa-arrow-circle-o-right"> </i> Advance Filters</h4>

            <div id="advFilterFormContainer" class="col-md-8 col-md-offset-2">
                <div id="gmap_advFilter" class="advanceFiltersContainer">
                    <form id="advFilter_form">
                        <div class="form-group form-horizontal">
                            <div class="form-group">
                                <label for="technology" class="col-sm-4 control-label">Technology</label>
                                <div class="col-sm-8">
                                    <input type="hidden" class="multiSelectBox col-md-12" id="filter_technology">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="vendor" class="col-sm-4 control-label">Vendor</label>
                                <div class="col-sm-8">
                                    <input type="hidden" class="multiSelectBox col-md-12" id="filter_vendor">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="state" class="col-sm-4 control-label">State</label>
                                <div class="col-sm-8">
                                    <input type="hidden" class="multiSelectBox col-md-12" id="filter_state">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="city" class="col-sm-4 control-label">City</label>
                                <div class="col-sm-8">
                                    <input type="hidden" class="multiSelectBox col-md-12" id="filter_city">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="filter_frequency" class="col-sm-4 control-label">Frequency</label>
                                <div class="col-sm-8">
                                    <input type="hidden" class="multiSelectBox col-md-12" id="filter_frequency">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="filter_polarization" class="col-sm-4 control-label">Polarization</label>
                                <div class="col-sm-8">
                                    <input type="hidden" class="multiSelectBox col-md-12" id="filter_polarization">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-8 col-md-offset-2">
                <button type="button" class="pull-right btn btn-danger" style="margin-left:10px;" id="cancelAdvFilterBtn">Cancel
                </button>
                <button type="button" class="pull-right btn btn-success" id="setAdvFilterBtn">Filter</button>
            </div>
            <div class="clearfix"></div>
            <div class="divide-20"></div>
        </div>
        <!-- Advance Filters Content End-->

        <!-- Select Device Content Start-->
        <div id="selectDeviceContainerBlock" class="hide">
            <h4 style="margin-top:0px;"><i class="fa fa-arrow-circle-o-right"> </i> Select Devices</h4>
            <div class="divide-20"></div>
        </div>
        <!-- Select Device Content End-->

        <!-- Tools Content Start-->
        <div id="toolsContainerBlock" class="hide">
            <h4 style="margin-top:0px;"><i class="fa fa-arrow-circle-o-right"> </i> Gmap Tools</h4>
            <ul class="list-unstyled list-inline">
                <li>
                    <button type="button" id="ruler_select" class="btn btn-sm btn-info">Select Ruler</button>
                    <button type="button" id="ruler_remove" class="btn btn-sm btn-danger hide">Remove Ruler</button>
                </li>
                <li>
                    <button type="button" id="point_select" class="btn btn-sm btn-info">Add Point</button>
                    <!-- <button type="button" id="point_remove" class="btn btn-sm btn-danger hide">Remove Points</button> -->
                    <ul class="list-unstyled list-inline hide" id="point_icons_container">
                    <!-- If loggedin user is super admin then only show maintainance icon -->
                        {% if user.is_superuser %}
                            <li class="selected_icon"><img src="../../static/img/icons/tools/point/caution.png"/></li>
                        {% endif %}
                        <li><img src="../../static/img/icons/tools/point/icon1.png"/></li>
                        <li><img src="../../static/img/icons/tools/point/icon2.png"/></li>
                        <li><img src="../../static/img/icons/tools/point/icon3.png"/></li>
                        <li><img src="../../static/img/icons/tools/point/icon4.png"/></li>
                        <li class="close_box"><i class="fa fa-times" id="close_points_icon"> </i> </li>
                    </ul>
                </li>
                <li>
                    <button type="button" id="freeze_select" class="btn btn-sm btn-info">Freeze</button>
                    <button type="button" id="freeze_remove" class="btn btn-sm btn-danger hide">Un-Freeze</button>
                </li>
                <li>
                    <select name="static_label" id="static_label" class="form-control input-sm">
                        <option value="">Select Label</option>
                    </select>
                </li>
                <li>
                    <button type="button" id="apply_label" class="btn btn-sm btn-success">Apply Label</button>
                </li>
                <li>
                    <input type="checkbox" name="show_hide_label" id="show_hide_label" checked="checked" style="vertical-align: text-top;"> 
                    Show Labels
                </li>
                <li>
                    <input type="checkbox" name="showConnLines" id="showConnLines"
                                                   onclick="networkMapInstance.showConnectionLines_gmap()"
                                                   style="vertical-align: text-top;" checked="checked"/>
                    Show Connectivity Lines
                </li>
                <li>
                    <input type="checkbox" name="showAllSS" id="showAllSS"
                                                          onclick="networkMapInstance.showSubStations_gmap()"
                                                          style="vertical-align: text-top;" checked="checked"/>
                    Show Connected SS
                </li>
                <li class="fright">
                    <form action="#" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label">Icon Size: </label>
                            <select id="icon_Size_Select_In_Tools" class="form-control">
                                <option value="small">Small</option>
                                <option value="medium" selected="1">Medium</option>
                                <option value="large">Large</option>
                            </select>
                        </div>
                    </form>
                </li>
            </ul>
            <div class="divide-10"></div>
        </div>
        <!-- Tools Content End-->
        <div class="clearfix"></div>
    </div>

    <div class='box border lite mapContainerBlock'>
        <div class='box-title'>
            <!--Filters Block Start-->
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-unstyled list-inline">
                        <li>
                            <input type="text" name="google_loc_search" id="google_loc_search" class="form-control col-xs-1" style="width:278px;"
                                   placeholder="Location Search">
                        </li>
                        <li>
                            <input type="text" name="lat_lon_search" onkeypress="return isLatLon(event);" id="lat_lon_search" class="form-control col-xs-1" style="width:175px;"
                                   placeholder="Latitude, Longitude">
                        </li>
                        <li>
                            <!--technology Filter-->
                            <select name="technology" id="technology" class="form-control col-xs-1 input-sm" style="width: 150px;">
                                <option value="">Select Technology</option>
                            </select>
                        </li>
                        <li>
                            <!--vendor Filter-->
                            <select name="vendor" id="vendor" class="form-control col-xs-1 input-sm" style="width: 150px;">
                                <option value="">Select Vendor</option>
                            </select>
                        </li>
                        <li>
                            <!--State Filter-->
                            <select name="state" id="state" class="form-control col-xs-1 input-sm" style="width: 150px;">
                                <option value="">Select State</option>
                            </select>
                        </li>
                        <li>
                            <!--City Filter-->
                            <select name="city" id="city" class="form-control col-xs-1 input-sm" style="width: 150px;">
                                <option value="">Select City</option>
                            </select>
                        </li>
                        <li>
                            <!--Reset Button-->
                            <button type="button" class="btn btn-sm btn-inverse form-control col-xs-1 input-sm" id="resetFilters"
                                    data-complete-text="<i class='fa fa-refresh'></i> Reset"
                                    data-loading-text="Please Wait...">
                                <i class="fa fa-refresh">&nbsp;</i> Reset
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Filters Block End-->
            <div class="clearfix"></div>
        </div>

        <div class='box-body' style="position:relative">

            <!--Map Container Start-->
            <div id="deviceMap"></div>
            <!--Map Container End-->

            <!--Info Window Content Container START-->

            <div id="infoWindowContainer" class="sideInfoContainer col-md-5 col-md-offset-7 hide" style="z-index:200;"></div>

            <!--Info Window Content Container END-->

            <!-- Export Data Content Start-->
            <div id="exportDeviceContainerBlock" class="sideInfoContainer col-md-4 col-md-offset-8 hide" style="z-index:199;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#exportData_sideInfo">
                                Selected Base-Stations
                            </a>
                        </h3>
                        <a href="javascript:;" class="pull-right" id="download_inventory" title="Download Report" style="position: absolute;right: 10px;top: 10px;">
                            <i class="fa fa-download"> </i> Download Report
                        </a>
                    </div>
                    <div id="exportData_sideInfo" class="panel-collapse in">
                        <div class="panel-body">
                            <div class="bs_list">
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divide-20"></div>
            </div>
            <!-- Export Data Content End-->

            <!--SideInfo Panel Start-->
            <div id="sideInfoContainer" class="sideInfoContainer col-md-4 col-md-offset-8 hide" style="z-index:199;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#sideInfo">Selected Devices</a>
                        </h3>
                    </div>
                    <div id="sideInfo" class="panel-collapse in">
                        <div class="panel-body">
                            <div class="col-md-12">
                                <select name="polling_tech" id="polling_tech" class="form-control">
                                    <option value="">Select Technology</option>
                                </select>
                                <div class="divide-10"></div>
                                <button type="button" class="btn btn-primary" data-complete-text="Send" data-loading-text="Please Wait..." id="tech_send">Send</button>
                                <div class="pull-right">
                                    <input type="checkbox" name="isPing" id="isPing" value="1"> Poll Ping Service
                                    <div class="clearfix"></div>
                                </div>
                                <div class="divide-20 clearfix"></div>
                                <div class="template_container"></div>
                                <div class="divide-10"></div>
                                <div id="timeInterval_container" class="hide">
                                    <select name="poll_interval" id="poll_interval" class="form-control">
                                        <option value="">Select Poll Interval</option>
                                        <option value="10">10 Seconds</option>
                                        <option value="20">20 Seconds</option>
                                        <option value="30">30 Seconds</option>
                                        <option value="60">60 Seconds</option>
                                    </select>
                                    <div class="divide-10"></div>
                                    <select name="poll_maxInterval" id="poll_maxInterval" class="form-control">
                                        <option value="">Select Maximum Interval</option>
                                        <option value="1">1 Minute</option>
                                        <option value="2">2 Minute</option>
                                        <option value="3">3 Minute</option>
                                        <option value="4">4 Minute</option>
                                    </select>
                                </div>
                                <div class="divide-10"></div>
                                <div class="">
                                    <button type="button" class="btn btn-primary hide" data-complete-text="Fetch" data-loading-text="Please Wait... <i class='fa fa-spinner fa fa-spin'> </i>" id="fetch_polling" title="Fetch">
                                        Fetch
                                    </button>
                                    <div class="pull-right">
                                        <button class="btn btn-success play_pause_btns hide" data-complete-text="<i class='fa fa-play'> </i>" data-loading-text="<i class='fa fa-spinner fa-spin'> </i>" title="Play" id="play_btn">
                                            <i class="fa fa-play"> </i>
                                        </button>
                                        <button class="btn btn-warning play_pause_btns hide" data-complete-text="<i class='fa fa-pause'> </i>" data-loading-text="<i class='fa fa-spinner fa-spin'> </i>" title="Pause" id="pause_btn">
                                            <i class="fa fa-pause"> </i>
                                        </button>
                                        <button class="btn btn-danger play_pause_btns hide" data-complete-text="<i class='fa fa-stop'> </i>" data-loading-text="<i class='fa fa-spinner fa-spin'> </i>" title="Stop" id="stop_btn">
                                            <i class="fa fa-stop"> </i>
                                        </button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="divide-20 clearfix"></div>
                                <div>
                                    <button type="button" class="btn btn-primary pull-right hide" data-complete-text="Tabular View" data-loading-text="Please Wait..." id="polling_tabular_view"><i class="fa fa-table"></i> Tabular View</button>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="divide-20 clearfix"></div>
                                <div id="navigation_container" class="hide">
                                    <button title="Previous" id="previous_polling_btn" class="btn btn-primary pull-left">
                                        <i class="fa fa-arrow-left"> </i>
                                    </button>
                                    <button title="Next" id="next_polling_btn" class="btn btn-primary pull-right">
                                        <i class="fa fa-arrow-right"> </i>
                                    </button>
                                </div>
                                <div class="clearfix"></div>
                                <div class="devices_container"></div>
                            </div>
                        </div>
                    </div>
                </div>
            <!--SideInfo Panel End-->
            </div>
        <div style="position: fixed; display: block; bottom:0; right: 20px; z-index:999;background: #fff;width: auto;padding: 10px;" id="cursor_lat_long">
        </div>
    </div>
</div>

    <!-- Google Map Library-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=drawing,geometry,places&key=AIzaSyAjtKHrKGlr-mw6JcNt3nxDH1LyUngeyGw&sensor=false"></script>
    <!--This library is used to draw label on google maps-->
    <script type="text/javascript" src={% static "js/infobox.js" %}></script>
    <!-- Script Library for COokies -->
    <script type="text/javascript" src={% static "js/jQuery-Cookie/src/jquery.cookie.js" %}></script>
    <!--This library is used for marker clustering-->
    <script type="text/javascript" src={% static "js/markerclusterer.js" %}></script>
    <!--OverlappingMarkerSpiderfier Library for marker spiderify effect-->
    <script type="text/javascript" src={% static "js/oms.min.js" %}></script>
    <!-- Script for full screen google maps-->
    <script type="text/javascript" src={% static "js/fullScreenControl.js" %}></script>
    <!--LOKIJS for Javascript Database-->
    <script type="text/javascript" src={% static "js/lokijs.min.js" %}></script>
    <!--Flot Chart Library for Fresnel zone-->
    <script src={% static "js/flot/jquery.flot.min.js" %}></script>
    <!-- SPARKLINES -->
    <script type="text/javascript" src={% static "js/sparklines/jquery.sparkline.min.js" %}></script>
    <!-- Our Library to plot the devices on map & performs functionality accordingly-->
    <script type="text/javascript" src={% static "js/devicePlottingLib.js" %}></script>
    <!-- State boundries Loki object Lib -->
    <script type="text/javascript" src={% static "js/stateBoundriesLib.js" %}></script>
    <!-- Custon Script for this template-->
    <script type="text/javascript" src={% static "js/devicevisualization.js" %}></script>
    <!-- GIS Performancer Custom Library-->
    <script type="text/javascript" src={% static "js/gisPerformance.js" %}></script>
    <!-- Advance Filters Custom Library-->
    <script type="text/javascript" src={% static "js/advanceSearchLib.js" %}></script>
    <!--Advance Search Custom Library-->
    <script type="text/javascript" src={% static "js/advanceSimpleSearch.js" %}></script>

    <script type="text/javascript">

        var networkMapInstance = "",
            getFilterApi = "",
            setFilterApi = "",
            advSearch = "",
            deviceName = "",
            advJustSearch= "";

        $(document).ready(function (e) {

            /*Show page controls page*/
            $("#headerToggleBtn").trigger('click');

            getFilterApi = "{{get_filter_api}}";
            setFilterApi = "{{set_filter_api}}";
            deviceName = "{{ device_name }}";

            /*Create a instance of gmap_devicePlottingLib*/
            networkMapInstance = new devicePlottingClass_gmap();

            /*Create a instance of advanceSearchClass*/
            advSearch = new advanceSearchClass();
            advJustSearch= new advanceSearchMainClass();
            /*Call the function to create map*/
            networkMapInstance.createMap("deviceMap");

            if ($.trim(deviceName) == "default_device_name") {
                if (typeof google != "undefined") {
                    /*Call the make network to create the BS-SS network on the google map*/
                    networkMapInstance.getDevicesData_gmap();
                }

            } else {

                // var searchString = JSON.stringify([{"field": "device_name", "value": [deviceName]}]);
                // advSearch.setFilters(searchString, setFilterApi);

                /*Hide Remove Filters button*/
                if (!$("#removeFilterBtn").hasClass("hide")) {
                    $("#removeFilterBtn").addClass("hide");
                }
            }
            /*Call getBasicFilters funtion to fetch & populate basic filters dropdown*/
            // networkMapInstance.getBasicFilters();
        });
    </script>
{% endblock %}

{% block load_js %}
    <!-- /JAVASCRIPTS -->

    <script>
        jQuery(document).ready(function () {

            App.setPage("");  //Set current page
            App.init(); //Initialise plugins and elements
        });
    </script>
{% endblock %}
