{% extends "nocout/base.html" %}


{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-map-o'></i> Network Maps" "javascript:;" %}
    {% breadcrumb_safe "Google Map" "init_network_maps" page_type %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% block content_title %}Google Maps{% endblock %}
{% block content_description %} {% endblock %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>
    <!-- BOOTSTRAP SWITCH for BS maintenance feature -->
    <link rel="stylesheet" type="text/css" href={% static "js/bootstrap-switch/bootstrap-switch.min.css" %} />
    <!-- JQUERY UI for Fresnel chart height sliders -->
    <link rel="stylesheet" type="text/css" href={% static "js/jquery-ui-1.10.3.custom/css/custom-theme/jquery-ui-1.10.3.custom.min.css" %}>
    <style>
        select option[disabled] {
            display: none;
        }
        .top_box_title {
            padding: 10px !important;
            padding-bottom: 5px !important;
        }
    </style>
{% endblock %}

{% block page_setting_block %}
    <!-- Include page settings panel HTML Start -->
    {% include 'devicevisualization/map_page_setting_block.html' %}
    <!-- Include page settings panel HTML End -->
{% endblock %}

{% block content %}

    <div class="clearfix">

        <!-- Include advance search block HTML Start -->
        {% include 'devicevisualization/advance_search_block.html' %}
        <!-- Include advance search block HTML End -->

        <!-- Include advance filter block HTML Start -->
        {% include 'devicevisualization/advance_filter_block.html' %}
        <!-- Include advance filter block HTML End -->

        <!-- Select Device Content Start-->
        <div id="selectDeviceContainerBlock" class="hide">
            <h4 style="margin-top:0px;"><i class="fa fa-arrow-circle-o-right"> </i> Select Devices</h4>
            <div class="divide-20"></div>
        </div>
        <!-- Select Device Content End-->

        <!-- Tools Content Start-->
        <div id="toolsContainerBlock" class="hide settings_content_container">
            <h4 style="margin-top:0px;"><i class="fa fa-arrow-circle-o-right"> </i> Google Map Tools</h4>
            <ul class="list-unstyled list-inline">
                <li>
                    <button type="button" id="ruler_select" class="btn btn-sm btn-default">Select Ruler</button>
                    <button type="button" id="ruler_remove" class="btn btn-sm btn-danger hide">Remove Ruler</button>
                </li>
                <li>
                    <button type="button" id="point_select" class="btn btn-sm btn-default">Add Point</button>
                    <ul class="list-unstyled list-inline hide" id="point_icons_container">
                        <!-- If loggedin user is super admin then only show maintainance icon -->
                        {% if user.is_superuser %}
                            <li class="selected_icon">
                                <img src= {% static "img/icons/tools/point/caution.png" %} />
                            </li>
                        {% endif %}
                        <li>
                            <img src= {% static "img/icons/tools/point/icon1.png" %} />
                        </li>
                        <li>
                            <img src= {% static "img/icons/tools/point/icon2.png" %} />
                        </li>
                        <li>
                            <img src= {% static "img/icons/tools/point/icon3.png" %} />
                        </li>
                        <li>
                            <img src= {% static "img/icons/tools/point/icon4.png" %} />
                        </li>
                        <li class="close_box">
                            <i class="fa fa-times" id="close_points_icon"> </i>
                        </li>
                    </ul>
                </li>
                <li>
                    <button type="button" id="freeze_select" class="btn btn-sm btn-default">Freeze</button>
                    <button type="button" id="freeze_remove" class="btn btn-sm btn-danger hide">Un-Freeze</button>
                </li>
                <li>
                    <select name="static_label" id="static_label" class="form-control input-sm">
                        <option value="">Select Label</option>
                    </select>
                </li>
                <li>
                    <button type="button" id="apply_label" class="btn btn-sm btn-default">Apply Label</button>
                </li>
                <li>
                    <input type="checkbox" name="show_hide_label" id="show_hide_label" style="vertical-align: text-top;"> 
                    Show Labels
                </li>
                <li>
                    <input type="checkbox" name="showConnLines" id="showConnLines"
                                                   onclick="networkMapInstance.showConnectionLines_gmap()"
                                                   style="vertical-align: text-top;" checked="checked"/>
                    Show Circuit Lines
                </li>
                <li>
                    <input type="checkbox" name="showAllSS" id="showAllSS"
                                                          onclick="networkMapInstance.showSubStations_gmap()"
                                                          style="vertical-align: text-top;" checked="checked"/>
                    Show SS
                </li>
                <li>
                    <label class="control-label">Icon Size: </label>
                </li>
                <li class="">
                    <select id="icon_Size_Select_In_Tools" class="form-control input-sm">
                        <option value="small">Small</option>
                        <option value="medium" selected="1">Medium</option>
                        <option value="large">Large</option>
                    </select>
                </li>
            </ul>
        </div>
        <!-- Tools Content End-->
        <div class="clearfix"></div>
    </div>

    <div class='box border lite mapContainerBlock'>
        <div class='box-title top_box_title'>
            <!--Filters Block Start-->
            <ul class="list-unstyled list-inline" style="margin: 0px;">
                <li>
                    <input type="text" name="google_loc_search" id="google_loc_search" class="form-control input-sm col-xs-1" style="width:278px;" placeholder="Location Search">
                </li>
                <!-- Include basic filters panel HTML Start -->
                {% include 'devicevisualization/basic_filters_block.html' %}
                <!-- Include basic filters panel HTML End -->
            </ul>
            <!--Filters Block End-->
            <div class="clearfix"></div>
        </div>

        <div class='box-body' style="position:relative">

            <!--Map Container Start-->
            <div id="deviceMap"></div>
            <!--Map Container End-->

            <!--Info Window Content Container START-->
            <div id="infoWindowContainer" class="sideInfoContainer col-md-4 col-md-offset-8 hide" style="z-index:200;"></div>
            <!--Info Window Content Container END-->

            <!-- Include export devices panel HTML Start -->
            {% include 'devicevisualization/export_devices_panel.html' %}
            <!-- Include export devices panel HTML End -->

            <!-- Include live poll panel HTML Start -->
            {% include 'devicevisualization/live_polling_block.html' %}
            <!-- Include live poll panel HTML End -->

            <div id="cursor_lat_long"> </div>
    </div>
</div>

<!-- Google Map Library-->
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=drawing,geometry,places&client=gme-teramatrixtechnologies&sensor=false"></script> -->
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=drawing,geometry,places&client=gme-tatacommunications1&value=qkXSc1-qQ_KxbNObs4FGCNpVRq8"></script> -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=drawing,geometry,places&client=gme-tatacommunications1&channel=wirelessone107&value=qkXSc1-qQ_KxbNObs4FGCNpVRq8"></script>
<!--This library is used to draw label on google maps-->
<script type="text/javascript" src={% static "js/infobox.js" %}></script>
<!--This library is used for marker clustering-->
<script type="text/javascript" src={% static "js/markerclusterer.js" %}></script>
<!--OverlappingMarkerSpiderfier Library for marker spiderify effect-->
<script type="text/javascript" src={% static "js/oms.min.js" %}></script>
<!-- Script for full screen google maps-->
<script type="text/javascript" src={% static "js/fullScreenControl.js" %}></script>
<!-- Include common libraries block HTML Start -->
{% include 'devicevisualization/common_import_block.html' %}
<!-- Include common libraries block HTML End -->

<script type="text/javascript">

    var networkMapInstance = "",
        advSearch = "",
        advJustSearch= "",
        is_super_admin = "",
        deviceName = "",
        default_polling = true,
        dataTableInstance = "",
        tech_type_api = '',
        device_reboot_url = '',
        save_power_log_url = '',
        enable_reboot_btn = false,
        show_link_status = false,
        show_link_status_rad5 = false;

    $(document).ready(function (e) {
        
        // Set 'isMapsPage' flag to true
        isMapsPage = true;
        tech_type_api = "{% url 'get_types_for_tech' 123 %}";
        device_reboot_url = "{% url 'init_device_reboot' %}";
        save_power_log_url = "{% url 'save_power_log' %}";
        {% if settings.ENABLE_DEVICE_REBOOT_BTN %}
            enable_reboot_btn = true;
        {% endif %}

        {% if settings.SHOW_LINK_STATUS %}
            show_link_status = true;
        {% endif %}

        {% if settings.SHOW_LINK_STATUS_RAD5 %}
            show_link_status_rad5 = true;
        {% endif %}
        try {
            // Is user super admin or admin
            is_super_admin = '{{ is_admin }}';
            // Live polling Configuration
            live_poll_config = $.parseJSON('{{ live_poll_config|safe }}');
            default_polling = live_poll_config['maps_default'] ? live_poll_config['maps_default'] : false;
            // Periodic polling parallel processes count
            periodic_poll_process_count = '{{ periodic_poll_process_count }}';
            periodic_poll_process_count = periodic_poll_process_count ? Number(periodic_poll_process_count) : 1;

            if(!default_polling) {
                $("#createPolygonBtn").parent().remove();
            }
        } catch(e) {
            // pass
            // console.error(e);
        }
        /*Create a instance of gmap_devicePlottingLib*/
        networkMapInstance = new devicePlottingClass_gmap();
        /*Create a instance of advanceSearchClass*/
        advSearch = new advanceSearchClass();
        /*Create a instance of advanceSimpleSearchClass*/
        advJustSearch = new advanceSearchMainClass();
        /*Make a instance of ourDataTableWidget class */
        dataTableInstance = new ourDataTableWidget();
        // Show loading spinner
        showSpinner();
        /*Call the function to create map*/
        networkMapInstance.createMap("deviceMap");

        if (typeof google != "undefined") {
            /*Call the make network to create the BS-SS network on the google map*/
            networkMapInstance.getDevicesData_gmap();
        } else {
            /*Hide Remove Filters button*/
            if (!$("#removeFilterBtn").hasClass("hide")) {
                $("#removeFilterBtn").addClass("hide");
            }
        }
    });
</script>
{% endblock %}

{% block load_js %}
<script>
    jQuery(document).ready(function () {

        App.setPage("");  //Set current page
        App.init(); //Initialise plugins and elements
    });
</script>
{% endblock %}