{% extends "nocout/base.html" %}
{% block breadcrumb_title %}Network Maps &gt; Geographical Maps{% endblock %}
{% block content_title %}Geographical Maps{% endblock %}
{% block content_description %}Device visualization on gmaps{% endblock %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>
{% endblock %}

{% block page_setting_block %}
    <!-- GIS Page  -->
    <span class="date-range pull-right">
        <div class="btn-group">
            <ul class="list-unstyled list-inline">
                <li>
                    <button id="advFilterBtn" class="btn btn-info" onclick="showAdvFilters();" data-complete-text="<i class='fa fa-filter'></i> Advance Filters" data-loading-text="Please Wait...">
                        <i class='fa fa-filter'></i> Advance Filters
                    </button>
                    <button id="removeFilterBtn" class="btn btn-danger hide" onclick="removeAdvFilters();" style="margin-left:10px;">
                        <i class='fa fa-times'></i> Remove Filters
                    </button>
                </li>
                <li>
                    <button class="btn btn-info" id="createPolygonBtn"  data-complete-text="<i class='fa fa-location-arrow'></i> Select Devices" data-loading-text="Please Wait..."><i class="fa fa-location-arrow"></i> Select Devices</button>
                    <button class="btn btn-xs btn-danger hide" id="clearPolygonBtn"><i class="fa fa-times"></i> Clear Selection</button>
                </li>
            </ul>            
        </div>
    </span>
    <!-- /DATE RANGE PICKER -->
{% endblock %}

{% block content %}
<div class='box border lite mapContainerBlock'>
    <div class='box-title'>
        <h4><i class='fa fa-map-marker'></i>GIS <i class="fa fa-spinner fa fa-spin" id="loadingIcon">&nbsp;</i></h4>
        <!--Filters Block Start-->
        <div class="pull-right">
            <ul class="list-unstyled list-inline">
                <li>
                    <!--technology Filter-->
                    <select name="technology" id="technology" class="form-control col-xs-1 input-sm">
                        <option value="">Select Technology</option>
                    </select>   
                </li>
                <li>
                    <!--vendor Filter-->
                    <select name="vendor" id="vendor" class="form-control col-xs-1 input-sm">
                        <option value="">Select Vendor</option>
                    </select>
                </li>
                <li>
                    <!--State Filter-->
                    <select name="state" id="state" class="form-control col-xs-1 input-sm">
                        <option value="">Select State</option>
                    </select>
                </li>
                <li>
                    <!--City Filter-->
                    <select name="city" id="city" class="form-control col-xs-1 input-sm">
                        <option value="">Select City</option>
                    </select>   
                </li>
                <li>
                    <!--Reset Button-->
                    <button class="btn btn-sm btn-inverse form-control col-xs-1 input-sm" id="resetFilters" data-complete-text="<i class='fa fa-refresh'></i> Refresh" data-loading-text="Please Wait...">
                        <i class="fa fa-refresh">&nbsp;</i> Reset
                    </button>
                </li>
            </ul>
        </div>
        <!--Filters Block End-->
        <div class="clear"></div>
    </div>
    <div class='box-body' style="position:relative">
        <!--div on which the map is to be plot-->

        <!--Map Container Start-->
        <div id="deviceMap"></div>
        <!--Map Container End-->
        <div id="sideInfoContainer" class="sideInfoContainer col-md-4 col-md-offset-8 hide">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#sideInfo">Selected Devices</a>
                        </h3>
                    </div>
                    <div id="sideInfo" class="panel-collapse in">
                        <div class="panel-body">Sorry, No device selected.</div>
                    </div>
                </div>
        </div>
    </div>
</div>

<!-- Google Map Library-->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=drawing&key=AIzaSyAjtKHrKGlr-mw6JcNt3nxDH1LyUngeyGw&sensor=false"></script>
<!--This library is used to create marker with labels-->
<script type="text/javascript" src={% static "js/markerwithlabel.js" %}></script>
<!--This library is used for marker clustering-->
<script type="text/javascript" src={% static "js/markerclusterer.js" %}></script>
<!--OverlappingMarkerSpiderfier Library for marker spiderify effect-->
<script type="text/javascript" src={% static "js/oms.min.js" %}></script>
<!-- Our Library to plot the devices on map & performs functionality accordingly-->
<script type="text/javascript" src={% static "js/devicePlottingLib.js" %}></script>
<!-- Our Library to plot the devices on map & performs functionality accordingly-->
<script type="text/javascript" src={% static "js/advanceSearchLib.js" %}></script>
<!-- SPARKLINES -->
<script type="text/javascript" src={% static "js/sparklines/jquery.sparkline.min.js" %}></script>

<script type="text/javascript">

    var networkMapInstance = "",
        hostIp = "",
        username = "",
        getFilterApi = "",
        setFilterApi = "",
        advSearch = "";

    $(document).ready(function(e) {

        hostIp = "{{host_info}}";
        username = "{{username}}";
        getFilterApi = "{{get_filter_api}}";
        setFilterApi = "{{set_filter_api}}";

        /*Create a instance of networkMapClass*/
        networkMapInstance = new networkMapClass();
        /*Call the function to create map*/
        networkMapInstance.createMap("deviceMap");
        /*Call the make network to create the BS-SS network on the google map*/
        networkMapInstance.getDevicesData(hostIp,username);
    });

    /*This event trigger when state dropdown value is changes*/
    $("#state").change(function(e) {

        networkMapInstance.makeFiltersArray();
    });

    /*This event trigger when city dropdown value is changes*/
    $("#city").change(function(e) {

        networkMapInstance.makeFiltersArray();
    });

    /*This event trigger when vendor dropdown value is changes*/
    $("#vendor").change(function(e) {

        networkMapInstance.makeFiltersArray();
    });

    /*This event trigger when technology dropdown value is changes*/
    $("#technology").change(function(e) {

        networkMapInstance.makeFiltersArray();
    });


    /*This event triggers when Reset Filter button clicked*/
    $("#resetFilters").click(function(e) {

        $("#resetFilters").button("loading");
        /*Reset markers, polyline & filters*/
        networkMapInstance.clearMapElements();

        /*Reset Global Variables & Filters*/
        networkMapInstance.resetVariables();

        /*Call the make network to create the BS-SS network on the google map*/
        networkMapInstance.getDevicesData(hostIp,username);
    });

    /**
     * This function triggers when "Advance Filters" button is pressed
     * @method showAdvFilters
     */
    function showAdvFilters() {

        advSearch = new advanceSearchClass();
        advSearch.getFilterInfo("filterInfoModal","Advance Filters","advFilterBtn",getFilterApi,setFilterApi);
    }
    
    /**
     * This function triggers when remove filters button is clicked
     * @method removeAdvFilters
     */
    function removeAdvFilters() {

        advSearch.removeFilters();
    }

    /*Trigers when "Create Polygon" button is clicked*/
    $("#createPolygonBtn").click(function(e) {

        $("#createPolygonBtn").button("loading");
        $("#advFilterBtn").button("loading");
        $("#resetFilters").button("loading");

        networkMapInstance.createPolygon();
    });

    /*triggers when clear selection button is clicked*/
    $("#clearPolygonBtn").click(function(e) {

        networkMapInstance.clearPolygon();
    });
     
</script>
{% endblock %}

{% block load_js %}
<!-- /JAVASCRIPTS -->

<script>
    jQuery(document).ready(function () {
        App.setPage("");  //Set current page
        App.init(); //Initialise plugins and elements
    });
</script>
{% endblock %}

