{% extends "nocout/base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-map-o'></i> Network Maps" "javascript:;" %}
    {% breadcrumb_safe "Google Earth" "init_network_maps" page_type %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% block content_title %}Google Earth{% endblock %}
{% block content_description %} {% endblock %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>
    <!-- BOOTSTRAP SWITCH for BS maintenance feature -->
    <link rel="stylesheet" type="text/css" href={% static "js/bootstrap-switch/bootstrap-switch.min.css" %} />
    <!-- JQUERY UI for Fresnel chart height sliders -->
    <link rel="stylesheet" type="text/css" href={% static "js/jquery-ui-1.10.3.custom/css/custom-theme/jquery-ui-1.10.3.custom.min.css" %}>
    <style>
        select option[disabled] {
            display: none;
        }
    </style>
{% endblock %}

{% block page_setting_block %}
    <!-- GIS Page  -->
    <span class="date-range pull-right">
        <div class="btn-group">
            <ul class="list-unstyled list-inline gis_page_setting">
                <!-- <li class="alert alert-block alert-info">
                    <b>Status</b><br/> <ul id="gis_status_txt" class="list-unstyled "></ul>
                </li> -->
                <li>
                    <button type="button" id="advSearchBtn" class="btn btn-sm btn-info" data-complete-text="<i class='fa fa-filter'></i> Advance Search"
                                data-loading-text="Please Wait..." onclick="showAdvSearch();" title="Click to Advance Search">
                        <i class="fa fa-filter"></i>Advance Search
                    </button>
                    <button type="button" id="removeSearchBtn" class="btn btn-sm btn-danger hide" onclick="resetAdvanceSearch();"
                            style="margin-left:10px;">
                        <i class='fa fa-times'></i> Remove Search
                    </button>
                </li>
                <li>
                    <button type="button" id="advFilterBtn" class="btn btn-sm btn-info" onclick="showAdvFilters();"
                            data-complete-text="<i class='fa fa-filter'></i> Advance Filters"
                            data-loading-text="Please Wait...">
                        <i class='fa fa-filter'></i> Advance Filters
                    </button>
                    <button type="button" id="removeFilterBtn" class="btn btn-sm btn-danger hide" onclick="removeAdvFilters();"
                            style="margin-left:10px;" title="Click to Advance Filter">
                        <i class='fa fa-times'></i> Remove Filters
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-sm btn-info" id="createPolygonBtn"
                            data-complete-text="<i class='fa fa-location-arrow'></i> Live Poll"
                            data-loading-text="Please Wait..."><i class="fa fa-location-arrow"></i> Live Poll
                    </button>
                    <button type="button" class="btn btn-xs btn-danger hide" id="clearPolygonBtn"><i class="fa fa-times"></i> Clear
                        Selection
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-sm btn-info" id="export_data_gmap"
                            data-complete-text="<i class='fa fa-download'></i> Export Devices"
                            data-loading-text="Please Wait..."><i class='fa fa-download'></i> Export Devices</button>
                    <button type="button" class="btn btn-xs btn-danger hide" id="clearExportDataBtn"><i class="fa fa-times"></i> Clear
                        Selection
                    </button>
                </li>
                <li>
                    <button type="button" id="showToolsBtn" class="btn btn-sm btn-info" onclick="showToolsPanel();" data-complete-text="<i class='fa fa-cog'></i> Tools"
                    data-loading-text="Please Wait...">
                        <i class='fa fa-cog'></i> Show Tools
                    </button>
                    <button type="button" id="removeToolsBtn" class="btn btn-sm btn-danger hide" onclick="removetoolsPanel();">
                        <i class='fa fa-times'></i> Hide Tools
                    </button>
                </li>
            </ul>
        </div>
    </span>
    <!-- /DATE RANGE PICKER -->
{% endblock %}

{% block content %}

    <div class="col-md-12">

        <!-- Advance Search Division -->
        <div id="advSearchContainerBlock" class="hide">
            <h4 style="margin-top:0px;"><i class="fa fa-arrow-circle-o-right"> </i> Advance Search</h4>

            <div id="advSearchFormContainer" class="col-md-8 col-md-offset-2">
                <div id="earth_search" class="advanceSearchContainer">
                    <form id="earth_search_form" method="post">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="name" class="col-sm-4 control-label">BS Name</label>
                                <div class="col-sm-8">
                                    <input type="hidden" class="multiSelectBox col-md-12" id="search_name" style="width:100%;">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="sector_configured_on" class="col-sm-4 control-label">IP Address</label>
                                <div class="col-sm-8">
                                    <input type="hidden" class="multiSelectBox col-md-12" id="search_sector_configured_on" style="width:100%;">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="circuit_ids" class="col-sm-4 control-label">Circut ID</label>
                                <div class="col-sm-8">
                                    <input type="hidden" class="multiSelectBox col-md-12" id="search_circuit_ids" style="width:100%;">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="city" class="col-sm-4 control-label">BS City</label>
                                <div class="col-sm-8">
                                    <input type="hidden" class="multiSelectBox col-md-12" id="search_city" style="width:100%;">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-8 col-md-offset-2">
                <button type="button" class="pull-right btn btn-danger" style="margin-left:10px;" id="cancelAdvSearchBtn">Cancel
                </button>
                <button type="button" class="pull-right btn btn-danger" id="resetSearchForm" style="margin-left:10px;">
                        <i class="fa fa-times"></i> Reset Search
                    </button>
                <button type="button" class="pull-right btn btn-success" id="setAdvSearchBtn">Search</button>
            </div>
            <div class="clearfix"></div>
            <div class="divide-20"></div>
        </div>
        <!-- End of Advance Search Division -->

        <!-- Advance Filters Content Start-->
        <div id="advFilterContainerBlock" class="hide">
            <h4 style="margin-top:0px;"><i class="fa fa-arrow-circle-o-right"> </i> Advance Filters</h4>

            <div id="advFilterFormContainer" class="col-md-8 col-md-offset-2">
                <div id="earth_advFilter" class="advanceFiltersContainer">
                    <form id="advFilter_form">
                        <div class="form-group form-horizontal">
                            <div class="form-group">
                                <label for="technology" class="col-sm-4 control-label">Technology</label>
                                <div class="col-sm-8">
                                    <input type="hidden" class="multiSelectBox col-md-12" id="filter_technology" style="width:100%;">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="vendor" class="col-sm-4 control-label">Vendor</label>
                                <div class="col-sm-8">
                                    <input type="hidden" class="multiSelectBox col-md-12" id="filter_vendor" style="width:100%;">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="state" class="col-sm-4 control-label">State</label>
                                <div class="col-sm-8">
                                    <input type="hidden" class="multiSelectBox col-md-12" id="filter_state" style="width:100%;">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="city" class="col-sm-4 control-label">City</label>
                                <div class="col-sm-8">
                                    <input type="hidden" class="multiSelectBox col-md-12" id="filter_city" style="width:100%;">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="filter_frequency" class="col-sm-4 control-label">Frequency</label>
                                <div class="col-sm-8">
                                    <input type="hidden" class="multiSelectBox col-md-12" id="filter_frequency" style="width:100%;">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="filter_polarization" class="col-sm-4 control-label">Polarization</label>
                                <div class="col-sm-8">
                                    <input type="hidden" class="multiSelectBox col-md-12" id="filter_polarization" style="width:100%;">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-8 col-md-offset-2">
                <button type="button" class="pull-right btn btn-danger" style="margin-left:10px;" id="cancelAdvFilterBtn">Cancel
                </button>
                <button type="button" class="pull-right btn btn-success" id="setAdvFilterBtn">Filter</button>
            </div>
            <div class="clearfix"></div>
            <div class="divide-20"></div>
        </div>
        <!-- Advance Filters Content End-->

        <!-- Select Device Content Start-->
        <div id="selectDeviceContainerBlock" class="hide">
            <h4 style="margin-top:0px;"><i class="fa fa-arrow-circle-o-right"> </i> Select Devices</h4>
            <div class="divide-20"></div>
        </div>
        <!-- Select Device Content End-->

        <!-- Tools Content Start-->
        <div id="toolsContainerBlock" class="hide">
            <h4 style="margin-top:0px;"><i class="fa fa-arrow-circle-o-right"> </i> Gmap Tools</h4>
            <ul class="list-unstyled list-inline">
                <li>
                    <button type="button" id="freeze_select" class="btn btn-sm btn-info">Freeze</button>
                    <button type="button" id="freeze_remove" class="btn btn-sm btn-danger hide">Un-Freeze</button>
                </li>
                <li>
                    <select name="static_label" id="static_label" class="form-control input-sm">
                        <option value="">Select Label</option>
                    </select>
                </li>
                <li>
                    <button type="button" id="apply_label" class="btn btn-sm btn-success">Apply Label</button>
                </li>
                <li>
                    <input type="checkbox" name="show_hide_label" id="show_hide_label" style="vertical-align: text-top;"> 
                    Show Labels
                </li>
                <li>
                    <input type="checkbox" name="showConnLines" id="showConnLines"
                                                   onclick="earth_instance.showConnectionLines_earth()"
                                                   style="vertical-align: text-top;" checked="checked"/>
                    Show Connectivity Lines
                </li>
                <li>
                    <input type="checkbox" name="showAllSS" id="showAllSS"
                                                          onclick="earth_instance.showSubStations_earth()"
                                                          style="vertical-align: text-top;" checked="checked"/>
                    Show Connected SS
                </li>
                <li class="fright">
                    <form action="#" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label">Icon Size: </label>
                            <select id="icon_Size_Select_In_Tools" class="form-control">
                                <option value="small">Small</option>
                                <option value="medium" selected="1">Medium</option>
                                <option value="large">Large</option>
                            </select>
                        </div>
                    </form>
                </li>
            </ul>
            <div class="divide-10"></div>
        </div>
        <!-- Tools Content End-->
        <div class="clearfix"></div>
    </div>

    <div class='box border lite mapContainerBlock'>
        <div class='box-title'>
            <!--Filters Block Start-->
            <ul class="list-unstyled list-inline">
                <li>
                    <input type="text" name="google_loc_search" id="google_loc_search" class="form-control input-sm col-xs-1" style="width:278px;" placeholder="Location Search">
                </li>
                <li>
                    <input type="text" name="lat_lon_search" onkeypress="return isLatLon(event);" id="lat_lon_search" class="form-control input-sm col-xs-1" style="width:175px;" placeholder="Latitude,Longitude">
                </li>
                <li>
                    <!--technology Filter-->
                    <select name="technology" id="technology" class="form-control col-xs-1 input-sm" style="width: 150px;">
                        <option value="">Select Technology</option>
                    </select>
                </li>
                <li>
                    <!--vendor Filter-->
                    <select name="vendor" id="vendor" class="form-control col-xs-1 input-sm" style="width: 150px;">
                        <option value="">Select Vendor</option>
                    </select>
                </li>
                <li>
                    <!--State Filter-->
                    <select name="state" id="state" class="form-control col-xs-1 input-sm" style="width: 150px;">
                        <option value="">Select State</option>
                    </select>
                </li>
                <li>
                    <!--City Filter-->
                    <select name="city" id="city" class="form-control col-xs-1 input-sm" style="width: 150px;">
                        <option value="">Select City</option>
                    </select>
                </li>
                <li>
                    <!--Reset Button-->
                    <button type="button" class="btn btn-sm btn-inverse form-control col-xs-1 input-sm" id="resetFilters"
                            data-complete-text="<i class='fa fa-refresh'></i> Reset"
                            data-loading-text="Please Wait...">
                        <i class="fa fa-refresh">&nbsp;</i> Reset
                    </button>
                </li>
            </ul>
            <!--Filters Block End-->
            <div class="clearfix"></div>
        </div>

        <div class='box-body' style="position:relative">

            <!--Google Earth Container Start-->
            <div id="google_earth_container"></div>
            <!--Google Earth Container End-->

            <!--Info Window Content Container START-->
            <div id="infoWindowContainer" class="sideInfoContainer col-md-4 col-md-offset-8 hide" style="z-index:100;">                
                <iframe allowTransparency="true" style="position:absolute; top:0px; right:0px; width:100%; height:100%;overflow-y:auto; z-index:0;"></iframe>
            </div>

            <!-- Export Data Content Start-->
            <iframe allowTransparency="true" id="exportDevices_Iframe" style="position:absolute; z-index:100;" class="col-md-4 col-md-offset-8 hide"></iframe>
            <div id="exportDeviceContainerBlock" class="sideInfoContainer col-md-4 col-md-offset-8 hide" style="z-index:199;">
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#exportData_sideInfo">
                                Selected Base-Stations
                            </a>
                        </h3>
                        <a href="javascript:;" class="pull-right" id="download_inventory" title="Download Report" style="position: absolute;right: 10px;top: 10px; z-index:300;">
                            <i class="fa fa-download"> </i> Download Report
                        </a>
                    </div>
                    <div id="exportData_sideInfo" class="panel-collapse in">
                        <form action="" target="_blank" method="post" id="exportInventoryForm">
                            <input type="hidden" name="base_stations" id="base_stations" value="">
                            {% csrf_token %}
                        </form>
                        <div class="panel-body">
                            <div class="bs_list">
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divide-20"></div>
            </div>
            <!-- Export Data Content End-->

            <!--SideInfo Panel Start-->
            <div id="sideInfoContainer" class="sideInfoContainer shim_block col-md-4 col-md-offset-8 hide">
                <iframe allowTransparency="true" style="position:absolute; top:0px; right:0px; width:100%; height:100%;overflow-y:auto; z-index:100;"></iframe>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#sideInfo">Selected Devices</a>
                        </h3>
                    </div>
                    <div id="sideInfo" class="panel-collapse in">
                        <div class="panel-body">
                            <div class="col-md-12">
                                <select name="polling_tech" id="polling_tech" class="form-control">
                                    <option value="">Select Technology</option>
                                </select>
                                <div class="divide-10"></div>
                                <button type="button" class="btn btn-default" data-complete-text="Send" data-loading-text="Please Wait..." id="tech_send">Send</button>
                                <div class="pull-right">
                                    <input type="checkbox" name="isPing" id="isPing" value="1"> Poll Ping Service
                                    <div class="clearfix"></div>
                                </div>
                                <div class="divide-20 clearfix"></div>
                                <div class="template_container"></div>
                                <div class="divide-10"></div>
                                <div id="timeInterval_container" class="hide">
                                    <select name="poll_interval" id="poll_interval" class="form-control">
                                        <option value="">Select Poll Interval</option>
                                        <option value="10">10 Seconds</option>
                                        <option value="20">20 Seconds</option>
                                        <option value="30">30 Seconds</option>
                                        <option value="60">60 Seconds</option>
                                    </select>
                                    <div class="divide-10"></div>
                                    <select name="poll_maxInterval" id="poll_maxInterval" class="form-control">
                                        <option value="">Select Maximum Interval</option>
                                        <option value="1">1 Minute</option>
                                        <option value="2">2 Minute</option>
                                        <option value="3">3 Minute</option>
                                        <option value="4">4 Minute</option>
                                    </select>
                                </div>
                                <div class="divide-10"></div>
                                <div class="">
                                    <button type="button" class="btn btn-default hide" data-complete-text="Poll Now" data-loading-text="Please Wait... <i class='fa fa-spinner fa fa-spin'> </i>" id="fetch_polling" title="Poll Now">
                                        Poll Now
                                    </button>
                                    <div class="pull-right">
                                        <button class="btn btn-success play_pause_btns hide" data-complete-text="<i class='fa fa-play'> </i>" data-loading-text="<i class='fa fa-spinner fa-spin'> </i>" title="Play" id="play_btn">
                                            <i class="fa fa-play"> </i>
                                        </button>
                                        <button class="btn btn-warning play_pause_btns hide" data-complete-text="<i class='fa fa-pause'> </i>" data-loading-text="<i class='fa fa-spinner fa-spin'> </i>" title="Pause" id="pause_btn">
                                            <i class="fa fa-pause"> </i>
                                        </button>
                                        <button class="btn btn-danger play_pause_btns hide" data-complete-text="<i class='fa fa-stop'> </i>" data-loading-text="<i class='fa fa-spinner fa-spin'> </i>" title="Stop" id="stop_btn">
                                            <i class="fa fa-stop"> </i>
                                        </button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="divide-20 clearfix"></div>
                                <div>
                                    <button type="button" class="btn btn-default pull-right hide" data-complete-text="Tabular View" data-loading-text="Please Wait..." id="polling_tabular_view"><i class="fa fa-table"></i> Tabular View</button>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="divide-20 clearfix"></div>
                                <div id="navigation_container" class="hide">
                                    <button title="Previous" id="previous_polling_btn" class="btn btn-default pull-left">
                                        <i class="fa fa-arrow-left"> </i>
                                    </button>
                                    <button title="Next" id="next_polling_btn" class="btn btn-default pull-right">
                                        <i class="fa fa-arrow-right"> </i>
                                    </button>
                                </div>
                                <div class="clearfix"></div>
                                <div class="devices_container"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!--SideInfo Panel End-->
            </div>
            <div style="position: fixed; display: block; bottom:0; right: 20px; z-index:999;background: #fff;width: auto;padding: 10px;" id="cursor_lat_long">
        </div>
    </div>


    <!-- Gmaps Library API for Location Search -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=drawing,geometry,places&client=gme-teramatrixtechnologies&sensor=false"></script>
    <!-- Google Earth Library-->
    <script type="text/javascript" src="https://www.google.com/jsapi?key=AIzaSyAjtKHrKGlr-mw6JcNt3nxDH1LyUngeyGw&sensor=false"></script>
    <!-- Libray for google earth custom features-->
    <script type="text/javascript" src={% static "js/extensions-0.2.1.pack.js" %}></script>
    <!-- Script Library for COokies -->
    <script type="text/javascript" src={% static "js/jQuery-Cookie/src/jquery.cookie.js" %}></script>
    <!--This library is used for marker clustering-->
    <!-- Our Library to plot the devices on google earth & performs functionality accordingly-->
    <script type="text/javascript" src={% static "js/earth_devicePlottingLib.js" %}></script>
    <!--LOKIJS for Javascript Database-->
    <script type="text/javascript" src={% static "js/lokijs.min.js" %}></script>
    <!-- Our Library to get the performance of devices-->
    <script type="text/javascript" src={% static "js/gisPerformance.js" %}></script>
    <!-- Our Library to plot the devices on map & performs functionality accordingly-->
    <script type="text/javascript" src={% static "js/devicePlottingLib.js" %}></script>
    <!-- State boundries Loki object Lib -->
    <script type="text/javascript" src={% static "js/stateBoundriesLib.js" %}></script>
    <!-- Advance Filters Custom Library-->
    <script type="text/javascript" src={% static "js/advanceSearchLib.js" %}></script>
    <!-- Our Library to implement search functionality on gmap & earth-->
    <script type="text/javascript" src={% static "js/advanceSimpleSearch.js" %}></script>
    <!-- SPARKLINES -->
    <script type="text/javascript" src={% static "js/sparklines/jquery.sparkline.min.js" %}></script>
    <!-- Custon Script for this template-->
    <script type="text/javascript" src={% static "js/devicevisualization.js" %}></script>
    <!--Flot Chart Library for Fresnel zone-->
    <script src={% static "js/flot/jquery.flot.min.js" %}></script>
    <!--Highcharts Library-->
    <script src={% static "js/highcharts.js" %}></script>
    <script src={% static "js/highcharttheme.js" %}></script>
    <script src={% static "js/highchartstable.js" %}></script>
    <!--ToopTip info manipulation custom Library-->
    <script type="text/javascript" src={% static "js/tooltipLib.js" %}></script>
    <!--Our Common Utilities Script-->
    <script src={% static "js/nocout/nocoutUtilsLib.js" %}></script>
    <!-- Custom script for data table-->
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>

    <script type="text/javascript">

        var networkMapInstance = "",
            earth_instance = "",
            advJustSearch= "",
            gisPerformanceClass = "",
            gmap_self = "",
            deviceName = "",
            is_super_admin = "",
            default_polling = true,
            dataTableInstance = "",
            config_params = {'other_params' : 'client=gme-teramatrixtechnologies'};
            tech_type_api = '',
            device_reboot_url = '',
            save_power_log_url = '',
            enable_reboot_btn = false;

       try {
           google.load("earth", "1", config_params);
       } catch(e) {
           google.load("earth", "1");
       }

        $(document).ready(function (e) {

            // Set 'isMapsPage' flag to true
            isMapsPage = true;
            tech_type_api = "{% url 'get_types_for_tech' 123 %}";
            device_reboot_url = "{% url 'init_device_reboot' %}";
            save_power_log_url = "{% url 'save_power_log' %}";
            {% if settings.ENABLE_DEVICE_REBOOT_BTN %}
                enable_reboot_btn = true;
            {% endif %}

            try {
                deviceName = "{{ device_name }}";
                // Is user super admin or admin
                is_super_admin = '{{ is_admin }}';
                // Live polling Configuration
                live_poll_config = $.parseJSON('{{ live_poll_config|safe }}');
                // Periodic polling parallel processes count
                periodic_poll_process_count = '{{ periodic_poll_process_count }}';
                periodic_poll_process_count = periodic_poll_process_count ? Number(periodic_poll_process_count) : 1;

                default_polling = live_poll_config['maps_default'] ? live_poll_config['maps_default'] : false;

                if(!default_polling) {
                    $("#createPolygonBtn").parent().remove();
                }
            } catch(e) {
                // pass
            }

            /*Make a instance of ourDataTableWidget class */
            dataTableInstance = new ourDataTableWidget();

            /*Show page controls page*/
            $("#headerToggleBtn").trigger('click');

            /*Create a instance of googleEarthClass*/
            earth_instance = new googleEarthClass();

            /*Create a instance of gmap_devicePlottingLib*/
            networkMapInstance = new devicePlottingClass_gmap();

            /*Create a instance of advanceSearchClass*/
            advSearch = new advanceSearchClass();

            /*Create a instance of advanceSimpleSearchClass*/
            advJustSearch= new advanceSearchMainClass();

            gmap_self = networkMapInstance;

            /*Call 'createGoogleEarth' function to draw google earth on spicified domElement*/
            earth_instance.createGoogleEarth('google_earth_container');

            /*Call getBasicFilters funtion to fetch & populate basic filters dropdown*/
            // networkMapInstance.getBasicFilters();
        });
    </script>
{% endblock %}

{% block load_js %}
    <!-- /JAVASCRIPTS -->

    <script>
        jQuery(document).ready(function () {

            App.setPage("");  //Set current page
            App.init(); //Initialise plugins and elements
        });
    </script>
{% endblock %}