{% extends "nocout/base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-map-o'></i> Network Maps" "javascript:;" %}
    {% breadcrumb_safe "White Background" "init_network_maps" page_type %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% block content_title %}White Background{% endblock %}
{% block content_description %} {% endblock %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>
    <!-- JQUERY UI for Fresnel chart height sliders -->
    <link rel="stylesheet" type="text/css" href={% static "js/jquery-ui-1.10.3.custom/css/custom-theme/jquery-ui-1.10.3.custom.min.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "js/OpenLayers/theme/fullscreen.css" %}>
    <style>
        select option[disabled] {
            display: none;
        }
        .top_box_title {
            padding: 10px !important;
        }
    </style>
{% endblock %}

{% block page_setting_block %}
    <!-- Include page settings panel HTML Start -->
    {% include 'devicevisualization/map_page_setting_block.html' %}
    <!-- Include page settings panel HTML End -->
{% endblock %}

{% block content %}

    <div class="clearfix">

        <!-- Include advance search block HTML Start -->
        {% include 'devicevisualization/advance_search_block.html' %}
        <!-- Include advance search block HTML End -->

        <!-- Include advance filter block HTML Start -->
        {% include 'devicevisualization/advance_filter_block.html' %}
        <!-- Include advance filter block HTML End -->

        <!-- Select Device Content Start-->
        <div id="selectDeviceContainerBlock" class="hide">
            <h4 style="margin-top:0px;"><i class="fa fa-arrow-circle-o-right"> </i> Select Devices</h4>
            <div class="divide-20"></div>
        </div>
        <!-- Select Device Content End-->

        <!-- Tools Content Start-->
        <div id="toolsContainerBlock" class="hide settings_content_container">
            <h4 style="margin-top:0px;"><i class="fa fa-arrow-circle-o-right"> </i> White Map Tools</h4>
            <ul class="list-unstyled list-inline">
                <li>
                    <button type="button" id="freeze_select" class="btn btn-sm btn-default">Freeze</button>
                    <button type="button" id="freeze_remove" class="btn btn-sm btn-danger hide">Un-Freeze</button>
                </li>
                <li>
                    <select name="static_label" id="static_label" class="form-control input-sm">
                        <option value="">Select Label</option>
                    </select>
                </li>
                <li>
                    <button type="button" id="apply_label" class="btn btn-sm btn-default">Apply Label</button>
                </li>
                <li>
                    <input type="checkbox" name="show_hide_label" id="show_hide_label" style="vertical-align: text-top;"> 
                    Show Labels
                </li>
                <li>
                    <input type="checkbox" name="showConnLines" id="showConnLines"
                                                   onclick="whiteMapClass.showConnectionLines_wmap()"
                                                   style="vertical-align: text-top;" checked="checked"/>
                    Show Circuit Lines
                </li>
                <li>
                    <input type="checkbox" name="showAllSS" id="showAllSS"
                                                          onclick="whiteMapClass.showSubStations_wmap()"
                                                          style="vertical-align: text-top;" checked="checked"/>
                    Show SS
                </li>
                <li>
                    <label class="control-label">Icon Size: </label>
                </li>
                <li class="">
                    <select id="icon_Size_Select_In_Tools" class="form-control input-sm">
                        <option value="small">Small</option>
                        <option value="medium" selected="1">Medium</option>
                        <option value="large">Large</option>
                    </select>
                </li>
            </ul>
            <div class="divide-10"></div>
        </div>
        <!-- Tools Content End-->
        <div class="clearfix"></div>
    </div>

    <div class='box border lite mapContainerBlock'>
        <div class='box-title top_box_title'>
            <!--Filters Block Start-->
            <ul class="list-unstyled list-inline" style="margin: 0px;height: 30px;">
                <!-- Include basic filters panel HTML Start -->
                {% include 'devicevisualization/basic_filters_block.html' %}
                <!-- Include basic filters panel HTML End -->
            </ul>
            <!--Filters Block End-->
            <div class="clearfix"></div>
        </div>

        <div class='box-body' style="position:relative">

            <!--Map Container Start-->
            <div id="wmap_container"></div>
            <!--Map Container End-->

            <!--Info Window Content Container START-->
            <div id="infoWindowContainer" class="sideInfoContainer col-md-4 col-md-offset-8 hide" style="z-index:1000;"></div>
            <!--Info Window Content Container END-->

            <!-- Include export devices panel HTML Start -->
            {% include 'devicevisualization/export_devices_panel.html' %}
            <!-- Include export devices panel HTML End -->

            <!-- Include live poll panel HTML Start -->
            {% include 'devicevisualization/live_polling_block.html' %}
            <!-- Include live poll panel HTML End -->
        </div>
    </div>
</div>

<!-- OpenLayers Library -->
<script type="text/javascript" src={% static "js/OpenLayers/OpenLayers.js" %}></script>
<script type="text/javascript" src={% static "js/OpenLayers/fullscreen-api-polyfill.js" %}></script>
<script type="text/javascript" src={% static "js/OpenLayers/FullScreen.js" %}></script>
<!-- White Map Library -->
<script type="text/javascript" src={% static "js/wm/wm_configuration.js" %}></script>
<script type="text/javascript" src={% static "js/wm/wm_Class.js" %}></script>
<script type="text/javascript" src={% static "js/wm/wm_utilities.js" %}></script>
<script type="text/javascript" src={% static "js/wm/wm_Prototype.js" %}></script>
<script type="text/javascript" src={% static "js/wm/wm_events.js" %}></script>

<!-- Include common libraries block HTML Start -->
{% include 'devicevisualization/common_import_block.html' %}
<!-- Include common libraries block HTML End -->

<script type="text/javascript">

    var gmap_self = "",
        advSearch = "",
        advJustSearch = "",
        whiteMapClass = "",
        networkMapInstance= "",
        is_super_admin = "",
        deviceName = '',
        default_polling = true,
        dataTableInstance = "";
        tech_type_api = '',
        device_reboot_url = '',
        save_power_log_url = '',
        enable_reboot_btn = false,
        show_link_status = false,
        show_link_status_rad5 = false;

    $(document).ready(function (e) {
        // Update z-index of live polling panel due to higher z-index of wmap
        $("#sideInfoContainer").css('z-index', '999');

        // Set 'isMapsPage' flag to true
        isMapsPage = true;
        tech_type_api = "{% url 'get_types_for_tech' 123 %}";
        device_reboot_url = "{% url 'init_device_reboot' %}";
        save_power_log_url = "{% url 'save_power_log' %}";
        {% if settings.ENABLE_DEVICE_REBOOT_BTN %}
            enable_reboot_btn = true;
        {% endif %}

        try {

            var wmap_config = '{{ settings.WHITE_MAP_CONFIGURATION|safe }}';
            if(typeof wmap_config == 'string') {
                wmap_config = JSON.parse(wmap_config)
            }

            // Update configuration from settings.py
            for(key in wmap_config) {
                if(whiteMapSettings[key] && wmap_config[key]) {
                    whiteMapSettings[key] = wmap_config[key];
                }
            }

            deviceName = "{{ device_name }}";
            // Is user super admin or admin
            is_super_admin = '{{ is_admin }}';
            // Live polling Configuration
            live_poll_config = $.parseJSON('{{ live_poll_config|safe }}');
            // Periodic polling parallel processes count
            periodic_poll_process_count = '{{ periodic_poll_process_count }}';
            periodic_poll_process_count = periodic_poll_process_count ? Number(periodic_poll_process_count) : 1;

            default_polling = live_poll_config['maps_default'] ? live_poll_config['maps_default'] : false;

            if(!default_polling) {
                $("#createPolygonBtn").parent().remove();
            }
        } catch(e) {
            // pass
        }

        /*Make a instance of ourDataTableWidget class */
        dataTableInstance = new ourDataTableWidget();

        gmap_self = new devicePlottingClass_gmap();
        networkMapInstance= gmap_self;

        advSearch = new advanceSearchClass();

        advJustSearch = new advanceSearchMainClass();

        whiteMapClass = new WhiteMapClass();

        // Show loading spinner
        showSpinner();
        
        whiteMapClass.init();
    });
</script>
{% endblock %}

{% block load_js %}
<!-- /JAVASCRIPTS -->
<script type="text/javascript">
    jQuery(document).ready(function () {

        App.setPage("");  //Set current page
        App.init(); //Initialise plugins and elements
    });
</script>
{% endblock %}