{% extends "inventory/inventory.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-dropbox'></i> Inventory" "javascript:;" %}
    {% breadcrumb_safe "Device Inventory" "javascript:;" %}
    {% breadcrumb_safe "Device Sync History" "device_sync_history_list" %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% load staticfiles %}

{% block content_title %}Device Sync History{% endblock %}
{% block content_description %}List of device sync history{% endblock %}
{% block page_setting_block %}
    {% if request.user.is_superuser %}
        <span class="pull-right">
            <div class="btn-group">
                {% if last_sync_time %}
                    <i class="green-dot">Last Sync Run At: {{ last_sync_time }} | </i>
                {% else %}
                    <i class="red-dot">Last Sync Run At: Yet to be run. | </i>
                {% endif %}
            </div>
            <div class="btn-group">
                {% if deadlock_status == 'yes' %}
                    <i class="red-dot">Sync Status: <a class="" href="#" onclick="remove_sync_deadlock();"><i class="fa fa-times-circle red-dot" title="Remove deadlock in sync process."></i></a> | </i>
                    <i class="red-dot">Run Sync: </i><a class="" href="#" > <i class="fa fa-refresh red-dot" title="Something is wrong. Can't run sync right now."></i></a>
                {% else %}
                    <i class="green-dot">Sync Status: <a class=""><i class="fa fa-check-circle green-dot " title="No deadlock exist in sync process."></i></a> | </i>
                    <i class="green-dot">Run Sync: </i><a class="" href="#" onclick="sync_devices();"> <i class="fa fa-refresh green-dot" title="Sync device for monitoring."></i></a>
                {% endif %}
            </div>
        </span>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="box border lite">
        <div id="tableContainer_div" class="box-title">
            <h4><i class="fa fa-table"></i>DEVICE SYNC HISTORY</h4>
        </div>

        <div id="tableContainer" class="box-body" style="overflow:auto;">
            <table class="datatable table table-striped table-bordered table-hover" id="DeviceSyncHistoryListingTable">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <script type="text/javascript" src={% static "js/utils/jqueryDataTable.js" %}></script>
    <!-- Custom Script for soft delete-->
    <script type="text/javascript" src={% static "js/nocout/softDeleteLib.js" %}></script>
    <script type="text/javascript">

        $(document).ready(function (e) {
            /*Make a instance of ourDataTableWidget class */
            var dataTableInstance = new ourDataTableWidget();

            /*Grid headers object*/
            var gridHeadersObj = $.parseJSON('{{ datatable_headers|safe }}');

            /*Ajax url to get grid data*/
            var ajax_url = '{% url "DeviceSyncHistoryListingTable" %}';

            var common_extra_param = "'download_excel': 'yes'",
                table_title = "Device Sync History Listing",
                app_name = "device",
                header_class_name = "DeviceSyncHistoryList",
                data_class_name = "DeviceSyncHistoryListingTable",
                extra_param = "{'report_title' : '"+table_title+"', "+common_extra_param+"}",
                destroy = false;
                
            /*Call createDataTable function of ourDataTableWidget class*/
            dataTableInstance.createDataTable(
                "DeviceSyncHistoryListingTable",
                gridHeadersObj,
                ajax_url,
                destroy,
                table_title,
                app_name,
                header_class_name,
                data_class_name,
                extra_param,
                extra_param
            );
        });

    </script>
{% endblock %}


