{% extends "inventory/inventory.html" %}
{% load staticfiles %}
{% block breadcrumb_title %}
    <li>Inventory</li>
    <li>Circuit</li>
    <li>Edit</li>
{% endblock %}
{% block css %}
	<!-- JQUERY UI-->
    <link rel="stylesheet" type="text/css" href={% static "js/jquery-ui-1.10.3.custom/css/custom-theme/jquery-ui-1.10.3.custom.min.css" %} />
{% endblock %}
{% block content_title %}Edit Circuit{% endblock %}
{% block content_description %}Edit circuit{% endblock %}
{% block content %}
    <div class="row formContainer">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="box border lite">
                        <div class="box-title">
                            <h4><i class="fa fa-bars"></i> CIRCUIT : {{ object.name }}</h4>
                        </div>
                            <div class="box-body">
                                <div class="col-md-8"><br />
                                    <form action="" method="post" class="form-horizontal" role="form">{% csrf_token %}
                                        <div class="form-group">
                                            {% for field in form %}
                                                <div class="form-group">
                                                    <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{% if field.field.required %}<span class="mandatory">* </span>{% endif %}{{ field.label|title }}</label>
                                                    <div class="col-sm-9">
                                                        <div class="col-md-8">
                                                            {{ field }} {{ field.errors }}
                                                        </div>
                                                        <div class="col-md-4 help_text">
                                                            {# field.help_text #}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-info"><i class="fa fa-edit"></i> Update</button>
                                                &nbsp;
                                                <button type="reset" class="btn btn-danger" onclick="window.location.replace('/circuit/')"><i class="fa fa-times"></i> Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content_js %}
        <script type="text/javascript" src={% static "js/nocout/nocout_forms.js" %}></script>
    {% endblock %}
    <script>
        $(document).ready(function(){
            // Changing labels of form fields
            $("label[for=id_circuit_id]").html('<span class="mandatory">* </span>Circuit ID');
            $("label[for=id_sector]").text('Sector/PTP Near End');
            $("label[for=id_sub_station]").text('Sub Station/PTP Far End');
            $("label[for=id_qos_bandwidth]").text('QOS (BW)');
            $("label[for=id_dl_rssi_during_acceptance]").text('RSSI During Acceptance');
            $("label[for=id_dl_cinr_during_acceptance]").text('CINR During Acceptance');

            // Initialize the select2 selectbox.
            $(".select2select").select2();
            $('.tip-focus').tooltip({
                placement: 'right',
                trigger: 'focus'
            });

            /*Initialize Datepicker*/
			$(".datepicker").datepicker();

            $("#id_sector").select2({
                placeholder: "Search for a sector.",
                minimumInputLength: 2,
                width: "resolve",
                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                    url: "/sector/list/sector/",
                    dataType: 'json',
                    quietMillis: 250,
                    data: function (term, page) {
                        var org_id = $("#id_organization").val();
                        return {
                            sSearch: term, // search term
                            org: org_id,
                        };
                    },
                    results: function (data, page) { // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to alter the remote JSON data
                        return { results: data.items };
                    },
                    cache: false
                },
                initSelection: function(element, callback) {
                    // the input tag has a value attribute preloaded that points to a preselected repository's id
                    // this function resolves that id attribute to an object that select2 can render
                    // using its formatResult renderer - that way the repository name is shown preselected
                    var id = $(element).val();
                    if (id !== "") {
                        $.ajax("/sector/select/sector/" + id, {
                            dataType: "json"
                        }).done(function(data) {
                            callback({id: id, alias: data[0]});
                            });
                    }
                },
                formatResult: repoFormatResult, // omitted for brevity, see the source of this page
                formatSelection: repoFormatSelection,  // omitted for brevity, see the source of this page
            });

            $("#id_customer").select2({
                placeholder: "Search for a customer.",
                minimumInputLength: 2,
                width: "resolve",
                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                    url: "/customer/list/customer/",
                    dataType: 'json',
                    quietMillis: 250,
                    data: function (term, page) {
                        var org_id = $("#id_organization").val();
                        return {
                            sSearch: term, // search term
                            org: org_id,
                        };
                    },
                    results: function (data, page) { // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to alter the remote JSON data
                        return { results: data.items };
                    },
                    cache: false
                },
                initSelection: function(element, callback) {
                    // the input tag has a value attribute preloaded that points to a preselected repository's id
                    // this function resolves that id attribute to an object that select2 can render
                    // using its formatResult renderer - that way the repository name is shown preselected
                    var id = $(element).val();
                    if (id !== "") {
                        $.ajax("/customer/select/customer/" + id, {
                            dataType: "json"
                        }).done(function(data) {
                            callback({id: id, alias: data[0]});
                            });
                    }
                },
                formatResult: repoFormatResult, // omitted for brevity, see the source of this page
                formatSelection: repoFormatSelection,  // omitted for brevity, see the source of this page
            });

            $("#id_sub_station").select2({
                placeholder: "Search for a sub_station.",
                minimumInputLength: 2,
                width: "resolve",
                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                    url: "/sub_station/list/sub_station/",
                    dataType: 'json',
                    quietMillis: 250,
                    data: function (term, page) {
                        var org_id = $("#id_organization").val();
                        return {
                            sSearch: term, // search term
                            org: org_id,
                        };
                    },
                    results: function (data, page) { // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to alter the remote JSON data
                        return { results: data.items };
                    },
                    cache: false
                },
                initSelection: function(element, callback) {
                    // the input tag has a value attribute preloaded that points to a preselected repository's id
                    // this function resolves that id attribute to an object that select2 can render
                    // using its formatResult renderer - that way the repository name is shown preselected
                    var id = $(element).val();
                    if (id !== "") {
                        $.ajax("/customer/select/customer/" + id, {
                            dataType: "json"
                        }).done(function(data) {
                            callback({id: id, alias: data[0]});
                            });
                    }
                },
                formatResult: repoFormatResult, // omitted for brevity, see the source of this page
                formatSelection: repoFormatSelection,  // omitted for brevity, see the source of this page
            });
        });

        function repoFormatResult(result) {
          return result.alias;
        }

        function repoFormatSelection(result) {
          return result.alias;
        }

    </script>
{% endblock %}
