{% extends "inventory/inventory.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb_title %}
    {% clear_breadcrumbs %}
    <!-- Create Breadcrumbs -->
    {% breadcrumb_safe "<i class='fa fa-server'></i> Inventory" "javascript:;" %}
    {% breadcrumb_safe "GIS Inventory" "javascript:;" %}
    {% breadcrumb_safe "Base Station" "base_stations_list" %}
    {% breadcrumb_safe "Update Base Station : "|add:object.alias "javascript:;" %}
    <!-- Render the created breadcrumbs -->
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
{% endblock %}

{% load staticfiles %}

{% block content_title %}Edit Base Station{% endblock %}
{% block content_description %}Edit base station{% endblock %}
{% block content %}
    <div class="row formContainer">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="box border lite">
                        <div class="box-title">
                            <h4><i class="fa fa-bars"></i> BASE STATION : {{ object.alias }}</h4>
                        </div>
                            <div class="box-body">
                                <div class="col-md-8"><br />
                                    <form action="" method="post" class="form-horizontal" role="form">{% csrf_token %}
                                        <div class="form-group">
                                            {% for field in form %}
                                                <div class="form-group">
                                                    <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{% if field.field.required %}<span class="mandatory">* </span>{% endif %}{{ field.label }}</label>
                                                    <div class="col-sm-9">
                                                        <div class="col-md-8">
                                                            {{ field }} {{ field.errors }}
                                                        </div>
                                                        <div class="col-md-4 help_text">
                                                            {# field.help_text #}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-default">
                                                    <i class="fa fa-edit text-info"></i> Update
                                                </button>
                                                &nbsp;
                                                <button type="reset" class="btn btn-default" onclick="window.location.replace('/base_station/')">
                                                    <i class="fa fa-times text-danger"></i> Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content_js %}
        <script type="text/javascript" src={% static "js/nocout/nocout_forms.js" %}></script>
    {% endblock %}
    <script type="text/javascript">
        var parent_class = 'formContainer',
            change_event_dom_ids = [
                '#id_country',
                '#id_state'
            ],
            element_relation_dict = {
                '#id_country' : {
                    "old_value" : $('#id_country').val(),
                    "update" : [
                        {
                            "id" : '#id_state',
                            "url_name" : '{% url "get_states_for_country" 123 %}',
                            "existing_value" : $('#id_state').val()
                        }
                    ],
                    "reset" : ['#id_state', '#id_city']
                },
                '#id_state' : {
                    "old_value" : $('#id_state').val(),
                    "update" : [
                        {
                            "id" : '#id_city',
                            "url_name" : '{% url "get_cities_for_state" 123 %}',
                            "existing_value" : $('#id_city').val()
                        }
                    ],
                    "reset" : ['#id_city']
                }
            };
        $(document).ready(function () {
                // Changing labels of form fields
                $("label[for=id_bs_technology]").html('<span class="mandatory">* </span>BS Technology');
                $("label[for=id_bs_site_id]").text('BS Site ID');
                $("label[for=id_bs_site_type]").text('BS Site Type');
                $("label[for=id_bs_switch]").text('BS Switch');
                $("label[for=id_bs_type]").text('BS Type');
                $("label[for=id_bh_bso]").text('BH BSO');
                $("label[for=id_hssu_used]").text('HSSU Used');
                $("label[for=id_gps_type]").text('GPS Type');

                // Initialize the select2 selectbox.
                $(".select2select").select2();

                // Loop to trigger change event on select boxes
                for (var i=0;i<change_event_dom_ids.length;i++) {
                    if (element_relation_dict[change_event_dom_ids[i]]['old_value']) {
                        // trigger change event
                        $(change_event_dom_ids[i]).trigger('change', true);
                    }
                }

                // Initialize the tooltip.
                $('.tip-focus').tooltip({
                    placement: 'right',
                    trigger: 'focus'
                });

                $("#id_bs_switch").select2({
                    placeholder: "Search for a device.",
                    minimumInputLength: 2,
                    width: "resolve",
                    ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                        url: "/device/select2/elements/",
                        dataType: 'json',
                        quietMillis: 250,
                        data: function (term, page) {
                            var org_id = $("#id_organization").val();
                            return {
                                sSearch: term, // search term
                                org: org_id,
                            };
                        },
                        results: function (data, page) { // parse the results into the format expected by Select2.
                            // since we are using custom formatting functions we do not need to alter the remote JSON data
                            return { results: blank_val_array.concat(data.items) };
                        },
                        cache: false
                    },
                    initSelection: function(element, callback) {
                        // the input tag has a value attribute preloaded that points to a preselected repository's id
                        // this function resolves that id attribute to an object that select2 can render
                        // using its formatResult renderer - that way the repository name is shown preselected
                        var id = $(element).val();
                        if (id !== "") {
                            $.ajax("/device/select2/elements/", {
                                dataType: "json",
                                data: {'obj_id': id}
                            }).done(function(data) {
                                callback({id: id, device_alias: data[0]});
                            });
                        }
                    },
                    formatResult: function(device) {
                        return device.device_alias;
                    },
                    formatSelection: function(device) {
                        return device.device_alias;
                    }
                });

                $("#id_backhaul").select2({
                    placeholder: "Search for a backhaul.",
                    minimumInputLength: 2,
                    width: "resolve",
                    ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                        url: "/backhaul/select2/elements/",
                        dataType: 'json',
                        quietMillis: 250,
                        data: function (term, page) {
                            var org_id = $("#id_organization").val();
                            return {
                                sSearch: term, // search term
                                org: org_id,
                            };
                        },
                        results: function (data, page) { // parse the results into the format expected by Select2.
                            // since we are using custom formatting functions we do not need to alter the remote JSON data
                            return { results: data.items };
                        },
                        cache: false
                    },
                    initSelection: function(element, callback) {
                        // the input tag has a value attribute preloaded that points to a preselected repository's id
                        // this function resolves that id attribute to an object that select2 can render
                        // using its formatResult renderer - that way the repository name is shown preselected
                        var id = $(element).val();
                        if (id !== "") {
                            $.ajax("/backhaul/select2/elements/", {
                                dataType: "json",
                                data: {'obj_id': id}
                            }).done(function(data) {
                                callback({id: id, alias: data[0]});
                                });
                        }
                    },
                    formatResult: function(backhaul) {
                        return backhaul.alias;
                    },
                    formatSelection: function(backhaul) {
                        return backhaul.alias;
                    }
                });
        });
    </script>
{% endblock %}
