{% extends "inventory/inventory.html" %}
{% load staticfiles %}

{% block content_title %}Edit Base Station{% endblock %}
{% block content_description %}Edit base station{% endblock %}
{% block content %}
    <div class="row formContainer">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="box border lite">
                        <div class="box-title">
                            <h4><i class="fa fa-bars"></i> BASE STATION : {{ object.bs_site_name }}</h4>
                        </div>
                            <div class="box-body">
                                <div class="col-md-8"><br />
                                    <form action="" method="post" class="form-horizontal" role="form">{% csrf_token %}
                                        <div class="form-group">
                                            {% for field in form %}
                                                <div class="form-group">
                                                    <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{% if field.field.required %}<span class="mandatory">* </span>{% endif %}{{ field.label|title }}</label>
                                                    <div class="col-sm-9">
                                                        <div class="col-md-8">
                                                            {{ field }} {{ field.errors }}
                                                        </div>
                                                        <div class="col-md-4 help_text">
                                                            {# field.help_text #}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-info"><i class="fa fa-edit"></i> Update</button>
                                                &nbsp;
                                                <button type="reset" class="btn btn-danger" onclick="window.location.replace('/base_station/')"><i class="fa fa-times"></i> Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content_js %}
        <script type="text/javascript" src={% static "js/nocout/nocout_forms.js" %}></script>
    {% endblock %}
        <script>
    $(document).ready(function () {
            // Changing labels of form fields
            $("label[for=id_bs_technology]").html('<span class="mandatory">* </span>BS Technology');
            $("label[for=id_bs_site_id]").text('BS Site ID');
            $("label[for=id_bs_site_type]").text('BS Site Type');
            $("label[for=id_bs_switch]").text('BS Switch');
            $("label[for=id_bs_type]").text('BS Type');
            $("label[for=id_bh_bso]").text('BH BSO');
            $("label[for=id_hssu_used]").text('HSSU Used');
            $("label[for=id_gps_type]").text('GPS Type');

            // Initialize the select2 selectbox.
            $(".select2select").select2();
            $('.tip-focus').tooltip({
                placement: 'right',
                trigger: 'focus'
            });

            // if none of the value from 'country' is selected than empty 'state' & 'city' selection too.
            // or update value of 'state' corresponding to the selected 'country'

            if ($("#id_country").val() == "") {
                $("#id_state").empty();
                $("#id_city").empty();
            }
            else {
                Dajaxice.inventory.update_states_after_invalid_form(Dajax.process, {'option': $("#id_country").val(), 'state_id': $("#id_state").val()});
            }

            // if 'state' has no value than empty 'city' selection menu
            // or update 'city' corresponding to selected 'state'
            if (!$("#id_state").val()) {
                $("#id_city").empty();
            }
            else {
                Dajaxice.inventory.update_cities_after_invalid_form(Dajax.process, {'option': $("#id_state").val(), 'city_id': $("#id_city").val()});
            }

            $("#id_bs_switch").select2({
                placeholder: "Search for a device.",
                minimumInputLength: 2,
                width: "resolve",
                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                    url: "/inventory/list/device/",
                    dataType: 'json',
                    quietMillis: 250,
                    data: function (term, page) {
                        var org_id = $("#id_organization").val();
                        return {
                            sSearch: term, // search term
                            org: org_id,
                        };
                    },
                    results: function (data, page) { // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to alter the remote JSON data
                        return { results: data.items };
                    },
                    cache: false
                },
                initSelection: function(element, callback) {
                    // the input tag has a value attribute preloaded that points to a preselected repository's id
                    // this function resolves that id attribute to an object that select2 can render
                    // using its formatResult renderer - that way the repository name is shown preselected
                    var id = $(element).val();
                    if (id !== "") {
                        $.ajax("/inventory/select/device/" + id, {
                            dataType: "json"
                        }).done(function(data) {
                            callback({id: id, device_alias: data[0]});
                            });
                    }
                },
                formatResult: repoFormatResult, // omitted for brevity, see the source of this page
                formatSelection: repoFormatSelection,  // omitted for brevity, see the source of this page
            });

            $("#id_backhaul").select2({
                placeholder: "Search for a backhaul.",
                minimumInputLength: 2,
                width: "resolve",
                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                    url: "/backhaul/list/backhaul/",
                    dataType: 'json',
                    quietMillis: 250,
                    data: function (term, page) {
                        var org_id = $("#id_organization").val();
                        return {
                            sSearch: term, // search term
                            org: org_id,
                        };
                    },
                    results: function (data, page) { // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to alter the remote JSON data
                        return { results: data.items };
                    },
                    cache: false
                },
                initSelection: function(element, callback) {
                    // the input tag has a value attribute preloaded that points to a preselected repository's id
                    // this function resolves that id attribute to an object that select2 can render
                    // using its formatResult renderer - that way the repository name is shown preselected
                    var id = $(element).val();
                    if (id !== "") {
                        $.ajax("/backhaul/select/backhaul/" + id, {
                            dataType: "json"
                        }).done(function(data) {
                            callback({id: id, alias: data[0]});
                            });
                    }
                },
                formatResult: repoBackhaulFormatResult, // omitted for brevity, see the source of this page
                formatSelection: repoBackhaulFormatSelection,  // omitted for brevity, see the source of this page
            });

    });//end ready
    // update 'states' on selecting 'country'
        $("#id_country").change(function () {
            if ($("#id_country").val() != "") {
                Dajaxice.inventory.update_states(Dajax.process, {'option': $("#id_country").val()});
                $("#id_city").empty();
            }
            else {
                $("#id_state").select2("val","");
                $("#id_state").empty();
                $("#id_city").select2("val","");
                $("#id_city").empty();
            }
        });

        // update 'cities' on selecting 'state'
        $("#id_state").change(function () {
            $("#id_city").select2("val","");
            Dajaxice.inventory.update_cities(Dajax.process, {'option': $("#id_state").val()});
        });

        function repoFormatResult(device) {
          return device.device_alias;
        }

        function repoFormatSelection(device) {
          return device.device_alias;
        }

        function repoBackhaulFormatResult(backhaul) {
          return backhaul.alias;
        }

        function repoBackhaulFormatSelection(backhaul) {
          return backhaul.alias;
        }

    </script>
{% endblock %}
